<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> 회원좌석예약
						<table class="table table-cols">
							<tr>
								<th style="width: 10%;">검색어</th>
								<td>
									<select id="choi">
										<option value="U_UserName">아이디</option>
										<option value="U_Name">이름</option>
										<option value="B_Name">운송사</option>
									</select>
									<input type="text" id="selResult" class="form-control2" style="width: 15%;">
								</td>
							</tr>
							<tr>
								<th>상태</th>
								<td>
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="y"></span></div>
										&emsp;&emsp;예매취소
									</label>
									
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="n"></span></div>
										&emsp;&emsp;예매
									</label>
								</td>
							</tr>
							<tr>
								<th>결제일시</th>
								<td>
									<div class="input-group" style="height: 30px;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" id="dept" style="width: 290px; height: 30px;">
										&emsp14; ~ &emsp14; 
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" id="end" style="width: 290px;">
									</div>
								</td>
							</tr>
						</table> 
						<button type="button" onclick="searchGo()" class="btn btn-primary" style=" width: 200px; margin-left: 40%">검색</button>
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="table-responsive">
						<table id="tList" class="table table-border table-striped">
							<thead>
								<tr>
									<th></th>
									<th>회원아이디</th>
									<th>회원이름</th>
									<th>회원전화번호</th>
									<th>운송사</th>
									<th>버스규모</th>									
									<th>예매좌석</th>
									<th>결제수단</th>
									<th>결제금액</th>
									<th>취소여부</th>
									<th>결제일시</th>
									<th>취소일시</th>                        
								</tr>
							</thead>
						</table>
					</div>
				</div>

				<!-- 좌석 모달 -->
				<div id="modal_large" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">좌석 현황</div>
							</div>

							<div class="modal-body" id="nowSeatList">
								<table id="seatList" style="margin: auto;">

								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSeat()">Close</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>
	<script>

$(document).ready(function(){
	let table =$('#tList').DataTable({
		dom: 'l<"toolbar">frtip',
		
		ajax : '/admin/userRes/List',
		deferRender: true,
		columnDefs : [
			{
				targets:0,
				className : 'dt-body-center'
			},
			{
				targets: 6,
				render: function(data, type, row){
					console.log(row.CR_SeatNum.data)
					// var arrayBuffer = new Uint8Array(row.CR_SeatNum.data);

					// console.log("dddd", arrayBuffer)
					var seatNum = String.fromCharCode.apply(null, row.CR_SeatNum.data);
					//console.log(seatNum)
					decodeURIComponent(seatNum);
					//console.log(String.fromCharCode(235, 178, 136))
					//console.log(decodeURIComponent(seatNum))
					return '<a id='+row.U_ID+' name="'+row.CR_cDt+'"  data-toggle="modal" data-target="#modal_large" onclick="seatnow(this)" style="color:darkblue; ">'+decodeURIComponent(seatNum)+'</a>';
										
				}
			},
			{
				targets: 9,
				render: function(data, type, row){
					let cancelType = row.CR_Cancel
					if(row.CR_Cancel == 'Y'){
						cancelType = '결제취소'
					}else{
						cancelType = '결제완료'
					}

					return cancelType;
										
				}
			},
			{
				targets: 10,
				render: function(data, type, row){
					var test = row.CR_cDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			},
			{
				targets: 11,
				render: function(data, type, row){
					var test = row.CR_uDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			}
		],
		// start: 0,
		// pageLength: 10,
		rowId : "U_ID",
		columns : [
			{ 
				"data": null, 
				"render": function (data, type, full, meta) {
					return meta.row + 1
				}
			},
			{ "data": "U_UserName" },
			{ "data": "U_Name" },
			{ "data": "U_Phone" },
			{ "data": "B_Name" },
			{ "data": "CY_Ty" },
			{ "data": "CR_SeatNum"},
			{ "data": "PH_Type" },
			{ "data": "PH_Price" },
			{ "data": "CR_Cancel"},
			{ "data": "CR_cDt"},
			{ "data": "CR_uDt"}
		]
	});

	
})

	function searchGo(){

		$('#tList').DataTable().clear().destroy();
		$('#tList').DataTable({
			dom: 'l<"toolbar">frtip',
			processing: true,
			ajax : {
				url : '/admin/userRes/search',
				method: 'post',
				data : {
					'selectName' : $('#choi option:selected').val(), 'chkRad' : $("input:radio[name='radio-inline-left']:checked").val(),
					'selResult' : $('#selResult').val(), 'dept' : $('#dept').val(), 'end' : $('#end').val()
				}
			},
			deferRender: true,
			columnDefs : [
			{
				targets:0,
				className : 'dt-body-center'
			},
			{
				targets: 6,
				render: function(data, type, row){
					console.log(row.CR_SeatNum.data)
					// var arrayBuffer = new Uint8Array(row.CR_SeatNum.data);

					// console.log("dddd", arrayBuffer)
					var seatNum = String.fromCharCode.apply(null, row.CR_SeatNum.data);
					//console.log(seatNum)
					decodeURIComponent(seatNum);
					//console.log(String.fromCharCode(235, 178, 136))
					//console.log(decodeURIComponent(seatNum))
					return '<a id='+row.U_ID+' name="'+row.CR_cDt+'"  data-toggle="modal" data-target="#modal_large" onclick="seatnow(this)" style="color:darkblue; ">'+decodeURIComponent(seatNum)+'</a>';
										
				}
			},
			{
				targets: 9,
				render: function(data, type, row){
					let cancelType = row.CR_Cancel
					if(row.CR_Cancel == 'Y'){
						cancelType = '결제취소'
					}else{
						cancelType = '결제완료'
					}

					return cancelType;
										
				}
			},
			{
				targets: 10,
				render: function(data, type, row){
					var test = row.CR_cDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			},
			{
				targets: 11,
				render: function(data, type, row){
					var test = row.CR_uDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			}
			],
			rowId : "CT_ID",
			columns : [
				{ 
					"data": null, 
					"render": function (data, type, full, meta) {
						return meta.row + 1
					}
				},
				{ "data": "U_UserName" },
				{ "data": "U_Name" },
				{ "data": "U_Phone" },
				{ "data": "B_Name" },
				{ "data": "CY_Ty" },
				{ "data": "CR_SeatNum"},
				{ "data": "PH_Type" },
				{ "data": "PH_Price" },
				{ "data": "CR_Cancel"},
				{ "data": "CR_cDt"},
				{ "data": "CR_uDt"}		
			],

		});
	}	



	//좌석예약표
	function seatnow(e){	
		$('#seatList').empty();	
		$('#modal_large').css('display','block')
		$.ajax({
			url: '/admin/userResList',
			method: 'post',
			dataType: 'json',
			data: {'uId' : e.id,
				   'cDt' : e.name	
				},
			success: function(res){
				//console.log("dadadadada",res.data)
				//좌석생성
				for(let k=0; k<10; k++){
					let html = "<tr>"
					for(let j=0; j<4; j++){
						html += "<td><img></td>"
						if(j == 1){
							html += "<td></td>"
						}						
					}	
					html += "</tr>"
					$('#seatList').append(html)
				}
				for(let k=0; k<1; k++){
					let html ="<tr>";
					for(let l=0; l<5; l++){
						html += "<td><img></td>"
					}
					html += "</tr>"
					$("#seatList").append(html);
				}
				$('#seatList img').attr('src','/img/reservation/seat_img.png');
				//이미지 아이디값 부여
				$('#seatList img').each(function(item,index){	
					this.setAttribute("id", item+1);
					for(let i=0; i<res.data.length; i++){
					//console.log("222",res.data[i].CR_SeatNum)
						if(this.id == res.data[i].CR_SeatNum){
							//console.log("data.CR_SeatNUm::", res.data[i].CR_SeatNum)
							$(this).attr('src','/img/reservation/seat_img_select.png')
							//$('#'+this.id).attr('src','/img/reservation/seat_img_select.png')							
						}
					}
				})					
			}
		})
	}

	</script>
</body>
</html>
