<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>

</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>
			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> 배차관리
						<table class="table table-cols">
							<tr>
								<th style="width: 10%;">검색어</th>
								<td>
									<select id='choi'>
										<option value="B_Name">운송사</option>
										<option value="CY_Ty">차량종류</option>
										<option value="CT_CarNum">차량번호</option>
										<option value="CT_DriverName">기사이름</option>
									</select>
									<input type="text" id="selResult" class="form-control2" style="width: 15%;">
								</td>
							</tr>
							<tr>
								<th>출발시간</th>
								<td>
									<div class="input-group" style="height: 30px;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" data-time-format="hh:ii" data-timepicker="true" id="dept" style="width: 290px; height: 30px;">
									</div>
								</td>
							</tr>
							<tr>
								<th>복귀시간</th>
								<td>
									<div class="input-group" style="height: 30px;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" data-time-format="hh:ii" data-timepicker="true" id="end" style="width: 290px;">
									</div>
								</td>
							</tr>
						</table>
						<div>
							<button type="button" onclick="searchGo()" class="btn btn-primary">검색</button>
						</div>
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">
				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="table-responsive">
						<table class="table table-border table-striped" id="tList">
							<thead>
								<tr>
									<th></th>
									<th>운송사명</th>
									<th>차량종류</th>
									<th>출발시간</th>
									<th>복귀시간</th>
									<th>걸리는시간</th>
									<th>차량번호</th>
									<th>기사이름</th>
									<th>기사전화번호</th>
									<th>현재 좌석수</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
						</table>						
					</div>					
				</div>
				
				<!-- 수정 모달 -->
				<div id="modal_info_header" class="modal fade container-fluid page-content" style="display: none;" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header bg-info">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">배차 수정</div>
							</div>

							<div class="modal-body" id="moList">

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-info" id="update">Modify</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 삭제 모달 -->
				<div id="modal_danger_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-danger">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">배차 삭제</div>
							</div>

							<div class="modal-body">
								<p>삭제......</p>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-danger" id="delete">Delete</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 행 추가 -->
				<div id="modal_primary_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">배차 등록</div>
							</div>

							<div class="modal-body card card-block text-center" id="insertList">
					
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="insertCar()">추가</button>
							</div>
						</div>
					</div>
				</div>


				<!-- 좌석 모달 -->
				<div id="modal_large" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">좌석 현황</div>
							</div>

							<div class="modal-body" id="nowSeatList">
								<table id="seatList" style="margin: auto;">

								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSeat()">Close</button>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>
	<script>


$(document).ready(function(){
	let table =$('#tList').DataTable({
		dom: 'l<"toolbar">frtip',
		initComplete: function(){
			$("div.toolbar").html('<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_primary_header" onclick="insert()">배차 추가</button>');           
		}, 
	
		//serverSide: true,	
		//processing: true,
		//searching: true,
		ajax : '/admin/carTime/List',
		deferRender: true,
		columnDefs : [
			{
				targets:0,
				className : 'dt-body-center',
				"searchable": false,
				"orderable": false,
			},
			{
				targets: 9,
				render: function(data, type, row){
					return '<a id='+row.CT_ID+' data-toggle="modal" data-target="#modal_large" onclick="seatnow(this)" style="color:darkblue; ">'+row.now+'&nbsp;/&nbsp;'+row.total+'</a>';
										
				}
			}
		],
		// start: 0,
		// pageLength: 10,
		rowId : "CT_ID",
		columns : [
			{ 
				"data": null, 
				"render": function (data, type, full, meta) {
					return meta.row + 1
				}
			},
			{ "data": "B_Name" },
			{ "data": "CY_Ty" },
			{ "data": "CT_DepartureTe" },
			{ "data": "CT_ReturnTe" },
			{ "data": "CT_LeadTe" },
			{ "data": "CT_CarNum" },
			{ "data": "CT_DriverName" },
			{ "data": "CT_DriverPhone" },
			{ "data": "now"},
			{ 
				data: null,
				defaultContent: "<a class='icon-pencil6' data-toggle='modal' data-target='#modal_info_header' onclick='edit(this)' style='color:darkblue;'>Edit</a>"
		
			},
			{ 	
				data: null,
				defaultContent: "<a class='icon-trash' data-toggle='modal' data-target='#modal_danger_header' onclick='del(this)' style='color:darkblue;'>Delete</a>"
			}
		]
	});
	table.on( 'order.dt search.dt', function () {
		table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i+1;
		} );
	} ).draw();
})

	function searchGo(){

		$('#tList').DataTable().clear().destroy();
		$('#tList').DataTable({
			dom: 'l<"toolbar">frtip',
			initComplete: function(){
				$("div.toolbar").html('<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_primary_header">운송사 추가</button>');           
			}, 
			processing: true,
			ajax : {
				url : '/admin/carTime/search',
				method: 'post',
				data : {
					'selectName' : $('#choi option:selected').val(), 
					'selResult' : $('#selResult').val(), 'dept' : $('#dept').val(), 'end' : $('#end').val()
				}
			},
			deferRender: true,
			columnDefs : [
				{
					targets:0,
					className : 'dt-body-center'
				},
				{
					targets: 9,
					render: function(data, type, row){
						return '<a id='+row.CT_ID+' data-toggle="modal" data-target="#modal_large" onclick="seatnow(this)" style="color:darkblue;">'+row.now+'&nbsp;/&nbsp;'+row.total+'</a>';
                                            
					}
				}
			],
			rowId : "CT_ID",
			columns : [
				{ 
					"data": null, 
					"render": function (data, type, full, meta) {
						return meta.row + 1
					}
				},
				{ "data": "B_Name" },
				{ "data": "CY_Ty" },
				{ "data": "CT_DepartureTe" },
				{ "data": "CT_ReturnTe" },
				{ "data": "CT_LeadTe" },
				{ "data": "CT_CarNum" },
				{ "data": "CT_DriverName" },
				{ "data": "CT_DriverPhone" },
				{ "data": "now"},
				{ 
					data: null,
					className: 'CT_ID',
					defaultContent: "<a class='icon-pencil6' data-toggle='modal' data-target='#modal_info_header' onclick='edit(this)' style='color:darkblue;'>Edit</a>"
			
				},
				{ 	
					data: null,
					className: 'CT_ID',
					defaultContent: "<a class='icon-trash' data-toggle='modal' data-target='#modal_danger_header' onclick='del(this)' style='color:darkblue;'>Delete</a>"
				}			
			],

		});
	}					  



	//좌석예약표
	function seatnow(e){	
		$('#seatList').empty();	
		$('#modal_large').css('display','block')
		$.ajax({
			url: '/admin/carTimeSeatList',
			method: 'post',
			dataType: 'json',
			data: {'ctId' : e.parentElement.parentElement.id},
			success: function(res){
				//좌석생성
				for(let k=0; k<10; k++){
					let html = "<tr>"
					for(let j=0; j<4; j++){
						html += "<td><img></td>"
						if(j == 1){
							html += "<td></td>"
						}						
					}	
					html += "</tr>"
					$('#seatList').append(html)
				}
				for(let k=0; k<1; k++){
					let html ="<tr>";
					for(let l=0; l<5; l++){
						html += "<td><img></td>"
					}
					html += "</tr>"
					$("#seatList").append(html);
				}
				$('#seatList img').attr('src','/img/reservation/seat_img.png');
				//이미지 아이디값 부여
				$('#seatList img').each(function(item,index){	
					this.setAttribute("id", item+1);
					for(let i=0; i<res.data.length; i++){
					//console.log("222",res.data[i].CR_SeatNum)
						if(this.id == res.data[i].CR_SeatNum){
							console.log("this.id::", this.id)
							console.log('lelel :', res.data[i].CR_SeatNum)
							console.log("thus",this)
							console.log("thus1",$(this))
							console.log("thus2",$('#'+this.id))
							
							//console.log("data.CR_SeatNUm::", res.data[i].CR_SeatNum)
							$(this).attr('src','/img/reservation/seat_img_select.png')
							//$('#'+this.id).attr('src','/img/reservation/seat_img_select.png')							
						}
					}
				})					
			}
		})
	}
	function closeSeat(){
		$('#seatList img').attr('src', '/img/reservation/seat_img.png')
	}
					  
	//배차 추가
	function insert(e){
		$('#insertList').empty();
			let	html = "<select id='ctCyId' class='form-control col-md-6'><option value='0'>운송사 선택</option></select>";				
				html += "<label>testtest</label><input type='text' class='form-control datepicker-here' data-timepicker='true' data-position='top left'>"
				html += "<label>CT_DepartureTe</label><input type='text' class='form-control datepicker-here' data-timepicker='true' data-position='top left' id='dept'>";
				html += "<label>CT_ReturnTe</label><input type='text' class='form-control form-control regdate' id='retun'>";
				html += "<label>CT_LeadTe</label><input type='text' class='form-control form-control timepicker' id='lead'>";
				html += "<label>CT_CarNum</label><input type='text' class='form-control form-control' id='carNum'>";
				html += "<label>CT_DriverName</label><input type='text' class='form-control form-control' id='drName'>";
				html += "<label>CT_DriverPhone</label><input type='text' class='form-control form-control' id='drPhone'>";
			$('#insertList').append(html);	
			$.ajax({
				url: '/admin/carTimeInsert',
				method: 'post',
				dataType: 'json',
				success: function(res){
					for(let i=0; i<res.data.length; i++){
						let html = "<option value="+res.data[i].CY_ID+">"+res.data[i].B_Name+"&nbsp"+res.data[i].CY_Ty+"</option>"
						$("#ctCyId").append(html);
					}
				}
			})
		$('#modal_primary_header').css('display','block')
	}

    function insertCar(){
        $.ajax({
            url: "/admin/carTime/insert",
            method: 'post',
            dataType: 'json',
            data: {
                'ctCyId' : $("#ctCyId option:selected").val(), 'dept' : $("#dept").val(), 'retun' : $("#retun").val(),
                'lead' : $("#lead").val(), 'carNum' : $("#carNum").val(), 'drName' : $("#drName").val(), 'drPhone' : $("#drPhone").val()
                },
            success: function(res){
                if(res.data == "추가"){
                location.reload();
                }
            }
        })
    }

	//수정                    		
	function edit(e){
		$('#moList').empty();
		$.ajax({
			url: '/admin/carTimeModify',
			method: 'post',
			dataType: 'json',
			data: {'ctId' : e.parentElement.parentElement.id},
			success: function(res){
				let	html ="<input type='ctId' class='form-control' id='ctId' value="+res.data.CT_ID+" style='display: none;'>";
					html += "<select id='ctCyId' class='form-control col-md-6'><option value=0>운송사 선택</option></select>";
					html += "<label for='dept'>CT_DepartureTe:</label><input type='dept' class='form-control datepicker-here' data-timepicker='true' data-position='top left' id='deptTe' value='"+res.data.CT_DepartureTe+"'>";
					html += "<label for='return'>CT_ReturnTe:</label><input type='return' class='form-control' id='return' value='"+res.data.CT_ReturnTe+"'>";
					html += "<label for='lead'>CT_LeadTe:</label><input type='lead' class='form-control' id='lead' value="+res.data.CT_LeadTe+">";
					html += "<label for='carNum'>CT_carNum:</label><input type='carNum' class='form-control' id='carNum' value="+res.data.CT_CarNum+">";
					html += "<label for='drName'>CT_DriverName:</label><input type='drName' class='form-control' id='drName' value="+res.data.CT_DriverName+">";	
					html += "<label for='drPhone'>CT_DriverPhone:</label><input type='drPhone' class='form-control' id='drPhone' value="+res.data.CT_DriverPhone+">";	
				$('#moList').append(html);	
				$.ajax({
					url: '/admin/carTimeBList',
					method: 'post',
					dataType: 'json',
					success: function(res){
					for(let i=0; i<res.data.length; i++){
						let html = "<option value="+res.data[i].CY_ID+">"+res.data[i].B_Name+"&nbsp"+res.data[i].CY_Ty+"</option>"
						$("#ctCyId").append(html);
					}
					}
				})
			}
		})
		$('#modal_info_header').css('display','block');
	}

    $('#update').on('click', function(){
		$.ajax({
			url: "/admin/carTime/modify",
			method: 'post',
			dataType: 'json',
			data: {
				'ctId' : $("#ctId").val(), 'ctCyId' : $("#ctCyId").val(), 'deptTe' : $('#deptTe').val(), 'return' : $("#return").val(), 
				'lead' : $("#lead").val(), 'carNum' : $("#carNum").val(),'drName' : $("#drName").val(),'drPhone' : $("#drPhone").val()
				},
            success: function(res){
              if(res.data == "수정"){
                location.reload();
              }
            }
      	})
	})

	//삭제
  	function del(e){
		$('#delete').attr('val', e.parentElement.parentElement.id);
		$('#delete').on('click',function(){
			$.ajax({
				url: '/admin/carTimeDelete',
				method: 'post',
				dataType: 'json',
				data: {'ctId' : e.parentElement.parentElement.id},
				success: function(res){
					location.reload();
				}
			})
		})
	}
	// 좌석 . .. . . .. . . . .. . . .. . . ..
		
	</script>
</body>
</html>
