<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> 결제관리
						
						<table class="table table-border table-striped">
							<tr>
								<td style="width: 5%;">검색어</td>
								<td>
									<select id="choi" class="form-control" style="width: 15%;">
										<option value="U_UserName">아이디</option>
										<option value="U_Name">이름</option>
										<option value="U_Phone">전화번호</option>
									</select>
									<input type="text" id="selResult" class="form-control" style="width: 15%;">
								</td>
							</tr>
							<tr>
								<td>결제구분</td>
								<td>
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="n"></span></div>
										결제완료
									</label>
									
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="y"></span></div>
										취소완료
									</label>
								</td>
							</tr>
							<tr>
								<td>날짜선택</td>
								<td>
									<div class="input-group" style="width: 15%; height: 5%;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control datepicker-here" data-language="en" placeholder="" id="dept" style="width: 300px;">
									</div>
									<p style="font-size: 20px;">~</p>
									<div class="input-group" style="width: 15%; height: 5%;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control datepicker-here" data-language="en" placeholder="" id="end" style="width: 300px;">
									</div>
								</td>
							</tr>
							<tr>
								<td><button type="button" onclick="searchGo()" class="btn btn-primary">검색</button></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="table-responsive">
						<table class="table table-border table-striped" id="tList">
							<thead>
								<tr>
									<th></th>
									<th>회원아이디</th>
									<th>회원이름</th>
									<th>회원전화번호</th>
									<th>PG사 이름</th>
									<th>실제 결제금액</th>
									<th>할인전 금액</th>
									<th>할인 금액</th>
									<th>결제수단</th>
									<th>결제구분</th>
									<th>결제일시</th>
									<th>취소일시</th>
									<th>결제취소</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
				<!-- 결제 자세히 -->
				<div id="modal_primary_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">결제 취소</div>
							</div>

							<div class="modal-body card card-block text-center" id="insertList">
					
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" onclick="cancelPay()">취소</button>
							</div>
						</div>
					</div>
				</div>
		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>

</body>

<script>
	$(document).ready(function(){
	let table =$('#tList').DataTable({
		dom: 'l<"toolbar">frtip',
		ajax : '/admin/payment/List',
		deferRender: true,
		columnDefs : [
			{
				targets:0,
				className : 'dt-body-center'
			},
			{
				targets: 10,
				render: function(data, type, row){
					var test = row.CR_cDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			},
			{
				targets: 12,
				render: function(data, type, row){
					return "<a id="+row.PH_ID+" value="+row.CR_Cancel+" name="+row.CR_Cancel+" class='icon-trash' data-toggle='modal' data-target='#modal_primary_header' onclick='cancel(this)' style='color:darkblue;'>&nbsp;취소</a>";
				}
			},
		],
		rowId : "PH_ID",
		columns : [
			{ 
				"data": null, 
				"render": function (data, type, full, meta) {
					return meta.row + 1
				}
			},
			{ "data": "U_UserName" },
			{ "data": "U_Name" },
			{ "data": "U_Phone" },
			{ "data": "PH_PG_Name" },
			{ "data": "PH_Price" },
			{ "data": "PH_OPrice"},
			{ "data": "PH_SPrice"},
			{ "data": "PH_Type"},
			{ "data": "CR_Cancel"},
			{ "data": "CR_cDt"},
			{ "data": "CR_CancelDt"},                            
			{ "data": null}
		]
	});
})

	function searchGo(){
		if($('#dept').val() != "" && $('#end').val() == ""){
			alert("기간을 입력하세요.");
			return;
		}
		if($('#dept').val() == "" && $('#end').val() != ""){
			alert("기간을 입력하세요.");
			return;
		}
		$('#tList').DataTable().clear().destroy();
		$('#tList').DataTable({
			dom: 'l<"toolbar">frtip',
			processing: true,
			ajax : {
				url : '/admin/payment/search',
				method: 'post',
				data : {
					'selectName' : $('#choi option:selected').val(), 'chkRad' : $("input:radio[name='radio-inline-left']:checked").val(),
					'selResult' : $('#selResult').val(), 'dept' : $('#dept').val(), 'end' : $('#end').val()
				}
			},
			deferRender: true,
			columnDefs : [
				{
					targets:0,
					className : 'dt-body-center'
				},
				{
					targets: 10,
					render: function(data, type, row){
						var test = row.CR_cDt;
						var test2 = test.split(' ',1)
						return test2;
											
					}
				},
				{
					targets: 12,
					render: function(data, type, row){
						return "<a id="+row.PH_ID+" class='icon-trash' data-toggle='modal' data-target='#modal_primary_header' onclick='cancel(this)' style='color:darkblue;'>&nbsp;취소</a>";
					}
				},
			],
			rowId : "PH_ID",
			columns : [
				{ 
					"data": null, 
					"render": function (data, type, full, meta) {
						return meta.row + 1
					}
				},
				{ "data": "U_UserName" },
				{ "data": "U_Name" },
				{ "data": "U_Phone" },
				{ "data": "PH_PG_Name" },
				{ "data": "PH_Price" },
				{ "data": "PH_OPrice"},
				{ "data": "PH_SPrice"},
				{ "data": "PH_Type"},
				{ "data": "CR_Cancel"},
				{ "data": "CR_cDt"},
				{ "data": "CR_CancelDt"},                            
				{ "data": null}
			]
		});
	}

	function cancel(e){
		$('#insertList').empty();
		if(e.getAttribute("value") === 'Y'){
			alert('이미 취소되었습니다.')
		}else{
			$.ajax({
				url: '/admin/cancelList',
				method: 'post',
				dataType: 'json',
				data: { phId : e.id},
				success: function(res){
					let html = '<label>아이디 :</label><input type="text" class="form-control" id="userName" value='+res.data.U_UserName+' name='+res.data.PH_ID+' readonly= "readonly" style="font-size: 20px; color: black;">  ';
						html += '<label>이름 :</label><input type="text" class="form-control" id="name" value='+res.data.U_Name+'  name='+res.data.PH_U_ID+' readonly= "readonly" style="font-size: 20px; color: black;">'
						html += '<label>운송사 :</label><input type="text" class="form-control" id="Bname" value='+res.data.B_Name+' readonly= "readonly" style="font-size: 20px; color: black;">'
						html += '<label>좌석개수 :</label><input type="text" class="form-control" id="carNum" value='+res.data.cnt+' readonly= "readonly" style="font-size: 20px; color: black;">'
						html += '<label>총 가격 :</label><input type="text" class="form-control" id="price"  value='+res.data.PH_Price+' readonly= "readonly" style="font-size: 20px; color: black;">'
						html += '<label>결제수단 :</label><input type="text" class="form-control" id="drPhone" value='+res.data.PH_Type+' readonly= "readonly" style="font-size: 20px; color: black;">'
						html += '<label>결제일 :</label><input type="text" class="form-control" id="drPhone" name="drPhone" value='+res.data.CR_cDt+' readonly= "readonly" style="font-size: 20px; color: black;">'
					$('#insertList').append(html);	
				}

			})
		}
	}

	function cancelPay(){
		$.ajax({
			url: '/admin/cancelPayment',
			method: 'post',
			dataType: 'json',
			data: {'phId': $("#userName").attr('name') ,'phUId': $("#name").attr('name')},
			success: function(res){
				location.reload();
			}
		})
	}
</script>
</html>
