<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> Advanced datatable
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="card-header">
						<div class="card-title">Individual column searching <span class="text-semibold">(Text fields)</span></div>
					</div>
					<div class="card-block p-b-0">
						<p>Individual columns searching with <code>text inputs</code>. It can be used by adding <code>column().search()</code> method to the datatable.</p>
					</div>
					<div class="table-responsive">
					<table id="tList">
						<thead>
							<tr>
                                <th>B_ID</th>
                                <th>B_Name</th>
                                <th>B_Tel</th>
                                <th>B_Fax</th>
                                <th>B_Email</th>
                                <th>B_Zip</th>
                                <th>B_Addr1</th>
                                <th>B_Addr2</th>
                                <th>B_cDt</th>
								<th>B_uDt</th>
								<th>Modify</th>
								<th>Delete</th>
							</tr>
						</thead>

	
					</table>
				</div>
				</div>
			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>

	<script>
var editor; // use a global for the submit and return data rendering in the examples
 $(document).ready(function() {
	 editor = new $.fn.dataTable.Editor({
		 ajax: "/admin/business/List",
		 table: "#tList",
		 fields: [{
				 label: "B_ID",
				 name: "data.B_ID"
			 }, {
				 label: "B_Name",
				 name: "data.B_Name"
			 }, {
				 label: "B_Tel",
				 name: "data.B_Tel"
			 }, {
				 label: "B_Fax",
				 name: "data.B_Fax"
			 }, {
				 label: "B_Email",
				 name: "data.B_Email"
			 }, {
				 label: "B_Zip",
				 name: "data.B_Zip"
			 }, {
				 label: "B_Addr1",
				 name: "data.start_date"
			 }, {
				 label: "B_Addr2",
				 name: "data.B_Addr2"
			 },{
				 label: "B_cDt",
				 name: "data.B_cDt",
                 type: "datetime"
			 },{
				 label: "B_uDt",
				 name: "data.B_uDt",
                 type: "datetime"
			 }
		 ], formOptions: {
            inline: {
                onBlur: 'submit'
            }
        }
	 } );



	 
	 $('#tList').on( 'click', 'tbody td:not(:first-child)', function (e) {
		 console.log(e.target)
		 console.log('click')
		 editor.inline( this);
	 } );


	 $('#tList').DataTable( {
		 dom: "Bfrtip",
		 ajax: "/admin/business",				
		 columns: [
			 {
				 data: null
			 },
			 { data: "B_ID" },
			 { data: "B_Name" },
			 { data: "B_Tel" },
			 { data: "B_Fax" },
			 { data: "B_Email" },
			 { data: "B_Zip"},
			 { data: "B_Addr1"},
			 { data: "B_Addr2"},
			 { data: "B_cDt"},
			 { data: "B_uDt"}
		 ],
		 order: [ 1, 'asc' ],
		 select: {
			 style:    'os',
			 selector: 'td:first-child'
		 }
	 });

	});
  

	 

	function del(e){
	  let bId = e.id;
	  //alert(bId)
      $.ajax({
        url: '/admin/businessDelete',
        method: 'post',
        dataType: 'json',
        data: {'bId' : bId},
        success: function(res){
            alert("삭제");
            location.reload()
        }
      })
  }
	</script>
</body>
</html>
