<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> 입점신청 관리
						<table class="table table-cols">
							<tr>
								<th style="width: 10%;">검색어</th>
								<td>
									<select id="choi">
										<option value="SI_Name">회원이름</option>
										<option value="SI_Phone">전화번호</option>
										<option value="SI_Brand">브랜드명</option>
										<option value="SI_Addr1">주소</option>
									</select>
									<input type="text" id="selResult" class="form-control2" style="width: 15%;">
								</td>
							</tr>
							<tr>
								<th>구분</th>
								<td>
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="y"></span></div>
										&emsp;&emsp;읽음
									</label>
									
									<label class="radio-inline">
										<div class="choice"><span class=""><input type="radio" name="radio-inline-left" class="styled" value="n"></span></div>
										&emsp;&emsp;읽지않음
									</label>
								</td>
							</tr>
							<tr>
								<th>신청날짜</th>
								<td>
									<div class="input-group" style="height: 30px;">
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" id="dept" style="width: 290px; height: 30px;">
										&emsp;&emsp;
										<span class="input-group-addon"><i class="icon-calendar2"></i></span>
										<input type="text" class="form-control2 datepicker-here" id="end" style="width: 290px;">
									</div>
								</td>
							</tr>
						</table>
						<button type="button" onclick="searchGo()" class="btn btn-primary" style=" width: 200px; margin-left: 40%">검색</button>
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="table-responsive">
						<table id="tList" class="table table-border table-striped">
							<thead>
								<tr>
									<th></th>
									<th>회원이름</th>
									<th>전화번호</th>
									<th>브랜드명</th>
									<th>주소</th>
									<th>문의내역</th>
									<th>신청날짜</th>
									<th>상태</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>

				<div id="modal_primary_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">문의내역</div>
							</div>

							<div class="modal-body card card-block text-center" id="insertList">
					
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" onclick="checkIn()">문의확인</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<% include templates/admin_footer.ejs %>
	</div>

	<script>

$(document).ready(function(){
	let table =$('#tList').DataTable({
		language: {
				"lengthMenu":'<select>'+
				'<option value="5">5</option>'+
				'<option value="15">15</option>'+
				'<option value="30">30</option>'+
				'<option value="50">50</option>'+
				'<option value="-1">All</option>'+
				'</select>'
		},
		dom: 'l<"toolbar">frtip',
		ajax : '/admin/storeIn/List',
		deferRender: true,
		columnDefs : [
			{
				targets:0,
				className : 'dt-body-center'
			},
			{
				targets: 6,
				render: function(data, type, row){
					var test = row.SI_cDt;
					var test2 = test.split(' ',1)
					return test2;
										
				}
			},
			{
				targets: 7,
				render: function(data, type, row){
					let readType = row.SI_Read
					if(row.SI_Read == 'y'){
						readType ='읽음'
					}else{
						readType = '읽지않음'
					}
					return readType;
										
				}
			}
		],
		rowId : "SI_ID",
		columns : [
			{ 
				"data": null, 
				"render": function (data, type, full, meta) {
					return meta.row + 1
				}
			},
			{ "data": "SI_Name" },
			{ "data": "SI_Phone" },
			{ "data": "SI_Brand" },
			{ "data": "SI_Addr1" },
			{ "data": "SI_Content" },
			{ "data": "SI_cDt"},
			{ "data": "SI_Read"}
		]
	});
	
	$('.dataTables_length select').addClass('form-control')
	$(".dataTables_filter input").addClass("form-control")

	$('#tList tbody').on('click', 'tr', function(e){
		$('#insertList').empty();
		$.ajax({
			url: '/admin/storeInDetail',
			method: 'post',
			dataType: 'json',
			data: {
				'siId' : e.currentTarget.id
			},
			success: function(res){
				let html = "<label class='detailId' id="+res.data.SI_ID+" >고객 이름 :</label>";
					html += "<input type='text' class='form-control' value="+res.data.SI_Name+" readonly = 'readonly' style='font-size: 20px; color: black;'>"
					html += "<label>휴대전화 :</label>"
					html += "<input type='text' class='form-control' value="+res.data.SI_Phone+" readonly = 'readonly' style='font-size: 20px; color: black;'>"
					html += '<label>브랜드명 :</label>'
					html += "<input type='text' class='form-control' value="+res.data.SI_Brand+" readonly = 'readonly' style='font-size: 20px; color: black;''>"
					html += "<label>주소 :</label>"
					html += "<input type='text' class='form-control' value="+res.data.SI_Addr1+" readonly = 'readonly' style='font-size: 20px; color: black;'>"
					html += "<label>문의날짜 :</label>"
					html += "<input type='text' class='form-control' value="+res.data.SI_cDt+" readonly = 'readonly' style='font-size: 20px; color: black;''>"
					html += "<label>문의사항 :</label>"
					html += "<textarea class='form-control' cols='40' rows='10' value="+res.data.SI_Content+" readonly = 'readonly' style='font-size: 20px; color: black;''>"+res.data.SI_Content+"</textarea>";
					$('#insertList').append(html);
			}

		})
		$('#modal_primary_header').modal()
	})

})

	function searchGo(){
		if($('#dept').val() != "" && $('#end').val() == ""){
			alert("기간을 입력하세요.");
			return;
		}
		if($('#dept').val() == "" && $('#end').val() != ""){
			alert("기간을 입력하세요.");
			return;
		}
		$('#tList').DataTable().clear().destroy();
		$('#tList').DataTable({
			language: {
				"lengthMenu":'<select>'+
				'<option value="5">5</option>'+
				'<option value="15">15</option>'+
				'<option value="30">30</option>'+
				'<option value="50">50</option>'+
				'<option value="-1">All</option>'+
				'</select>'
			},
			dom: 'l<"toolbar">frtip',
			processing: true,
			ajax : {
				url : '/admin/storeIn/search',
				method: 'post',
				data : {
					'selectName' : $('#choi option:selected').val(), 'chkRad' : $("input:radio[name='radio-inline-left']:checked").val(),
					'selResult' : $('#selResult').val(), 'dept' : $('#dept').val(), 'end' : $('#end').val()
				}
			},
			deferRender: true,
			columnDefs : [
				{
					targets:0,
					className : 'dt-body-center'
				},
				{
					targets: 6,
					render: function(data, type, row){
						var test = row.SI_cDt;
						var test2 = test.split(' ',1)
						return test2;
											
					}
				},
				{
					targets: 7,
					render: function(data, type, row){
						let readType = row.SI_Read
						if(row.SI_Read == 'y'){
							readType ='읽음'
						}else{
							readType = '읽지않음'
						}
						return readType;
											
					}
				}
			],
			rowId : "SI_ID",
			columns : [
				{ 
					"data": null, 
					"render": function (data, type, full, meta) {
						return meta.row + 1
					}
				},
				{ "data": "SI_Name" },
				{ "data": "SI_Phone" },
				{ "data": "SI_Brand" },
				{ "data": "SI_Addr1" },
				{ "data": "SI_Content" },
				{ "data": "SI_cDt"},
				{ "data": "SI_Read" }
			],
		});
		$('.dataTables_length select').addClass('form-control')
		$(".dataTables_filter input").addClass("form-control")

	}	

	function checkIn(){
		$.ajax({
			url: '/admin/storeIn/check',
			method: 'post',
			dataType: 'json',
			data: {'siId' : $('.detailId').attr('id')},
			success: function(res){
                location.reload();
                
			}
		})
	}

	</script>
</body>
</html>
