<!DOCTYPE html>
<html lang="en">

<head>

  <title>Admin-CarType</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->

      <div class="container-fluid">
        <h2 class="mt-4">테스트</h2>
        <table id="tList" class="table table-bordered">
            <thead>
                <tr>
                <th>U_UserName</th>
                <th>U_Name</th>
                <th>U_Brand</th>
                </tr>
            </thead>

        </table>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="/admin/lib/js/plugins/tables/datatables/datatables.min.js"></script>

<script>
var editor; // use a global for the submit and return data rendering in the examples
 
 $(document).ready(function() {
    $('#tList').DataTable({
        dom: "Bfrtip",
        ajax:{
            url:"/admin/dataList",
            type:'post',
            success: function(res){
                console.log("rewjkhfjkdshgfsuyehgif")
                console.log(res)
                var data = res.data;
                return data;
            }
        },
        columns: [
            { data: null, render: function ( data, type, row ) {
            } },
            { data: "U_UserName" },
            { data: "U_Name" },
            { data: "U_Brand" }
        ],
        select: true,
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ]
    });
    //  editor = new $.fn.dataTable.Editor( {
    //      ajax: {
    //          create: {
    //              type: 'POST',
    //              url:  '../php/rest/create.php'
    //          },
    //          edit: {
    //              type: 'PUT',
    //              url:  '../php/rest/edit.php?id=_id_'
    //          },
    //          remove: {
    //              type: 'DELETE',
    //              url:  '../php/rest/remove.php?id=_id_'
    //          }
    //      },
    //      table: "#example",
    //      fields: [ {
    //              label: "First name:",
    //              name: "first_name"
    //          }, {
    //              label: "Last name:",
    //              name: "last_name"
    //          }, {
    //              label: "Position:",
    //              name: "position"
    //          }, {
    //              label: "Office:",
    //              name: "office"
    //          }, {
    //              label: "Extension:",
    //              name: "extn"
    //          }, {
    //              label: "Start date:",
    //              name: "start_date"
    //          }, {
    //              label: "Salary:",
    //              name: "salary"
    //          }
    //      ]
    //  } );
  
 
});    
</script>


</body>

</html>
