@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap');

$header_height              : 55px;
$header_background-color    : #ffffff;
$sidebar_width              : 192px;
$sidebar-active-color       : #ffffff;
$sidebar_background-color   : #403f3e;
$gold_color                 : #c3a164;
$primary_color              : #007bff;
$secondary_color            : #f6633c;
$success_color              : #f6633c;
$danger_color               : #f6633c;
$normal_color               : #222222;

* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; background-repeat: no-repeat;
    user-select:none; -webkit-user-drag: none; font-size: 14px;}

// Icon ----------------
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

// SideBar -------------
.vertical-menu {
    font-family: NotoSansKr;
    width: $sidebar_width;
    background-color: $sidebar_background-color;
    top : $header_height;
    box-shadow: 15px 0 20px 0 rgba(0, 0, 0, 0.1);

    #sidebar-menu{
        padding: 0 25px;
        
        .sub-title {
            font-size: 24px;
            color : #e2e2e2;
            font-weight: 500;
            padding: 30px 0 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #6d6666;
        }

        .active {
            color : $sidebar-active-color;
        }
        a {
            &:hover {
                text-decoration: none;
                color : $sidebar-active-color;
            }
            padding:8px 0;
            font-family: 'Noto Sans KR';
            color: #999;
        }
    }
}

// SideBar End -------------

@mixin nav-after {
    &:after {
        content: '';
        display: block;
        margin-top: 14px;
        height: 3px;
        background-color: $gold_color;
    }
}

// Header -------------
.navbar-header {
    height : $header_height;
    background-color: $header_background-color;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    .navbar-brand-box {
        
        width: $sidebar_width;
        height: 100%;
        padding: 0;
        .logo {
            line-height: $header_height;
            width: 192px;
            img{
                width : calc(192px - 40px);
                height: 100%;
            }
        }
    }
    .gnb_header {
        width : calc( 100% - 192px);
        justify-content: space-between;
        height: 100%;
        #gnb_menu {
            display: flex;
            list-style: none;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 0;
            .gnb_link {
                cursor: pointer;
                width : auto;
                padding: 0 16px;
                height: 24px;
                font-size: 15px;
                color: #999999;
                border-left: 2px solid #f4f4f4; 
                
                &.active {
                    line-height: 1.5;
                    color: #222222;
                    font-weight : 500;
                    
                    @include nav-after;
                }
                &:hover {
                    @include nav-after;
                }
            }
        }
        .header-profile-user {
            width: 41px;
            height: 41px;
        }

    }

}

// Header End --------------------
// Body --------------------------
// Card --------------------------
.card-header{
    background-color: #554b58;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    font-weight: 500;

    span.title{
        font-size: 16px;
        color: #eeeeee;
        line-height: 2rem;
    }
    .action-btns.action-new{
        .btn {
            font-size : 14px;
        }
        .btn-new {
            color : #8be839;
        }
        .btn-modify {
            color : #999999;
        }
        .btn-save, .btn-reset {
            color : #e2e2e2;
        }
        .btn-delete {
            color: #f6633c;
        }
        .btn-folder {
            background-color: red;
            width: 20px;
            height: 20px;
        }
    }
    .action-btns.action-modify{
        .btn {
            font-size : 14px;
        }
        .btn-new {
            color : #8be839;
        }
        .btn-modify {
            color : #e2e2e2;
        }
        .btn-save {
            color : #999999;
        }
        .btn-delete {
            color: #ff5d33;
        }
        .btn-folder {
            background-color: red;
            width: 20px;
            height: 20px;
        }
    }
}

.card-body {
    padding : 1rem;
    .form-group {
        margin-bottom: 1.5px;
    }
}
.form-control {height: 30px;}

// Card End ----------------------
// Page Title --------------------
.main-container{
    padding: 20px;
    .header{
        width: 100%;
        height: 30px;
        margin-bottom: 16px;

        .header-content{
            .page-title{
                font-size: 20px;
                font-weight: 500;
                line-height: 1.45;
                color : #222222;
            }
            .page-title-desc{
                padding-left: 14px;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 14px;
                font-weight: 300;
                color: #444444
            }
        }
    }
}

// Page Title End ----------------
.main-content {
    position: relative;
    top: $header_height;
    margin-left: $sidebar_width;

    .object-info {
        .card-body {
            span {
                line-height: 30px;
            }
        }
    }
    .select2-selection--single {height: 30px !important;}
    .select2-selection__arrow {width: 20px !important; height: 30px !important; margin-right: 8px;}
    
    .object-info {
        margin-bottom: 10px;
        box-shadow: 8px 8px 25px 0 rgba(0, 0, 0, 0.1);
    }

    .object-table {
        box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.1);
    }
}

// Body End ----------------------
// Table -------------------------
.dx-datagrid {
    .dx-toolbar {
        .informer {
            margin-right: 15px;
        }
        .selectedActionBtns {
            display: none;
            align-items: center;
            margin-left: 15px;
            .btn-delete {
                line-height: 1rem;
                color : $danger_color;
            }
        }
        .searchPopupBtn {
            text-decoration: underline;
        }
    }
}
.dx-datagrid-table{
    cursor: pointer;
}
// Table End ---------------------
// Modal -------------------------
.modal {
    .modal-content {
        .modal-header {
            border-bottom: none;
            .close {
                font-size: 30px;
                &:focus{
                    outline: none;
                }
            }
        }
        .modal-body {
            min-height: 80px;
        }
        .modal-footer {
            border-top: none;
            padding: 0;
            justify-content: space-around;
            background-color: #fcfcfc;
            min-height: 60px;
            border-radius: 0.3rem;
            button {
                margin: 0;
                width: 100%;
                background-color: inherit;
                border: none;
                outline: none !important;
                box-shadow: none !important;
                &.btn-danger {
                    color: $danger_color;
                }
                &.btn-normal {
                    color: $normal_color;
                }
                &.btn-success {
                    color: $primary_color;
                }
                &:active {
                    background-color: inherit;
                }
                
            }
        }
    }
}
// Modal End ---------------------
// 상세검색 Popup -----------------
.object-search-popup { 
    width: 450px;
    position: absolute;
    z-index: 1010;
    // height: 500px;
    // padding: 10px 0px;
    // overflow: scroll;
    .search-footer {
        height: 60px;
        align-items: flex-end;
        padding-top: 0px;
        .btn-close {
            width: 100%;
            color : #444444;
            border-radius: 4px;
            background-color: #eeeeee;
        }
        .btn-search {
            width: 100%;
            color: #eeeeee;
            border-radius: 4px;
            background-color: #444444;
        }
    }
}
.detail_font{
    font-size: 14px;
}
.object-search-header {
    cursor: move;
}
// 상세검색 Popup End -------------

// ID 툴팁 

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

//  브랜드 상세정보 CSS

.brand_info{
    padding: 30px 0 30px 30px;
}

.info_name{
    width: 23%;
    font-size: 14px;
}

.info_left{
    width: 33.33%;
    float: left;
}

.info_center{
    width: 33.33%;
    float: left;
}

.info_right{
    width: 33.33%;
    float: left;
}

.long_box{
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    width: calc(77% - 30px);
    height: 30px;
}

input::placeholder, select {color: #999; padding-left: 12px;;}


.long_box_time { width: calc(77% - 30px); height: 30px; margin-bottom: 1%;;}
.dx-texteditor-input-container{height: 30px;;}

.short_box{
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    width: calc(39% - 30px);
    height: 30px;
}
.info_line{
    width: 96%; 
    height: 1px; 
    background-color: #ffffff;
}

//input 화살표 제거
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.detail_search_form{
    overflow: scroll;
    overflow-x: hidden; 
    width: 100%; 
    height: 400px;
}
.detail_search_form::-webkit-scrollbar{width: 10px; border-radius: 4px; display: block;}
.detail_search_form::-webkit-scrollbar-track{background-color: #cccccc; display: block;}
.detail_search_form::-webkit-scrollbar-thumb{border-radius: 4px; background-color: #6A114D; height: 10px; display: block;}

.input_remove_line{
    width: 58%;
    border:none;
    border-right:0px; 
    border-top:0px; 
}

.popup_box_mo {display: none;}
.table_mo {display: none;}

.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%; z-index: 100000000;}

 .popup_box{width:28%; background:#fff; position:relative; z-index: 1000; top:53%; left: 50%; transform: translate(-50%, -50%); border-radius: 12px; height: auto; box-shadow: 0 0 20px rgba(0,0,0,0.3); padding: 20px 30px 25px; overflow: hidden;}

.ticket_modal h3,#qrcode_full_modal h3 {font-size: 24px; text-align: center; margin-bottom: 18px;}
.time_info {width: 100%;; background-color: #faf7f3; border-radius: 12px; padding:15px 0; overflow: hidden; display: flex;}

.time_info > div {flex: 1;}
.time_info > div:nth-child(1) {border-right: 1px solid #e7e3dd;}
.time_info_date {width: 100%; text-align: center; margin-top: 10px; font-size: 15px;}
.time_info_date dd:nth-child(1)::after {content: '~'; margin-left: 5px; margin-right: -15px;}
.time_info_date dd:nth-child(2) {margin-bottom: 0 !important;}
.time_info_time {width: 100%; margin: 0 auto;}
.time_info_time ul li {float: left;}
.time_info_time ul li:nth-child(1), .time_info_time ul li:nth-child(3) {width: 45%; text-align: center;}
.time_info_time ul li:nth-child(2) {width: 10%; text-align: center; padding-top: 10px; }
.time_info_time ul li dt {font-size: 14px; font-weight: normal;}
.time_info_time ul li dd {font-size: 15px; font-weight: 500;color: #271d0a; }

.payment_info {width: 100%; font-size: 15px; display: table; margin: 20px 0;}
.payment_info th, .payment_info td {padding: 2px 5px;}
.payment_info th {width: 30%; text-align: left; float: left; font-weight: normal; color: #505050;}
.payment_info td {width: 70%; text-align: right; float: right; color: #191919;}

.qrcode_list {width: 100%; overflow: scroll; overflow-x: hidden; height: 240px; border-top: 1px solid #dbdbdb;}
.qrcode_list ul li {width:100%; border-bottom: 1px solid #eee; position: relative; overflow: hidden;}
.qrcode_list ul li:nth-child(1) {border-top: 1px solid #eee;}
.qrcode {width: 50px; height: 50px; background-color: black;float: right; margin-right: 16px; z-index: 1000000;}
.checks {line-height: 30px;  padding: 12px 0;}
.checks label {margin-bottom: 0; margin-left: 8px; font-size: 14px; line-height: 0px;}
.qrcode_list span {margin-left: 10px; font-weight: 600;}

#qrcode_full_modal {display: none;}
.qrcode-full {width: 150px; height: 150px;  margin-left: 50%; transform: translateX(-50%); padding:10px; margin-top: 30px; margin-bottom: 20px;}
#qrcode_full_modal > p {font-size: 16px; text-align: center; color: #505050;padding-bottom: 10px;}
#qrcode_full_modal > p > span {margin-left: 8px; font-weight: 600; color:#191919;}

.ticket_modal p {text-align: left !important; margin-top: 15px; font-size: 14px;}
.ticket_modal p a {margin-left: 5px;}

.select_cancel { padding: 0 16px; display: block; width: auto; height: 30px; line-height: 30px; padding: 0 16px; border: 1px solid #dbdbdb; font-size: 14px; border-radius: 4px; margin-bottom: 10px;}

.select_cancel {float: right;}

.check_all_btn{padding: 0px; margin: 0; line-height: 30px; width: calc(100% - 121px - 8px); float: left; font-size: 14px; margin-bottom: 10px;}
input[type=checkbox], input[type=radio] {width: 16px; height: 16px; top: 5px;}

 /*스크롤 --------------------------------*/
 .scroll_style::-webkit-scrollbar {width: 2px;}
 .scroll_style::-webkit-scrollbar-track {background-color: #eee;}
 .scroll_style::-webkit-scrollbar-button {display: none;}
 .scroll_style::-webkit-scrollbar-thumb {background-color: #C3A164;}