.form-title {
    margin: 0 0 7px;
    color: #222222;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: bold;
}   
.page-title {
    border-bottom: 2px solid #888888;
    margin-bottom: 30px;
}

.btn {
    margin: 0 3px;
}