<!DOCTYPE html>
<html lang="en">

<head>


  <% include templates/admin_head.ejs %>
  <title>Admin-CarType</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        <h1 class="mt-4">버스정보 추가 (CarType)</h1>

            <div class="continer col-md-6">
                <ul>
                    <li>
                        <label>CY_B_ID</label>
                        <select id="cyBId" class='form-control'>
                            <option value=0>운송사 선택</option>
                            <%for(let i=0; i<data.length; i++) {%>
                                <option value=<%=data[i].B_ID%>><%=data[i].B_Name%></option>
                                <% }%>
                        </select>
                    </li>
                    <li>
                        <label>CY_Ty</label>
                        <input type="text" class="form-control form-control" id="cyTy">
                    </li>
                    <li>
                        <label>CY_TotalPassenger</label>
                        <input type="text" class="form-control form-control" id="total">
                    </li>
                    <li>
                        <label>CY_ServicePassenger</label>
                        <input type="text" class="form-control form-control" id="service">
                    </li>
                    <li>
                        <label>CY_SeatPrice</label>
                        <input type="text" class="form-control form-control" id="price">
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" onclick="insert()">추가</button> 
            </div>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>



    function insert(){
        $.ajax({
            url: "/admin/carType/insert",
            method: 'post',
            dataType: 'json',
            data: {
                'cyBId' : $("#cyBId option:selected").val(), 'cyTy' : $("#cyTy").val(), 'total' : $("#total").val(),
                'service' : $("#service").val(), 'price' : $("#price").val()
                },
            success: function(res){
                if(res.data == "추가"){
                location.href="carType";
                }
            }
        })
    }

</script>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

</body>

</html>
