<!DOCTYPE html>
<html lang="en">

<head>
  <% include templates/admin_head.ejs %>
  <title>Admin-User</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- Page Content -->
    <div id="page-content-wrapper">

      
      <!-- navi -->
      <% include templates/admin_nav.ejs %>
      <div class="container-fluid">
        <h1 class="mt-4">회원정보 추가 (User)</h1>

            <div class="continer col-md-6">
                <ul>
                    <li>
                        <label>U_UserName</label>
                        <input type="text" class="form-control form-control" id="userName">
                    </li>
                    <li>
                        <label>U_Name</label>
                        <input type="text" class="form-control form-control" id="name">
                    </li>
                    <li>
                      <label>U_Pw</label>
                      <input type="text" class="form-control form-control" id="pw">
                  </li>
                    <li>
                        <label>U_Email</label>
                        <input type="text" class="form-control form-control" id="email">
                    </li>
                    <li>
                        <label>U_Phone</label>
                        <input type="text" class="form-control form-control" id="phone">
                    </li>
                    <li>
                        <label>U_Brand</label>
                        <input type="text" class="form-control form-control" id="brand">
                    </li>
                    
                    <div class="address_form">
                        <div style="display: inline;">
                            <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
                            <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn btn-primary">우편번호찾기</button><br>
                        </div>
                        <input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
                        <input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
                        <input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
                        <input type="text" id="roadAddress" name="roadAddress" hidden="">
                        <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                    </div>
               
                </ul>
                <button type="button" class="btn btn-primary" onclick="insert()">추가</button> 
            </div>
           
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/admin/js/join_address.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    function insert(){
        $.ajax({
            url: "/admin/user/insert",
            method: 'post',
            dataType: 'json',
            data: {
                'userName' : $("#userName").val(), 'pw' : $("#pw").val(), 'name' : $("#name").val(), 'email' : $("#email").val(),
                'phone' : $("#phone").val(), 'brand' : $("#brand").val(), 'postcode' : $("#postcode").val(), 'address' : $("#address").val(),
                'detailAddress' : $("#detailAddress").val()
                },
            success: function(res){
                if(res.data == "추가"){
                location.href="/admin/user/";
                }
            }
        })
    }

</script>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

</body>

</html>
