<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-carTime</title>
  <!-- 데이트 타임 피커 -->
  <link rel="stylesheet" href="/admin/css/jquery-ui-timepicker-addon.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        <h1 class="mt-4">버스운행정보 추가 (CarTime)</h1>

            <div class="continer col-md-6">
                <ul>
                    <li>
                        <label>CT_CY_ID</label>
                        <input type="text" class="form-control form-control" id="ctCyId">
                    </li>
                    <li>
                        <label>CT_DepartureTe</label>
                        <input type="text" class="form-control form-control regdate" id="dept">
                    </li>
                    <li>
                        <label>CT_ReturnTe</label>
                        <input type="text" class="form-control form-control regdate" id="retun">
                    </li>
                    <li>
                        <label>CT_LeadTe</label>
                        <input type="text" class="form-control form-control timepicker" id="lead">
                    </li>
                    <li>
                        <label>CT_CarNum</label>
                        <input type="text" class="form-control form-control" id="carNum">
                    </li>
                    <li>
                      <label>CT_DriverName</label>
                      <input type="text" class="form-control form-control" id="drName">
                  </li>
                  <li>
                      <label>CT_DriverPhone</label>
                      <input type="text" class="form-control form-control" id="drPhone">
                  </li>
                </ul>
                <button type="button" class="btn btn-primary" onclick="insert()">추가</button> 
            </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 데이트타임피커 -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/admin/js/jquery-ui-timepicker-addon.js"></script>


<script>

//피커
$(".regdate").datetimepicker({
        dateFormat:'yy-mm-dd',
        monthNamesShort:[ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월' ],
        dayNamesMin:[ '일', '월', '화', '수', '목', '금', '토' ],
        changeMonth:true,
        changeYear:true,
        showMonthAfterYear:true,

        // timepicker 설정
        timeFormat:'HH:mm:ss',
        controlType:'select',
        oneLine:true,
    });


$(function() {
    $('.timepicker').timepicker()
});


    function insert(){
        $.ajax({
            url: "/admin/carTime/insert",
            method: 'post',
            dataType: 'json',
            data: {
                'ctCyId' : $("#ctCyId").val(), 'dept' : $("#dept").val(), 'retun' : $("#retun").val(),
                'lead' : $("#lead").val(), 'carNum' : $("#carNum").val(), 'drName' : $("#drName").val(), 'drPhone' : $("#drPhone").val()
                },
            success: function(res){
                if(res.data == "추가"){
                location.href="carTime";
                }
            }
        })
    }

</script>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

</body>

</html>
