<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보증보험 대체의향서</title>
    <link rel="stylesheet" href="/../public/css/az369_survey_send.css">
    <!--modal css-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h1>임대보증금 보증보험 대체 의향서</h1>

                <div class="main_title">
                    <!-- <h6>survey</h6>-->

                    <img src="../../az369/public/img/survey/send_img.png" alt="send">

                    <h2>작성하신 임대보증금 보증보험 대체의향서가 <br>
                        <span>성공적으로 제출되었습니다.</span> </h2>


                    <h3>시간내어 참여해주셔서 감사합니다.</h3>
                </div>


            </div>
        </section>

        <!--//secton.about 완료-->

    </div>


</body></html>
