<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AZ369 보증보험 대체의향서</title>
	<link rel="stylesheet" href="/css/az369_survey_main_o.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<!--자바스크립트-->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/scrolla.jquery.min.js"></script>

	<script src="/js/chart.min.js"></script>

	<!--폰트-->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

</head>

<body>

	<div class="wrap">

		<h1>임대보증금 보증보험 대체 의향서</h1>

		<div class="sub_wrap">
			<div class="main_title">
				<h2><span>이 의향서는</span> 가로수길 센트롤돔 활성화 방안의 일환으로 임대인의 임대조건을 조사하여 임차인과 임대인의 매칭을 위한 기준을 만들고자 작성되었습니다. 본 의향서는
					언제든지 재작성 가능하오니 많은 참여 바랍니다.</h2>
			</div>

			<div class="title_btn">
				<ul>
					<li class="intro">
						<a href="az369_survey_intro" target="_blank">보증보험이란?</a>
					</li>

					<li class="survey">
						<a href="az369_survey_survey">의향서 작성하기</a>
					</li>
				</ul>
			</div>



			<div class="bar"></div>



			<!--폼 전체-->
			<div class="survey_select">
				<h3>조회 할 입점지역을 <strong>선택 후</strong> <br>
					<strong>조회하기</strong>를 누르시면 <br>
					결과확인이 가능합니다. <span>(다중선택 가능)</span></h3>
				<div class="bar"></div>

				<div class="tab">
					<button class="tablinks" onclick="openMap(event, '01')" id="defaultOpen">1층</button>
					<button class="tablinks" onclick="openMap(event, '02')">2층</button>
					<button class="tablinks" onclick="openMap(event, '03')">3층</button>
				</div>

				<div id="01" class="tabcontent">

					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px" y="0px" viewBox="0 0 536.61 430.13" style="enable-background:new 0 0 536.61 430.13;"
						xml:space="preserve">

						<g id="레이어_1">
							<polygon class="street" points="348.55,68.72 289.94,86.6 290.81,109.65 342.55,95.72 439.55,204.72 441.54,244.59 465.53,250.05 
		463.55,192.72 	" />
							<path class="street" d="M446.55,333.72c-2,12-13,14-13,14l-162.64-12.97l-5.6,24.01l205.24,9.96l-3.96-84.12l-23.01-5.24
		L446.55,333.72z" />
							<path class="street" d="M264.55,358.72l0.76,0.04l5.6-24.01l-0.36-0.03l0.36,0.03l15.64-67.03c22-4,27-18,27-18l130.03,29.64
		l-0.03-0.64l0.03,0.64l23.01,5.24l-0.04-0.88l0.04,0.88l61.21,13.95l-2.35-34.85l-59.93-13.65l0.02,0.67l-0.02-0.67l-23.98-5.46
		l0.01,0.13l-0.01-0.13l-117.99-26.87c-5-28-30-36-30-36l-2.74-72.07l-0.26,0.07l0.26-0.07l-0.88-23.05l-0.39,0.12l0.39-0.12
		l-2.38-62.78l-35,9.99l2.48,62.06l0.51-0.15l-0.51,0.15l0.84,21.05l0.67-0.2l-0.67,0.2l2.67,66.8c0,0-9,3-16,14l-119.23-25.33
		c0.14,0.21,0.23,0.33,0.23,0.33s-0.09-0.12-0.23-0.33l-29.62-6.29l-0.14,0.62l0.14-0.62l-44.14-9.38l14-68.99l-43.47,12.4l-18,31
		c0,0,13.07,49.58,27.91,103.75l11.57-47.16l45.58,10.16c0.25-0.12,0.42-0.16,0.42-0.16s-0.16,0.03-0.42,0.16l30.82,6.87
		c0.19-0.01,0.39-0.02,0.59-0.02c-0.2,0-0.4,0.01-0.59,0.02l116.59,25.98c1,18,18,30,18,30l-16.83,70.94l0.83,0.06l-0.83-0.06
		l-5.46,23.04l0.29,0.02l-0.29-0.02l-14.02,59.12l35.38,3.59l13.69-58.65L264.55,358.72z" />
							<path class="street" d="M93.69,166.09l29.62,6.29c-1.12-1.68-5.65-9.57,3.23-16.67l129.33-38.8l-0.84-21.05L99.55,140.72L93.69,166.09
		z" />
							<path class="street" d="M84.55,210.72l38,135l107.71,8.98l5.46-23.04l-94.17-6.94l-32-110c0,0,0.95-9.49,8.41-9.98l-30.82-6.87
		C85.98,198.43,82.91,200.87,84.55,210.72z" />
							<polygon class="st2 b1 pick" points="348.55,68.72 463.55,192.72 465.53,250.05 525.45,263.69 519.07,169.13 367.07,1.13 287.55,23.82 
		289.94,86.6 	" />
							<path class="st2 b1 pick"
								d="M342.55,95.72l-51.74,13.93l2.74,72.07c0,0,25,8,30,36l117.99,26.87l-1.99-39.87L342.55,95.72z" />
							<path class="st2 a2 pick" d="M123.32,172.39l119.23,25.33c7-11,16-14,16-14l-2.67-66.8l-129.33,38.8
		C117.67,162.82,122.19,170.71,123.32,172.39z" />
							<path class="st2 c2 pick" d="M446.55,333.72l-2.97-54.36l-130.03-29.64c0,0-5,14-27,18l-15.64,67.03l162.64,12.97
		C433.55,347.72,444.55,345.72,446.55,333.72z" />
							<path class="st2 d1 pick" d="M122.55,345.72l-38-135c-1.64-9.85,1.43-12.28,2.58-12.84l-45.58-10.16l-11.57,47.16
		C46.4,294.8,64.97,360.34,70.39,370.52c10.32,19.39,40.68,32.61,40.68,32.61l105.16,10.68l14.02-59.12L122.55,345.72z" />
							<polygon class="st2 b1 pick" points="536.07,421.13 527.8,298.55 466.59,284.6 470.55,368.72 265.31,358.75 251.62,417.41 367.07,429.13 	
		" />
							<polygon class="st2 a1 pick"
								points="93.69,166.09 99.55,140.72 255.03,95.86 252.55,33.81 63.55,87.73 49.55,156.72 	" />
							<path class="st2 d2 pick" d="M109.55,214.72l32,110l94.17,6.94l16.83-70.94c0,0-17-12-18-30l-116.59-25.98
		C110.5,205.22,109.55,214.72,109.55,214.72z" />
							<path class="all" d="M366.07,1.13l152,168l17,252l-169,8l-256-26c0,0-30.37-13.23-40.68-32.61S1.07,131.13,1.07,131.13l18-31
		L366.07,1.13z" />
						</g>

						<text transform="matrix(1 0 0 1 158.1511 93.4356)" class="svg_txt">A1</text>
						<text transform="matrix(1 0 0 1 417.656 120.4356)" class="svg_txt">B1</text>
						<text transform="matrix(1 0 0 1 352.656 188.4355)" class="svg_txt">B2</text>
						<text transform="matrix(1 0 0 1 352.8869 309.4355)" class="svg_txt">C2</text>
						<text transform="matrix(1 0 0 1 380.8869 400.4355)" class="svg_txt">C1</text>
						<text transform="matrix(1 0 0 1 100.3039 374.4355)" class="svg_txt">D1</text>
						<text transform="matrix(1 0 0 1 173.3039 276.4355)" class="svg_txt">D2</text>
						<text transform="matrix(1 0 0 1 207.1511 166.4355)" class="svg_txt">A2</text>
					</svg>
				</div>


				<div id="02" class="tabcontent">

					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px" y="0px" viewBox="0 0 536.61 430.13" style="enable-background:new 0 0 536.61 430.13;"
						xml:space="preserve">

						<g id="레이어_1">
							<polygon class="street" points="348.55,68.72 289.94,86.6 290.81,109.65 342.55,95.72 439.55,204.72 441.54,244.59 465.53,250.05 
		463.55,192.72 	" />
							<path class="street" d="M446.55,333.72c-2,12-13,14-13,14l-162.64-12.97l-5.6,24.01l205.24,9.96l-3.96-84.12l-23.01-5.24
		L446.55,333.72z" />
							<path class="street" d="M264.55,358.72l0.76,0.04l5.6-24.01l-0.36-0.03l0.36,0.03l15.64-67.03c22-4,27-18,27-18l130.03,29.64
		l-0.03-0.64l0.03,0.64l23.01,5.24l-0.04-0.88l0.04,0.88l61.21,13.95l-2.35-34.85l-59.93-13.65l0.02,0.67l-0.02-0.67l-23.98-5.46
		l0.01,0.13l-0.01-0.13l-117.99-26.87c-5-28-30-36-30-36l-2.74-72.07l-0.26,0.07l0.26-0.07l-0.88-23.05l-0.39,0.12l0.39-0.12
		l-2.38-62.78l-35,9.99l2.48,62.06l0.51-0.15l-0.51,0.15l0.84,21.05l0.67-0.2l-0.67,0.2l2.67,66.8c0,0-9,3-16,14l-119.23-25.33
		c0.14,0.21,0.23,0.33,0.23,0.33s-0.09-0.12-0.23-0.33l-29.62-6.29l-0.14,0.62l0.14-0.62l-44.14-9.38l14-68.99l-43.47,12.4l-18,31
		c0,0,13.07,49.58,27.91,103.75l11.57-47.16l45.58,10.16c0.25-0.12,0.42-0.16,0.42-0.16s-0.16,0.03-0.42,0.16l30.82,6.87
		c0.19-0.01,0.39-0.02,0.59-0.02c-0.2,0-0.4,0.01-0.59,0.02l116.59,25.98c1,18,18,30,18,30l-16.83,70.94l0.83,0.06l-0.83-0.06
		l-5.46,23.04l0.29,0.02l-0.29-0.02l-14.02,59.12l35.38,3.59l13.69-58.65L264.55,358.72z" />
							<path class="street" d="M93.69,166.09l29.62,6.29c-1.12-1.68-5.65-9.57,3.23-16.67l129.33-38.8l-0.84-21.05L99.55,140.72L93.69,166.09
		z" />
							<path class="street" d="M84.55,210.72l38,135l107.71,8.98l5.46-23.04l-94.17-6.94l-32-110c0,0,0.95-9.49,8.41-9.98l-30.82-6.87
		C85.98,198.43,82.91,200.87,84.55,210.72z" />
							<polygon class="st2 b1 pick" points="348.55,68.72 463.55,192.72 465.53,250.05 525.45,263.69 519.07,169.13 367.07,1.13 287.55,23.82 
		289.94,86.6 	" />
							<path class="st2 b1 pick"
								d="M342.55,95.72l-51.74,13.93l2.74,72.07c0,0,25,8,30,36l117.99,26.87l-1.99-39.87L342.55,95.72z" />
							<path class="st2 a2 pick" d="M123.32,172.39l119.23,25.33c7-11,16-14,16-14l-2.67-66.8l-129.33,38.8
		C117.67,162.82,122.19,170.71,123.32,172.39z" />
							<path class="st2 c2 pick" d="M446.55,333.72l-2.97-54.36l-130.03-29.64c0,0-5,14-27,18l-15.64,67.03l162.64,12.97
		C433.55,347.72,444.55,345.72,446.55,333.72z" />
							<path class="st2 d1 pick" d="M122.55,345.72l-38-135c-1.64-9.85,1.43-12.28,2.58-12.84l-45.58-10.16l-11.57,47.16
		C46.4,294.8,64.97,360.34,70.39,370.52c10.32,19.39,40.68,32.61,40.68,32.61l105.16,10.68l14.02-59.12L122.55,345.72z" />
							<polygon class="st2 b1 pick" points="536.07,421.13 527.8,298.55 466.59,284.6 470.55,368.72 265.31,358.75 251.62,417.41 367.07,429.13 	
		" />
							<polygon class="st2 a1 pick"
								points="93.69,166.09 99.55,140.72 255.03,95.86 252.55,33.81 63.55,87.73 49.55,156.72 	" />
							<path class="st2 d2 pick" d="M109.55,214.72l32,110l94.17,6.94l16.83-70.94c0,0-17-12-18-30l-116.59-25.98
		C110.5,205.22,109.55,214.72,109.55,214.72z" />
							<path class="all" d="M366.07,1.13l152,168l17,252l-169,8l-256-26c0,0-30.37-13.23-40.68-32.61S1.07,131.13,1.07,131.13l18-31
		L366.07,1.13z" />
						</g>

						<text transform="matrix(1 0 0 1 158.1511 93.4356)" class="svg_txt">A1</text>
						<text transform="matrix(1 0 0 1 417.656 120.4356)" class="svg_txt">B1</text>
						<text transform="matrix(1 0 0 1 352.656 188.4355)" class="svg_txt">B2</text>
						<text transform="matrix(1 0 0 1 352.8869 309.4355)" class="svg_txt">C2</text>
						<text transform="matrix(1 0 0 1 380.8869 400.4355)" class="svg_txt">C1</text>
						<text transform="matrix(1 0 0 1 100.3039 374.4355)" class="svg_txt">D1</text>
						<text transform="matrix(1 0 0 1 173.3039 276.4355)" class="svg_txt">D2</text>
						<text transform="matrix(1 0 0 1 207.1511 166.4355)" class="svg_txt">A2</text>
					</svg>
				</div>


				<div id="03" class="tabcontent">

					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px" y="0px" viewBox="0 0 536.61 430.13" style="enable-background:new 0 0 536.61 430.13;"
						xml:space="preserve">

						<g id="레이어_1">
							<polygon class="street" points="348.55,68.72 289.94,86.6 290.81,109.65 342.55,95.72 439.55,204.72 441.54,244.59 465.53,250.05 
		463.55,192.72 	" />
							<path class="street" d="M446.55,333.72c-2,12-13,14-13,14l-162.64-12.97l-5.6,24.01l205.24,9.96l-3.96-84.12l-23.01-5.24
		L446.55,333.72z" />
							<path class="street" d="M264.55,358.72l0.76,0.04l5.6-24.01l-0.36-0.03l0.36,0.03l15.64-67.03c22-4,27-18,27-18l130.03,29.64
		l-0.03-0.64l0.03,0.64l23.01,5.24l-0.04-0.88l0.04,0.88l61.21,13.95l-2.35-34.85l-59.93-13.65l0.02,0.67l-0.02-0.67l-23.98-5.46
		l0.01,0.13l-0.01-0.13l-117.99-26.87c-5-28-30-36-30-36l-2.74-72.07l-0.26,0.07l0.26-0.07l-0.88-23.05l-0.39,0.12l0.39-0.12
		l-2.38-62.78l-35,9.99l2.48,62.06l0.51-0.15l-0.51,0.15l0.84,21.05l0.67-0.2l-0.67,0.2l2.67,66.8c0,0-9,3-16,14l-119.23-25.33
		c0.14,0.21,0.23,0.33,0.23,0.33s-0.09-0.12-0.23-0.33l-29.62-6.29l-0.14,0.62l0.14-0.62l-44.14-9.38l14-68.99l-43.47,12.4l-18,31
		c0,0,13.07,49.58,27.91,103.75l11.57-47.16l45.58,10.16c0.25-0.12,0.42-0.16,0.42-0.16s-0.16,0.03-0.42,0.16l30.82,6.87
		c0.19-0.01,0.39-0.02,0.59-0.02c-0.2,0-0.4,0.01-0.59,0.02l116.59,25.98c1,18,18,30,18,30l-16.83,70.94l0.83,0.06l-0.83-0.06
		l-5.46,23.04l0.29,0.02l-0.29-0.02l-14.02,59.12l35.38,3.59l13.69-58.65L264.55,358.72z" />
							<path class="street" d="M93.69,166.09l29.62,6.29c-1.12-1.68-5.65-9.57,3.23-16.67l129.33-38.8l-0.84-21.05L99.55,140.72L93.69,166.09
		z" />
							<path class="street" d="M84.55,210.72l38,135l107.71,8.98l5.46-23.04l-94.17-6.94l-32-110c0,0,0.95-9.49,8.41-9.98l-30.82-6.87
		C85.98,198.43,82.91,200.87,84.55,210.72z" />
							<polygon class="st2 b1 pick" points="348.55,68.72 463.55,192.72 465.53,250.05 525.45,263.69 519.07,169.13 367.07,1.13 287.55,23.82 
		289.94,86.6 	" />
							<path class="st2 b1 pick"
								d="M342.55,95.72l-51.74,13.93l2.74,72.07c0,0,25,8,30,36l117.99,26.87l-1.99-39.87L342.55,95.72z" />
							<path class="st2 a2 pick" d="M123.32,172.39l119.23,25.33c7-11,16-14,16-14l-2.67-66.8l-129.33,38.8
		C117.67,162.82,122.19,170.71,123.32,172.39z" />
							<path class="st2 c2 pick" d="M446.55,333.72l-2.97-54.36l-130.03-29.64c0,0-5,14-27,18l-15.64,67.03l162.64,12.97
		C433.55,347.72,444.55,345.72,446.55,333.72z" />
							<path class="st2 d1 pick" d="M122.55,345.72l-38-135c-1.64-9.85,1.43-12.28,2.58-12.84l-45.58-10.16l-11.57,47.16
		C46.4,294.8,64.97,360.34,70.39,370.52c10.32,19.39,40.68,32.61,40.68,32.61l105.16,10.68l14.02-59.12L122.55,345.72z" />
							<polygon class="st2 b1 pick" points="536.07,421.13 527.8,298.55 466.59,284.6 470.55,368.72 265.31,358.75 251.62,417.41 367.07,429.13 	
		" />
							<polygon class="st2 a1 pick"
								points="93.69,166.09 99.55,140.72 255.03,95.86 252.55,33.81 63.55,87.73 49.55,156.72 	" />
							<path class="st2 d2 pick" d="M109.55,214.72l32,110l94.17,6.94l16.83-70.94c0,0-17-12-18-30l-116.59-25.98
		C110.5,205.22,109.55,214.72,109.55,214.72z" />
							<path class="all" d="M366.07,1.13l152,168l17,252l-169,8l-256-26c0,0-30.37-13.23-40.68-32.61S1.07,131.13,1.07,131.13l18-31
		L366.07,1.13z" />
						</g>

						<text transform="matrix(1 0 0 1 158.1511 93.4356)" class="svg_txt">A1</text>
						<text transform="matrix(1 0 0 1 417.656 120.4356)" class="svg_txt">B1</text>
						<text transform="matrix(1 0 0 1 352.656 188.4355)" class="svg_txt">B2</text>
						<text transform="matrix(1 0 0 1 352.8869 309.4355)" class="svg_txt">C2</text>
						<text transform="matrix(1 0 0 1 380.8869 400.4355)" class="svg_txt">C1</text>
						<text transform="matrix(1 0 0 1 100.3039 374.4355)" class="svg_txt">D1</text>
						<text transform="matrix(1 0 0 1 173.3039 276.4355)" class="svg_txt">D2</text>
						<text transform="matrix(1 0 0 1 207.1511 166.4355)" class="svg_txt">A2</text>
					</svg>
				</div>


				<!-- Trigger/Open The Modal -->
				<button id="myBtn">조회하기</button>

				<!-- The Modal -->
				<div id="myModal" class="modal">

					<!-- Modal content -->
					<div class="modal-content">
						<span class="close">&times;</span>
						<h3>선택하신 입점지역에 대한 <br> <strong>조회결과</strong>입니다. <br>
							<span>(조회일로부터 3개월까지 조회가 가능)</span></h3>

						<div class="bar"></div>


						<h4>희망 임대료</h4>
						<canvas id="chart01" width="100%" height="100%"></canvas>

						<h4>희망 임대보증금액</h4>
						<canvas id="chart02" width="100%" height="100%"></canvas>

					</div>

				</div>




			</div>
		</div>
	</div>

	<script>
		// first we get all the path elements and put them in an array
		let paths = document.getElementsByClassName('pick')

		//now we can loop over the array and add an eventlistener to each path in the array
		// it listens to the 'click' event and then runs function toggleClass()
		for (let i = 0; i < paths.length; i++) {
			paths[i].addEventListener('click', toggleClass)
		}

		// In the function toggleClass we can toggle the 'clicked' class.
		function toggleClass() {
			this.classList.toggle('clicked')
		}
	</script>

	<script>
		function openMap(evt, mapFloor) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(mapFloor).style.display = "block";
			evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>


	<script>

		var modal = document.getElementById('myModal');
		var btn = document.getElementById("myBtn");
		var span = document.getElementsByClassName("close")[0];
		btn.onclick = function () {
			modal.style.display = "block";
		}

		span.onclick = function () {
			modal.style.display = "none";
		}

		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

	</script>


	<script>
		var options = {
  type: 'bar',
  data: {
    labels: ["1월", "2월", "3월", "4월", "5월", "6월"],
    datasets: [
	    {
	      label: '최저',
		  data: [12, 19, 3, 5, 2, 3],
		  backgroundColor: [
                'rgb(204, 204, 204)',
                'rgb(204, 204, 204)',  
                'rgb(204, 204, 204)',  
				'rgb(204, 204, 204)',
				'rgb(204, 204, 204)', 
				'rgb(204, 204, 204)'
            ],
		  borderWidth: 1
		}
		,	
			{
				label: '최대',
				data: [7, 11, 5, 8, 3, 7],
				backgroundColor: [
                'rgb(102, 102, 102)',
				'rgb(102, 102, 102)',
				'rgb(102, 102, 102)',
				'rgb(102, 102, 102)',
				'rgb(102, 102, 102)',
				'rgb(102, 102, 102)'
			],
				borderWidth: 1
			},
			{
				label: '평균',
				data: [7, 11, 5, 8, 3, 7],
				backgroundColor: [
                'rgb(195, 161, 100)',
				'rgb(195, 161, 100)',
				'rgb(195, 161, 100)',
				'rgb(195, 161, 100)',
				'rgb(195, 161, 100)',
				'rgb(195, 161, 100)'
			],
				borderWidth: 1
			}
		]
  },
  options: {
  	scales: {
    	yAxes: [{
        ticks: {
					reverse: false
        }
      }]
    }
  }
};

var ctx = document.getElementById('chart01').getContext('2d');
new Chart(ctx, options);
	</script>


<script>
	var options = {
type: 'bar',
data: {
labels: ["1월", "2월", "3월", "4월", "5월", "6월"],
datasets: [
	{
	  label: '최저',
	  data: [12, 19, 3, 5, 2, 3],
	  backgroundColor: [
			'rgb(204, 204, 204)',
			'rgb(204, 204, 204)',  
			'rgb(204, 204, 204)',  
			'rgb(204, 204, 204)',
			'rgb(204, 204, 204)', 
			'rgb(204, 204, 204)'
		],
	  borderWidth: 1
	}
	,	
		{
			label: '최대',
			data: [7, 11, 5, 8, 3, 7],
			backgroundColor: [
			'rgb(102, 102, 102)',
			'rgb(102, 102, 102)',
			'rgb(102, 102, 102)',
			'rgb(102, 102, 102)',
			'rgb(102, 102, 102)',
			'rgb(102, 102, 102)'
		],
			borderWidth: 1
		},
		{
			label: '평균',
			data: [7, 11, 5, 8, 3, 7],
			backgroundColor: [
			'rgb(195, 161, 100)',
			'rgb(195, 161, 100)',
			'rgb(195, 161, 100)',
			'rgb(195, 161, 100)',
			'rgb(195, 161, 100)',
			'rgb(195, 161, 100)'
		],
			borderWidth: 1
		}
	]
},
options: {
  scales: {
	yAxes: [{
	ticks: {
				reverse: false
	}
  }]
}
}
};

var ctx = document.getElementById('chart02').getContext('2d');
new Chart(ctx, options);
</script>

</body>

</html>