<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보증보험 대체의향서</title>
    <link rel="stylesheet" href="css/az369_survey_01.css">

    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

</head>

<body>

    <div class="wrap">



            <!--상단 타이틀: 소개부분-->
            <h1>임대보증금 보증보험 대체 의향서</h1>
            <div class="sub_wrap">
            <div class="main_title">
                <h6><span>01. 개인정보입력 </span> > 02. 의향서 작성 > 03. 제출완료</h6>

                <h2>가로수길 센트롤돔 활성화 방안의 일환으로 임대인의 임대조건을 조사하여 임차인과 임대인의 매칭을 위한 기준을 만들고자 작성되었습니다. 본 의향서는 언제든지 재작성 가능하오니 많은 참여 바랍니다.</h2>

                <div class="intro_btn"><a href="img/survey_img.png" target="_blank">보증보험이란?</a></div>
                <!--<p>이 페이지는 모바일전용입니다.</p>-->
            </div>



            <!--폼 전체-->
            <div class="survey_form">

                <h3>개인정보입력</h3>
                <div class="bar"></div>


                <!--폼 리스트-->
                    <h4>상가호수</h4>
                    <input type="number" id="number" name="number">

                    <h4>이름</h4>
                    <input type="text" id="name" name="name">

                    <h4>휴대전화번호 ('-' 생략)</h4>
                    <input type="number" id="phone" name="phone">
                    <button class="check_btn">본인인증</button>
                    <input type="number" id="phone_check" name="phone_check" placeholder="인증번호 4자리를 입력하세요." style="background: #eee;" maxlength="4" oninput="numberMaxLength(this);" />


                    <!--체크박스-->
                    <div class="select_check">
                        <h4>소유하신 상가의 임대차 계약이 완료되었나요?</h4>

                        <div class="checks etrans">
                            <input type="radio" id="r1" name="rr" class="ab" />
                            <label for="r1"><span></span>계약완료</label>
                        </div>

                        <div class="checks etrans">
                            <input type="radio" id="r2" name="rr" class="ab" />
                            <label for="r2"><span></span>공실</label>
                        </div>
                    </div>

                    <a href="az369_survey_02_N.ejs" class="next">다음</a>

            </div>
        </div>
    </div>



    <!--input maxlength-->
    <script>
        function numberMaxLength(e) {
            if (e.value.length > e.maxLength) {
                e.value = e.value.slice(0, e.maxLength);
            }
        }
    </script>


</body></html>
