<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보증보험 대체의향서</title>
    <link rel="stylesheet" href="/css/az369_survey_intro.css">

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <h1>보증보험이란?</h1>
        <div class="sub_wrap">

            <div class="txt_top">
                <h2>보증보험이란?</h2>
                <p>
                    보증보험은 보험회사에서 시행하는 보험상품으로, <br>
                    기업이나 개인의 경제활동에 필요한 인적 및 물적담보 또는 임대보증금을 대신하여 이용할 수 있는 간편한 보험제도입니다.
                </p>
            </div>

            <div class="intro_img">
                <img src="/img/survey/survey_intro_img.png" alt="보증보험 설명 이미지">
            </div>

            <div class="txt_bottom">
                <h2><span>임차인</span>의 메리트</h2>
                <p>임차인은 보험회사와 계약을 맺은 후 보험증권을 임대인에게 제출함으로써 임대인에게 줄 임대보증금을 면제받아 새로운 기회비용을 얻습니다. </p>
                <h2><span>임대인</span>의 메리트</h2>
                <p>
                    임대인은 임대보증금 대신 보험증권을 받음으로써, 보험회사의 보호 아래에 임차인으로부터 안정적으로 월세를 받을 수 있으며, <br>
                    임차인의 채무불이행(월세 미지급 및 임대만기 시 손상 인테리어 복구비용 미지급 등)이 발생했을 시 임대인은 보험회사에게 보험금을 청구하여 보험금을 지급받을 수 있어, 문제발생에 대한 위험부담이 줄어들고 해결과정 역시 편리해집니다. 또한 임대보증금 면제란 강력한 메리트로 인해 공실을 빠르게 메울 가능성이 높아지는 매력적인 윈윈시스템입니다.
                </p>
            </div>

        </div>

    </div>


</body></html>
