<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AZ369 보증보험 대체의향서</title>
	<link rel="stylesheet" href="/css/az369_survey_main_x.css">

	<!--자바스크립트-->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/scrolla.jquery.min.js"></script>

	<!--폰트-->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

</head>

<body>

	<div class="wrap">

		<!--상단 타이틀: 소개부분-->
		<h1>임대보증금 보증보험 대체 의향서</h1>
		<div class="sub_wrap">
			<div class="main_title">
				<h2>이 의향서는 가로수길 센트롤돔 활성화 방안의 일환으로 임대인의 임대조건을 조사하여 임차인과 임대인의 매칭을 위한 기준을 만들고자 작성되었습니다. 본 의향서는 언제든지 재작성 가능하오니 많은 참여 바랍니다.</h2>

				<div class="intro_btn"><a href="az369_survey_intro" target="_blank">보증보험이란?</a></div>
			</div>


			<div class="main_button">
				<p>의향서 작성을 위해서는 <span>로그인</span>이 필요합니다.</p>

				<ul>
					<li class="join">
						<a href="az369_survey_join">회원가입</a>
					</li>
					<li class="login">
						<a href="az369_survey_login">로그인</a>
					</li>
				</ul>

			</div>
		</div>
	</div>

</body>

</html>
