<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/benefit_list04.css">

    <title>AZ369 - 입점상가혜택</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 입점상가혜택">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="benefit">
                            <li style="background: #C3A164; color: #fff">입점상가혜택</li>
                        </a>

                        <a href="benefit_application">
                            <li>입점상담신청</li>
                        </a>

                    </ul>
                </div>
            </div>

        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6 style="font-family: 'PT Serif', serif;">BENEFIT 04</h6>
                <h1>입점상가 재고연동 <br> 온라인 쇼핑몰 운영</h1>
                <div class="bar"></div>
                <h2><span>포스 프로그램 하나</span>로 <br>
                    재고주문과 온라인 쇼핑몰 재고관리를 <span>한번에!</span></h2>
                <div class="sub_info">
                    <p>센트럴돔 입점상가에서 사용하는 포스프로그램에는 사입프로그램이 내장되어있어 <br>
                        재고량을 실시간으로 빠르게 확인하여 물품 발주를 보다 분명하고 간편하게 하실 수 있습니다. <br>
                        또한 포스 프로그램과 AZ369 온라인 쇼핑몰의 재고 데이터를 연동하여 <br>
                        실질적으로 있는 재고 상품만 올려두고 판매함으로써 <br>
                        판매율을 높이고 온라인상에서의 재고확인에 대한 불편함을 없애 깔끔한 재고관리가 가능합니다. </p>
                </div>

                <div class="sub_bg"><img src="/img/gnb_02/benefit_list04_sub.png" alt=""></div>

            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <script>

        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }

        //gallery 슬라이드
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'slide showing';
        }

    </script>
    <% include templates/footer.ejs %>
</body>

</html>