<!DOCTYPE html>
<html lang="ko">

<head prefix="og: http://ogp.me/ns#">
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_main.css">
    <link rel="stylesheet" href="/css/benefit.css">

    <title>AZ369 - 입점상가혜택</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 입점상가혜택">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />


</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="benefit">
                            <li style="background: #C3A164; color: #fff">입점상가혜택</li>
                        </a>

                        <a href="benefit_application">
                            <li>입점상담신청</li>
                        </a>
                    </ul>
                </div>
            </div>

        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>입점상가혜택</h6>
                <h1 style="font-family: 'PT Serif', serif;">BENEFIT</h1>
                <div class="bar"></div>
                <h5>최소의 비용으로 얻는 최고의 조건!</h5>
                <h2><em>최고의 경쟁력을 갖춘 <br><strong>AZ369</strong></em>와 함께하세요.</h2>
                <div class="sub_bg"></div>

                <div class="benefit_list">
                    <ul>
                        <!--list01-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic01.png" alt="헤택01"></div>
                            <div class="txt">
                                <h3>소상공인 창업자금 <br>
                                    컨설팅 지원</h3>
                                <div class="list_bar"></div>
                                <p>소상공인분들을 위한 창업지원 서비스를 소개하고<br>
                                    자금 지원을 받을 수 있도록 컨설팅을 진행합니다. </p>
                                <a href="benefit_1" class="benefit_btn"><u> 자세히보기</u></a>
                            </div>
                        </li>
                        <!--list02-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic02.png" alt=""></div>
                            <div class="txt">
                                <h3>보증금 면제 <br>
                                    (이행보증보험)</h3>
                                <div class="list_bar"></div>
                                <p>보증금 대신 이행보증보험으로 대체하여 보증금에 <br> 대한 부담을 없앨 수 있습니다. <span>(50개 호실 한정)</span></p>
                            </div>
                        </li>
                        <!--list03-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic03.png" alt="헤택03"></div>
                            <div class="txt">
                                <h3>센트럴돔 입점매장 <br>
                                    사입비용 절감</h3>
                                <div class="list_bar"></div>
                                <p>전용 전문 사입자 지원을 통해 가격이 인하되어 <br>
                                    사입비용을 30%가량 절감될 수 있습니다. </p>
                            </div>
                        </li>
                        <!--list04-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic04.png" alt="헤택04"></div>
                            <div class="txt">
                                <h3>입점상가 재고연동 <br>
                                    온라인 쇼핑몰 운영</h3>
                                <div class="list_bar"></div>
                                <p>오프라인에서 남는 재고를 온라인과 연동하여 <br>
                                    재고율을 낮추고 판매량을 증가시킬 수 있습니다. </p>
                                <a href="benefit_4" class="benefit_btn"><u> 자세히보기</u></a>
                            </div>
                        </li>
                        <!--list05-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic05.png" alt="헤택05"></div>
                            <div class="txt">
                                <h3>고객관리 및 <br>
                                    사입프로그램 무상제공</h3>
                                <div class="list_bar"></div>
                                <p>고객관리 프로그램을 통해 남아있는 재고를<br>
                                    보다 분명하고 효율적으로 관리할 수 있습니다. </p>
                            </div>
                        </li>
                        <!--list06-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic06.png" alt="헤택06"></div>
                            <div class="txt">
                                <h3>사진촬영을 위한 <br>
                                    공동스튜디오 공간제공</h3>
                                <div class="list_bar"></div>
                                <p>최소한의 관리비용으로 공동 스튜디오를<br>
                                    제공해드립니다. <span>(예약자만 사용가능)</span> </p>
                            </div>
                        </li>
                        <!--list07-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic07.png" alt="헤택07"></div>
                            <div class="txt">
                                <h3>인테리어<br>
                                    최저가 제공</h3>
                                <div class="list_bar"></div>
                                <p>고정 인테리어 업자가 전담하여<br>
                                    인테리어 비용을 절약하실 수 있습니다. <span>(선택사항)</span></p>
                            </div>
                        </li>
                        <!--list08-->
                        <li>
                            <div class="pic"><img src="/img/benefit/list_pic08.png" alt="헤택08"></div>
                            <div class="txt">
                                <h3>넓은 <br>
                                    주차시설</h3>
                                <div class="list_bar"></div>
                                <p>총 450여대가 들어갈 수 있는 <br>
                                    평택 최대 주차시설이 구비되어 있습니다.</p>
                            </div>
                        </li>
                        <!--list09-->
                        <li>

                            <div class="call">
                                <div class="call_pic">
                                    <img src="/img/benefit/list_call.png" alt="">
                                </div>
                                <div class="call_txt">
                                    <h3>안내 / 문의</h3>
                                    <p>031 - 668 - 0116</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>


                <div class="apply_btn btn btn-outline-primary">
                    <a href="benefit_application">입점상담신청</a>
                </div>

            </div>
        </section>

        <!--//secton.about 완료-->

    </div>

    <script>

        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }

        //gallery 슬라이드
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'slide showing';
        }

    </script>
</body>

</html>