<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/benefit_application.css">

    <title>AZ369 - 입점상담신청</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 입점상담신청">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords" content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">


</head>

<body>
    <div class="wrap">
            <% include templates/header.ejs %>
            <!--section.main 시작-->

        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
            </div>

        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="tnb">
                    <ul>
                        <a href="benefit">
                            <li>입점상가혜택</li>
                        </a>
                        <a href="benefit_application">
                            <li style="background: #ad8743; color: #fff">입점상담신청</li>
                        </a>
                    </ul>
                </div>

                <h6>입점상담신청</h6>
                <h1 style="font-family: 'PT Serif', serif;">APPLICATION</h1>
                <div class="bar"></div>
                <h5><strong>모이면 모일수록 더</strong> 커지는 혜택</h5>
                <h2><em><strong>AZ369</strong>와 함께하실 <br>입점주분들을 환영합니다.</em></h2>


            </div>

            <div class="sub_form">

                <div class="apply_form">
                    <h3>상담신청</h3>
                    <p>상담신청 후 하단의 제출여부조회를 통해 꼭 <strong>제출 여부를 확인</strong>해주세요.</p>

                    <form>
                        <ul>
                            <li>
                                <label for="name">이름</label>
                                <input type="text" id="name" name="name" placeholder="이름">
                            </li>

                            <li>
                                <label for="phone">휴대전화</label>
                                <input type="text" id="phone" name="phone" placeholder="예시) 010 ⋯">
                            </li>

                            <li>
                                <label for="brand">브랜드명</label>
                                <input type="text" id="brand" name="brand" placeholder="브랜드명">
                            </li>

                            <li>
                                <label for="address">매장 주소</label>
                                <input type="text" id="address" name="address" placeholder="예시) 경기도 평택시 비전1동 ⋯">
                            </li>

                            <li>
                                <label for="address">문의사항</label>
                                <textarea name="memo" id="memo" cols="30" rows="5" placeholder="문의하실 내용을 간략히 입력해주세요."></textarea>
                            </li>
                        </ul>

                        <input type="submit" value="제출하기" onclick="applyCon()">
                    </form>
                </div>

                <div class="apply_check">
                    <h3>제출여부조회</h3>

                    <form>
                        <ul>
                            <li>
                                <label for="name">이름</label>
                                <input type="text" id="name2" name="name" placeholder="이름">
                            </li>

                            <li>
                                <label for="phone">휴대전화</label>
                                <input type="text" id="phone2" name="phone" placeholder="예시) 010 ⋯">
                            </li>
                        </ul>
                    </form>

                    <div class="check_btn">
                        <a class="popup_open" onclick="lookUp()">
                            제출여부조회
                        </a>
                    </div>

                    <div id="popup" class="layer">
                        <div class="popup_box">
                               <div class="popup_header">제출여부 확인</div>
                               <h5><span>문의날짜</span> <br><h5 id="applyDate"></h5></h5>
                                <p>입점상담신청 문의가 성공적으로 보내졌습니다.<br>빠른시일 내에 연락드리겠습니다.</p>

                            <div class="popup_btn">
                                <a href="benefit_application" class="popup_close">닫기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <script>
                let nowData = 0;
    
                //입점상담신청
               function applyCon(){
                if($('#name').val() == "" || $('#phone').val()=='' || $('#brand').val()=='' || $('#address').val()=='' || $('#memo').val()==''){
                    alert("빈칸을 입력해 주세요");
                    return;
                }
                $.ajax({
                    url: "api/user/benefitApply",
                    dataType: "json",
                    method: "post",
                    data: {
                        name : $("#name").val(),
                        phone : $("#phone").val(),
                        brand : $("#brand").val(),
                        address : $("#address").val(),
                        memo : $("#memo").val()
                    },
                    success: function(){
                        alert("신청이 완료되었습니다. \n빠른시일내 연락드리겠습니다.");
                        location.reload();
                    }
    
                })
               }
               //제출여부조회
               function lookUp(){
                    if($('#name2').val() == "" || $('#phone2').val()==''){
                        $(".layer").hide();
                        alert("빈칸을 입력해 주세요");
                        //return;    
                        location.reload();    
                               
                    }
    
                    $.ajax({
                       url: "api/user/lookUp",
                       method: "post",
                       dataType: "json",
                       data: {
                           name: $("#name2").val(),
                           phone: $("#phone2").val()
                       },
                       success: function(res){

                        if(res.data === undefined){
                            alert("이름 혹은 휴대전화가 틀리거나 제출하시지 않으셨습니다.");
                            location.reload();                                                                       
                        }else if(res.data.SI_cDt != ""){  
                            $("#applyDate").append(res.data.SI_cDt);                          
                            location.href="#popup"; 
                           
                            
                        }
                                                                        
                                     
                       }
    
    
                    });
               }
       
            </script>
       
        <!--//secton.about 완료-->

        <script>
            $('.btn-example').click(function() {
                var $href = $(this).attr('href');
                layer_popup($href);
            });

            function layer_popup(el) {

                var $el = $(el); //레이어의 id를 $el 변수에 저장
                var isDim = $el.prev().hasClass('dimBg'); //dimmed 레이어를 감지하기 위한 boolean 변수

                isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

                var $elWidth = ~~($el.outerWidth()),
                    $elHeight = ~~($el.outerHeight()),
                    docWidth = $(document).width(),
                    docHeight = $(document).height();

                // 화면의 중앙에 레이어를 띄운다.
                if ($elHeight < docHeight || $elWidth < docWidth) {
                    $el.css({
                        marginTop: -$elHeight / 2,
                        marginLeft: -$elWidth / 2
                    })
                } else {
                    $el.css({
                        top: 0,
                        left: 0
                    });
                }

                $el.find('a.btn-layerClose').click(function() {
                    isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                    return false;
                });

                $('.layer .dimBg').click(function() {
                    $('.dim-layer').fadeOut();
                    return false;
                });

            }
        </script>

    </div>

    <script>

        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }

        //gallery 슬라이드
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'slide showing';
        }

    </script>
</body></html>
