<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <title>Document</title>
    <style>
        tr:hover{color:red};
    </style>
</head>
<body>
    
    <div style="float: left;width: 50%;">업데이트 형
        <table border="1" style="border-collapse: collapse; width:500px">
            <thead>
                <th>아이디</th>
                <th>그룹</th>
                <th>순서</th>
                <th>댑스</th>
                <th>예시</th>
            </thead>
            <tbody id="board_table">
            </tbody>
        </table>

        <p>입력할 게시물 or 댓글 아이디</p>
        <div><input type="text" id="board_name" readonly placeholder="답글 달 게시물" style="color: red; font-size: 15px; font-weight: bold;"><input type="text" id="board_text"></div>
        <button type="button" onclick="submitBoard()">입력</button>
        <button type="button" onclick="reset()">초기화</button>

        <p>띄어쓰기 방법은 ㄱ + 특수문자 + 1 이며 1댑스당 1씩 추가</p>
    </div>
    <!--dddddddddddddddd  -->

    

    <div style="float: left;">재귀쿼리 사용
        <table border="1" style="border-collapse: collapse; width:700px">
            <thead>
                <th>sort_key</th>
                <th>id</th>
                <th>parent_id</th>
                <th>name</th>
                <th>top_parent_id</th>
            </thead>
            <tbody id="board_table_two">
            </tbody>
        </table>

        <p>입력할 게시물 or 댓글 아이디</p>
        <div><input type="text" id="board_name_two" readonly placeholder="답글 달 게시물" style="color: red; font-size: 15px; font-weight: bold;"><input type="text" id="board_text_two"></div>
        <button type="button" onclick="submitBoardTwo()">입력</button>
        <button type="button" onclick="resetTwo()">초기화</button>
    </div>
    
</body>
<script>



    function loadBoard(){
        $.ajax({
            url : '/api/board/',
            method : 'get',
            dataType : 'json',
            success: function(res){
                let html = "";
                for(let i=0; i<res.data.length; i++){
                    html += "<tr><td>"+res.data[i].B_ID+"</td>"
                    html += "<td>"+res.data[i].B_Group+"</td>"
                    html += "<td>"+res.data[i].B_Index+"</td>"
                    html += "<td>"+res.data[i].B_Depth+"</td>"
                    html += "<td onclick='selectBoard(this)' style='cursor: pointer' id="+res.data[i].B_ID+" data-depth="+res.data[i].B_Depth+">"+res.data[i].B_Ex+"</td></tr>"
                }
                console.log('html',html);
                $('#board_table').append(html);
            }					
        });
    }
    loadBoard();
    function selectBoard(e){
        console.log('e',e.dataset.depth);
        $('#board_name').val(e.id)
        $('#board_name').data('depthlv',e.dataset.depth)
    }

    function reset(){
        
        $('#board_name').val('');
        $('#board_text').val('')
    }

    function submitBoard(){
        let comment_type = "";
        if($('#board_text').val() == ""){
            alert('내용을 입력해 주세요')
            $('#board_text').focus();
        }
        console.log('das',$('#board_name').data('depthlv'));
        if($('#board_name').val() == ""){
            comment_type = 'default_cmt';
        }else if($('#board_name').data('depthlv') == 0){
            comment_type = 'first_cmt';
        }else if($('#board_name').data('depthlv') == 0){
            comment_type = 'first_cmt';
        }else if($('#board_name').data('depthlv') >= 1){
            comment_type = 'other_cmt';
        }
        console.log('comment',comment_type);
        $.ajax({
            url : '/api/board/'+comment_type,
            method : 'post',
            dataType : 'json',
            data : {
                board_id : $('#board_name').val(),
                board_text : $('#board_text').val(),
                },
            success: function(res){
                $('#board_table').empty();
                reset();
                loadBoard();
            }					
        });
    }

    //재귀쿼리
    function loadBoardTwo(){
        $.ajax({
            url : '/api/boardTwo/',
            method : 'get',
            dataType : 'json',
            success: function(res){
                let html = "";
                for(let i=0; i<res.data.length; i++){
                    html += "<tr><td>"+res.data[i].sort_key+"</td>"
                    html += "<td>"+res.data[i].id+"</td>"
                    html += "<td>"+res.data[i].parent_id+"</td>"
                    html += "<td>"+res.data[i].name+"</td>"
                    html += "<td onclick='selectBoardTwo(this)' style='cursor: pointer' id="+res.data[i].id+">"+res.data[i].top_parent_Id+"</td></tr>"
                }
                console.log('html',html);
                $('#board_table_two').append(html);
            }					
        });
    }
    loadBoardTwo();

    function selectBoardTwo(e){
        console.log('e',e.dataset.depth);
        $('#board_name_two').val(e.id)
    }

    function resetTwo(){
        
        $('#board_name_two').val('');
        $('#board_text_two').val('')
    }

    function submitBoardTwo(){
        let comment_type = "comment";
        console.log('das',$('#board_name_two').data('depthlv'));
        if($('#board_text_two').val() == ""){
            alert('내용을 입력해 주세요')
            $('#board_text_two').focus();
        }
        if($('#board_name_two').val() == ""){
            comment_type = 'default_cmt';
        }

        console.log('comment',comment_type);
        $.ajax({
            url : '/api/boardTwo/'+comment_type,
            method : 'post',
            dataType : 'json',
            data : {
                parent_id : $('#board_name_two').val(),
                board_text : $('#board_text_two').val(),
                },
            success: function(res){
                $('#board_table_two').empty();
                resetTwo();
                loadBoardTwo();
            }					
        });
    }

</script>
</html>