<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="./css/ctd_info.css">
</head>

<body>
    <div class="wrap">
        
        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
            </div>

        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="tnb">
                    <ul>
                        <a href="summary">
                            <li>사업개요</li>
                        </a>
                        <a href="ctd_info">
                            <li style="background: #ad8743; color: #fff">센트럴돔 소개</li>
                        </a>
                        <a href="location">
                            <li>오시는 길</li>
                        </a>
                    </ul>
                </div>


                <h6>센트럴돔 소개</h6>
                <h1 style="font-family: 'PT Serif', serif;">CENTRAL DOME</h1>
                <div class="bar"></div>
                <h5>성장도시 평택의 <strong>새로운 중심</strong> <br> 소사벌지구의 <strong>핵심지리</strong></h5>
                <h2><em>평택 가로수길 센트럴돔입니다.</em></h2>


                <div id="slide">
                    <div class="slideshow-container">
                        <div class="mySlides fade"><img src="img/ctd_info/ctd_slide01.png" style="width: 100%;" alt=""></div>
                        <div class="mySlides fade"><img src="img/ctd_info/ctd_slide02.png" style="width: 100%;" alt=""></div>
                       <div class="mySlides fade"><img src="img/ctd_info/ctd_slide03.png" style="width: 100%;" alt=""></div>
                        <div class="mySlides fade"><img src="img/ctd_info/ctd_slide04.png" style="width: 100%;" alt=""></div>
                        <div class="mySlides fade"><img src="img/ctd_info/ctd_slide05.png" style="width: 100%;" alt=""></div>
                        <div class="mySlides fade"><img src="img/ctd_info/ctd_slide06.png" style="width: 100%;" alt=""></div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span><span class="dot" onclick="currentSlide(5)"></span>
                        <span class="dot" onclick="currentSlide(6)"></span>
                    </div>

                    <div class="sub_info">


                        <em>눈부신 미래가치와 광역 교통망을 갖춘 <br> 서남부권 대표상권에 위치한</em> <br>
                        <h3>평택 최대규모의 유럽형 스트리트몰입니다.</h3>

                        <h4>1. 최고의 지리적 조건</h4>
                        <p> 평택과 천안, 안성, 동탄 등 각 지역의 중심에 자리잡은 평택 센트럴돔은 소사벌 상업지역 최고의 위치에 입지한 핵심상권입니다. <br>센트럴돔 주변에는 먹자골목이 공존해 있어 데이트하는 연인이나 가족, 친구들과 함께 찾아오기에 최적의 장소입니다.</p>

                        <h4>2. 삼성전자 평택 이전과 개발구역 증가</h4>
                        <p>아시아 최대규모의 삼성전자가 평택으로 이전 및 증축이 확정되면서 평택 인프라와 주변 상권의 활성화가 기대되는 상황입니다.<br>
                            국제교류 거점도시가 되어 육성되는 고덕국제 신도시와 120만여평의 삼성고덕산업단지가 개발되고 있으며 <br> 더 나아가 2020년에는 황해경제자유구역 포승지구와 현덕지구 역시 개발 예정되어 있습니다.</p>

                        <h4>3. 탁 트인 광역 교통망</h4>
                        <p>국도1호선으로 고덕국제도시와 빠르게 연결되며 <br> 경부고속도로와 평택 - 제천 고속도로 등 광역 도로망과 <br>SRT지제역, KTX 평택역의 광역교통망까지 확보되어있습니다.</p>



                        <br>
                        <div class="ctd_btn">
                            <a href="location">센트럴돔 위치 보기</a>
                        </div>
                    </div>

                </div>
                </div>
        </section>

        <!--//secton.sub_wrap 완료-->


        <!--<footer></footer>-->
    </div>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }

        //main 슬라이드

        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>


    <!--센트럴돔 이미지 슬라이드-->
    <script>
        var slideIndex = 0;
        showSlides();
        var slides, dots;

        function plusSlides(position) {
            slideIndex += position;
            if (slideIndex > slides.length) {
                slideIndex = 1
            } else if (slideIndex < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");

            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        function currentSlide(index) {
            if (index > slides.length) {
                index = 1
            } else if (index < 1) {
                index = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[index - 1].style.display = "block";
            dots[index - 1].className += " active";
        }

        function showSlides() {
            var i;
            slides = document.getElementsByClassName("mySlides");
            dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 4000);
        }
    </script>
</body></html>
