<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/driver_app.css">
    <!-- 좌석 CSS -->
    <link rel="stylesheet" type="text/css" href="/css/lib/driver_seat-charts.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/driver_booking.css">
    <!-- 장차예약 PC 화면 CSS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="wrap">


        <div class="tab">
            <button class="tab_button" onclick="openLocation(event, 'pyeongtaek')" id="defaultOpen">평택 출발</button>
            <button class="tab_button" onclick="openLocation(event, 'seoul')">동대문 출발</button>
        </div>

        <!-- 평택 출발 -->
        <div id="pyeongtaek" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd class='location_info'>평택 21:00 - 서울동대문 04:00</dd>
                <dd class='bus_name'>유림고속 (1111)</dd>
            </div>

            <button class="btn qr">QR코드 스캔하기</button>


            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <!-- 좌석표 -->
            <div class="seat-map-py seatCharts-container">
            </div>
            <div class="btn reload">새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_p" id="check_p" onclick="busReadyPy(this)">승차완료</button>
            <button class="btn start start_p" id="start_p" onclick="busStartPy(this)">출발</button>
            <button class="btn start_cancel_p" id="start_cancel_p" onclick='busCancelPy(this)'>출발취소</button>

            <!-- 출발 모달창 -->
            <div class="start_modal start_p_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 마감됩니다. 예매마감 이후 현 장차의 예매가 불가능해집니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="closePy()" style="color: #767676;">취소</a>
                        <a onclick="checkPy()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>

            <!-- 출발취소 모달창 -->
            <div class="start_cancel_modal start_cancel_p_modal">
                <div class="modal-inner">
                    <h3>출발취소 하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 다시 열립니다.<br>
                        <span>단, 출발시간이 지났을 경우
                            온라인예매는 자동으로 닫힙니다.</span></p>
                    <div class="modal_inner_btn">
                        <a onclick="closePy2()" style="color: #767676;">취소</a>
                        <a onclick="cancelPy()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>

        </div>



        <!-- 서울동대문 출발 -->
        <div id="seoul" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd class='location_info'>평택 21:00 - 서울동대문 04:00</dd>
                <dd class='bus_name'>유림고속 (1111)</dd>
            </div>

            <button class="btn qr">QR코드 스캔하기</button>

            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <!-- 좌석표 -->
            <div class="seat-map-se seatCharts-container">
            </div>

            <div class="btn reload">새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_s" id="check_s" onclick="busReadySe(this)">승차완료</button>
            <button class="btn start start_s" id="start_s" onclick='busStartSe(this)'>출발</button>
            <button class="btn start_cancel_s" id="start_cancel_s" onclick='busCancelSe(this)'>출발취소</button>


            <!-- 출발버튼 클릭 시 모달창 -->
            <div class="start_modal start_s_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 QR코드 스캔을 사용하실 수 없습니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="closeSe()" style="color: #767676;">취소</a>
                        <a onclick="checkSe()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 출발취소 모달창 -->
        <div class="start_cancel_modal start_cancel_s_modal">
            <div class="modal-inner">
                <h3>출발취소 하시겠습니까?</h3>
                <p>취소를 누르면 QR코드 스캔을 다시 사용하실 수 있습니다.</p>
                <div class="modal_inner_btn">
                    <a onclick="closeSe2()" style="color: #767676;">취소</a>
                    <a onclick="cancelSe()" style="color: #c3a164;">확인</a>
                </div>
            </div>
        </div>


        <!-- footer -->
        <footer>
            <dd>문의전화 <span>0000 - 0000</span></dd>
            <dd>(평일 09:00 ~ 18:00, 유료)</dd>
        </footer>
    </div>
    <div id="popup" class="layer">
        <div class="popup_box">
            <div class="popup_tit">예약자 정보</div>
            <table>
                <tbody>
                    <tr><th>좌석번호</th><td id='user_seat_number'>1번</td></tr>
                    <tr><th>이름</th><td id='user_name'>김정우</td></tr>
                    <tr><th>휴대번호</th><td id='user_phone'>01012341234</td></tr>
                    <tr><th>승차여부</th><td id='user_checked'>N</td></tr>
                </tbody>
            </table>
            <div class="popup_btn btn btn-secondary">
                <a onclick="javascript:$('#popup').css('display','none')" class="popup_close">닫기</a>
            </div>
        </div>
    </div>


</body>
<script src="/js/lib/jquery.seat-charts.js"></script>
<!-- 평택, 동대문 탭 -->
<script>
    function openLocation(evt, locationName) {
        let car_info = JSON.parse(sessionStorage.getItem("car_list"));
        openBus(car_info[0].ctID,locationName);
        var i, tabcontent, tab_button;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tab_button = document.getElementsByClassName("tab_button");
        for (i = 0; i < tab_button.length; i++) {
            tab_button[i].className = tab_button[i].className.replace(" active", "");
        }
        document.getElementById(locationName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

    $(document).ready(function(){
        $.ajax({
            url: "api/user/resCarList",
            method: "post",
            dataType: "json",
            success: function (res) {
                sessionStorage.setItem("car_list", JSON.stringify(res.data));
                $('.location_info').text('평택 '+res.data[0].startTime+' - 서울동대문 '+res.data[0].returnTime);
                $('.bus_name').text(res.data[0].b_name+'('+res.data[0].backNum+')');
            }
        });
    })

    


    var selected_seats = [];
    var selected_seats_cnt = 0;
    var seatPrice = 0;


    function openBus(busSeat,locationName) {
        let $seat;
        if(locationName == "pyeongtaek"){
            $seat = $('.seat-map-py')
        }else{
            $seat = $('.seat-map-se')
        }
        let car_info = JSON.parse(sessionStorage.getItem("car_list"));

        var i, tablinks
        tablinks = document.getElementsByClassName("tablinks");
        //alert(seatPrice);
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        sessionStorage.setItem('ct_id', busSeat);

        // document.getElementById("bus_seat_layer").style.display = "block";
        // evt.currentTarget.className += " active";
        var firstSeatLabel = 1;


        //좌석금액 불러오기

        var $cart = $('#selected-seats'),
            $nums = $('#selected_seats_num'),
            $counter = $('#selected_seats_cnt'),
            sc = $seat.seatCharts({
                map: [
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'ee_ee',
                    'eeeee',
                ],
                seats: {
                    e: {

                        classes: '일반', //your custom CSS class
                        category: '일반'
                    }

                },
                naming: {
                    top: false,
                    getLabel: function (character, row, column) {
                        return firstSeatLabel++;
                    },
                },
                click: function () {
                    let bus_seat_number = this.settings.label;
                    let bus_ct_id = sessionStorage.getItem("ct_id");
                    let scan_checked;
                    if (this.status() == 'available') {
                        // alert('예매되지 않은 좌석입니다.')
                        // return 'selected';
                    } 
                    //스캔 된 좌석
                    else if (this.status() == 'selected') {
                        scan_checked = 'selected'
                        userSeatInfo(bus_ct_id,bus_seat_number,scan_checked);
                        return 'selected';
                    } 
                    //스캔 되지 않은 예매된 좌석
                    else if (this.status() == 'unavailable') {
                        scan_checked = 'unavailable'
                        userSeatInfo(bus_ct_id,bus_seat_number,scan_checked);
                        return 'unavailable';
                    } else {

                        return this.style();
                    }
                }
            });


        //현재 예약된 자석
        flushSeat(locationName);
    }


    function userSeatInfo(bus_id, seat_number, scan_checked){
        $.ajax({
            url: '/api/bus_user_info',
            method: 'get',
            data : { 
                ct_id : bus_id,
                cr_seatnum : seat_number        
            },
            success : function(res){
                $('#popup').css('display','block')
                $('#user_seat_number').text(res.data[0].CR_SeatNum);
                $('#user_name').text(res.data[0].U_NAME);
                $('#user_phone').text(res.data[0].U_PHONE);
                //클릭한 좌석이 확인된 여부
                if(scan_checked == 'selected'){
                    $('#user_checked').text('Y');
                }else{
                    $('#user_checked').text('N');
                }
            }
        });
    }

        
    function flushSeat(locationName) {
        let $seat;
        if(locationName == "pyeongtaek"){
            $seat = $('.seat-map-py')
        }else{
            $seat = $('.seat-map-se')
        }

        var sc = $seat.seatCharts();
        selected_seats = [];
        selected_seats_cnt = 0;
        sc.find('e.selected').status('available');
        // 데이터 가져와서 예약된 좌석 상태 설정.
        var ct_id = sessionStorage.getItem('ct_id');
        $.ajax({
            dataType: "json",
            method: "GET",
            url: "/api/busSeat/" + ct_id
        }).done((res) => {
            let seat_id_list = [];
            res.data.map((seat_num) => {
                seat_id_list.push(getSeatId(seat_num));
            });
            sc.find('unavailable').status('available');
            sc.status(seat_id_list, 'unavailable');
        });
    }

    // 45인승 기준 seatId 가져오기
    function getSeatId(seat_num) {
        if (seat_num <= 45 && seat_num > 0) {

            let seat_id = "1_1";
            let row = '',
                column = '';

            if (seat_num > 40) {
                row = 11;
                column = seat_num % 10;
            } else {
                if ((seat_num % 4) === 0) {
                    row = Number.parseInt(seat_num / 4);
                    column = 4;
                } else {
                    row = (Number.parseInt(seat_num / 4)) + 1;
                    column = seat_num % 4;
                }

                if (column >= 3) column += 1;
            }

            seat_id = row + "_" + column;
            return seat_id;
        } else {
            return null;
        }

    }

    // 하단버튼 CSS변경 이벤트 ---------------------
    function busReadyPy(e) {
        $(e).toggleClass("checked"),
            $(".start_p").toggleClass("started");
    }
    function busReadySe(e) {
        $(e).toggleClass("checked"),
            $(".start_s").toggleClass("started");
    }

    // 출발확인 팝업 열기 ---------------------
    function busStartPy(e) {
        if ($('#check_p').hasClass('checked') == false) {
            return false;
        } else {
            $('.start_p_modal').css('display', 'block')
        }
    }
    function busStartSe(e) {
        if ($('#check_s').hasClass('checked') == false) {
            return false;
        } else {
            $('.start_s_modal').css('display', 'block')
        }
    }

    // 출발확인 팝업 : 취소 ---------------------
    function closePy() {
        $('.start_p_modal').css('display', 'none')
    }
    function closeSe() {
        $('.start_s_modal').css('display', 'none')
    }

    // 출발확인 팝업 : 확인 ---------------------
    function checkPy() {
        $('.start_p_modal').css('display', 'none')
        $('#check_p').css('display', 'none');
        $('#start_p').css('display', 'none');
        $('#start_cancel_p').css('display', 'block');
    }
    function checkSe() {
        $('.start_s_modal').css('display', 'none')
        $('#check_s').css('display', 'none');
        $('#start_s').css('display', 'none');
        $('#start_cancel_s').css('display', 'block');
    }

    // 출발취소확인 팝업 열기 ---------------------
    function busCancelPy(e) {
        $('.start_cancel_p_modal').css('display', 'block')
    }
    function busCancelSe(e) {
        $('.start_cancel_s_modal').css('display', 'block')
    }

    // 출발취소확인 팝업 취소 ---------------------
    function closePy2() {
        $('.start_cancel_p_modal').css('display', 'none')
    }
    function closeSe2() {
        $('.start_cancel_s_modal').css('display', 'none')
    }

    // 출발확인 팝업 : 확인 ---------------------
    function cancelPy() {
        $('.start_cancel_p_modal').css('display', 'none')
        $('#check_p').css('display', 'block');
        $('#check_p').removeClass('checked');
        $('#start_p').css('display', 'block');
        $('#start_p').removeClass('started');
        $('#start_cancel_p').css('display', 'none');
    }
    function cancelSe() {
        $('.start_cancel_s_modal').css('display', 'none')
        $('#check_s').css('display', 'block');
        $('#check_s').removeClass('checked');
        $('#start_s').css('display', 'block');
        $('#start_s').removeClass('started');
        $('#start_cancel_s').css('display', 'none');
    }

</script>

</html>