<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AZ369 기사전용어플</title>
    <link rel="stylesheet" href="/css/driver_app.css">
    <!-- 좌석 CSS -->
    <link rel="stylesheet" type="text/css" href="/css/lib/driver_seat-charts.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/driver_booking.css">
    <!-- 장차예약 PC 화면 CSS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <div class="wrap">


        <div class="tab">
            <button class="tab_button" onclick="openLocation(event, 'pyeongtaek')" id="defaultOpenPy">평택 출발</button>
            <button class="tab_button" onclick="openLocation(event, 'seoul')" id="defaultOpenSe">동대문 출발</button>
        </div>

        <!-- 스캔 성공 -->
        <div class="scan-alert scan-alert-check" id='scan_alert_check'>
            <span class="scan-text scan-alert-check-text" id='scan_alert_text_check'>스캔 성공</span>
            <button type="button" class="scan-close scan-close-check" id='scan_alert_close_check' onclick="javascript:$('#scan_alert_check').css('display','none');">
                <span>×</span>
            </button>
        </div>
        <!-- 스캔 실패 -->
        <div class="scan-alert scan-alert-error" id='scan_alert_error'>
            <span class="scan-text scan-alert-error-text" id='scan_alert_text_error'>스캔 실패</span>
            <button type="button" class="scan-close scan-close-error" id='scan_alert_close_error' onclick="javascript:$('#scan_alert_error').css('display','none');">
                <span>×</span>
            </button>
        </div>


        <!-- 평택 출발 -->
        <div id="pyeongtaek" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd class='location_info'>평택 21:00 - 서울동대문 04:00</dd>
                <dd class='bus_name'>유림고속 (1111)</dd>
            </div>

            <button class="btn qr" onclick="ScanClick(this)" data-location='pyeongtaek'>QR코드 스캔하기</button>


            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <!-- 좌석표 -->
            <div class="seat-map-py seatCharts-container">
            </div>
            <div class="btn reload" onclick="reload(this)" id='reloadPy'>새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_p" id="check_p" onclick="busReady(this)">승차완료</button>
            <button class="btn start start_p" id="start_p" onclick="busStart(this)">출발</button>
            <button class="btn start_cancel_p" id="start_cancel_p" onclick='busCancel(this)'>출발취소</button>

            <!-- 출발 모달창 -->
            <div class="start_modal start_p_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 마감됩니다. 예매마감 이후 현 장차의 예매가 불가능해집니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="startModalCancel(this)" id='startModalCancelPy' style="color: #767676;">취소</a>
                        <a onclick="startModalCheck(this)" id='startModalCheckPy' style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>

            <!-- 출발취소 모달창 -->
            <div class="start_cancel_modal start_cancel_p_modal">
                <div class="modal-inner">
                    <h3>출발취소 하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 다시 열립니다.<br>
                        <span>단, 출발시간이 지났을 경우
                            온라인예매는 자동으로 닫힙니다.</span></p>
                    <div class="modal_inner_btn">
                        <a onclick="cancelModalClose(this)" id='cancelModalClosePy' style="color: #767676;">닫기</a>
                        <a onclick="cancelModalCheck(this)" id='cancelModalCheckPy' style="color: #c3a164;">출발취소</a>
                    </div>
                </div>
            </div>

        </div>



        <!-- 서울동대문 출발 -->
        <div id="seoul" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd class='location_info'>평택 21:00 - 서울동대문 04:00</dd>
                <dd class='bus_name'>유림고속 (1111)</dd>
            </div>

            <button class="btn qr" onclick="ScanClick(this)" data-location='seoul'>QR코드 스캔하기</button>

            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <!-- 좌석표 -->
            <div class="seat-map-se seatCharts-container">
            </div>

            <div class="btn reload" onclick="reload(this)" id='reloadSe'>새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_s" id="check_s" onclick="busReady(this)">승차완료</button>
            <button class="btn start start_s" id="start_s" onclick='busStart(this)'>출발</button>
            <button class="btn start_cancel_s" id="start_cancel_s" onclick='busCancel(this)'>출발취소</button>


            <!-- 출발버튼 클릭 시 모달창 -->
            <div class="start_modal start_s_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 QR코드 스캔을 사용하실 수 없습니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="startModalCancel(this)" id='startModalCancelSe' style="color: #767676;">취소</a>
                        <a onclick="startModalCheck(this)" id='startModalCheckSe' style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 출발취소 모달창 -->
        <div class="start_cancel_modal start_cancel_s_modal">
            <div class="modal-inner">
                <h3>출발취소 하시겠습니까?</h3>
                <p>취소를 누르면 QR코드 스캔을 다시 사용하실 수 있습니다.</p>
                <div class="modal_inner_btn">
                    <a onclick="cancelModalClose(this)" id='cancelModalCloseSe' style="color: #767676;">닫기</a>
                    <a onclick="cancelModalCheck(this)" id='cancelModalCheckSe' style="color: #c3a164;">출발취소</a>
                </div>
            </div>
        </div>


        <!-- footer -->
        <footer>
            <dd>문의전화 <span>0000 - 0000</span></dd>
            <dd>(평일 09:00 ~ 18:00, 유료)</dd>
        </footer>
    </div>
    <div id="popup" class="layer">
        <div class="popup_box">
            <div class="popup_tit">예약자 정보</div>
            <table>
                <tbody>
                    <tr><th>좌석번호</th><td id='user_seat_number'>1번</td></tr>
                    <tr><th>이름</th><td id='user_name'>김정우</td></tr>
                    <tr><th>휴대번호</th><td><a id='user_phone' onclick="CallUser(this)" style="text-decoration: underline;">01012341234</a></td></tr>
                    <tr><th>승차여부</th><td id='user_checked'>N</td></tr>
                </tbody>
            </table>
            <div class="popup_btn">
                <a onclick="javascript:$('#popup').css('display','none')" class="popup_close">닫기</a>
            </div>
        </div>
    </div>


</body>
<script src="/js/lib/jquery.seat-charts.js"></script>
<script src="/js/driver_app.js"></script>


</html>