<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/driver_app.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="wrap">


        <div class="tab">
            <button class="tab_button" onclick="openLocation(event, 'pyeongtaek')" id="defaultOpen">평택 출발</button>
            <button class="tab_button" onclick="openLocation(event, 'seoul')">동대문 출발</button>
        </div>

        <!-- 평택 출발 -->
        <div id="pyeongtaek" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd>평택 21:00 - 서울동대문 04:00</dd>
                <dd>유림고속 (1111)</dd>
            </div>

            <button class="btn qr">QR코드 스캔하기</button>


            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <!-- 좌석표 -->
            <div class="seat-map seatCharts-container">
            </div>
            <div class="btn reload">새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_p" id="check_p" onclick="busReadyPy(this)">승차완료</button>
            <button class="btn start start_p" id="start_p" onclick="busStartPy(this)">출발</button>
            <button class="btn start_cancel_p" id="start_cancel_p" onclick='busCancelPy(this)'>출발취소</button>

            <!-- 출발 모달창 -->
            <div class="start_modal start_p_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 마감됩니다. 예매마감 이후 현 장차의 예매가 불가능해집니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="closePy()" style="color: #767676;">취소</a>
                        <a onclick="checkPy()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>

            <!-- 출발취소 모달창 -->
            <div class="start_cancel_modal start_cancel_p_modal">
                <div class="modal-inner">
                    <h3>출발취소 하시겠습니까?</h3>
                    <p>확인을 누르면 현재 운행하는 장차의
                        온라인 예매가 다시 열립니다.<br>
                        <span>단, 출발시간이 지났을 경우
                            온라인예매는 자동으로 닫힙니다.</span></p>
                    <div class="modal_inner_btn">
                        <a onclick="closePy2()" style="color: #767676;">취소</a>
                        <a onclick="cancelPy()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>

        </div>



        <!-- 서울동대문 출발 -->
        <div id="seoul" class="tabcontent">

            <div class="bus_info">
                <h3>운행정보</h3>
                <dd>평택 21:00 - 서울동대문 04:00</dd>
                <dd>유림고속 (1111)</dd>
            </div>

            <button class="btn qr">QR코드 스캔하기</button>


            <!-- 좌석 -->
            <!-- 좌석범례 -->
            <div class="seat_legend">
                <ul>
                    <li><div class="legend legend01"></div><p>승차확인좌석</p></li>
                    <li><div class="legend legend02"></div><p>예매좌석</p></li>
                    <li><div class="legend legend03"></div><p>미예매좌석</p></li>
                </ul>
            </div>
            <div class="seat-map seatCharts-container">
            </div>
            <div class="btn reload">새로고침</div>

            <!-- 하단버튼 -->
            <button class="btn check check_s" id="check_s" onclick="busReadySe(this)">승차완료</button>
            <button class="btn start start_s" id="start_s" onclick='busStartSe(this)'>출발</button>
            <button class="btn start_cancel_s" id="start_cancel_s" onclick='busCancelSe(this)'>출발취소</button>


            <!-- 출발버튼 클릭 시 모달창 -->
            <div class="start_modal start_s_modal">
                <div class="modal-inner">
                    <h3>출발하시겠습니까?</h3>
                    <p>확인을 누르면 QR코드 스캔을 사용하실 수 없습니다.</p>
                    <div class="modal_inner_btn">
                        <a onclick="closeSe()" style="color: #767676;">취소</a>
                        <a onclick="checkSe()" style="color: #c3a164;">확인</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 출발취소 모달창 -->
        <div class="start_cancel_modal start_cancel_s_modal">
            <div class="modal-inner">
                <h3>출발취소 하시겠습니까?</h3>
                <p>취소를 누르면 QR코드 스캔을 다시 사용하실 수 있습니다.</p>
                <div class="modal_inner_btn">
                    <a onclick="closeSe2()" style="color: #767676;">취소</a>
                    <a onclick="cancelSe()" style="color: #c3a164;">확인</a>
                </div>
            </div>
        </div>


        <!-- footer -->
        <footer>
            <dd>문의전화 <span>0000 - 0000</span></dd>
            <dd>(평일 09:00 ~ 18:00, 유료)</dd>
        </footer>
    </div>



</body>


<script>
    // 상단 평택, 동대문 탭 -------------------------
    function openLocation(evt, locationName) {
        var i, tabcontent, tab_button;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tab_button = document.getElementsByClassName("tab_button");
        for (i = 0; i < tab_button.length; i++) {
            tab_button[i].className = tab_button[i].className.replace(" active", "");
        }
        document.getElementById(locationName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();



    // 하단버튼 CSS변경 이벤트 ---------------------
    function busReadyPy(e) {
        $(e).toggleClass("checked"),
            $(".start_p").toggleClass("started");
    }
    function busReadySe(e) {
        $(e).toggleClass("checked"),
            $(".start_s").toggleClass("started");
    }

    // 출발확인 팝업 열기 ---------------------
    function busStartPy(e) {
        if ($('#check_p').hasClass('checked') == false) {
            return false;
        } else {
            $('.start_p_modal').css('display', 'block')
        }
    }
    function busStartSe(e) {
        if ($('#check_s').hasClass('checked') == false) {
            return false;
        } else {
            $('.start_s_modal').css('display', 'block')
        }
    }

    // 출발확인 팝업 : 취소 ---------------------
    function closePy() {
        $('.start_p_modal').css('display', 'none')
    }
    function closeSe() {
        $('.start_s_modal').css('display', 'none')
    }

    // 출발확인 팝업 : 확인 ---------------------
    function checkPy() {
        $('.start_p_modal').css('display', 'none')
        $('#check_p').css('display', 'none');
        $('#start_p').css('display', 'none');
        $('#start_cancel_p').css('display', 'block');
    }
    function checkSe() {
        $('.start_s_modal').css('display', 'none')
        $('#check_s').css('display', 'none');
        $('#start_s').css('display', 'none');
        $('#start_cancel_s').css('display', 'block');
    }

    // 출발취소확인 팝업 열기 ---------------------
    function busCancelPy(e) {
        $('.start_cancel_p_modal').css('display', 'block')
    }
    function busCancelSe(e) {
        $('.start_cancel_s_modal').css('display', 'block')
    }

    // 출발취소확인 팝업 취소 ---------------------
    function closePy2() {
        $('.start_cancel_p_modal').css('display', 'none')
    }
    function closeSe2() {
        $('.start_cancel_s_modal').css('display', 'none')
    }

    // 출발확인 팝업 : 확인 ---------------------
    function cancelPy() {
        $('.start_cancel_p_modal').css('display', 'none')
        $('#check_p').css('display', 'block');
        $('#check_p').removeClass('checked');
        $('#start_p').css('display', 'block');
        $('#start_p').removeClass('started');
        $('#start_cancel_p').css('display', 'none');
    }
    function cancelSe() {
        $('.start_cancel_s_modal').css('display', 'none')
        $('#check_s').css('display', 'block');
        $('#check_s').removeClass('checked');
        $('#start_s').css('display', 'block');
        $('#start_s').removeClass('started');
        $('#start_cancel_s').css('display', 'none');
    }

</script>

</html>