<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>    
    <link rel="stylesheet" href="/css/find_pw_02.css">

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->

        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login">
                            <li style="background: #ad8743; color: #fff">로그인</li>
                        </a>
                        <a href="join">
                            <li>회원가입</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>비밀번호찾기</h6>
                <h1 style="font-family: 'PT Serif', serif;">FIND PW</h1>
                <div class="bar"></div>


                <div class="find_box">
                    <div class="tab">
                        <ul>
                            <a href="findId">
                                <li style="border-bottom: 1px solid #ad863c; background: #f1f1f1; color: #777; ">아이디 찾기</li>
                            </a>
                            <a href="findPw">
                                <li style="border-top: 1px solid #ad863c; border-left: 1px solid #ad863c; border-right: 1px solid #ad863c; ">비밀번호 찾기</li>
                            </a>
                        </ul>
                    </div>

                    <div class="find_box_inner">
                        <h2>비밀번호 찾기</h2>
                        <p>비밀번호를 <strong>재설정</strong>해주세요.</p>
                        <h3><span id="yourName"></span>의 아이디: <strong id="yourId"></strong></h3>
                        <form action="/action_page.php">


                            <div class="find_pw_form">
                                <!-- <label for="new_pw"></label>
                                <input type="text" id="new_pw" name="새 비밀번호" placeholder="새 비밀번호">

                                <label for="new_pw_check"></label>
                                <input type="text" id="new_pw_check" name="새 비밀번호 확인" placeholder="새 비밀번호 확인"> -->

                                    
                                    <label for="password"></label>
                                    <input type="password" id="password" name="패스워드" placeholder="새 비밀번호">                               
                                    <label for="password2"></label>
                                    <input type="password" id="password2" name="패스워드" placeholder="새 비밀번호 확인">
                                    <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                                    <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지않습니다.</div>
                               
                                
                                <p>(영문 + 숫자 + 특문 포함 10글자 이상)</p>
                            </div>

                            <div class="find_pw_btn">
                                <ul>
                                    <li>
                                        <a href="login">
                                            <div class="login_btn">취소</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="modifyPw()">
                                            <div class="next_btn ">변경</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </form>
                    </div>
                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>
    <script>
        //비밀번호 정규식
        $("#password").change(function(){
            checkPassword($('#password').val());
        });
        function checkPassword(password){
            
            if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(password)){            
                alert('숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
                $('#password').val('').focus();
                return false;
            }    
            var checkNumber = password.search(/[0-9]/g);
            var checkEnglish = password.search(/[a-z]/ig);
            if(checkNumber <0 || checkEnglish <0){
                alert("숫자와 영문자를 혼용하여야 합니다.");
                $('#password').val('').focus();
                return false;
            }                                
        }
        //비밀번호 확인
         $(function(){ 
                $("#alert-success").hide();
                $("#alert-danger").hide();
                $("input").keyup(function(){ 
                    var pwd1=$("#password").val(); 
                    var pwd2=$("#password2").val();
                    if(pwd1 != "" || pwd2 != ""){ 
                        if(pwd1 == pwd2){ 
                            $("#alert-success").show();
                            $("#alert-danger").hide(); 
                            $("#submit").removeAttr("disabled"); 
                            }else{
                            $("#alert-success").hide();
                            $("#alert-danger").show(); 
                            $("#submit").attr("disabled", "disabled");
                            } 
                        } 
                    }); 
                });
        
        //넘겨받은 데이터 뿌려주기
        var orderDetail = JSON.parse(sessionStorage.getItem("orderDetail"));
        console.log(orderDetail);
        //console.log(orderDetail[0].value);
        var findName = orderDetail[0].value;
        var findId = orderDetail[1].value;
        $("#yourId").append(findId);
        $("#yourName").append(findName+"님");
    


        //비밀번호 수정버튼 클릭
        function modifyPw(){                       
            if($('#password').val() == "" || $('#password2').val()==''){
                alert("빈칸을 입력해 주세요");
                return;
            }
            $.ajax({
                method : 'POST',
                dataType : 'json',
                url: "api/user/modifyPw",
                data: {
                    password : $("#password").val(),
                    id : findId                
                },
                success : function(){                   
                    var orderDetail = [{name:"findName", value:findName}];
                    sessionStorage.setItem("orderDetail",JSON.stringify(orderDetail));
                    location.href = "findPw3";
                }

            });

        }

















        //////////////////////////////////
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>
</body></html>
