<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="css/find_pw_01.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->

        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login.asp">
                            <li style="background: #ad8743; color: #fff">로그인</li>
                        </a>
                        <a href="join_01.asp">
                            <li>회원가입</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>비밀번호찾기</h6>
                <h1 style="font-family: 'PT Serif', serif;">FIND PW</h1>
                <div class="bar"></div>


                <div class="find_box">
                    <div class="tab">
                        <ul>
                            <a href="findId">
                                <li style="border-bottom: 1px solid #ad863c; background: #f1f1f1; color: #777; ">아이디 찾기</li>
                            </a>
                            <a href="findPw">
                                <li style="border-top: 1px solid #ad863c; border-left: 1px solid #ad863c; border-right: 1px solid #ad863c; ">비밀번호 찾기</li>
                            </a>
                        </ul>
                    </div>

                    <div class="find_box_inner">
                        <h2>비밀번호 찾기</h2>
                        <p>회원가입 시 등록한 <strong>아이디</strong>와 <strong>이름</strong>을 입력해주세요.</p>
                        <form action="/action_page.php">

                            <div class="find_form">
                                <label for="id"></label>
                                <input type="text" id="id" name="아이디" placeholder="아이디">

                                <label for="name"></label>
                                <input type="text" id="name" name="이름" placeholder="이름">

                                <!--<ul>
                                    <li>
                                        <label for="phone"></label>
                                        <input type="text" id="phone" name="휴대전화번호" placeholder="휴대전화번호">
                                    </li>

                                    <li>
                                        <button onclick="phone_check">본인인증</button>
                                    </li>

                                    <li>
                                        <label for="phone2"></label>
                                        <input type="text" id="phone2" name="휴대전화" placeholder="인증번호 6자리를 입력하세요." style="background: #eee;">
                                    </li>
                                </ul>-->
                            </div>

                            <div class="find_pw_btn">
                                <ul>
                                    <li>
                                        <a href="login">
                                            <div class="login_btn">로그인</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="findPw()">
                                            <div class="next_btn">다음</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </form>
                    </div>
                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <script>
        function findPw(){
            if($("#id").val == "" || $("#name").val() == ""){
                alert("빈칸을 입력해주세요.");
            }
            $.ajax({
               url : "api/user/findPw",
               method : "post",
               dataType : "json",
               data : {id : $("#id").val(), name : $("#name").val()},
               success : function(res){
                    console.log(res);
                    if(res.data === undefined){
                        alert("등록된 회원이 아닙니다.");
                        location.reload();
                    } else if(res.data.U_UserName != ""){
                        var orderDetail = [{name:"findId", value:res.name }, {name:"findName", value:res.id}];
                        sessionStorage.setItem("orderDetail",JSON.stringify(orderDetail));
                        location.href = "findPw2";
                        
                    }
               }
            });
        }
    </script>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });

    </script>
</body>

</html>
