<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/find_pw_03.css">

    <title>AZ369 - 비밀번호 찾기</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 비밀번호 찾기">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->

        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login">
                            <li style="background: #ad8743; color: #fff">로그인</li>
                        </a>
                        <a href="join">
                            <li>회원가입</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>비밀번호 찾기</h6>
                <h1 style="font-family: 'PT Serif', serif;">FIND PW</h1>
                <div class="bar"></div>


                <div class="find_box">
                    <div class="tab">
                        <ul>
                            <a href="findId">
                                <li
                                    style="border-bottom: 1px solid #ad863c; background: #f8f8f8; color: #767676; font-weight: 400;">
                                    아이디 찾기</li>
                            </a>


                            <a href="findPw">
                                <li
                                    style="border: 1px solid #C3A164; border-bottom: none; background: #fff; color: #222; font-weight: 500;">
                                    비밀번호 찾기</li>
                            </a>

                        </ul>
                    </div>

                    <div class="find_box_inner">
                        <!--<h2>비밀번호 찾기</h2>-->

                        <div class="find_img"><img src="/img/login/find_pw_img.png" alt=""></div>

                        <h3><span id="yourName"></span>의 <br> 비밀번호 변경이 완료되었습니다!</h3>
                        <p>변경된 비밀번호로 로그인 후 장차예매 서비스를 진행하실 수 있습니다.</p>
                        <form action="/action_page.php">

                            <a href="login">
                                <div class="login_btn">로그인</div>
                            </a>
                        </form>
                    </div>
                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>
    <script>
        //넘겨받은 데이터 뿌려주기
        var orderDetail = JSON.parse(sessionStorage.getItem("orderDetail"));
        //console.log(orderDetail);
        //console.log(orderDetail[0].value);
        var findName = orderDetail[0].value;
        $("#yourName").append(findName + "님");
    </script>

</body>

</html>