<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_main.css">
    <link rel="stylesheet" href="/css/common_footer_page.css">

    <title>AZ369 - 환불규정</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 환불규정">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>

    <div class="wrap">
        <% include templates/header.ejs %>


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>

                <div class="tnb">
                    <ul>
                        <a href="service">
                            <li>이용약관</li>
                        </a>
                        <a href="privacy">
                            <li>개인정보처리방침</li>
                        </a>
                        <a href="refund">
                            <li style="background: #444; color: #fff; font-weight: 400;">환불규정</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <section class="wrap_terms">
            <h6>refund</h6>
            <h2>환불규정</h2>

            <div class="bar"></div>

            <h3>1. 예매기간</h3>
            <p>장차는 일주일에 한번, 월요일날 평택에서 출발시간이 지났을 시 예약마감과 함께 다음 주 운행하는 장차 예매페이지로 갱신됩니다. <br>장차예매는 출발 일주일 전인 월요일부터 평택 출발시간
                20분 전까지, 일주일간 예매가 가능합니다. <br>
                예) 01월 15일 승차권은 01월 08일 날 운행하는 장차의 평택 출발시간이 지난 후부터 01월 15일에 출발하는 장차를 예매하실 수 있습니다.</p>

            <h3>2. 결제, 발권</h3>
            <p>
                신용카드 및 계좌이체를 이용하여 결제 후 승차권을 발급받으실 수 있습니다. <br>
                예매한 승차권은 마이페이지 내 ‘승차권 확인’ 에서 확인하실 수 있습니다. <br>
                승차권은 QR코드 형식이며 장차 탑승 시 장차기사에게 QR코드 스캔을 받은 후 착석이 가능합니다.</p>

            <h3>3. 예매취소</h3>
            <p>승차권에 표기된 평택 출발시간 일자를 기준으로 <strong style="color: #e31100;"><u>3일전</u></strong>까지 본 홈페이지에서 승차권 예매를 취소할 수
                있습니다. <br>
                예) 1월 15일(월요일)에 평택출발하는 승차권 - 1월 12일(금요일)까지 취소가능. <br>
                환불금액은 별도의 취소 수수료 없이 결제금액의 100%이며, 원활한 장차운행 서비스를 제공하기 위하여 3일 이내에는 취소가 불가능합니다.</p>
    </div>
    </section>

     <!--<footer></footer>-->
     <% include templates/footer.ejs %>

    </div>
</body>

</html>