<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/join_02.css">

</head>

<body>
    <div class="wrap">       
            <% include templates/header.ejs %>
        
        
        <!--section.main 시작-->

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">
                              
                <div class="box">
                    <h6>회원가입</h6>
                    <h1 style="font-family: 'PT Serif', serif;">JOIN</h1>
                    <div class="bar"></div>


                <div class="join_box">
                    <div class="join_process">약관동의 > <span>정보입력 ></span> 가입완료</div>

                    <h2>02. 정보입력</h2>

                    <!-- <h3>회원정보를 입력해주세요.</h3> -->
                    <form>
                        <ul>
                            <li>
                                <label for="name"></label>
                                <input type="text" id="id" name="아이디" placeholder="아이디">
                                <div id="overId" style="font-size: 12px; color: green; display: none;">아이디 사용이 가능합니다.</div>
								<div id="overId2" style="font-size: 12px; color: red; display: none;">아이디 사용이 불가능합니다.</div>

                            </li>

                            <li>
                                <label for="password"></label>
                                <input type="password" id="password" name="패스워드" placeholder="비밀번호 (영문 + 숫자 + 특문 포함 10글자 이상)">
                            </li>

                            <li>
                                <label for="password2"></label>
                                <input type="password" id="password2" name="패스워드" placeholder="비밀번호 확인">
                                <div class="alert alert-success" id="alert-success" style="font-size: 12px; color: green; display: none;">비밀번호가 일치합니다.</div>
								<div class="alert alert-danger" id="alert-danger" style="font-size: 12px; color: red; display: none;">비밀번호가 일치하지 않습니다.</div>
                            </li>
                          

                            <li>
                                <label for="name"></label>
                                <input type="text" id="name" name="이름" placeholder="이름">
                            </li>

                            <li>
                                    <input type="text" id="phone" name="phone" placeholder="휴대전화">
                                </li>

                                <li>
                                    <button class="check_btn">본인인증</button>
                                </li>

                                <li>
                                    <input type="text" id="phone_check" name="phone_check" placeholder="인증번호 6자리를 입력하세요." style="background: #eee;">
                                </li>

                            <li>
                                <label for="email"></label>
                                <input type="text" id="email" name="이메일" placeholder="이메일주소">
                            </li>

                            <li>
                                <label for="brand"></label>
                                <input type="text" id="brand" name="브랜드" placeholder="브랜드명">
                            </li>

                            <div class="address_form">
                                <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
                                <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
                                <input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
                                <input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
                                <input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
                                <input type="text" id="roadAddress" name="roadAddress" hidden="">
                                <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                            </div>
                        </ul>
                    </form>

                    <div class="survey_box">

                        <h3>선호하는 장차이용시간을 선택해주세요.</h3>
                        
                        <div class="day">
                           <h4>장차운행요일 <span style="font-size: 14px; color: #555;">(매주 밤 운행)</span></h4>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class='chk' name="day[]" value="월">
                                        <span>월</span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" class='chk' name="day[]" value="화">
                                        <span>화</span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" class='chk' name="day[]" value="수">
                                        <span>수</span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" class='chk' name="day[]" value="목">
                                        <span>목</span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" class='chk' name="day[]" value="금">
                                        <span>금</span>
                                    </label>
                                </li>
                                
                            </ul>
                        </div>
                        <div id="hideId" style="display: none;"></div>
                       
                        <div class="time">
                           <h4>장차운행시간</h4>
                            <ul>
                                <li>
                                    <div class="time_select01 time_select" >
                                        <select id="select01">
                                            <option value="0">평택 출발시간</option>
                                            <option value="20:00:00">평택 20:00</option>
                                            <option value="21:00:00">평택 21:00</option>
                                            <option value="22:00:00">평택 22:00</option>
                                            <option value="23:00:00">평택 23:00</option>

                                        </select>
                                    </div>
                                </li>
                                <li><img src="/img/reservation/location_icon.png" alt="왕복 아이콘">

                                </li>

                                <li>
                                    <div class="time_select02 time_select" >
                                        <select id="select02">
                                            <option value="0">서울동대문 출발시간</option>
                                            <option value="02:00:00">서울동대문 02:00</option>
                                            <option value="03:00:00">서울동대문 03:00</option>
                                            <option value="04:00:00">서울동대문 04:00</option>
                                            <option value="05:00:00">서울동대문 05:00</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="join_btn">
                        <ul>
                            <a href="join">
                                <li class="back">이전</li>
                            </a>
                            <a onclick="joinUser()">
                                <li class="next">다음</li>
                            </a>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <!-- 다음 주소 API -->

    <script src="/js/join_address.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


    <script>

        //비밀번호 정규식
        $("#password").change(function(){
            checkPassword($('#password').val());
        });
        function checkPassword(password){
            
            if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(password)){            
                alert('숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
                $('#password').val('').focus();
                return false;
            }    
            var checkNumber = password.search(/[0-9]/g);
            var checkEnglish = password.search(/[a-z]/ig);
            if(checkNumber <0 || checkEnglish <0){
                alert("숫자와 영문자를 혼용하여야 합니다.");
                $('#password').val('').focus();
                return false;
            }                                
        }
        //비밀번호 확인
         $(function(){ 
            $("#alert-success").hide();
            $("#alert-danger").hide();
            $("input").keyup(function(){ 
                var pwd1=$("#password").val(); 
                var pwd2=$("#password2").val();
                if(pwd1 != "" || pwd2 != ""){ 
                    if(pwd1 == pwd2){ 
                        $("#alert-success").show();
                        $("#alert-danger").hide(); 
                        $("#submit").removeAttr("disabled"); 
                    }else{
                            $("#alert-success").hide();
                            $("#alert-danger").show(); 
                            $("#submit").attr("disabled", "disabled");
                        } 
                    } 
                }); 
            });

        // //아이디 중복확인
        var timeout = null;
        var chkId = 0;
            $('#id').keyup(function () {        
                clearTimeout(timeout);                
                timeout = setTimeout(function () {
                    var id = $("#id").val();               
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        data: {'id' : id},
                        url: 'api/user/checkId',
                        success: function (res) {
                            console.log("res :::",res.data.length)
                            if(res.data.length == 0){
                                chkId = 1;
                                $("#overId").css("display", "block");
                                $("#overId2").css("display", "none");
                            } else {
                                chkId = 0;
                                $("#overId").css("display", "none");
                                $("#overId2").css("display", "block");
                            }
                            if($('#id').val() == ""){
                                $("#overId").css("display", "none");
                                $("#overId2").css("display", "none");
                            }
                        }, 
                    });
                }, 800);
            });


                                                                                   
               ///회원가입 버튼 클릭
                function joinUser(){
                    if(chkId == 0){
                        alert("아이디 중복입니다.")
                    }    
                    if($('#id').val() == "" || $('#password').val()==''|| $('#password2').val()==''|| $('#name').val()=='' || $('#phone').val()==''|| $('#brand').val()=='' || 
                	$('#postcode').val()==''|| $('#address').val()==''||$('#detailAddress').val()=='' ||$('#email').val()==''){
         			alert("빈칸을 입력해 주세요");
         			return;
                     }
                     if($(".chk").is(':checked') == false || $("#select01 option:selected").val()=='0' || $("#select02 option:selected").val()=='0'){
                         alert("장차 선호날짜와 시간을 선택해주세요.");
                         return;
                     }
                    $.ajax({
                        method : 'POST',
                        dataType : 'json',
                        url: "api/user/join",
                        data: {
                            id : $("#id").val(),
                            password : $("#password").val(),
                            name : $("#name").val(),
                            phone : $("#phone").val(),
                            email : $("#email").val(),
                            brand : $("#brand").val(),
                            postcode : $("#postcode").val(),
                            address : $("#address").val(),
                            detailAddress : $("#detailAddress").val()
                        },
                        success: function(res){
                            console.log("회원가입 시 :::", res.data.insertId);
                            joinId = res.data.insertId;
                            var orderDetail = [{name:"findId", value:res.name }, {name:"findName", value:res.id}];
                            sessionStorage.setItem("orderDetail",JSON.stringify(orderDetail));

                            //장차선호 날짜
                            var send_array = Array();
                            var send_cnt = 0;
                            var chkbox = $(".chk");
                            for(i=0; i<chkbox.length; i++){
                                if(chkbox[i].checked == true){
                                    send_array[send_cnt] = chkbox[i].value;
                                    send_cnt++
                                }
                            }
                            var sendJson = JSON.stringify(send_array);
                            console.log('sendjson :',sendJson); 

                            var seatArr = JSON.parse(sendJson);
                            console.log('seatArr :', seatArr);  
                            //선호 시간                                            
                            var sel = $("#select01 option:selected").val();
                            var sel2 = $('#select02 option:selected').val();     
                            console.log("시간 :", sel, sel2);                        
                         
                            $.ajax({
                                url: "api/user/carPool",
                                dataType: "json",
                                method: "post",
                                data: {
                                    'joinId' : joinId, 
                                    'sel' : $("#select01 option:selected").val(), 
                                    'sel2' : $("#select02 option:selected").val(), 
                                    'days' : seatArr
                                     },
                                success: function(res){
                                    if(res.data === '성공'){
                                        location.href = "join3"
                                    }
                                
                                }
                            });

                        }                    
                    });

                }

      
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }
        
    
            var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName("time_select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function(e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function(e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    </script>
</body></html>
