<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="css/join_02.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <header>

            <!--모바일 아이콘 열기-->
            <a href="#" class="open"><img src="img/btn_berger_m.png" alt="메뉴열기"></a>

            <div class="innerHeader">
                <h1 class="logo">
                    <a href="index.asp"><img src="./img/main/logo2.png" alt="센트럴돔 로고"></a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li><a href="summary.asp" class="gnb_link">사업안내</a>
                            <ul>
                                <li><a href="summary.asp">사업개요</a></li>
                                <li><a href="ctd_info.asp">센트럴돔 소개</a></li>
                                <li><a href="location.asp">오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="benefit.asp" class="gnb_link">입점신청 및 혜택</a>
                            <ul>
                                <li><a href="benefit.asp">입점 상가 혜택</a></li>
                                <li><a href="#">입점 상담 신청</a></li>
                            </ul>
                        </li>
                        <li><a href="vehicle.asp" class="gnb_link">장차신청</a>
                            <ul>
                                <li><a href="vehicle.asp">장차운행안내</a></li>
                                <li><a href="#">장차예약신청</a></li>
                            </ul>
                        </li>
                        <li><a href="login.asp" class="gnb_link">로그인</a>
                            <ul>
                                <li><a href="login.asp">로그인</a></li>
                                <li><a href="join_01.asp">회원가입</a></li>
                                <li><a href="mypage.asp">장차예약현황</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="call">
                    문의 <span>031 - 668 - 0116</span>
                </div>
            </div>

            <!--모바일 메뉴-->
            <nav class="gnb_mo">
                <a href="#" class="close"><img src="img/btn_gnb_close.png" alt="메뉴닫기"></a>
                <ul>
                    <li>
                        <a href="#">사업안내</a>
                        <ul class="inner">
                            <li><a href="summary.asp">사업개요</a></li>
                            <li><a href="ctd_info.asp">센트럴돔 소개</a></li>
                            <li><a href="location.asp">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">입점신청 및 혜택</a>
                        <ul class="inner">
                            <li><a href="benefit.asp">입점상가혜택</a></li>
                            <li><a href="#">입점상담신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">장차신청</a>
                        <ul class="inner">
                            <li><a href="vehicle.asp">장차운행안내</a></li>
                            <li><a href="#">장차예약신청</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="gnb_link">로그인</a>
                        <ul class="inner">
                            <li><a href="login.asp">로그인</a></li>
                            <li><a href="join_01.asp">회원가입</a></li>
                            <li><a href="mypage.asp">장차예약현황</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        
        <!--// header완료-->
        <!--section.main 시작-->
        
        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login.html">
                            <li>로그인</li>
                        </a>
                        <a href="join_01.html">
                            <li style="background: #ad8743; color: #fff">회원가입</li>
                        </a>
                        <a href="mypage.html">
                            <li>장차예매현황</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>
        

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                 <h6>회원가입</h6>
                <h1 style="font-family: 'PT Serif', serif;">JOIN</h1>
                <div class="bar"></div>


                <div class="join_box">
                    <div class="join_process">약관동의 > <span>정보입력 ></span> 가입완료</div>

                    <h2>02. 정보입력</h2>

                    <h3>회원정보를 입력해주세요.</h3>
                    <form action="join_02">
                        <ul>
                            <li>
                                <label for="name"></label>
                                <input type="text" id="id" name="아이디" placeholder="아이디 (이메일 주소)">

                            </li>
                            <li>
                                <button type="button" onclick="idOver()">중복확인</button>
                            </li>

                            <li>
                                <label for="password"></label>
                                <input type="password" id="password" name="패스워드" placeholder="비밀번호 (영어 + 숫자 10자리 이상)">
                            </li>

                            <li>
                                <label for="password2"></label>
                                <input type="password" id="password2" name="패스워드" placeholder="비밀번호 확인">
                                <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
								<div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지않습니다.</div>
                            </li>

                            <li>
                                <label for="name"></label>
                                <input type="text" id="name" name="이름" placeholder="이름">
                            </li>



                            <li>
                                <label for="phone"></label>
                                <input type="text" id="phone" name="휴대전화" placeholder="휴대전화">
                            </li>

                            <li>
                                <button onclick="phone_check">본인인증</button>
                            </li>

                            <li>
                                <label for="phone2"></label>
                                <input type="text" id="phone2" name="휴대전화" placeholder="인증번호 6자리를 입력하세요." style="background: #eee;">
                            </li>

                            <li>
                                <label for="brand"></label>
                                <input type="text" id="brand" name="브랜드" placeholder="브랜드명">
                            </li>
                            
                            <div class="address_form">
                                <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
                                <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
                                <input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
                                <input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
                                <input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
                                <input type="text" id="roadAddress" name="roadAddress" hidden="">
                                <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                            </div>
                        </ul>
                        
                    </form>
                    
                    <div class="join_btn">
                            <ul>
                                <a href="join_01"><li class="back">이전</li></a>
                                <a onclick="joinUser()">다음</a>
                            </ul>
                        </div>


                    

                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>
    <!-- 다음 주소 API -->
    <script src="js/join_address.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
	
        //비밀번호 확인
         $(function(){ 
                $("#alert-success").hide();
                $("#alert-danger").hide();
                $("input").keyup(function(){ 
                    var pwd1=$("#password").val(); 
                    var pwd2=$("#password2").val();
                    if(pwd1 != "" || pwd2 != ""){ 
                        if(pwd1 == pwd2){ 
                            $("#alert-success").show();
                            $("#alert-danger").hide(); 
                            $("#submit").removeAttr("disabled"); 
                            }else{
                            $("#alert-success").hide();
                            $("#alert-danger").show(); 
                            $("#submit").attr("disabled", "disabled");
                            } 
                        } 
                    }); 
                });

                let checkCount = 0;
                // $("#checkId").click(function(){
                //     if($('#id').val() == ""){
         		// 	    alert("빈칸을 입력해 주세요");
         		// 	    return;
                //     }
                
                //     $.ajax({
                //         method : "post",
                //         dataType : 'json',
                //         url : "join/overlap",
                //         data :{
                //             id: $("#id").val()
                //         }.done(function(){
                //            alert("dddd");     
                //         })                       
                //     })  
                // });

                //회원가입 중복확인
             
                function idOver(){              
                    if($('#id').val() == ""){
                        alert("빈칸을 입력해 주세요");
                        return;
                    }
                    $.ajax({
                        method : "post", 
                        dataType: 'json',                     
                        url : "join/overlap",
                        data :{
                            id : $("#id").val()

                        },
                        success: function(res){
                           console.log(res);
                           console.log(res.data);
                            // if(res.data == 0){                                
                            //     alert("아이디 사용가능 하십니다.");
                            // } else {
                            //     alert("아이디 중복입니다.");
                            // }      

                            console.log(res.data);
                            if(res.data === undefined){
                                alert (
                                    "아이디 사용가능 합니다."
                                );
                            } else if(res.data.U_UserName === $("#id").val()){
                                alert ( "아이디 중복입니다.");
                            }
                           
                                           
                        }                      
                    })                                                                                                                           
                };
                                                                     
               ///회원가입 버튼 클릭
                function joinUser(){  
                    // if(checkCount == 0){
                    //     alert("아이디 중복확인을 해주세요.", checkCount);
                    //     return;     
                    // }     
                    if($('#id').val() == "" || $('#password').val()==''|| $('#password2').val()==''|| $('#name').val()=='' || $('#phone').val()==''|| $('#brand').val()=='' || 
                	$('#postcode').val()==''|| $('#address').val()==''||$('#detailAddress').val()==''){
         			alert("빈칸을 입력해 주세요");
         			return;
                     }
                    $.ajax({
                        method : 'POST',
                        dataType : 'json',
                        url: "join/user",
                        data: {
                            id : $("#id").val(),
                            password : $("#password").val(),
                            name : $("#name").val(),
                            phone : $("#phone").val(),
                            brand : $("#brand").val(),
                            postcode : $("#postcode").val(),
                            address : $("#address").val(),
                            detailAddress : $("#detailAddress").val()
                        }
                    }).done(function(){
                        alert("success");
                        location.href = "/join3";
                    });

                }

        
        </script>





    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });


        /*agreement 전체동의 체크*/
        $(document).ready(function() {
            $('.check-all').click(function() {
                $('.ab').prop('checked', this.checked);
            });
        });
    </script>
</body></html>
