<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="css/join_03.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->
        
        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login.html">
                            <li>로그인</li>
                        </a>
                        <a href="join_01.html">
                            <li style="background: #ad8743; color: #fff">회원가입</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>회원가입</h6>
                <h1 style="font-family: 'PT Serif', serif;">JOIN</h1>
                <div class="bar"></div>


                <div class="join_box">
                    <div class="join_process">약관동의 > 정보입력 > <span>가입완료</span></div>

                    <h2>03. 가입완료</h2>
                    
                    <div class="check_img">
                        <img src="img/login/join_03_check.png" alt="가입완료">
                    </div>
                    
                    <div class="join_txt">
                        <h3><span id="yourName"></span>님의 회원가입이 <br> 완료되었습니다.</h3>
                        <h4>AZ369에 가입하신 아이디는 <br><span id="yourId"></span> 입니다.</h4>
                        
                        <p>로그인하시면 장차예매 서비스를 이용하실 수 있습니다.</p>
                    </div>

                            <a href="login.html"><div class="login_btn">로그인</div> </a>


                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>
    
    <script>
        //넘겨받은 데이터 뿌려주기
        var orderDetail = JSON.parse(sessionStorage.getItem("orderDetail"));
        console.log(orderDetail);
        //console.log(orderDetail[0].value);
        var findName = orderDetail[0].value;
        var findId = orderDetail[1].value;
        $("#yourId").append(findId);
        $("#yourName").append(findName);
    </script>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });


        /*agreement 전체동의 체크*/
        $(document).ready(function() {
            $('.check-all').click(function() {
                $('.ab').prop('checked', this.checked);
            });
        });
    </script>
</body></html>
