<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="./css/location.css">

    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">
    
    <!--폰트어썸-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                        <div class="main_bg"></div>
                    </div>
        </section>


        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">
               
               <div class="tnb">
                            <ul>
                               <a href="summary"> <li>사업개요</li></a>
                                <a href="ctd_info"><li>센트럴돔 소개</li></a>
                                <a href="location"><li style="background: #ad8743; color: #fff">오시는 길</li></a>
                            </ul>
                        </div>
               
               
                <h6>오시는 길</h6>
                <h1 style="font-family: 'PT Serif', serif;" >LOCATION</h1>
                <div class="bar"></div>
                <h5>경기도 평택시 비전1동 104-28</h5> 
                <h2><em>평택 가로수길 센트럴돔</em></h2>
                <div class="sub_map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.454932067259!2d127.11039511529547!3d36.99894187990809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b3b204150bffd%3A0xb26cb125e0565d8b!2z7Y-J7YOd6rCA66Gc7IiY6ri4IOyEvO2KuOuftOuPlA!5e0!3m2!1sko!2skr!4v1578987141300!5m2!1sko!2skr" width="100%"  height="450px;"
                 frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                
                <div class="sub_contents">
                    <ul>
                        <li><h3><i class="fas fa-map-marker-alt"></i>주소</h3><p>경기도 평택시 비전1동 104-28</p></li>
                        <li><h3><i class="fas fa-mobile-alt"></i>문의</h3><p>031 - 668 - 0116</p></li>
                        
                        
                    </ul>
                </div>
                
            </div>
        </section>

        <!--//secton.sub_wrap 완료-->
        

        <!--<footer></footer>-->
    </div>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }
        
        
        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }
        
        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }
        
        //gallery 슬라이드
            var slides = document.querySelectorAll('#slides .slide');
            var currentSlide = 0;
            var slideInterval = setInterval(nextSlide, 3000);

            function nextSlide() {
                slides[currentSlide].className = 'slide';
                currentSlide = (currentSlide + 1) % slides.length;
                slides[currentSlide].className = 'slide showing';
            }

        //gnb modla 
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>
</body></html>
