<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="css/login.css">

    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <header>

            <!--모바일 아이콘 열기-->
            <a href="#" class="open"><img src="img/btn_berger_m.png" alt="메뉴열기"></a>

            <div class="innerHeader">
                <h1 class="logo">
                    <a href="index.asp"><img src="./img/main/logo2.png" alt="센트럴돔 로고"></a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li><a href="summary.asp" class="gnb_link">사업안내</a>
                            <ul>
                                <li><a href="summary.asp">사업개요</a></li>
                                <li><a href="ctd_info.asp">센트럴돔 소개</a></li>
                                <li><a href="location.asp">오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="benefit.asp" class="gnb_link">입점신청 및 혜택</a>
                            <ul>
                                <li><a href="benefit.asp">입점 상가 혜택</a></li>
                                <li><a href="benefit_application.asp">입점 상담 신청</a></li>
                            </ul>
                        </li>
                        <li><a href="vehicle.asp" class="gnb_link">장차예매</a>
                            <ul>
                                <li><a href="vehicle.asp">장차운행안내</a></li>
                                <li><a href="reservation_01.asp">장차예매신청</a></li>
                                <li><a href="mypage.asp">장차예매현황</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                
                <nav class="gnb2">
                   <ul>
                       <li><a href="login.asp">로그인</a></li>
                        <li><a href="join_01.asp">회원가입</a></li>
                        <li><div class="tooltip">전화문의
                            <span class="tooltiptext">031 - 668 - 0116</span></div>
                  </li>
                   </ul>
                </nav>
                <!--<div class="call">
                    문의 <span>031 - 668 - 0116</span>
                </div>-->
                
            </div>

            <!--모바일 메뉴-->
            <nav class="gnb_mo">
                <a href="#" class="close"><img src="img/btn_gnb_close.png" alt="메뉴닫기"></a>
                
                <ul>
                   <li class="gnb_mo_login">
                        <a href="login.asp">장차예매 시 <u>로그인</u>이 필요합니다.</a>
                    </li>
                    <li>
                        <a href="#">사업안내</a>
                        <ul class="inner">
                            <li><a href="summary.asp">사업개요</a></li>
                            <li><a href="ctd_info.asp">센트럴돔 소개</a></li>
                            <li><a href="location.asp">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">입점신청 및 혜택</a>
                        <ul class="inner">
                            <li><a href="benefit.asp">입점상가혜택</a></li>
                            <li><a href="benefit_application.asp">입점상담신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">장차예매</a>
                        <ul class="inner">
                            <li><a href="vehicle.asp">장차운행안내</a></li>
                            <li><a href="reservation_01.asp">장차예약신청</a></li>
                            <li><a href="mypage.asp">장차예매현황</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>


        <!--// header완료-->
        <!--section.main 시작-->

        <!--<section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login.asp">
                            <li style="background: #ad8743; color: #fff">로그인</li>
                        </a>
                        <a href="join_01.asp">
                            <li>회원가입</li>
                        </a>
                        
                    </ul>
                </div>
            </div>
        </section>-->

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>로그인</h6>
                    <h1 style="font-family: 'PT Serif', serif;">LOGIN</h1>
                    <div class="bar"></div>
                    
                    <div class="login_box">
                        <h2>회원 로그인</h2>
                        <p>장차예매 페이지는 로그인 후 이용가능합니다.</p>
                    
                        <form action="/action_page.php">
                            <ul>
                                <div class="login_form">
                                    <label for="id"></label>
                                    <input type="text" id="id" name="id" placeholder="아이디">
                    
                                    <label for="password"></label>
                                    <input type="password" id="password" name="password" placeholder="비밀번호">
                                </div>
                                <div class="checks etrans">
                                    <input type="checkbox" id="ex_chk3">
                                    <label for="ex_chk3">아이디 저장</label>
                                </div>
                    
                                <input type="submit" value="로그인">
                            </ul>
                        </form>
                    
                        <div class="form_bottom">
                            <ul>
                                <li>
                                    <div class="find_btn"><a href="find_id_01.asp">아이디/비밀번호 찾기 ></a></div>
                                </li>
                                <li>
                                    <a href="join_01.asp">
                                        <div class="join_btn">회원가입</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>

            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>
</body></html>
