<!DOCTYPE html>
<html lang="ko">
<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="wrap">
        <% include templates/header.ejs %>
        <!--section.main 시작-->

        <!--<section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="login">
                            <li style="background: #ad8743; color: #fff">로그인</li>
                        </a>
                        <a href="join">
                            <li>회원가입</li>
                        </a>

                    </ul>
                </div>
            </div>
        </section>-->

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>로그인</h6>
                    <h1 style="font-family: 'PT Serif', serif;">LOGIN</h1>
                    <div class="bar"></div>
                    
                    <div class="login_box">
                        <h2>회원 로그인</h2>
                        <p>장차예매 페이지는 로그인 후 이용가능합니다.</p>
                    
                        <form action="/login" method="POST">
                            <ul>
                                <div class="login_form">
                                    <label for="id"></label>
                                    <input type="text" id="id" name="id" placeholder="아이디" value="">
                    
                                    <label for="password"></label>
                                    <input type="password" id="password" name="password" placeholder="비밀번호">
                                </div>
                                <div class="checks etrans">
                                    <input type="checkbox" id="ex_chk3">
                                    <label for="ex_chk3">아이디 저장</label>
                                </div>
                    
                                <input type="submit" value="로그인" id="loginBtn">
                            </ul>
                        </form>
                    
                        <div class="form_bottom">
                            <ul>
                                <li>
                                    <div class="find_btn"><a href="findId">아이디/비밀번호 찾기 ></a></div>
                                </li>
                                <li>
                                    <a href="join">
                                        <div class="join_btn">회원가입</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>

            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>
    <script>
        //아이디 저장
        localStorage.getItem("myId");    
        $("#id").val(localStorage.getItem("myId"));

        //아이디 저장 체크시 로컬호스트에 저장
        $("#loginBtn").on('click',function(){
            if($("#ex_chk3").is(":checked") === true){
                alert($("#ex_chk3").is(":checked"))                                      
                localStorage.setItem("myId",$("#id").val());                           
            }else if($("#ex_chk3").is(":checked") === false){
                localStorage.clear(); 
            }   
        })                          
        if( $("#id").val() != ""){
            $("#ex_chk3").prop('checked', true);
        }             

    </script>
    
    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>
    <% if( loginFailMsg ) { %>
        <script>
            alert( "<%= loginFailMsg %>")
        </script>
    <% }%>
</body></html>
