<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_box.css">
    <link rel="stylesheet" href="/css/modify_01.css">

    <title>AZ369 - 내정보수정</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 내정보수정">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

    <style>
        .swal-text{
            text-align: center;
        }
        .swal-icon--success__line{
            background-color: #C3A164;
        }
        .swal-button{
            background-color: #C3A164;
        }
        .swal-modal{
            border-radius: 12px;
        }
        .swal-icon--success__ring{
            border: none;
        }
        .swal-title{
            padding: 0px 16px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--secton.sub_wrap 시작-->
        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>내정보 수정</h6>
                    <h1 style="font-family: 'PT Serif', serif;">MODIFY</h1>
                    <div class="bar"></div>


                    <div class="modify_box">

                        <form>
                            <div class="modify_process"> <span>본인인증</span> · 내정보수정</div>

                            <h2>본인인증</h2>
                            <p>비밀번호를 입력하시면 내정보 수정이 가능합니다.</p>
                            <ul>
                                <li>
                                    <label for="pw"></label>
                                    <input type="password" id="pw" name="pw" placeholder="비밀번호" onKeypress="javascript:if(event.keyCode==13) {confirmPw()}">
                                </li>

                                <!--<li>
                                    <button onclick="phone_check" class="phone_check_btn">본인인증</button>
                                </li>
                                
                                <li>
                                    <label for="phone2"></label>
                                    <input type="text" id="phone2" name="휴대전화" placeholder="인증번호 4자리를 입력하세요." style="background: #eee;">
                                </li>-->

                            </ul>
                        </form>

                        <div class="modify_btn">
                            <ul>
                                <li class="back btn btn-outline-primary"><a href="mypage">취소</a></li>
                                <li class="next btn btn-primary"> <a onclick="confirmPw()">다음</a></li>
                            </ul>
                        </div>


                    </div>

                </div>


            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

    <script>

        //console.log("myId :", myId);
        //비밀번호 확인 
        function confirmPw() {
            $.ajax({
                url: "api/user/confirm",
                method: "post",
                dataType: "json",
                data: { pw: $("#pw").val() },
                success: function (res) {
                    //console.log(res);                   
                    if (res.data === "실패") {
                        swal({
                            title: '비밀번호 오류',
                            text: '비밀번호 다시 입력해주세요.',
                            icon: 'error',
                            button: '확인'
                        }).then(function(){
                            location.reload();
                        })
                    } else if (res.data === "성공") {
                        location.href = "modify2"

                    }
                }
            })
        }

    </script>

    <script>
        function openBus(evt, busSeat) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(busSeat).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>

</html>