<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="./css/modify_02.css">

    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h1>내정보 수정</h1>


                <div class="modify_box">
                    <div class="modify_process">본인인증 > <span>내정보 수정</span></div>

                    <h2>01. 내정보 수정</h2>
                    <div class="bar"></div>

                    <p>ㅁㅁㅁ님 (asdf1212@naver.com)</p>
                    <ul>
                        <div class="pw_modify_form modify_form">
                            <ul>
                                <h3>비밀번호 변경</h3>
                                <li>
                                    <label for="password1"></label>
                                    <input type="password" id="password1" name="현재 비밀번호" placeholder="현재 비밀번호">
                                </li>


                                <li>
                                    <label for="password2"></label>
                                    <input type="password" id="password2" name="새 비밀번호" placeholder="새 비밀번호 (영어 + 숫자 10자리 이상)">
                                </li>

                                <li>
                                    <label for="password2"></label>
                                    <input type="password" id="password2" name="패스워드" placeholder="비밀번호 확인">
                                </li>
                            </ul>

                            <div class="modify_btn">
                                <a href="mypage.html">비밀번호 변경</a>
                            </div>
                        </div>



                        <div class="phone_modify_form modify_form">
                            <ul>
                                <h3>전화번호 변경</h3>
                                <li>
                                    <label for="phone"></label>
                                    <input type="text" id="phone" name="새 휴대전화" placeholder="새 휴대전화번호">
                                </li>

                                <li>
                                    <button onclick="phone_check" id="phone_coheck_btn">본인인증</button>
                                </li>

                                <li>
                                    <label for="phone2"></label>
                                    <input type="text" id="phone2" name="휴대전화" placeholder="인증번호 6자리를 입력하세요." style="background: #eee;">
                                </li>
                            </ul>
                            <div class="modify_btn">
                                <a onclick="modifyPhone()">전화번호 변경</a>
                            </div>
                        </div>

                        <div class="add_modify_form modify_form">
                            <ul>
                                <h3>매장주소 변경</h3>
                                <li>
                                    <div class="address_form">
                                        <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
                                        <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
                                        <input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
                                        <input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
                                        <input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
                                        <input type="text" id="roadAddress" name="roadAddress" hidden="">
                                        <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                                    </div>
                                </li>
                            </ul>
                            <div class="modify_btn">
                                <a href="mypage.html">매장주소 변경</a>
                            </div>
                            
                                <div class="withdrawal"><a href="#"><u>회원탈퇴</u></a></div>
                        </div>
                        </ul>
                </div>


            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <script>
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>


    <script>
        function openBus(evt, busSeat) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(busSeat).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function modifyPhone(){            

            $.ajax({
                method : 'POST',
                dataType : 'json',
                url: "api/user/phone",
                data: {
                    phone : $("#phone").val()
                }
            }).done(function() {
                alert("success");
                location.href = "/mypage";
            });
            
        }
    </script>
</body></html>
