<!DOCTYPE html>
<html lang="ko">

<head prefix="og: http://ogp.me/ns#">
    <link rel="stylesheet" href="/css/style.css">
    <title>AZ369 보세의류쇼핑몰</title>

    <!-- 구글 소유권 -->
    <meta name="google-site-verification" content="0RJNe69KR1Kxwfdzkr0ncsxrh8G_pjdvxv6QPDLO1uI" />
    <!-- 네이버 소유권 -->
    <meta name="naver-site-verification" content="629b23f80ef028493e12726aaf45962a20c46f74" />
    <!--문자인코딩-->
    <meta name="og:title" content="AZ369 보세의류쇼핑몰">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>

    <div><img src='/img/ad/광고디폴트-대분류3.png'></div>
    <button>오늘 하루 보지않기</button>
    <button>닫기</button>

</body>

</html>