<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/refund.css">

    <title>AZ369 - 환불규정</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 환불규정">
    <meta name="author" content="AZ369">
    <meta name="description" content="az369 장차 운행서비스 승차권 환불규정 안내">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>

                <div class="tnb">
                    <ul>
                        <a href="service">
                            <li >서비스이용약관</li>
                        </a>
                        <a href="privacy">
                            <li>개인정보처리이용방침</li>
                        </a>
                        <a href="refund" style="background: #C3A164; color: #fff; font-weight: 500;">
                            <li>환불규정</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!--secton.sub_wrap 시작-->
        <section class="sub_wrap">
            <div class="inner_sub_wrap">
                <h1>환불규정</h1>
                <div class="bar"></div>

                <h2>장차예매 승차권 환불규정 안내</h2>
                <dl>
                    <dd>환불은 '장차예매현황(마이페이지)'에서 예매취소 버튼을 눌렀을 경우 정상적으로 환불처리가 가능합니다.</dd>
                    <dd>예매취소는 원활한 장차운행을 위하여 예매 후 출발일자 기준 4일 전(목요일)까지만 100% 환불이 가능합니다.</dd>
                    <dd>신용카드 청구 및 환불은 결제일에 일괄적 정산처리됩니다. (카드사, 개인 결제일자 별 차이가 있을 수 있습니다.)</dd>
                    <dd>신용카드 결제일에 청구되는 금액은 원칙적으로 샤용금액에서 환불금액을 차감한 금액입니다. 단, 카드사의 사정에 따라 모두 청구 후 환불금액만 따로 계좌입금될 수 있습니다.</dd>
                    <dd>신용카드 승차권의 환불은 결제 시 사용한 신용카드로 환불됩니다.</dd>
                    <dd>계좌이체 예매 취소 시 1시간 내 결제 시 사용한 출금계좌로 입금됩니다.</dd>
                </dl>
            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

   
</body>

</html>