<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_box.css">
    <link rel="stylesheet" href="/css/reservation_01.css">

    <title>AZ369 - 장차버스예매</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 장차버스예매">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

    <!--reservation css link-->
    <link rel="stylesheet" type="text/css" href="/css/lib/jquery.seat-charts.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/booking.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-theme.min.css">
    <style>
        .swal-text{
            text-align: center;
            line-height: 2;
            color: #444;
        }
        .swal-icon--success__line{
            background-color: #C3A164;
        }
        .swal-button,.swal-button:hover, .swal-button:not([disabled]):hover {
            background-color: #C3A164;
        }
        .swal-modal{
            border-radius: 12px;
        }
        .swal-icon--success__ring{
            border: none;
        }
        .swal-title{
            padding: 0px 16px;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        .swal-content{
            margin-top: 15px;
        }
        .swal-footer{
            margin-top: 0px;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <% include templates/header.ejs %>
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">

                    <!--PC버전 1920px ~ 1024px-->

                    <h6>장차버스예매</h6>
                    <h1 style="font-family: 'PT Serif', serif;">RESERVATION</h1>
                    <div class="bar"></div>

                    <div class="reservation_box">
                        <!-- <ul>
                            <li>
                                예약 왼쪽목록
                                <div class="reserve_left">

                                    왼쪽 상단 : 지역
                                    <div class="left_list location">
                                        <h4>지역 및 시간 선택 <span
                                                style="color: #999; font-weight: 300; font-size: 16px;">(왕복)</span>
                                        </h4>
                                        <ul>
                                            <li>
                                                <div class="location_select location_select01 " id="timeSelect01">
                                                    <select id="depart01">
                                                        <option value="0" >지역, 출발시간 (오후)</option>

                                                        <%for(let i=0; i<timeone.length; i++) {%>
                                                        <option value=<%=timeone[i].pyeongDept%>>평택 <%=timeone[i].pyeongDept2%>
                                                        </option>
                                                        <% }%>
                                                    </select>
                                                </div>
                                            </li>
                                            <li><img src="/img/reservation/location_icon.png" alt="왕복 아이콘">
                                            </li>

                                            <li>
                                                <div class="location_select location_select02 " id="timeSelect02">
                                                    <select id="depart02">
                                                        <option value="0">지역, 출발시간 (오전)</option>

                                                        <%for(let i=0; i<timetwo.length; i++) {%>
                                                        <option value=<%=timetwo[i].seoulDept%>>서울 동대문
                                                            <%=timetwo[i].seoulDept2%></option>
                                                        <% }%>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> -->

                                    <!--왼쪽 하단 버스선택-->
                                    <!-- <div class="left_list select_bus">
                                        <h4>날짜 및 차량 선택</h4>
                                        <div class="select_bus_list_tit">
                                            <ul>
                                                <li>출발날짜</li>
                                                <li>차량정보</li>
                                                <li>잔여좌석</li>
                                            </ul>
                                        </div>
                                        <div class="select_bus_list scroll_style">
                                            <div class="tab">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li> -->
                                <div class="bus_info"> <div class="bus_info_box">운행정보</div> <div class="bus_info_txt"> 01.31(월) 평택 22:00 - 동대문 04:00<br> 유림고속(1234)</div></div>
                                    <!-- <div class="bus_info">
                                        <ul>
                                            <li id='dept_day'>01.31(월)</li>
                                            <li id='bus_service'>평택 22:00 - 동대문 04:00</li>
                                            <li id='bus_name'>유림고속(1234)</li>
                                         </ul>
                                    </div>
                                    <div class="bus_info">
                                        <div class="bus_info_inner">
                                            <span>01.31(월)</span>
                                            <span>평택 22:00 - 동대문 04:00</span>
                                            <span>유림고속(1234)</span>
                                        </div>
                                    </div> -->
                                    <!-- <p class="before_p"><img src="/img/reservation/before_p_icon.png" alt=""> 왼쪽을 먼저 선택해주세요.</p> -->
                                    
                                    <div id="bus_seat_layer" class="tabcontent">
                                        <div class="container">
                                            <!--좌석선택표-->
                                            <div class="seat-map" class="seat-panel"></div>
                                        </div>
                                        <!-- <div class="booking-details">
                                            <h4>좌석선택</h4>
                                            <h5> 좌석 개수<span id="counter"> 0</span></h5>
                                            <ul id="selected-seats"></ul>
                                        </div> -->
                                
                                        <!--좌석선택 텍스트-->
                                        
                                        <div class="select_seat">
                                            
                                            <h4>좌석선택 <span style="color: #999; font-weight: 300;">(최대 4개)</span></h4>
                                            <!-- <ul>
                                                <li>01.31(월)</li>
                                                <li>평택 22:00 ~ 동대문 04:00</li>
                                                <li>유림고속(1234)</li>
                                                </ul> -->
                                                
                                                <div class="seat_table">
                                                    <dl>
                                                        <dt>선택좌석</dt>
                                                        <dd id="selected_seats_num"></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>좌석개수</dt>
                                                        <dd id="selected_seats_cnt"></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>결제금액</dt>
                                                        <dd id="selected_seats_price"></dd>
                                                    </dl>
                                
                                                    <button class="reload_btn" onclick="flushSeat()"><img src="/img/reservation/reload.png" alt="새로고침">
                                                        <p>새로고침</p>
                                                    </button>
                                
                                                    <!--pupop PC 버튼-->
                                
                                                </div>
                                        </div>
                                        <a onclick="showPayment()" class="payment_open">예매하기</a>
                                    </div>
                                
                                </div>
                            <!-- </li> -->
                        <!-- </ul> -->
                    </div>

                    <!--1024, 768, 414 모바일버튼-->
                    <!-- <div class="reservation_btn_mo">
                        <ul>
                            <li><a href="mypage" class="back">뒤로</a></li>
                            <li><a class="next" onclick="moNext()">다음</a></li>
                        </ul>
                    </div> -->


         </div>
            <!-- <div id="qrcode"></div> -->
        </section>

        <!--//secton.about 완료-->
        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

    <div id="payment" class="layer">
        <div class="payment_box scroll_style">
            <div class="payment_tit">
                예매정보 및 결제금액
            </div>
            <div class="info_table">
                <dl>
                    <dt>운행지역</dt>
                    <dd>평택 - 서울 동대문</dd>
                </dl>
                <dl class="info_time">
                    <dt>출발시간</dt>
                    <dd><span class="region">평택</span> <span id="payment_deptTe">2020.02.03(월)
                            22:00</span></dd>
                    <dd><span class="region">서울 동대문</span> <span id="payment_retuTe">2020.02.04(화)
                            04:00</span></dd>
                </dl>
                <dl>
                    <dt>차량정보</dt>
                    <dd id="payment_car_info"> - </dd>
                </dl>
                <dl>
                    <dt>좌석개수</dt>
                    <dd id="payment_seats_cnt">1개</dd>
                </dl>
                <dl>
                    <dt>좌석번호</dt>
                    <dd id="payment_seats_nums">01번</dd>
                </dl>
            </div>
            <div class="price">
                <dl class="reserve_price">
                    <dt>예매금액</dt>
                    <dd id="original_price">0</dd>
                </dl>
                <dl class="price_sale">
                    <dt>할인금액<dt>
                    <dd id="sale_price">- 0원</dd>
                </dl>
                <dl class="total_dl">
                    <dt>총 결제금액</dt>
                    <dd class="total_price" id='total_price'>0<span>원</span></dd>
                </dl>
            </div>

            <div class="notice">
                <h5>NOTICE</h5>
                <!-- <p>8월 1일 ~ 8월 31일까지 장차이용 무료서비스가 진행중입니다.</p> -->
                <p>취소 및 환불은 출발일로부터 <span style="font-weight: 400; color: #222;">3일 전</span>까지 가능합니다.</p>
                <p>출발일 3일 전까지 버스를 예매한 적정 인원수가 부족할 경우 차량이 변경될 수 있습니다.</p>
            </div>

            <ul class="payment_btn">
                <li>
                    <a onclick="javascript:$('#payment').css('display','none')" class=" payment_close btn btn-secondary">취소</a>
                </li>
                <li>
                    <a onclick="processPayment()" class="payment_close2 payment_close">결제하기</a>
                </li>
            </ul>
        </div>
    </div>

    <!--reservation 스크립트-->
    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/jquery.seat-charts.js"></script>
    <script src="/js/lib/bootstrap.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type="text/javascript"></script>
    <script>


        // })

        // $.ajax({
        //     url: 'api/user/resDept',
        //     method: 'post',
        //     dataType: 'json',
        //     success: function (res) {
        //         for (let i = 0; i < res.data.length; i++) {
        //             let html = "<option value=" + res.data[i].deptTe + ">평택 " + res.data[i].deptTe2 + "</option>"
        //             $('#depart01').append(html);
        //         }
        //     }
        // })
        
        // $('#timeSelect01, #timeSelect02').click(function () {
        //     if($('#depart01').val() == 0 || $('#depart02').val() == 0){
        //         return false;
        //     }
        //     $(".tab").empty();
        //     $.ajax({
        //         url: "api/user/resCarList",
        //         method: "post",
        //         dataType: "json",
        //         data: { 'sel': $("#depart01 option:selected").val(), 'sel2': $("#depart02 option:selected").val() },
        //         success: function (res) {
        //             for (let i = 0; i < res.data.length; i++) {
        //                 let html = "<button class='tablinks' onclick='openBus(event, \"" + res.data[i].ctID + "\")' value=" + res.data[i].seatPrice + ">";
        //                 html += "<span class='select_bus_time'>" + res.data[i].deptTe.split(' ', 1).toString() + '\t(' + getInputDayLabel(res.data[i].deptTe) + ")</span>";
        //                 // html += "<span class='select_bus_name'>"+res.data[i].b_name+'\n'+"("+res.data[i].carNum+")</span>";
        //                 html += "<span class='select_bus_name'>" + res.data[i].b_name + "</span>";
        //                 html += " <span class='select_bus_seat'>" + (res.data[i].total_passenger - res.data[i].available_seat_cnt) + "</span>";
        //                 html += "<span class='select_bus_seat' style='color:#999999;'>"+" / " + res.data[i].total_passenger +"</span>";
        //                 $(".tab").append(html);
        //             }

        //             sessionStorage.setItem("car_list", JSON.stringify(res.data));
        //         }
        //     });
        // })

    </script>

    <script>
        let now_location = 'default';
        $(document).ready(function(){
            

            $.ajax({
                url: "api/user/resCarList",
                method: "post",
                dataType: "json",
                success: function (res) {
                    sessionStorage.setItem("car_list", JSON.stringify(res.data));
                    let ctId = res.data[0].ctID;
                    let price = res.data[0].seatPrice;
                    openBus(ctId,price);
                }
            });
            //PC, MOBILE 확인
            var filter = "win16|win32|win64|mac|macintel"; 
            if ( navigator.platform ) { 
                if ( filter.indexOf( navigator.platform.toLowerCase() ) < 0 ) 
                { 
                    //mobile 
                    location.href = "/reservation2";
                    // alert('mobile 접속'); 
                }
            }
        })

    
        //모바일 다음 버튼 기능 
        function moNext(){
            if($('.tab').children('button').hasClass('active') == true){
                location.href = "/reservation2";
            }else{
                alert('날짜 및 차량 선택을 해주세요.');
                return false;
            }
        }


        var selected_seats = [];
        var selected_seats_cnt = 0;
        var seatPrice = 0;
        function showPayment() {

            if($('.seatCharts-seat').hasClass('selected') == false){
                alert('좌석을 선택해 주세요.');
                return false;
            }else{

                $.ajax({
                    method: "get",
                    dataType: "json",
                    url: "/api/bus_check",
                    data : {'ct_id' : JSON.parse(sessionStorage.getItem("car_list"))[0].ctID},
                    success: function(res){
                        if(res.data == 500){
                            swal({
                                title: '예매 실패',
                                text: '선택하신 버스는 이미 출발하였습니다. 다른 버스를 이용해 주세요.',
                                icon: 'error',
                                button: '확인'
                            }).then(function(){
                                location.href = "/reservation";
                            }) 
                        }else{
                            let car_list = JSON.parse(sessionStorage.getItem("car_list")),
                            ct_id = sessionStorage.getItem("ct_id");

                            let reserve_car_info = car_list.find((k) => (k.ctID == ct_id)),
                            deptTe = reserve_car_info.deptTe,
                            retuTe = reserve_car_info.retuTe,
                            b_name = reserve_car_info.b_name;
                            $("#payment_deptTe").text(deptTe.split(' ').join('(' + getInputDayLabel(deptTe) + ') '));
                            $("#payment_retuTe").text(retuTe.split(' ').join('(' + getInputDayLabel(retuTe) + ') '));
                            $("#payment_car_info").text(b_name);

                            $('#payment').css('display','block')
                        }
                    }
                });
            }
        }

        function openBus(busSeat,price) {
            
            let car_info = JSON.parse(sessionStorage.getItem("car_list"));
            //버스 정보
            let bus_text1 = car_info[0].startDay+'(' +getInputDayLabel(car_info[0].deptTe)+') ';
            let bus_text2 = '평택 '+car_info[0].startTime+' - '+'동대문 '+car_info[0].returnTime + ' ';
            let bus_text3 = car_info[0].b_name+'('+car_info[0].backNum+')';
            $('.bus_info_txt').text(bus_text1 + bus_text2 + bus_text3)

            // console.log('evt',evt);
            var i, tablinks
            //좌석 선택시 우측 문구 삭제
            $('.before_p').css('display','none');
            sessionStorage.removeItem('seat_price');
            tablinks = document.getElementsByClassName("tablinks");
            //alert(seatPrice);
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            sessionStorage.setItem('ct_id', busSeat);
            //좌석금액 세션에 저장
            // sessionStorage.setItem('seat_price', evt.currentTarget.value);
            sessionStorage.setItem('seat_price', price);

            document.getElementById("bus_seat_layer").style.display = "block";
            // evt.currentTarget.className += " active";
            var firstSeatLabel = 1;


            //좌석금액 불러오기
            var seatPay = Number(sessionStorage.getItem('seat_price'));

            var $cart = $('#selected-seats'),
                $nums = $('#selected_seats_num'),
                $counter = $('#selected_seats_cnt'),
                $now_price = $('#selected_seats_price'),
                $origin_price = $('#original_price'),
                $sale_price = $('#sale_price'),
                $payment_seats_cnt = $('#payment_seats_cnt'),
                $payment_seats_nums = $('#payment_seats_nums'),
                $total_price = $('#total_price'),
                sc = $('.seat-map').seatCharts({
                    map: [
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'ee_ee',
                        'eeeee',
                    ],
                    seats: {
                        e: {

                            classes: '일반', //your custom CSS class
                            category: '일반'
                        }

                    },
                    naming: {
                        top: false,
                        getLabel: function (character, row, column) {
                            return firstSeatLabel++;
                        },
                    },
                    click: function () {
                        if (this.status() == 'available') {
                            if (selected_seats_cnt >= 4) {
                                alert("최대 4개까지 선택가능합니다.");
                                return this.style();
                            }
                            
                            selected_seats_cnt = sc.find('selected').length + 1;
                            selected_seats.push(this.settings.label);
                            let origin_price = recalculateTotal(sc) + Number(sessionStorage.getItem("seat_price"));

                            $nums.text('　'.concat(selected_seats.join('번, ') + ((selected_seats.length > 0) ? '번' : '')));
                            $payment_seats_nums.text(selected_seats.join('번, ') + ((selected_seats.length > 0) ? '번' : ''));

                            $counter.text('　'.concat(sc.find('selected').length + 1));
                            $payment_seats_cnt.text(sc.find('selected').length + 1);
                            $origin_price.text(formatNumber(origin_price) + '원');
                            $origin_price.data('price', origin_price);
                            //할인 가격
                            // $sale_price.text('-' + formatNumber(origin_price) + '원');
                            // $sale_price.data('price', origin_price);

                            $now_price.text('　'+origin_price+'원')
                            $total_price.text(origin_price+'원')
                            return 'selected';
                        } else if (this.status() == 'selected') {

                            selected_seats_cnt = sc.find('selected').length - 1;
                            let idx = selected_seats.indexOf(this.settings.label);
                            selected_seats.splice(idx, 1);

                            let origin_price = recalculateTotal(sc) - Number(sessionStorage.getItem("seat_price"));

                            $nums.text('　'.concat(selected_seats.join('번, ') + ((selected_seats.length > 0) ? '번' : '')));
                            $payment_seats_nums.text(selected_seats.join('번, ') + ((selected_seats.length > 0) ? '번' : ''));

                            $counter.text('　'.concat(sc.find('selected').length - 1));
                            $payment_seats_cnt.text(sc.find('selected').length - 1);
                            $origin_price.text(formatNumber(origin_price) + '원');
                            $origin_price.data('price', origin_price);
                            $sale_price.text('-' + formatNumber(origin_price) + '원');
                            $sale_price.data('price', origin_price);
                            $now_price.text('　'+origin_price+'원')

                            //seat has been vacated
                            if(selected_seats_cnt === 0){
                                $nums.text('　');
                                $now_price.text('　');
                                $counter.text('　');
                            }

                            return 'available';
                        } else if (this.status() == 'unavailable') {
                            //seat has been already booked
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });

            //this will handle "[cancel]" link clicks
            $('#selected-seats').on('click', '.cancel-cart-item', function () {
                //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
                sc.get($(this).parents('li:first').data('seatId')).click();
            });



            flushSeat();

        }



        function getInputDayLabel(date) {
            var week = new Array('일', '월', '화', '수', '목', '금', '토');
            var today = new Date(date).getDay();
            var todayLabel = week[today];
            return todayLabel;
        }

        function recalculateTotal(sc) {
            var total = 0;

            //basically find every selected seat and sum its price
            sc.find('selected').each(function () {
                total += Number(sessionStorage.getItem("seat_price"));
            });

            return total;
        }

        function flushSeat() {
            var sc = $('.seat-map').seatCharts();
            selected_seats = [];
            selected_seats_cnt = 0;
            sc.find('e.selected').status('available');
            $("#selected_seats_num").text('　');
            $("#selected_seats_cnt").text('　');
            $('#selected_seats_price').text('　');
            // 데이터 가져와서 예약된 좌석 상태 설정.
            var ct_id = sessionStorage.getItem('ct_id');
            $.ajax({
                dataType: "json",
                method: "GET",
                url: "/api/useSeat/" + ct_id
            }).done((res) => {
                let seat_id_list = [];
                res.data.map((seat_num) => {
                    seat_id_list.push(getSeatId(seat_num));
                });
                sc.find('unavailable').status('available');
                sc.status(seat_id_list, 'unavailable');
            });
        }

        // 45인승 기준 seatId 가져오기
        function getSeatId(seat_num) {
            if (seat_num <= 45 && seat_num > 0) {

                let seat_id = "1_1";
                let row = '',
                    column = '';

                if (seat_num > 40) {
                    row = 11;
                    column = seat_num % 10;
                } else {
                    if ((seat_num % 4) === 0) {
                        row = Number.parseInt(seat_num / 4);
                        column = 4;
                    } else {
                        row = (Number.parseInt(seat_num / 4)) + 1;
                        column = seat_num % 4;
                    }

                    if (column >= 3) column += 1;
                }

                seat_id = row + "_" + column;
                return seat_id;
            } else {
                return null;
            }

        }
    </script>

    <script>
        
        var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName("location_select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);

        // 숫자 천단위 , 찍어주는 function
        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }

        function processPayment() {
            let origin_price = $("#original_price").data('price');
            //할인 가격
            // let sale_price = $("#sale_price").data('price');
            let sale_price = 0;
            let ct_id = sessionStorage.getItem("ct_id");
            let seatPrice = sessionStorage.getItem("seatPrice")
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "/api/payment",
                data: {
                    "seatNums": selected_seats,
                    "oPrice": origin_price,
                    "sPrice": sale_price,
                    "ct_id": ct_id
                }
            }).done((result) => {
                $('#payment').css('display','none');
                if(result.data == 0){
                    swal({
                        title: '예매 실패',
                        text: result.seats+' 좌석이 매진입니다. 다른 좌석을 이용해 주세요.',
                        icon: 'error',
                        button: '확인'
                    }).then(function(){
                        location.href = "/reservation";
                    })
                }
                else if(result.data == 500){
                    swal({
                        title: '예매 실패',
                        text: '선택하신 버스는 이미 출발하였습니다. 다른 버스를 이용해 주세요.',
                        icon: 'error',
                        button: '확인'
                    }).then(function(){
                        location.href = "/reservation";
                    })
                }
                
                else{
                    let car_list = JSON.parse(sessionStorage.getItem("car_list")),
                    ct_id = sessionStorage.getItem("ct_id");

                    let payment_result = car_list.find((k) => (k.ctID == ct_id));
                    payment_result.price = result.price;
                    payment_result.ph_type = result.ph_type;

                    sessionStorage.setItem("payment_result", JSON.stringify(payment_result));

                    location.href = "/complate";
                }

            });
        }

    </script>


</body>
</html>