<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/reservation_02.css">

    <title>AZ369 - 장차버스예매</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 장차버스예매">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>장차버스예매</h6>
                    <h1 style="font-family: 'PT Serif', serif;">RESERVATION</h1>
                    <div class="bar"></div>


                    <div class="reservation_box">
                        <!--<div class="join_process">장차선택 > 결제하기 > <span>예매완료</span></div>-->

                        <h2><span>이용해주셔서 감사합니다!</span> <br> 정상적으로 장차예매 완료되었습니다.</h2>

                        <div class="reservation_img">
                            <img src="/img/reservation/reservation_icon.png" alt="가입완료">
                        </div>

                        <div class="reservation_txt">
                            <!--<h3>2020.02.03 22:00 <span>(평택 - 서울동대문)</span></h3>
                            
                            <h5>결제수단 - 신용카드 (일시불)</h5>
                            
                            <h4>100,000원 결제완료</h4>-->
                            <table class="order">
                                <!-- <th>주문내역</th> -->
                                <tr>
                                <th>지역 및 출발시간</th>
                                <td><span id="order_deptTe">2020.02.03 22:00</span> <span>(평택 - 서울동대문)</span></td>
                            </tr>
                                <th>결제수단</th>
                                <!-- <td>신용카드 (일시불)</td> -->
                                <td id="order_ph_type">11</td>
                                <th>결제금액</th>
                                <td><span id="order_price"></span>원</td>
                            </table>

                            <p>장차예매내역은 장차예매 > 장차예매현황 에서 확인하실 수 있습니다.</p>
                        </div>

                        <div class="mypage_btn"><a href="/mypage">예매내역 확인 </a></div>


                    </div>
                </div>



            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <script>

        $(document).ready(function () {
            /*agreement 전체동의 체크*/
            $('.check-all').click(function () {
                $('.ab').prop('checked', this.checked);
            });

            let payment_result = JSON.parse(sessionStorage.getItem("payment_result"));
            console.log(payment_result);
            $("#order_price").text(payment_result.price);
            // $("#order_ph_type").text( payment_result.ph_type );
            $("#order_ph_type").text('무료예약');
            $("#order_deptTe").text(payment_result.deptTe);

            sessionStorage.removeItem("payment_result");
            sessionStorage.removeItem("ct_id");
            sessionStorage.removeItem("car_list");
        });
    </script>
</body>

</html>