<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AZ369 - 이용약관</title>

    <link rel="stylesheet" href="/css/service.css">
</head>

<body>

    <div class="wrap">
        <div class="sub_wrap">

            <% include templates/header.ejs %>

           


        </div>
    </div>

</body>

</html>