<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>센트럴돔 사이니지</title>
	<!--자바스크립트-->
	<script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scrolla.jquery.min.js"></script>

    <link rel="stylesheet" href="/css/signage.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">
<style>

.main_full {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: none;
}
.main_full.active {
    display : block;
}
</style>
</head>

<body class='full'>
    <div class="ad main_full active slideshow-container"></div>
    <div class='container'>
    <!-- 좌측메뉴 -->
        <div id='box-left'>
            <h3 class='floorFont'><span id='nowFloor'>1F</span></h3>
        <!-- 좌측 카테고리 -->
            <ul class='categoryList'>

            </ul>
            <ul class='categoryList2'>

            </ul>
        <!-- 카테고리 버튼 -->
            <div class='categoryNav'>
                <div class='categoryPrev' id='prev'></div>
                    <div class='categoryState'>
                        <span style="font-size: 20px; color: #222222;" id='nowPage'>1</span>
                        <span style="font-size: 20px; color: #999999;">/ 2</span>
                    </div>
                <div class='categoryNext clickNextBtn' id='next'></div>
            </div>
        <!-- 좌측 하단 광고 -->
            <div class="ad main_left slideshow-container">
            </div>
        <!-- <div class='leftAd'>
                <img src='img/ad1.png'>
            </div> -->
        </div>
    <!-- 중앙 svg 파일 -->
        <div id='box-center'>
            <div class='centerLeft'>
                <div class='centralMap'>
                      <!-- <% include central2D.ejs%> -->
                      <% include central2F.ejs%>
                      <% include central3F.ejs%>
                </div>
            <!-- 지도 네비게이션 및 층  -->
                <div class='centerRight'>
                    <div class='mapNav'>
                        <ul>
                            <li><div class='plusBtn' id='zoomIn'><img src='img/zoom_in_icon.png'></div></li>
                            <li><div class='resetBtn' id='zoomReset'><img src='img/full_icon.png'></div></li>
                            <li><div class='minusBtn' id='zoomOut'><img src='img/zoom_out_icon.png'></div></li>
                        </ul>  
                    </div>   
                    <div class='floorBtn'>
                        <ul>
                            <li>
                                <div class="floorIcon floorSelcet floorBack" id='floor1Btn'>1F</div>
                            </li>
                            <li>
                                <div class="floorIcon" id='floor2Btn'>2F</div>
                            </li>
                            <li>
                                <div class="floorIcon" id='floor3Btn'>3F</div>
                            </li>
                        </ul>
                    </div>
                </div>
            <!-- 하단 이용시설 -->
                <div class='center-footer'>
                    <div style='display: inline;'>
                        <div class='center-footer-box'><img src='img/toilet_icon.png'><h2 class='center-footer-name'>화장실</h2></div>
                        <div class='center-footer-box'><img src='img/elevator_icon.png'><h2 class='center-footer-name'>엘리베이터</h2></div>
                        <div class='center-footer-box'><img src='img/escalator_icon.png'><h2 class='center-footer-name'>에스컬레이터</h2></div>
                        <div class='center-footer-box'><img src='img/atm_icon.png'><h2 class='center-footer-name'>ATM</h2></div>
                        <div class='center-footer-box'><img src='img/locker_icon.png'><h2 class='center-footer-name'>물품보관소</h2></div>
                        <div class='center-footer-box'><img src='img/exit _icon.png'><h2 class='center-footer-name'>비상구</h2></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 우측메뉴 -->
        <div id='box-right'>
            <div style="padding: 5px;">
                <h2 class='central'>CENTRAL</h2>
                <h2 class='dome'>DOME</h2>
            </div>
        <!-- 우측 메뉴 리스트 -->
            <ul class='rightNav'>
                <li><img src='img/pic03.png' style="opacity: 0.3;"><div class='rightNavBox'><img src='img/main_icon.png' class='menuIcon'></div><div class='rightNavName'>메인</div></li>
                <li onclick="searchCategoryMenu()"><img src='img/pic03.png' style="opacity: 0.2;" class='search'><div class='rightNavBox search'><img src='img/find_icon.png' class='menuIcon'></div><div class='rightNavName search'>검색</div></li>
                <li><img src='img/pic03.png' style="opacity: 0.4;"><div class='rightNavBox'><img src='img/event_icon.png' class='menuIcon'></div><div class='rightNavName'>이벤트</div></li>
                <li><img src='img/pic03.png' style="opacity: 0.5;"><div class='rightNavBox'><img src='img/guide_icon.png' class='menuIcon'></div><div class='rightNavName'>이용안내</div></li>
            </ul> 
        <!-- 언어 정보 -->
            <ul class='languageList'>
                <div class='language'>LANGUAGE</div>
                <li><div class='languageSelect choose' id='kor'>가</div></li>
                <li><div class='languageSelect' id='eng'>A</div></li>
            </ul>
        <!-- 날씨 정보 -->
            <ul class='whetherList'>
                <li>
                    <div class='whether'></div>
                </li>
                <li>
                    <div class='temperature'><span id='temp'></span></div>
                </li>
            </ul>
            <div>
                <h3 class="dayCount" id='dayCount'></h3>
                <h2 class="timeCount" id='timeCount'></h2><br>
                <h2 class="dustCount">미세먼지농도&nbsp;<span style="color: #53ec5d; font-size: 20px;" id='dust'></span></h2>
            </div>
            <!-- 우측 하단 광고 -->
            <div class="ad main_right slideshow-container">
                <div class="adSlides fade">
                    <img src="img/ad1.png" style="width:100%">
                </div>
            
                <div class="adSlides fade">
                    <img src="img/ad2.png" style="width:100%">
                </div>
            </div>
            <!-- <div class="rightAd">
                <img src="img/ad2.png">
            </div> -->
        </div>
<!--컨테이너 종료  -->
    </div>
<!-- 검색모달 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class='searchTop'><span class='searchTopName'>검색</span></div>        
            <div class="searchClose"><span class='searchCloseName'>닫기</span></div>
            <div class='searchContent'>
            <!-- 좌측 검색 카테고리 -->
                <div class='searchLeft'>
                <h4 class='searchTotal'><span id='chooseCategory'></span></h4>                
                <ul class="searchList" id='searchList'>
                    <!-- 이후 모달오픈시 ajax로 통해 카테고리 가져옴 -->
                    <!-- <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search01'>패션의류</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search02'>패션잡화</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search03'>화장품 · 뷰티</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search04'>음식점</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search05'>식 · 음료</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search06'>생활 · 가전</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search07'>키즈 · 애견</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search08'>스포츠 · 자동차</div>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search09'>편의 · 의료 · 교육</div>
                        </label>
                    </li> -->
                </ul>
                <ul class='searchList2'>
                    <!-- <li>
                        <label>
                            <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                            <div class="searchCategory searchCategoryFont" id='search10'>금융 · 일반</div>
                        </label>
                    </li> -->
                </ul>
            <!-- 카테고리 버튼 -->
                <div>
                    <div class='searchNavPrev' id='searchPrev' onclick="searchPrev()"></div>
                        <div class='searchState'>
                            <span style="font-size: 20px; color: #222222;" id='searchPage'>1</span>
                            <span style="font-size: 20px; color: #999999;">/ 2</span>
                        </div>
                    <div class='searchNavNext searchNextClick' id='searchNext' onclick="searchNext()"></div>         
                </div>    
                    <label onclick="changeCategory()">
                        <input type="checkbox" name='searchCategoryList' class='searchCheck'>
                        <div class="categoryChange searchCategoryFont">카테고리 변경하기</div>
                    </label>
                    <div class='searchInfo'>위의<span style="color: #222222; font-weight: 500;"> 카테고리를 선택</span>하세요.</div> 

                </div>   
            <!-- 중앙 브랜드 검색 및 리스트  -->
                <div class='searchCenter'>
                    <div>
                        <input type="text" placeholder="이곳을 클릭하여 찾으시는 브랜드명을 검색하세요." class='searchBox' id='searchBrandName'>
                        <button type='submit' onclick="testBtn()" style='display: none;'></button>
                    </div>
                    <!-- 브랜드 리스트 ajax 요청 -->
                    <div class='searchResult' id='searchResult'>
                    </div> 
                </div>
            <!-- 우측 광고 -->
                <!-- 첫페이지 -->
                <div class='ad search searchRight slideshow-container'>
                    <img src='img/test1.png'>
                </div>
                <!-- 카테고리 클릭 -->
                <div class='searchRightAd'>
                    <div class='ad category_top slideshow-container'>
                        <img src='img/searchad1.png'>
                    </div>
                    <div class='ad category_mid slideshow-container'>
                        <img src='img/searchad2.png'>
                    </div>
                    <div class='ad category_bottom slideshow-container'>
                        <img src='img/searchad3.png'>
                    </div>
                    
                </div>
                <!-- 브랜드 자세히 보기 -->
                <div class='searchRightDetail'>
                    <div class='brandDetail'>
                        <img src='img/brandImg.png'>
                        <ul>
                            <li><h2 class='brandName'>딘 타이 펑</h2></li>
                            <li><h4 class='searchLocation'>1F.중식 (음식점)</h4></li>
                            <li><div class='brandInfo'>브랜드소개 브랜드소개 브랜드소개브랜드소개 브랜드소개 브랜드소개</div></li>
                        </ul>
                    </div>
                    <div><img src='img/searchad3.png'></div>
                </div>
            </div>
        </div>
    </div>


<!-- 스크립트 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/sha256.min.js"></script>
<script src="js/signage/signageRight.js"></script>
<script src="js/signage/signageMap.js"></script>
<script src="js/signage/signageLeft.js"></script>
<script src="js/signage/advertisement.js"></script>
<script>
    // $(document).ready(function(){
    //     //카테고리
    //     let categoryLi = [{categoryId : 'cat1', categoryName : '패션의류'}, {categoryId : 'cat2', categoryName : '패션의류'}];
    // })
    
    </script>
</body>
</html>