<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>센트럴돔 사이니지</title>
	<!--자바스크립트-->
	<script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scrolla.jquery.min.js"></script>

    <link rel="stylesheet" href="/css/signage.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">
<style>


</style>
</head>

<body class='full'>
    <div class='container'>
        <!-- 좌측메뉴 -->
        <div id='box-left'>

            <h3 class='floorFont'><span id='nowFloor'>1F</span></h3>
            <ul class='categoryList'>
                <li>
                    <div class="categoryBtn categoryFont" id='category1'><div id='categoryIcon1'></div><span class="categoryName">패션의류</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category2'><div id='categoryIcon2'></div><span class="categoryName">패션잡화</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category3'><div id='categoryIcon3'></div><span class="categoryName">화장품 · 뷰티</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category4'><div id='categoryIcon4'></div><span class="categoryName">음식점</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category5'><div id='categoryIcon5'></div><span class="categoryName">식 · 음료</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category6'><div id='categoryIcon6'></div><span class="categoryName">생활 · 가전</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category7'><div id='categoryIcon7'></div><span class="categoryName">키즈 · 애견</span></div>
                </li>
            </ul>
            <ul class='categoryList2'>
                <li>
                    <div class="categoryBtn categoryFont" id='category8'><div id='categoryIcon8'></div><span class="categoryName"></span>스포츠·자동차</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category9'><div id='categoryIcon9'></div><span class="categoryName"></span>편의·의료·교육</span></div>
                </li>
                <li>
                    <div class="categoryBtn categoryFont" id='category10'><div id='categoryIcon10'></div><span class="categoryName"></span>금융·일반</span></div>
                </li>
            </ul>
            <!-- 카테고리 버튼 -->
            <div>
                <ul class='categoryNav'>
                    <li>
                        <div class='categoryPrev' id='prev'>
                            <
                        </div>
                    </li>
                    <li>
                        <span style="font-weight: bold; font-size: x-large;" id='nowPage'>1</span>
                        <span style="font-size: x-large;">/ 2</span>
                    </li>
                    <li>
                        <div class='categoryPrev clickBtn' id='next'>
                            >
                        </div>
                    </li>
                </ul>
            </div>
            <div class='leftAd'>
                <img src='img/ad1.png'>
            </div>
        </div>
        <!-- class='mapImg' -->
        <!-- svg 파일 -->
        <div id='box-center'>
            <div class='center-left'>
                <img src='img/centralMap.png'onmousedown="startDrag(event, this)">
            </div>    
            <div class='center-right'>
                    <ul class='mapBtnList'>
                        <li><div class='mapNav'></div></li>
                        <li><div class='plusBtn' id='zoomIn'>+</div></li>
                        <li><div class='resetBtn' id='zoomReset'>┏ ┓ ┗ ┛</div></li>
                        <li><div class='minusBtn' id='zoomOut'>ㅡ</div></li>
                    </ul>        
                <ul class='floorBtn'>
                    <li>
                        <div class="floorIcon floorSelcet floorBack" id='floor1Btn'>1F</div>
                    </li>
                    <li>
                        <div class="floorIcon" id='floor2Btn'>2F</div>
                    </li>
                    <li>
                        <div class="floorIcon" id='floor3Btn'>3F</div>
                    </li>
                </ul>
            </div>
            <div class='center-footer'>
                <ul class='center-footer-list'>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>화장실</h2></div></li>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>엘리베이터</h2></div></li>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>에스컬레이터</h2></div></li>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>ATM</h2></div></li>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>물품보관소</h2></div></li>
                    <li><div class='center-footer-box'><h2 class='center-footer-name'>비상구</h2></div></li>
                </ul>
            </div>
        </div>
        <!-- 우측메뉴 -->
        <div id='box-right'>
            <h2 class='central'>CENTRAL</h2>
            <h2 class='dome'>DOME</h2>
            
            <ul class='rightNav'>
                <li><img src='img/pic03.png' style="opacity: 0.3;"><div class='rightNavBox'></div><div class='rightNavName'>메인</div></li>
                <li><img src='img/pic03.png' style="opacity: 0.2;" class='search'><div class='rightNavBox search'></div><div class='rightNavName search'>검색</div></li>
                <li><img src='img/pic03.png' style="opacity: 0.4;"><div class='rightNavBox'></div><div class='rightNavName'>이벤트</div></li>
                <li><img src='img/pic03.png' style="opacity: 0.5;"><div class='rightNavBox'></div><div class='rightNavName'>이용안내</div></li>
            </ul> 
            
            <ul class='languageList'>
                <div class='language'>LANGUAGE</div>
                <li><div class='languageSelect choose' id='kor'>가</div></li>
                <li><div class='languageSelect' id='eng'>A</div></li>
            </ul>

            <ul class='whetherList'>
                <li>
                    <div class='whether'></div>
                </li>
                <li>
                    <div class='temperature'><span id='temp'></span></div>
                </li>
            </ul>
            <div>
                <h3 class="dayCount" id='dayCount'></h3>
                <h2 class="timeCount" id='timeCount'></h2><br>
                <h2 class="dustCount">미세먼지농도&nbsp;<span style="color: #53ec5d; font-size: 20px;" id='dust'></span></h2>
            </div>

            <div class='rightAd'><img src='img/ad2.png'></div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        
        <div class="modal-content">
            <div class="searchClose">닫기 X</div>      
            <ul class='searchList'>
                <li><div class='searchColums searchChoose'>브랜드 검색</div></li>
                <li><div class='searchColums'>카테고리 검색</div></li>
            </ul>                               
            <ul class='searchList'>
                <li>
                    <!-- <div class='search-left'>dd</div> -->
            
                </li>

                <!-- <li><img src='img/modalAd.png' style="float: right;"></li> -->
            </ul>
        </div>
        </div>
    <script>
    

var img_L = 0;
var img_T = 0;
var targetObj;

function getLeft(o){
     return parseInt(o.style.left.replace('px', ''));
}
function getTop(o){
     return parseInt(o.style.top.replace('px', ''));
}
// 이미지 움직이기
function moveDrag(e){
     var e_obj = window.event? window.event : e;
     var dmvx = parseInt(e_obj.clientX + img_L);
     var dmvy = parseInt(e_obj.clientY + img_T);
     targetObj.style.left = dmvx +"px";
     targetObj.style.top = dmvy +"px";
     return false;
}

// 드래그 시작
function startDrag(e, obj){
     targetObj = obj;
     var e_obj = window.event? window.event : e;
     img_L = getLeft(obj) - e_obj.clientX;
     img_T = getTop(obj) - e_obj.clientY;

     document.onmousemove = moveDrag;
     document.onmouseup = stopDrag;
     if(e_obj.preventDefault)e_obj.preventDefault();
}

// 드래그 멈추기
function stopDrag(){
     document.onmousemove = null;
     document.onmouseup = null;
}

    //줌인 줌아웃 리셋
    $('#zoomIn').on('click',function(){
        if($('#zoomIn').attr('class') == 'plusBtn'){
            //이미지 커서 이동 css
            $('.center-left img').css('left','0px')
            $('.center-left img').css('top','0px')

            $('.center-left img').addClass('oneX')
            $('#zoomIn').addClass('twoZoom')
        }else if($('#zoomIn').attr('class') == 'plusBtn twoZoom'){
            $('.center-left img').addClass('twoX')
        }
    })

    $('#zoomOut').on('click',function(){
        if($('#zoomIn').attr('class') == 'plusBtn twoZoom'){
            $('.center-left img').removeClass('twoX')
            $('#zoomIn').removeClass('twoZoom')
        }else if($('#zoomIn').attr('class') == 'plusBtn'){
            //이미지 커서 이동 css
            $('.center-left img').css('left','')
            $('.center-left img').css('top','')
            $('.center-left img').removeClass('oneX')
        }
    })

    $('#zoomReset').on('click',function(){
        //이미지 커서 이동 css
        $('.center-left img').css('left','')
        $('.center-left img').css('top','')
        $('#zoomIn').removeClass('twoZoom')
        $('.center-left img').removeClass('oneX')
        $('.center-left img').removeClass('twoX')
    })

    //현재 기상상황
    function skyState(){
        $.ajax({
            url: 'http://api.openweathermap.org/data/2.5/weather?q=Pyeongtaek,%20KR&appid=47e6ad3f944264b19fae6989cd782a07',
            dataType: 'json',
            success: function(json){
                let skyState = json.weather[0].main;
            }
        })
    } 
    skyState();
    setInterval(function(){
        test = this;
        test.skyState()
    },3600000)


    //현재 미세먼지 상황
    function dustState(){
        //console.log('여기')
        $.ajax({
            url:'https://api.waqi.info/feed/Suwon/?token=1e20d40a5d021e3c440d37f1e04d7002f5b08c30',
            dataType:'json',
            success: function(json){
                //console.log(json.data.iaqi)
                let nowTemp = json.data.iaqi.t.v
                let nowDust = json.data.iaqi.pm10.v
                //현재 온도
                $('#temp').text(Math.round(nowTemp)+'°')
                if(nowDust < 30){
                    nowDust = '좋음'
                    $('#dust').css('color','blue')
                    $('#dust').text(nowDust)
                }else if(nowDust < 80){
                    nowDust = '보통'
                    $('#dust').css('color','#53ec5d')
                    $('#dust').text(nowDust)
                }else if(nowDust < 150){
                    nowDust = '나쁨'
                    $('#dust').css('color','orange')
                    $('#dust').text(nowDust)
                }else if(nowDust > 150){
                    nowDust = '매우나쁨'
                    $('#dust').css('color','red')
                    $('#dust').text(nowDust)
                }
            }
        })
        return;
    }
    //미세먼지 1시간 마다 갱신
    dustState();
    setInterval(function(){
        test = this;
        test.dustState()
    },3600000)  

    //검색 모달
    let searchModal = $('#myModal')[0]
    let searchClose = $('.searchClose')[0];                                          
    searchClose.onclick = function() {
        searchModal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == searchModal) {
            searchModal.style.display = "none";
        }
    }
    $('.search').on('click',function(){
        searchModal.style.display = "block";
    })

    //언어선택
    $('#kor').on('click',function(){
        if($('#kor').attr('class') == 'languageSelect'){
            $('#kor').addClass('choose')
            $('#eng').removeClass('choose')
        }
    })
    $('#eng').on('click',function(){
        if($('#eng').attr('class') == 'languageSelect'){
            $('#kor').removeClass('choose')
            $('#eng').addClass('choose')            
        }
    })

    //카테고리 클릭
    $('.categoryList div').on('click',function(e){
        let categoryId = e.currentTarget.id
        if(this.className.substring(25,40) != 'selected'){
            $('#'+categoryId).addClass('selected')
        }else if(this.className.substring(25,40) == 'selected'){
            $('#'+categoryId).removeClass('selected')
        }
    })
    $('.categoryList2 div').on('click',function(e){
        let categoryId = e.currentTarget.id
        if(this.className.substring(25,40) != 'selected'){
            $('#'+categoryId).addClass('selected')
        }else if(this.className.substring(25,40) == 'selected'){
            $('#'+categoryId).removeClass('selected')
        }
    })
    //카테고리 이전 다음버튼
    $('#next').on('click',function(e){
        if($('#nowPage').text()==1){
            $('#nowPage').text('2')
            $('.categoryList').css('display','none')
            $('.categoryList2').css('display','block')
            $('#prev').addClass('clickBtn')
            $('#next').removeClass('clickBtn')
        }
    })

    $('#prev').on('click',function(){
        if($('#nowPage').text()==2){
            $('#nowPage').text('1')
            $('.categoryList').css('display','block')
            $('.categoryList2').css('display','none')
            $('#next').addClass('clickBtn')
            $('#prev').removeClass('clickBtn')
        }
    })
    
    //층수 클릭
    $('.floorBtn div').on('click',function(e){
        let nowFloor = e.target.id
        $('.floorBtn div').removeClass('floorSelcet')
        $('#'+nowFloor).addClass('floorSelcet')
    })    

    //날짜 함수
    function dayCount(){
        this.day = new Date(),
        nowYear = String(day.getFullYear()),
        nowMon = String(day.getMonth() + 1),
        nowDay = String(day.getDate());
        if (nowMon.length == 1) {
        nowMon = "0" + nowMon
        }
        let NowToday = nowYear+'.'+ nowMon+'.'+ nowDay;
        $('#dayCount').text(NowToday)
    }
    dayCount();
    //날짜 인터벌
    setInterval(function(){
        test = this;
        test.dayCount()
    },43200000)
    //시간 함수
    this.timeCount = function(){
        let time = new Date();
        let nowHour = time.getHours();
        let nowMt = time.getMinutes();
        let nowTime;
        if ( nowHour < 12  &&  nowHour  >= 0 ) {
            if(nowMt <10){
                nowMt = '0'+nowMt
            }   
            if(nowHour<10){
                nowTime = 'AM 0'+nowHour+':'+nowMt;
            }else{
                nowTime = 'AM '+nowHour+':'+nowMt;
            }

        } else if (  nowHour >= 12  &&  nowHour  < 24  ) {
            if(nowMt <10){
                nowMt = '0'+nowMt
            }   
            if(nowHour >12){
                nowTime = 'PM 0'+(Number(nowHour)-12)+':'+nowMt;
            }else if(nowHour > 21){
                nowTime = 'PM '+(Number(nowHour)-12)+':'+nowMt;
                //nowTime = 'PM '+nowHour+':'+nowMt;
            }
        }
        $('#timeCount').text(nowTime)
    }
    //시간 인터벌
    setInterval(function(){
        test = this;
        test.timeCount()
    },30000)
    timeCount();

    </script>
</body>
</html>