<!DOCTYPE html>
<html lang="ko">

<head>
	<script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scrolla.jquery.min.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.css">
    <script src='//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.js'></script>
</head>

<body>
    
    <form id='testForm' name='bForm' method="POST" enctype= "multipart/form-data" action="/api/addBusiness">
        <!-- <input type="hidden" name="_method" value="PUT">         -->
<div class='main01' style="display: block;">
        <div>
            <label>아이디</label>
            <input type='text' name='bsId' value='테스트'>
        </div>
        <div>
            <label>비밀번호</label>
            <input type='text' name='bsPw' value='비밀번호'>
        </div> 
        <div>
            <label>대표자명</label>
            <input type='text' name='bsCeo' value='최대표'>
        </div> 
        <div>
            <label>매장명(한글)</label>
            <input type='text' name='bsNameKo' value='매장'>
        </div> 
        <div>
            <label>매장명(영문)</label>
            <input type='text' name='bsNameEn' value='store'>
        </div> 
        <div>
            <label>매장소개(한글)</label>
            <input type='text' name='bsContKo' value='테스트'>
        </div> 
        <div>
            <label>매장소개(영문)</label>
            <input type='text' name='bsContEn' value='contents'>
        </div> 
        <div>
            <label>매장번호</label>
            <input type='text' name='bsTel' value='010213213'>
        </div> 
        <div>
            <label>대표번호</label>
            <input type='text' name='bsCeoTel' value='031023021'>
        </div> 
        <div>
            <label>도로주소(한글)</label>
            <input type='text' name='bsAddr1Ko' value='주소주소'>
        </div> 
        <div>
            <label>도로주소(영문)</label>
            <input type='text' name='bsAddr1En'  value='addr'>
        </div>
        <div>
            <label>상세주소(한글)</label>
            <input type='text' name='bsAddr2Ko' value='상세주소'>
        </div> 
        <div>
            <label>상세주소(영문)</label>
            <input type='text' name='bsAddr2En' value='detail'>
        </div>  
        <div>
            <label>평일오픈시간</label>
            <input type='text' class='timepicker' name='bsMainS' value='10:00'>
        </div> 
        <div>
            <label>평일종료시간</label>
            <input type='text' class='timepicker' name='bsMainF' value='10:00'>
        </div> 
        <div>
            <label>주말오픈시간</label>
            <input type='text' class='timepicker' name='bsSubS' value='10:00'>
        </div> 
        <div>
            <label>주말종료시간</label>
            <input type='text' class='timepicker' name='bsSubF' value='10:00'>
        </div> 
        <div>
            <label>휴식시간</label>
            <input type='text' class='timepicker' name='bsBreakS' value='10:00'>
        </div> 
        <div>
            <label>휴식시간종료</label>
            <input type='text' class='timepicker' name='bsBreakF' value='10:00'>
        </div> 
        <div>
            <label>휴무일(한글)</label>
            <input type='text' name='bsPersonalKo' value='공휴일'>
        </div>        
        <div>
            <label>휴무일(영문)</label>
            <input type='text' name='bsPersonalEn' value='all'>
        </div>   
         <div>
            <label>썸네일 사진</label>
            <input type='file' id='bsTumb' name='tumb'>
        </div>     
        <div>
            <label>대표이미지</label>
            <input type='file' id='bsMain' name='main'>
        </div>
    <button type='button' onclick="mainOne()">다음</button>
    </div>
    <!-- 카테고리 -->
    <div class='main02' style="display: none;">
        <div style="width: 300px; height: 300px; overflow: hidden scroll; float: left;" id='LV1Cat'>
        </div>
        <div style="width: 300px; height: 300px; overflow: hidden scroll;" id='LV2Cat'>
        </div>
        <button type='button' onclick="mainBack()">이전</button>
        <button type='button' onclick="mainTwo()">다음</button>
    </div>
  
    <!-- 층수 -->
    <div class='main03' style="display: none;">
        <div style="width: 300px; height: 300px; overflow: hidden scroll; float: left;" id='floor'>
            <div onclick='selectFloor(this)'>
                <input type='radio' id="1F" name='floor'>
                <label for="1F">1층</label>
            </div>
            <div onclick='selectFloor(this)'>
                <input type='radio' id="2F" name='floor'>
                <label for="2F">2층</label>
            </div>
            <div onclick='selectFloor(this)'>
                <input type='radio' id="3F" name='floor'>
                <label for="3F">3층</label>
            </div>
        </div>
        <div style="width: 300px; height: 300px; overflow: hidden scroll;" id='storeNum'>
        </div>
        <div>
            <input type="text" placeholder="직접입력">
        </div>
        
        <button type='button' onclick="mainBack2()">이전</button>
        <button type='submit' >등록</button>
        <!-- <button type='button' onclick="mainThree()">등록</button> -->
    </div>
</form>
</body>
<script>
$(document).ready(function(){
    $.ajax({
        url: '/api/categoryLV1',
        method: 'get',
        dataType: 'json',
        success: function(res){
            for(let i=0; i<res.data.length; i++){
                let html = "<div onclick='LV1Cat(this)' id="+"lvOne"+res.data[i].BCR_LV1_BC_ID+">";
                    html += "<input type='radio'  id="+"lv1"+res.data[i].BCR_LV1_BC_ID+" name='catLv1' value="+res.data[i].BCR_LV1_BC_ID+">"
                    html += "<label for="+"lv1"+res.data[i].BCR_LV1_BC_ID+">"+res.data[i].BC_NameKor+"</label>"
                    html += "</div>"
                $('#LV1Cat').append(html)
            }
        }
    })
    //중분류
    $.ajax({
        url: '/api/categoryLV2',
        method: 'get',
        dataType: 'json',
        success: function(res){
            //카테고리 저장
            localStorage.setItem('catLV2',JSON.stringify(res.data))
        }
    })
    //층수
    $.ajax({
        url: '/api/floor',
        method: 'get',
        dataType: 'json',
        success: function(res){
            //카테고리 저장
            localStorage.setItem('floor',JSON.stringify(res.data))
        }
    })
})

    $(function() {
        $('.timepicker').timepicker();
    });

    function mainOne(){
        $('.main01').css('display','none')
        $('.main02').css('display','block')
    }
    function mainTwo(){
        $('.main03').css('display','block')
        $('.main02').css('display','none')
    }

    function mainBack2(){
        $('.main03').css('display','none')
        $('.main02').css('display','block')
    }
    
    function mainBack(){
        $('.main01').css('display','block')
        $('.main02').css('display','none')
    }

//POST 변수들
let lv1Cat, lv2Cat, storeNum


//대분류 카테고리
    function LV1Cat(e){     
        lv1Cat = e.id.replace(/lvOne/,'')
        let catLv1Id = e.id.replace(/lvOne/,'')
        let searchCatLV2 = JSON.parse(localStorage.getItem('catLV2'))    
        $('#LV2Cat').empty()
        for(let i=0; i<searchCatLV2.length; i++){
            // console.log(searchCatLV2)
            if(searchCatLV2[i].BCR_LV1_BC_ID == catLv1Id){
                let resultCatLV2 = new Array();
                let jsonCatLV2 = new Object();
                jsonCatLV2 = searchCatLV2[i]
                resultCatLV2.push(jsonCatLV2)
                for(let j=0; j<resultCatLV2.length; j++){
                    let html = "<div onclick='LV2Cat(this)' id="+"lvTwo"+resultCatLV2[j].BC_ID+">";
                        html += "<input type='radio' id="+"lv2"+resultCatLV2[j].BC_ID+" name='catLv2' value="+resultCatLV2[j].BC_ID+">"
                        html += "<label for="+"lv2"+resultCatLV2[j].BC_ID+">"+resultCatLV2[j].BC_NameKor+"</label>"
                        html += "</div>"
                    $('#LV2Cat').append(html);
                }
            }
        }
    }
//중분류 카테고리
    function LV2Cat(e){
        lv2Cat = e.id.replace(/lvTwo/,'');
    }

//층수 선택
    function selectFloor(e){
        $('#storeNum').empty();
        let floorStatus = JSON.parse(localStorage.getItem('floor'))
        // console.log($(e).children('input').attr('id'))
        for(let i=0; i<floorStatus.length; i++){
            if(floorStatus[i].LS_Floor == $(e).children('input').attr('id')){
                let html = "<div onclick='selectStoreNumber(this)'>";
                    html += "<input type='radio' id="+floorStatus[i].LS_Number+" name='storeNumber' value="+floorStatus[i].LS_Number+">"
                    html += "<label for="+floorStatus[i].LS_Number+">"+floorStatus[i].LS_Number+"</label>"
                    html += "</div>"
                $('#storeNum').append(html)
            }
        }
    }
//상가 호수 선택
    function selectStoreNumber(e){
        console.log($('input[name="storeNumber"]:checked').attr('id'))
        storeNum = $('input[name="storeNumber"]:checked').attr('id')
    }

    // function mainThree(){

    //     //대분류 BS_BC_ID , BCR_LV1_BC_ID
    //     //중분류  BCR_LV2_BC_ID select BCR_ID from tBCR where BCR_LV1_BC_ID = 대분류 AND BCR_LV2_BC_ID = 중분류
    //     //이 후 insert into tBSxBCR values(맨 마지막 BS_ID, 위에서 구한 BCR_ID)
    //     console.log(lv1Cat,'대분류');
    //     console.log(lv2Cat,'중분류');
    //     //호실 BS_ID, LS_Number
    //     console.log(storeNum,'호수');
    //     var form = $('#testForm')[0]
    //     var formData = new FormData(form)
    //     formData.append('file1',$('#tumb')[0].files[0])
    //     formData.append('file2',$('#main')[0].files[0])
    //     $.ajax({
    //         url: '/api/addBusiness',
    //         method: 'post',
    //         dataType: 'json',
    //         enctype: "multipart/form-data",
    //         data: {'BCR_LV1_BC_ID' : lv1Cat,
    //                'BCR_LV2_BC_ID' : lv2Cat,
    //                'LS_Number' : storeNum
    //             },
    //         success: function(res){

    //         }
    //     })
    // }

    // let getBSID = location.href
    // console.log(getBSID)

    function urlParam(){
        var array = [], hash;
        var url_Address = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        //?device_cd=2fa
        for (var i = 0; i < url_Address.length; i++) {
            hash = url_Address[i].split('=');
            array.push(hash[1]);
            // console.log(hash);
            array[hash[0]] = hash[1];
        }
        return array;
    }

   let getBSID = urlParam()
   console.log(getBSID[0])

    // document.bForm.action = '/api/modifyBusiness/'+getBSID[0]
</script>

</html>