<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_main.css">
    <link rel="stylesheet" href="/css/summary.css">
    

    <title>AZ369 - 사업개요</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 사업개요">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>

                <div class="tnb">
                    <ul>
                        <a href="summary">
                            <li style="background: #C3A164; color: #fff; ">사업개요</li>
                        </a>
                        <a href="ctd_info">
                            <li>센트럴돔 소개</li>
                        </a>
                        <a href="location">
                            <li>오시는 길</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">
                <h6>사업개요</h6>
                <h1>SUMMARY</h1>
                <div class="bar"></div>
                <h2>모이면 모일수록 더 행복해지는 <br>
                    <strong>보세의류전문 쇼핑몰 AZ369</strong>가 당신과 함께합니다.</h2>
                <div class="sub_bg"><img src="/img/gnb_01/summary_sub_img.png" alt="사업개요 이미지"></div>

                <div class="sub_info">
                    <h4>기존의 아울렛과는 다릅니다.<br>
                    <strong>AZ369</strong>는 경기남부권 최대규모의 <span>보세전문 쇼핑몰</span>을 만들고자 합니다.</h4>

                    <p>눈부신 속도로 성장해나가고 있는 평택의, 그중 상업중심지로 불리는 소사벌 위치에 평택 가로수길 센트럴돔이 자리하고 있습니다. <br>
                    AZ369는 곳곳에 흩어져있는 보세의류 옷가게들을 이곳, 평택 센트럴돔이라는 넓은 스트리트 몰 안으로 밀집시킴으로써 <br class="none_br"> 보세의류도 이제는 백화점처럼 남녀노소 누구나 즐겁고 간편하게 쇼핑하며 만날 수 있도록 하는 것이 저희 AZ369의 목표입니다. <br>
                     보세의류 스트리트 몰이라는 매력적인 경쟁력과 더불어, <br>
                   현재 AZ369에서만 드리는 다양한 혜택과 함께하실 입점주분들을 모집하고 있습니다.</p>

                    <!-- <p>빠른 속도로 성장하고 있는 평택 내 상업중심지 소사벌에 위치한 평택 가로수길 센트럴돔을 중점으로 하여 <br>흩어져있는 보세 의류 옷가게들을 이곳 센트럴돔으로 모아 사업에 필요한 관리비용을 낮추고 경쟁력을 높이는 것이 AZ369의 목표입니다.<br>
                       보세의류도 이제는 하나의 백화점처럼 가족과 친구, 연인이 함께 즐겁고 편안하게 쇼핑할 수 있도록 쇼핑몰을 이룰 수 있습니다.<br>
                        이를 실현하기 위해 저희 AZ369는 다양한 혜택과 함께 <strong>입점주분들을 모집</strong>하고 있습니다. </p> -->
                    <ul>
                        <li>
                            <a href="benefit" class="info_btn btn-outline-primary">입점신청혜택</a>
                        </li>
                        <li>
                            <a href="ctd_info" class="info_btn btn-outline-primary">센트럴돔 소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

    <script>

        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }

        //gallery 슬라이드
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'slide showing';
        }

    </script>
</body>

</html>