<!DOCTYPE html>
<html lang="ko">

<head>

    <title>AZ369 - 장차버스예매</title>
    <link rel="stylesheet" href="/stylesheets/admin/css/testgy.css">

</head>

<body>

    <div class="wrap">
        <div class="box">11</div>
    </div>

</body>
</html>