<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/scrolla.jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <form id='fileTest' enctype="multipart/form-data">
    <input type="file" name="file" id='file'>
  </form>
  <button onclick="add()">전송</button> -->

  <form>
    <input type="file" name="file" id='file'>
    
  </form>
  <button type="button" onclick="add()">전송</button>
</body>
<script>
  var form = $('#fileTest')[0]
  var form_data = new FormData(document.forms[0])
  
  
  function add(){
    console.log(form);
    console.log(form_data);
    console.log($('#file').val());
    $.ajax({
      url: '/api/upload',
      method: 'post',
      enctype : "multipart/form-data",
      data : form_data,
      contentType : false,
      processData : false,
      success : function(){
        // console.log('goood');
      }
    });
  }

</script>
</html>