<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

</head>

<body>

    <div id="app" class="container">
    
        <section>

            <b-field label="Select datetime">
                <b-datetimepicker
                    placeholder="Click to select..."
                    :min-datetime="minDatetime"
                    :max-datetime="maxDatetime">
                </b-datetimepicker>
            </b-field>
        </section>
    
    </div>
                    

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script> -->

    <script>
        // const example = {
        //     data() {
        //         return {
        //             showWeekNumber: false,
        //             formatAmPm: false,
        //             enableSeconds: false
        //         }
        //     },
        //     computed: {
        //         format() {
        //             return this.formatAmPm ? '12' : '24'
        //         }
        //     }
        // }

        // const app = new Vue(example)
        // app.$mount('#app')
        </script>




<script>
    const example = {
        data() {
            const min = new Date()
            min.setDate(min.getDate() - 7)
            min.setHours(9)
            min.setMinutes(0)
            min.setSeconds(0)
            const max = new Date()
            max.setDate(max.getDate() + 70)
            max.setHours(18)
            max.setMinutes(0)
            max.setSeconds(0)
            return {
                minDatetime: min,
                maxDatetime: max
            }
        }
    }

    const app = new Vue(example)
    app.$mount('#app')
        
</script>
        
</body>
</html>