<style>
.ex-layout{
    width: 500px;
    height: 500px;
}
.ex-layout .gnb{
	padding: 15px;
	background-color: skyblue;
}

.ex-layout .main{
    width: 500px;
    height: 400px;
    background-color: white;
}
.ex-layout .main:after{ clear: both; display: block; content: '' }

.ex-layout .main .lnb{
    float: left;
    width: 100px;
    height: 400px;
    background-color: orange;
}
.ex-layout .main .content{
    float: left;
    width: 400px;
    height: 350px;
}
.ex-layout .main .content .article{
    /* width: 400px; */
    height: 360px;
	background-color: white;
}
.ex-layout .main .content .footer{
    /* width: 400px; */
    height: 40px;
	background-color: #ddd;
}
</style>
<div class="ex-layout">
	<div class="gnb">Global menu</div>
	<div class="main">
        <div class="lnb">Left menu</div>
		<div class="content">
			<div class="article">
                article area
            </div>
            <div class="footer">
                Footer area
            </div>
		</div>
	</div>
</div>
<style>
	.box-container{
		width: 350px;
		border: 2px solid #09c;
		background-color: #d7f5ff;
	}
	.box-container .box{
		width: 80px;
		height: 40px;
		border: 2px solid red;
		background-color: #ffe7d5;
	}
</style>
<div class="box-container">
	<div class="box" style="float: left">박스1</div>
	<div class="box" style="float: right">박스2</div>
</div>
<div>박스 아래에 나타나야 하는 내용</div>