<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/scrolla.jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common_box.css">
  <link rel="stylesheet" href="/css/mypage.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
  <style>
    /* .swiper-container {
      width:600px;
      height:auto;
      border:5px solid silver;
      border-radius:7px;
      box-shadow:0 0 20px #ccc inset;
    } */
    .swiper-slide {
      text-align:center;
      /* display:flex; 내용을 중앙정렬 하기위해 flex 사용 */
      align-items:center; /* 위아래 기준 중앙정렬 */
      justify-content:center; /* 좌우 기준 중앙정렬 */
    }
    .swiper-slide img {
      box-shadow:0 0 5px #555;
    }
  </style>
</head>
<body>
<!-- 
  <div class="swiper-container myswiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2>승차권</h2>
        <div class="qr_info">
            <div id='qrcode' class='qrcode'></div>
            <div class="qr_txt">
                <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p>
            </div>
        </div>
        <table class="detail_table">
            <tr>
                <th>결제일시</th>
                <td>2020.01.01 19:24</td>
            </tr>
            <tr>
                <th>예매정보</th>
                <td>2020.01.07 21:00 - 04:00 <span>(평택 - 서울동대문)</span> <br> 유림고속(1111)</td>
            </tr>
            <tr>
                <th>예매좌석</th>
                <td>1번</td>
            </tr>
            <tr>
                <th>결제수단</th>
                <td>카드결제 (신한)</td>
            </tr>
            <tr>
                <th>결제금액</th>
                <td>20,000원</td>
            </tr>
        </table>
        <p><span style="color: #C43B0D;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>예매한
            예매를 취소하겠습니까?</p>
        <div class="popup_btn">
            <ul>
                <li>
                    <a onclick="javascript:$('#popup').css('display','none')" class="btn btn-secondary popup_close1">닫기</a>
                </li>
    
                <li>
                    <a href="#" class="btn btn-primary" onclick="resCancel()">예매취소</a>
                </li>
            </ul>
        </div>
    </div>   
    <div class="swiper-slide">
        <h2>승차권2222</h2>
        <div class="qr_info">
            <div id='qrcode' class='qrcode'></div>
            <div class="qr_txt">
                <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p>
            </div>
        </div>
        <table class="detail_table">
            <tr>
                <th>결제일시</th>
                <td>2020.01.01 19:24</td>
            </tr>
            <tr>
                <th>예매정보</th>
                <td>2020.01.07 21:00 - 04:00 <span>(평택 - 서울동대문)</span> <br> 유림고속(1111)</td>
            </tr>
            <tr>
                <th>예매좌석</th>
                <td>1번</td>
            </tr>
            <tr>
                <th>결제수단</th>
                <td>카드결제 (신한)</td>
            </tr>
            <tr>
                <th>결제금액</th>
                <td>20,000원</td>
            </tr>
        </table>
        <p><span style="color: #C43B0D;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>예매한
            예매를 취소하겠습니까?</p>
        <div class="popup_btn">
            <ul>
                <li>
                    <a onclick="javascript:$('#popup').css('display','none')" class="btn btn-secondary popup_close1">닫기</a>
                </li>
    
                <li>
                    <a href="#" class="btn btn-primary" onclick="resCancel()">예매취소</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
  
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  
  </div> -->

    <!-- 팝업 @@@@@@@@@@@@@@@ -->

  <div onclick="test()">모달 업!!</div>

    <div id="popup" class="layer">
      <div class="popup_box">
          <div class="swiper-container myswiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <h2>승차권</h2>
                      <div class="qr_info">
                          <div id='qrcode' class='qrcode'></div>
                          <div class="qr_txt">
                              <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p>
                          </div>
                      </div>
                      <table class="detail_table">
                          <tr>
                              <th>결제일시</th>
                              <td>2020.01.01 19:24</td>
                          </tr>
                          <tr>
                              <th>예매정보</th>
                              <td>2020.01.07 21:00 - 04:00 <span>(평택 - 서울동대문)</span> <br> 유림고속(1111)</td>
                          </tr>
                          <tr>
                              <th>예매좌석</th>
                              <td>1번</td>
                          </tr>
                          <tr>
                              <th>결제수단</th>
                              <td>카드결제 (신한)</td>
                          </tr>
                          <tr>
                              <th>결제금액</th>
                              <td>20,000원</td>
                          </tr>
                      </table>
                      <p><span style="color: #C43B0D;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>예매한
                          예매를 취소하겠습니까?</p>
                      <div class="popup_btn">
                          <ul>
                              <li>
                                  <a onclick="javascript:$('#popup').css('display','none')" class="btn btn-secondary popup_close1">닫기</a>
                              </li>
                  
                              <li>
                                  <a href="#" class="btn btn-primary" onclick="resCancel()">예매취소</a>
                              </li>
                          </ul>
                      </div>
                  </div>   
                  <div class="swiper-slide">
                      <h2>승차권2222</h2>
                      <div class="qr_info">
                          <div id='qrcode' class='qrcode'></div>
                          <div class="qr_txt">
                              <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p>
                          </div>
                      </div>
                      <table class="detail_table">
                          <tr>
                              <th>결제일시</th>
                              <td>2020.01.01 19:24</td>
                          </tr>
                          <tr>
                              <th>예매정보</th>
                              <td>2020.01.07 21:00 - 04:00 <span>(평택 - 서울동대문)</span> <br> 유림고속(1111)</td>
                          </tr>
                          <tr>
                              <th>예매좌석</th>
                              <td>1번</td>
                          </tr>
                          <tr>
                              <th>결제수단</th>
                              <td>카드결제 (신한)</td>
                          </tr>
                          <tr>
                              <th>결제금액</th>
                              <td>20,000원</td>
                          </tr>
                      </table>
                      <p><span style="color: #C43B0D;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>예매한
                          예매를 취소하겠습니까?</p>
                      <div class="popup_btn">
                          <ul>
                              <li>
                                  <a onclick="javascript:$('#popup').css('display','none')" class="btn btn-secondary popup_close1">닫기</a>
                              </li>
                  
                              <li>
                                  <a href="#" class="btn btn-primary" onclick="resCancel()">예매취소</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- 네비게이션 버튼 -->
              <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
              <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
          </div>
      </div>
  </div>

</body>

<script>

    function test(){

        $('#popup').css('display','block')
        new Swiper('.myswiper', {
      // 슬라이드 속도 설정
      // 지정하지 않을시 기본값은 300
      speed : 300,
      navigation : { // 네비게이션 설정
        nextEl : '.swiper-button-next', // 다음 버튼 클래스명
        prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
      },
    });
    }

  </script>
</html>