<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_main.css">
    <link rel="stylesheet" href="/css/vehicle.css">

    <title>AZ369 - 장차운행안내</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 장차운행안내">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--section.main 시작-->

        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <ul>
                        <a href="vehicle">
                            <li style="background: #C3A164; color: #fff">장차운행안내</li>
                        </a>
                        <a href="reservation">
                            <li>장차예매신청</li>
                        </a>
                        <a href="mypage">
                            <li>장차예매현황</li>
                        </a>

                    </ul>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <h6>장차운행안내</h6>
                <h1 style="font-family: 'PT Serif', serif;">VEHICLE SERVICE</h1>
                <div class="bar"></div>
                <h5>평택 센트럴돔에서 서울 동대문 상가까지</h5>

                <h2><strong>AZ369</strong>에서는 <br><span>장차운행 서비스</span>를 시행합니다.</h2>
                <div class="sub_bg"><img src="/img/vehicle/vehicle_sub_bg.png" alt=""></div>

                <div class="sub_info">
                    <h4>오가는 길 든든하고 편안하게! <br><span>AZ369</span>에서 지원하는 장차는
                        <span>인원수 상관없이</span> 정해진 날짜에 <span>항시 운행</span>합니다.</h4>

                    <!-- <p><span>서울 동대문 상가 ↔ 평택 가로수길 센트럴돔 (왕복)</span><br>
                        <span>평택 → 서울</span> 월요일 밤 9시 ~ 10시 출발<br>
                        <span>서울 → 평택</span> 월요일 새벽 4시 ~ 5시 출발<br>
                        (최소 주 1회. 추후 주 2회로 늘일 예정)<br>
                        선착순 입석 (이후 좌석선택으로 변경될 예정)
                    </p> -->
                    <div class="sub_list">
                        <ul>
                            <li>
                                <h3>위치</h3>
                                <div class="list_bar"></div>
                                서울 동대문 상가 ↔ 평택 가로수길 센트럴돔 (왕복)
                            </li>
                            <li>
                                <h3>평택 <img src="/img/common/list_arrow.png" style="padding: 0 10px;" alt="화살표"> 서울</h3>
                                <div class="list_bar"></div>
                                21:00 ~ 22:00 출발</li>
                            <li>
                                <h3>서울 <img src="/img/common/list_arrow.png" style="padding: 0 10px;" alt="화살표">  평택</h3>
                                <div class="list_bar"></div>
                                04:00 ~ 05:00 출발
                                <span>(최소 주 1회. 추후 주 2회로 늘일 예정)</span></li>
                            <li>
                                <h3>좌석</h3>
                                <div class="list_bar"></div>
                                선착순 입석
                               <span>(이후 좌석선택으로 변경될 예정)</span></li>
                        </ul>
                    </div>

                    <div class="vehicle_btn">
                        <ul>
                            <li class="btn btn-outline-primary ">
                                <a href="img/vehicle/vehicle_location_img.png" target="_blank"
                                    class="vehicle_location">장차탑승위치 보기</a>
                            </li>

                            <li class="btn btn-primary"><a href="reservation" class="reservation">장차예매신청</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--//secton.about 완료-->
        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

    <script>

        //main 슬라이드
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
        }

        //gallery 슬라이드
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].className = 'slide showing';
        }

    </script>
</body>

</html>