<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="/css/video.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">


</head>

<body>
    <div class="wrap">

        <header>

            <!--모바일 아이콘 열기-->
            <a href="#" class="open"><img src="/img/btn_berger_m.png" alt="메뉴열기"></a>

            <div class="innerHeader">
                <h1 class="logo">
                    <a href="index.ejs"><img src="/img/main/logo2.png" alt="센트럴돔 로고"></a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li><a href="summary.ejs" class="gnb_link">사업안내</a>
                            <ul>
                                <li><a href="summary.ejs">사업개요</a></li>
                                <li><a href="ctd_info.ejs">센트럴돔 소개</a></li>
                                <li><a href="location.ejs">오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="benefit.ejs" class="gnb_link">입점신청 및 혜택</a>
                            <ul>
                                <li><a href="benefit.ejs">입점 상가 혜택</a></li>
                                <li><a href="benefit_application.ejs">입점 상담 신청</a></li>
                            </ul>
                        </li>
                        <li><a href="vehicle.ejs" class="gnb_link">장차예매</a>
                            <ul>
                                <li><a href="vehicle.ejs">장차운행안내</a></li>
                                <li><a href="reservation_01.ejs">장차예매신청</a></li>
                                <li><a href="mypage.ejs">장차예매현황</a></li>
                            </ul>
                        </li>
                        <li><a href="video.ejs" class="gnb_link">소개영상</a>
                    </ul>
                </nav>

                <nav class="gnb2">
                    <ul>
                        <li><a href="login.ejs">로그인</a></li>
                        <li><a href="join_01.ejs">회원가입</a></li>
                        <li>
                            <div class="tooltip">전화문의
                                <span class="tooltiptext">031 - 668 - 0116</span></div>
                        </li>
                    </ul>
                </nav>
                <!--<div class="call">
                    문의 <span>031 - 668 - 0116</span>
                </div>-->

            </div>

            <!--모바일 메뉴-->
            <nav class="gnb_mo">
                <a href="#" class="close"><img src="/img/btn_gnb_close.png" alt="메뉴닫기"></a>



                <ul>
                    <li class="gnb_mo_login">
                        <a href="login.ejs">장차예매 시 <u>로그인</u>이 필요합니다.</a>
                    </li>
                    <li>
                        <a href="#">사업안내</a>
                        <ul class="inner">
                            <li><a href="summary.ejs">사업개요</a></li>
                            <li><a href="ctd_info.ejs">센트럴돔 소개</a></li>
                            <li><a href="location.ejs">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">입점신청 및 혜택</a>
                        <ul class="inner">
                            <li><a href="benefit.ejs">입점상가혜택</a></li>
                            <li><a href="benefit_application.ejs">입점상담신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">장차예매</a>
                        <ul class="inner">
                            <li><a href="vehicle.ejs">장차운행안내</a></li>
                            <li><a href="reservation_01.ejs">장차예약신청</a></li>
                            <li><a href="mypage.ejs">장차예매현황</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="video.ejs">소개영상</a>
                    </li>
                </ul>
            </nav>
        </header>


        <!--// header완료-->
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">


                <div class="tnb">
                    <ul>
                        <a href="video.ejs">
                            <li style="background: #ad8743; color: #fff">소개영상</li>
                        </a>

                    </ul>
                </div>

                <div class="video_wrap">
                    <!--타이틀-->
                    <h6>소개영상</h6>
                    <h1 style="font-family: 'PT Serif', serif;">VIDEO</h1>
                    <div class="bar"></div>
                    <h2><span>평택 센트럴돔의 생생한 현장을 담았습니다.</span><br>
                        <em>영상을 통해 <strong>센트럴돔이 가진 매력</strong>을 확인해보세요.</em></h2>


                    <!--section.main_video 추천영상 영역-->
                    <div class="hr-sect">
                        <p>추천 VIDEO</p>
                    </div>
                    <section class="main_video">

                        <div style="position: relative; height:0; padding-bottom: 56.25%;">
                            <iframe class="myFrame" src="https://www.youtube.com/embed/sVxfPoeonzg?rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; width:100%; height:100%;"></iframe>
                        </div>

                        <div class="main_video_txt">
                            <h3>평택 가로수길 센트럴돔 헬로파크 현장을 가보니?</h3>
                            <h5>평택센트럴돔TV <span>|</span> 2020.03.03</h5>
                        </div>
                    </section>
                    <!--// section.main_video-->



                    <!--section.video_list-->
                    <section class="video_list">

                        <div class="hr-sect">
                            <p>최신 VIDEO</p>
                        </div>

                        <ul>
                            <!--영상 목록 1번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/sVxfPoeonzg?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>평택 가로수길 센트럴돔 헬로파크 현장을 가보니?</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.03.03</p>
                                    </div>
                                </a>
                            </li>


                            <!--영상 목록 2번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe src="https://www.youtube.com/embed/WSLcjIyH5xE?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>평택가로수길센트럴돔 간지나라</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.02.19</p>
                                    </div>
                                </a>
                            </li>


                            <!--영상 목록 3번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe src="https://www.youtube.com/embed/YfzCJXVw0zc?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>평택 센트럴돔 크리스마스 트리 소원성취 2부</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.02.16</p>
                                    </div>
                                </a>
                            </li>

                            <!--영상 목록 4번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe src="https://www.youtube.com/embed/te8MTGFWYvc?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>평택 센트럴돔 크리스마스 트리 소원성취 1부</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.02.14</p>
                                    </div>
                                </a>
                            </li>

                            <!--영상 목록 5번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe src="https://www.youtube.com/embed/wPx70bZZKek?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>센트럴돔 록시드갸토 디저트&브런치 카페</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.02.01</p>
                                    </div>
                                </a>
                            </li>

                            <!--영상 목록 6번-->
                            <li>
                                <a href="#popup" class="popup_open">
                                    <div class="video_img">
                                        <iframe style="height: 100%;" src="https://www.youtube.com/embed/PJbLwptk0Lw?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="video_txt">
                                        <h4>평택 가로수길 센트럴돔 현재 모습</h4>
                                        <p>평택센트럴돔TV <span>|</span> 2020.01.31</p>
                                    </div>
                                </a>
                            </li>
                        </ul>


                       <!--popup 내부 PC-->
                        <div id="popup" class="layer">
                            <div class="popup_box">

                                <div class="popup_box_header">
                                    <a href="#" class="popup_close"><img src="/img/video/close_img.png" alt=""></a>
                                </div>

                                <div class="popup_box_inner">

                                    <div class="slideshow-container">

                                       <!--영상 목록 1번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="100%;" src="https://www.youtube.com/embed/sVxfPoeonzg?vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>평택 가로수길 센트럴돔 헬로파크 현장을 가보니?</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.03.03</h5>
                                                <p>오늘 소개할 곳은 센트럴돔 2층에 입점 준비중인 전용면적134평 규모의 헬로파크입니다. 이미 오스트리아, 러시아, 중국은 오픈해서 운영중이고 우리나라에는 부천 웅진 플레이도시, 마산 홈플러스에서 국내 처음도입되고 있는 키즈 카페라고 합니다. 평택도 곳 오픈 예정인데요. 미리 부천과 마산 리뷰 영상을 토대로 가상에 공간으로 들어가 보겠습니다.</p>
                                            </div>
                                        </div>

                                       <!--영상 목록 2번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="100%;" src="https://www.youtube.com/embed/WSLcjIyH5xE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>평택가로수길센트럴돔 간지나라</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.02.19</h5>
                                                <p>센트럴돔에는 간지나라라는 가방을 판매하는 점포가 있는데요. 사장님이 정말 인상 좋으시고 순수하셔서 장사하시는 맞나! 라는 생각 마저 들게 하는 가방가게가 있습니다. 의외로 평택 소사벌지구에 가방 판매점이 있다는 사실을 모르시는분이 많으셔서 소개할까 합니다. 센트럴돔 분수대 중앙광장에 위치하고 있어 쉽게 찾을수 있습니다. 부담 없는 가격에 구매할수 있고 얼마전에 고객들 바램으로 악세사리 코너도 준비 하셨다고 합니다. 신학기를 맞아 학생용 가방이 요즘 많이 나간다고 합니다. 그리고 저가 촬영하니 행사품을 기증 하셨는데요. 동영상을 자세히 보시면 가방에 꽁짜 라는 태그가 붙어 있습니다. 잡아내시면 공짜로 드리겠습니다. 저만 압니다. 가족끼리 찾아보세요. 행사품은 하나 선착순입니다. 앞으로도 센트럴돔을 많이 찾아 주시면 감사하겠습니다.</p>
                                            </div>
                                        </div>

                                       <!--영상 목록 3번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="100%;" src="https://www.youtube.com/embed/YfzCJXVw0zc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>평택센트럴돔 크리스마스트리 소원성취 2부</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.02.16</h5>
                                                <p>평택센트럴돔 소원 크리스마스트리1부영상에 이어서 2부 영상입니다. 1부 영상은 청소년들에 소원을 같이 빌어 주었구요. 1부는 사회 초년생들과 어머니들에 소원입니다. 모든 소원들이 소원성취하리라 봅니다. 로또만 빼고 ......</p>
                                            </div>
                                        </div>

                                       <!--영상 목록 4번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="100%;" src="https://www.youtube.com/embed/te8MTGFWYvc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>평택센트럴돔 크리스마스트리 소원성취 1부</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.02.14</h5>
                                                <p>평택센트럴돔에 대형 크리스마스트리를 설치했었고 이제는 철거를 했습니다. 크리스마스 트리에는 센트럴돔을 찾아 주신 많은 고객분들이 종이에 소원을 적어서 매달아 놓는 행사를 진행했었습니다. 소중한 소원을 버리기에 너무 아까워 동영상에 담아 보았습니다. 센트럴돔을 아끼는 많은 분들이 소원이 이루어지길 기원하셨습니다. 동영상을 자세히 보시면 1000억자리 문제도 있습니다. 함께 보시죠.</p>
                                            </div>
                                        </div>

                                       <!--영상 목록 5번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="100%;" src="https://www.youtube.com/embed/wPx70bZZKek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>센트럴돔 록시드갸토 디저트&브런치 카페</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.02.01</h5>
                                                <p>평택가로수길센트럴돔 2층 록시드 갸토프랜차이즈입니다. 낮에는 디저트와브런치 카페 밤에는 감성과 섹시한 칵테일로 뜨겁게 모십니다. 특급 호텔 출신 쉐프와 유학파 파티쉐가 개발한 특별한 메뉴들과
                                                    다양한 카페 메뉴를 친절하고 따뜻한 사장님이 여러분을 반깁니다. 고급스러움을 원하세요? 그럼 록시드 갸토로 오세요~~~</p>
                                            </div>
                                        </div>

                                       <!--영상 목록 6번-->
                                        <div class="mySlides">
                                            <div class="video_slide">
                                                <iframe class="video" width="100%" height="120%;" src="https://www.youtube.com/embed/PJbLwptk0Lw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="video_slide_txt">
                                                <h3>평택 가로수길 센트럴돔 현재 모습</h3>
                                                <h5>평택센트럴돔TV <span>|</span> 2020.01.31</h5>
                                                <p>2020년1월 평택센트럴돔 현재 모습입니다. 개성만점 센트럴돔으로 놀러 오세요!</p>
                                            </div>
                                        </div>

                                       <!--슬라이드 버튼영역-->
                                        <div class="video_control">
                                            <div class="video_control_num"><strong>1</strong> / 12</div>
                                            <a class="prev" onclick="plusSlides(-1)"><img src="/img/video/prev_icon.png" alt="이전버튼"></a>
                                            <a class="next" onclick="plusSlides(1)"><img src="/img/video/next_icon.png" alt="다음버튼"></a>
                                        </div>
                                        <div class="dot-container">
                                            <span class="dot" onclick="currentSlide(1)"></span>
                                            <span class="dot" onclick="currentSlide(2)"></span>
                                            <span class="dot" onclick="currentSlide(3)"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>

                    <!--하단버튼-->
                    <div class="btn_box">
                        <div class="pagination">
                            <a href="#">❮</a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">❯</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <script>
        'use sctrict';

        //gnb scroll
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>


    <!--youtube 영상 사이즈 자동조절-->
    <script type="text/javascript">
        $(function() {
            $("iframe.myFrame").load(function() { //iframe 컨텐츠가 로드 된 후에 호출됩니다.
                var frame = $(this).get(0);
                var doc = (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
                $(this).height(doc.body.scrollHeight);
                $(this).width(doc.body.scrollWidth);
            });
        });
    </script>

    <!--video 슬라이드-->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

</body></html>
