@charset="UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap');

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;   font-family: 'Noto Sans KR', ; background: #f9f9f9;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0; font-family: 'Noto Sans KR', ;}
a {color: inherit; text-decoration: inherit; cursor: pointer;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-size: 16px;}



/*반응형*/
/*768px*/
@media screen and (max-width: 768px) {

    .wrap {
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        color: #222;
        padding-bottom: 3%;

}


    /*폰트공통*/
    section h1, section h2, section h3, section h4, section h5, section h6 {font-family: 'Noto Sans KR', sans-serif; }

    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {margin: 0 auto;}

    /*section.sub_wrap*/
    .main_title {text-align: center; margin-bottom: 5%; width: 90%; margin: 8% auto;}
    .sub_wrap h1 {margin: 0;  font-size: 28px; border-bottom: 1px solid #eee; padding: 2.1%; background: #fff; box-shadow: 0 1px 5px rgba(0,0,0,0.05); text-align: center;}

    .main_title h2 {font-size: 24px; color: #555; margin-top: 6.5%;}
    .main_title h2 span { color: #111;}
    .main_title h3 {font-size: 18px; color: #777; margin-top: 2%;}

}

/*414px*/
@media screen and (max-width: 414px) {
    .sub_wrap h1 {font-size: 22px;}
    .main_title h2 {font-size: 18px; color: #555; margin-top: 6.5%;}
    .main_title h2 span {font-size: 20px;}
    .main_title img {width: 33%; margin: 4% 0 3%;}
    .main_title h3 {font-size: 16px; margin-top: 2%;}
}


/*320px*/
@media screen and (max-width: 320px) {
    .sub_wrap h1 {font-size: 17px;}
    .main_title {width: 100%;}
    .main_title h2 {font-size: 16px; color: #555; margin-top: 4%; margin-bottom: 2%;}
    .main_title h2 span {font-size: 18px;}
    .main_title img {width: 28%; margin: 4% 0 5%;}
    .main_title h3 {font-size: 15px;}

}

