@charset="UFT-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap');

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;   font-family: 'Noto Sans KR', ;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0; font-family: 'Noto Sans KR', ;}
a {color: inherit; text-decoration: inherit; cursor: pointer;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-size: 16px;}



/*반응형*/
/*768px*/
@media screen and (max-width: 768px) {

    .wrap {
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        color: #222;
        padding-bottom: 3%;
        background: #f9f9f9;
}


    /*폰트공통*/
    section h1, section h2, section h3, section h4, section h5, section h6 {font-family: 'Noto Sans KR', sans-serif; }

    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {margin: 0 auto;}

    /*section.sub_wrap*/
    .main_title {text-align: center; margin-bottom: 5%;}
    .main_title h6 {font-family: 'PT Serif', serif; font-size: 20px; color: #ad863c;}
    .main_title h1 br {display: none;}
    .main_title h1 {margin: 0;  font-size: 28px; border-bottom: 1px solid #eee; padding: 2.1%; background: #fff; box-shadow: 0 1px 5px rgba(0,0,0,0.05);}


    .main_title h2 {padding: 2% 3% 2.5%; width: 85%; font-size: 17px; color: #555; margin: 3% auto; border: 1px solid #d4c8b1; border-radius: 8px; background: #fff;}
    .main_title h2 span {font-size: 16px; color: #777; }
    .main_title p {font-size: 14px; text-align: center; padding: 2% 0 3%; color: #777;}

    .intro_btn {display: inline-block; width: 200px; height: 40px; line-height: 40px; background: #c3a164; color: #fff; font-size: 15px; border-radius: 8px;}




    .apply_form {width: 90%; margin: 0 auto;}
    .apply_form h3 {font-size: 22px; margin: 0 ; padding-bottom: 1%; border-bottom: 2px solid #ad863c; display: inline-block;}
    .bar {width: 100%; height: 2px; background: #eee; margin-top: -0.25%;}
    .form_inner {margin-top: 3%;}
    .form_inner .text-alert { font-size: 13px; padding-left: 5px; color: #c3a164; font-weight: bold; display: none;}
    .form_inner .text-alert.active{ display: block; }
    input[type=text]{
        width: 100%;
        height: 50px;
        padding: 0 2%;
        margin-top: 2%;
        display: inline-block;
        border: 1px solid #eee;
        border-radius: 8px;
        box-sizing: border-box;
}


    #phone {width: 70%; float: left;}
    .check_btn {width: 29%; margin-left: 1%; height: 50px; margin-top: 2%; float: left; border: 1px solid #bbb; background: #fff; border-radius: 8px;}

    .apply_form h4 {font-size: 18px; font-weight: normal; margin-bottom: 0; margin-top: 7%; color: #555;}
    .apply_form h4 strong {font-weight: normal; color: #000;}
    .apply_form h4 span {font-size: 16px; color: #555;}

    #wt_insurance_type {padding: 1.5% 8%; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; color: #555;  border-radius: 8px; margin: 2% 0; border: 1px solid #ccc;}

    /*option {padding: 1.5% 8%; font-size: 16px; width: 50px;}*/



    h3.agree_h3 {margin-top: 5%;}
    h4.agree_h4 {margin-top: 4%;}
    .apply_form p {margin: 6% 0 2.5%; font-size: 16px; color: #444;}
    .select_agree { width: 60%;}
    .select_agree ul li {float: left; width: 48%;  margin-right: 2%;  text-align: center;}
    .select_agree ul li:last-child {margin-right: 0;}
    .select_agree label {position: relative; cursor: pointer;}
    .select_agree label input {display: none;}
    .select_agree label span {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 6.5% 0;
    background: transparent;
    border: 1px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    border-radius: 4px;
    margin-right: 1.5%;
}
    .select_agree label:last-child {margin-right: 0;}
    .select_agree label input:checked ~ span { background: #fff; border: 2px solid #ad863c; font-weight: bold;}


    input[type=submit] {
    width: 100%;
    background-color: #c3a164;
    color: #fff;
    padding: 14px 20px;
    margin-top: 8%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
}

/*414px*/
@media screen and (max-width: 414px) {
    .main_title h1 {font-size: 22px; padding: 2.5% 0;}
    .main_title h2 {width: 90%; font-size: 16px; margin: 5% auto;}
    .apply_form h3 {margin-top: 5%;}
    h3.agree_h3 {margin-top: 10%;}
    .apply_form p {margin-top: 5%;}
    .select_agree {width: 100%;}
    #wt_insurance_type {padding: 3% 10%;}
}

/*320px*/
@media screen and (max-width: 320px) {
    .main_title h1 {font-size: 17px; padding: 2.5% 0;}
    .main_title h2 {width: 90%; font-size: 15px; margin: 7% auto;}
    .apply_form h3 {margin-top: 8%; font-size: 20px;}
    .bar {margin-bottom: 8%;}
    .apply_form h4 {font-size: 17px; margin-top: 10%;}
    h3.agree_h3 {margin-top: 15%; margin-bottom: 0;}
    h4.agree_h4 {margin-top: 8%; margin-bottom: 2%;}
    .apply_form p {margin-top: 10%; margin-bottom: 5%; font-size: 16px; color: #444;}
    .select_agree label span {padding: 6%;}
    #wt_insurance_type {padding: 3% 10%;}
    input[type=submit] {margin-top: 13%;}

    #wt_insurance_type {width: 100%; margin-top: 5%;}
}

