@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

.main_bg {background: url(/img/gnb_02/benefit_list04_bg.png);
background-position: center;
background-size: cover; width: 100%; height: 500px; animation: bg; animation-delay: 0s; animation-duration: 1.5s; z-index: -1000;}

/*section.main 완료*/
/*section.sub_wrap 시작*/

section.sub_wrap h6 {font-family: 'PT Serif', serif;}
section.sub_wrap h1 {font-family: 'Noto Sans KR', sans-serif; line-height: 1.4; margin-top: 0; font-size: 44px;}
section.sub_wrap .bar {margin-top: 20px;}
.sub_info p { margin-top: 32px; text-align: center; font-weight: 300;  margin-bottom: 50px;}
section.sub_wrap h2 {margin-bottom: 40px;}

.sub_bg { width: 99%; margin-left: 50%; transform: translateX(-50%);}
.sub_bg img {width: 100%;}

/*section.sub_wrap 완료*/

/*반응형*/

/*768px*/
@media screen and (max-width: 768px) {
    section.sub_wrap h1 {font-size: 42px;}
    section.sub_wrap h2 {margin-bottom: 24px;}
}
/*425px*/
@media screen and (max-width: 425px) {
    section.sub_wrap h1 {font-size: 34px;}
	.sub_bg {margin-top: 30px; margin-bottom: 30px;}
	
	.sub_info {width: 100%; margin: 0 auto;}
    .sub_info p {width: 90%; margin: 0 auto; text-align:left; word-break: break-all;}
    .sub_info p br {display: none;}

    .main_bg {background: url(/img/gnb_02/benefit_list04_bg_mo.png);background-position: center;
        background-size: cover; width: 100%; height: 500px; animation: bg; animation-delay: 0s; animation-duration: 1.5s; z-index: -1000;}
}

/*320px*/
@media screen and (max-width: 320px) {
    section.sub_wrap h1 {font-size: 30px;}
	.sub_info p {font-size: 15px;}
}
