@charset="UTF-8";

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; font-weight: normal;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
strong {font-weight: bold;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
    font-weight: normal;
}


/*section.main*/
section.main {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.main_bg {background: url(../img/benefit_list/benefit_list01_bg.png);
background-position: center;
background-size: cover; width: 100%; height: 500px; animation: bg; animation-delay: 0s; animation-duration: 1.5s; z-index: -1000;}

@keyframes bg {
    0% {transform: scale(1.05);
    100% {transform: scale(1);}
    }
}

.tnb {position: absolute; width: 1200px; bottom: 0; left: 50%; transform: translatex(-50%); z-index: 10;}
.tnb ul li {float: left; width: 50%; text-align: center; height: 60px; background: rgba(255,255,255,0.9); line-height: 60px; font-size: 17px; color: #444; transition: all 0.2s;}


/*section.main 완료*/
/*section.sub_wrap 시작*/

section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    overflow: hidden;
}

section.sub_wrap .bar {
    border-bottom: 2px solid #624000; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 7.5%; font-weight: bold; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 37px;
    line-height: 1.35;
     font-family: 'Noto Sans KR', sans-serif;
     font-weight: normal;
}

section.sub_wrap h2 {font-size: 25px; text-align: center; margin-bottom: 5%; line-height: 1.4; font-family: 'Noto Sans KR', sans-serif; color: #555;}

section.sub_wrap h2 em { margin: 0; border-bottom: 1px solid #fcf3dc; box-shadow: inset 0 -15px 0 #fcf3dc;}
section.sub_wrap h2 span {font-size: 16px; color: #777;}

.tab {
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
}

.tab button {
  background-color: inherit;
  float: left;
    width: 25%;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
    color: #444;
  font-size: 18px;
  border: 1px solid #eee;
}

.tab button:hover {
  background-color: #eee;
    color: #000;
}

.tab button.active {
  background-color: #ad8743;
    border: 1px solid #ad8743;
    color: #fff;
}

.tabcontent {
  display: none;
  padding: 3% 4%;
  height: auto;
  border: 1px solid #eee;
  border-top: none;
  background: #f8f8f8;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.tabcontent h3 {font-family: 'Noto Sans KR', sans-serif; color: #000; font-weight: bold; font-size: 27px;}
.tabcontent p {color: #888; padding-bottom: 2%; border-bottom: 1px solid #ddd; font-size: 17px;}
.tabcontent dl {margin-top: 2%; overflow: hidden;}
.tabcontent dt {float: left; width: 18%; padding: 12px 0; font-weight: bold; color: #333;}
.tabcontent dd {float: left; width: 82%; padding: 12px 0; color: #555;}
.tabcontent dd span {font-size: 15px; color: #aaa;}

.tabcontent h3 br {display: none;}
.tabcontent p br {display: none;}
.tabcontent dt br {display: none;}


footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #211e1c;
}


/*section.sub_wrap 완료*/


/*gnb 자바스크립트*/
header.on {
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.9));
    height: 80px;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 100%;}
    section.main .tnb {bottom: -14%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 100%;}
    
    .tnb {padding-bottom: 5%; width:100%; margin-top: -5%;}
    
    .tab {width: 95%; margin: 0 auto;}
    .tabcontent {width: 95%; margin: 0 auto;}
    
    
    /*sub_contents*/
    .sub_contents {width: 95%;}
}
    


/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*main*/
    section.main {width: 100%;}

    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    
    .tnb {padding-bottom: 6%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    /*main*/
    section.main {width: 100%;}

    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .tnb {margin-top:-7.6%;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h6 {padding-top: 13%;}
    
    section.sub_wrap h2 {margin-bottom: 4%; font-size: 28px;}
    
    .tnb {margin-bottom: 2.2%;}
    
    .tabcontent p br {display: block;}
    .tabcontent dt br {display: block;}
    .tabcontent p {padding-bottom: 4%;}
    .tabcontent dl {margin-top: 3%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h1 {font-size: 30px;}
    section.sub_wrap .bar {margin-top: 6%; margin-bottom: 8%;}
     section.sub_wrap h2 {font-size: 24px; padding-bottom: 10%; line-height: 1.5; width: 92%; margin: 0 auto;}
    section.sub_wrap h5{font-size: 18px; margin-bottom: -1%;}
    section.sub_wrap h6 {padding-top: 11%;}
    
    .tnb {margin-bottom: 9.3%;}
    .tnb ul li {font-size: 15px; height: 50px; line-height: 50px;}
    
    .tab button {width: 50%; height: 50px; padding: 0;}
    .tabcontent {width: 95%; text-align: center;}
    .tabcontent h3 {margin-top: 3%; padding-bottom: 5%; border-bottom: 1px solid #eee; line-height: 1.5;}
    .tabcontent h3 br {display: block;}
    .tabcontent p {display: none;}
    
    .tabcontent dl {width: 100%; margin: 0 auto; text-align: left; margin-top: 4%;}
    .tabcontent dt {width: 100%; font-size: 18px; padding-bottom: 0;}
    .tabcontent dt br {display: none;}
    .tabcontent dd {width: 100%; padding-bottom: 5%; color: #777}
    .tabcontent dd span {font-size: 15px;}
}


/*375px*/
@media screen and (max-width: 375px) {
    .tnb {margin-top: -13%;}
}


/*320px*/
@media screen and (max-width: 320px) {

    
    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap .inner_sub_wrap {width: 320px;}
    section.sub_wrap h1 {font-size: 24px;}
     section.sub_wrap h2 {font-size: 20px; padding-bottom: 10%; line-height: 1.5; width: 92%; margin: 0 auto;}
    section.sub_wrap h6 {font-size: 14px;}
    
    
    .tnb {margin-bottom: 13.8%;}
    
    
    .tab {width: 320px;}
    .tab button { font-size: 15px;}
    .tabcontent {width: 320px; text-align: center;}
    .tabcontent h3 {font-size: 22px;}
    .tabcontent h3 br {display: block;}
    .tabcontent p {display: none;}
    
    .tabcontent dt {font-size: 17px;}
    .tabcontent dd {font-size: 15px;}
    
}
