.seat-panel{
	margin: auto;
    float: left;
}
div .seatCharts-seat{
	width: 40px;
    height: 35px;
    background: url(../img/seat_img.png) center no-repeat;
    background-size: contain;
}
.seatCharts-row div:first-child{
	display: none;
}
.seatCharts-row div:nth-child(even){
	width: 40px;
}
div.seatCharts-seat.selected{
	background: url(../img/seat_img_select.png) center no-repeat;
}
