/* 장차기사전용 앱 모바일 전용 css입니다 */

@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.5px; word-break: keep-all;  background-color: #f2f2f2;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #222;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}
span {padding: 0; margin: 0;}
input, button {-webkit-tap-highlight-color: transparent;}
*:focus {outline: none;}
/* ----------------------- */

.wrap {width: 100%; margin: 0 auto; height: auto;} 

.tab {width: 100%; display: flex; height: 60px;}
.tab button {flex: 1; border: none; font-size: 1em;}