@charset "UTF-8";

/*section.sub_wrap 시작*/

.find_box {position: relative; width: 100%; background: #fff; height: auto; animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease; padding:0 28%;}

#phone_check_box {
  font-size: 16px;
  text-align: center;
width: 100%;
  margin: auto;
}
#phone_check_box {display: none;}
.find_form {overflow: hidden;}
/*section.sub_wrap 완료*/



/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/
/*425px*/
@media screen and (max-width: 425px) {
    .find_box p {font-size: 15px; margin-bottom: 15px;}
    .find_box {padding: 0 2.5%; margin: 0 auto;}
}

/*320px*/
@media screen and (max-width: 320px) {

    /*section.sub_wrap*/
	.find_box p {font-size: 15px;}
    .find_id_btn { font-size: 15px;}
    .check_btn {font-size: 14px;}
}