@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #222;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

/*section.sub_wrap 시작*/
section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
	overflow: hidden;
}

section.sub_wrap .bar {
    border-bottom: 2px solid #c3a164; 
    width: 30px; 
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap h6 {text-align: center; color: #C3A164;  padding-top: 60px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center;
    font-size: 45px;
    margin-top: -1%;
	font-family: 'PT Serif', serif;
	font-weight: normal;
}

.find_img img {width: 15%; margin: 0;}


.find_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #eee;}

.find_box_inner {width: 100%; padding: 6% 20%; margin: 0 auto; text-align: center; overflow: hidden; }
.find_box_inner h3 {font-weight: normal; font-size: 18px; color: #222; font-weight: 300; margin-top: 25px;}
.find_box_inner h4 {font-size: 24px; color: #333; padding: 15px; background: #f6f6f6; margin-top: 10px;}

.find_box .tab {width: 100%;}
.find_box .tab ul li {width: 50%; float: left; text-align: center; height: 60px; line-height: 60px; font-size: 18px; font-weight: 500;}
.find_box .tab ul li:nth-child(2) { background: #f8f8f8; color: #767676; font-weight: 400; border-bottom: 1px solid #C3A164} 


.find_box_inner input {width: 100%; height: 50px; margin-bottom: 1%; padding: 2%; border: 1px solid #ddd;}

.find_box_inner input[type="submit"] {height: 55px; background: #c49c4f; color: #fff; border: none; float:right;  cursor: pointer; transition: all 0.3s; margin-top: 4%;}

.find_box_inner ul {width: 100%;}
.find_box_inner ul li button {height: 50px; width:27.5%; border: 1px solid #aaa; background: none; cursor: pointer; transition: all 0.3s;}
.find_box_inner form ul li button:hover {background: #f4f4f4;}

.find_id_btn {width: 100%; margin: 0 auto; margin-top: 7%;  height: 50px; line-height: 50px;}
.find_id_btn ul li a {float:left; width: 49%; margin-right: 1%; text-align: center; }
.pw_btn {border: 1px solid #ddd;}
.login_btn {background: #C3A164; color: #fff; border: 1px solid #C3A164;}

/*section.sub_wrap 완료*/


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .inner_sub_wrap {width: 95%; margin: 0 auto;}
}
    
    
/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .box {padding-top: 60px;}
	.find_id_btn {width: 100%;}
}


/*768px*/
@media screen and (max-width: 768px) {
   
    .gnb_mo_login {margin-top: 3.5%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap h1 {font-size: 35px;}
    section.sub_warp .bar {display: none;}
	.find_box_inner h3 {font-size: 18px;}
    
    .find_id_btn {width: 100%; margin-top: 8%;}
    
    .search_box_inner {margin: 0 auto; padding: 5% 12%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    
    .find_box .tab ul li {height: 50px; font-size: 16px; line-height: 50px;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h6 {padding-top: 35px; margin-bottom: -2.5%;}
    section.sub_wrap h1 {font-size: 30px; margin-bottom: 4%;}
    section.sub_wrap .bar {display: none;}
     section.sub_wrap h2 {font-size: 18px;  line-height: 1.5; text-align: center; color: #555;}
    .find_box_inner h3 {font-size: 16px; margin-top: 4%;}
    .find_box_inner h4 {font-size: 20px;}
    .find_box_inner {margin: 0 auto; padding: 10% 5%;}
    .find_box .tab ul li {font-size: 16px;}
    
    .find_id_btn {margin-top: 10%; font-size: 16px; height: 40px; line-height: 40px;}
}

/*320px*/
@media screen and (max-width: 320px) {
    
    .find_box .tab ul li {height: 40px; font-size: 15px; line-height: 40px;}
    
    /*section.sub_wrap*/
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 5%;}

    .find_box .tab ul li {font-size: 15px;}
	.find_box_inner {margin: 0 auto; padding: 10% 3%;}
	
	.find_img img {width: 18%; margin: 2% 0;}
    
    .find_id_btn { font-size: 15px;}

}
