@charset "UTF-8";

.find_img {margin-top: 20px;}
.find_box_inner h3 {font-size: 24px; margin-top:30px; font-weight: 500;}
.find_box_inner h3 span {color:#C3A164;}
.find_box_inner h3 br {display: none;}
.find_box_inner p {text-align: center; font-weight: 300; color: #999999; margin-bottom: 40px;}

/*section.sub_wrap 완료*/

/*반응형*/
/*768px*/
@media screen and (max-width: 768px) {
    .find_box_inner {margin: 0 auto; padding: 6% 8%;}
    .login_btn {margin-top: 30px;}
    /* .find_img img {width: 14%;} */
}

/*450px*/
@media screen and (max-width: 450px) {
    .find_box_inner {margin: 0 auto; padding:12% 5% 10%;}
    .find_box_inner h3 {font-size: 22px; margin-top: 15px; line-height: 1;}
	.find_box_inner h3 br {display: block;}
    .find_box p {font-size: 15px; margin-top: 4px;}
    .login_btn {width: 100%; margin-top: 40px; height: 45px; line-height: 45px;}
    .find_box_inner p {font-size: 15px;}
}

/*320px*/
@media screen and (max-width: 320px) {
	.find_box_inner p {font-size: 15px; line-height: 1.6; margin-top: 10px;}
}