@charset "UTF-8";

/*find_box*/
#phone_check_box {
  font-size: 16px;
  text-align: center;
    width: 100%;
  margin: auto;
}

#phone_check_box {
  display: none;
}
.find_form {overflow: hidden;}
/*section.sub_wrap 완료*/

/*반응형*/

/*425px*/
@media screen and (max-width: 425px) {
    .find_box p {font-size: 15px; margin-bottom: 15px; text-align: justify;}
}