@charset "UTF-8";

.find_box_inner ul {width: 100%;}
.find_form ul li:nth-child(1) {width: 70%; margin-right: 1%; float: left;}
.search_form ul li button {height: 50px; width:29%; border: 1px solid #aaa; background: none; cursor: pointer; transition: all 0.3s;}


.find_box_inner form {margin-top: 20px;}
.find_box_inner h3 {font-size: 20px; padding: 10px 0;font-weight: 500;}
.find_pw_form > p {text-align: justify; font-size: 14px; font-weight: 300; margin: 0; }

/*section.sub_wrap 완료*/

/*반응형*/

/*768px*/
@media screen and (max-width: 768px) {
    .find_box_inner h3 {font-size: 18px;}
}

/*450px*/
@media screen and (max-width: 450px) {
    .tab ul li {height: 50px; font-size: 16px; line-height: 50px;}
    .find_box_inner p {font-size: 15px; margin-bottom: 12px;}
    .find_pw_btn {height: 45px; line-height: 45px; font-size: 16px; margin-top: 40px;}
}

/*320px*/
@media screen and (max-width: 320px) {
	.find_box_inner p {margin-bottom: 8px;}
    .find_pw_btn { font-size: 15px;}
    .find_box_inner h3 {font-size: 16px;}
}