@charset "UTF-8";

.find_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #eee;}

.find_box_inner h2 {font-size: 26px;}
.find_box_inner p { color: #222; font-weight: 300; margin-bottom: 15px; text-align: center;}
.find_box_inner p span {font-weight: 500;}


 .tab {width: 100%;}
 .tab ul li {width: 50%; float: left; text-align: center; height: 60px; line-height: 60px; font-size: 18px; font-weight: 500;}

.find_box_inner {width: 100%; padding: 7% 24%; margin: 0 auto; text-align: center; overflow: hidden; }

.find_box_inner ul {width: 100%;}
.find_form ul li:nth-child(1) {width: 70%; margin-right: 1%; float: left;}
.search_form ul li button {height: 50px; width:29%; border: 1px solid #aaa; background: none; cursor: pointer; transition: all 0.3s;}
.find_box_inner form ul li button:hover {background: #fafafa;}

.find_pw_btn {width: 100%; margin: 0 auto; margin-top: 5.5%;  height: 50px; line-height: 50px;}
.find_pw_btn ul li {float:left; width: 49.5%; margin-right: 1%; text-align: center; }
.find_pw_btn ul li:nth-child(2) {margin-right: 0;;}
.login_btn {border: 1px solid #dbdbdb; border-radius: 4px;}
.next_btn {background: #c3a164; color: #fff; border: 1px solid #c3a164; border-radius: 4px;}

.find_box_inner form {margin-top: 20px;}
.find_box_inner h3 {font-size: 20px; padding: 10px 0; background: #f8f8f8; font-weight: 500;}
.find_pw_form > p {text-align: justify; font-size: 14px; font-weight: 300; margin: 0; }

/*section.sub_wrap 완료*/

/*반응형*/

/*768px*/
@media screen and (max-width: 768px) {
    .find_box_inner {margin: 0 auto; padding: 6% 8%;}
    .find_box_inner h3 {font-size: 18px;}
}

/*414px*/
@media screen and (max-width: 414px) {
    .tab ul li {height: 50px; font-size: 16px; line-height: 50px;}
    .find_box_inner {margin: 0 auto; padding:12% 5% 10%;}
    .find_box_inner p {font-size: 15px;}
    .find_pw_btn {height: 45px; line-height: 45px; font-size: 16px; margin-top: 40px;}
}

/*320px*/
@media screen and (max-width: 320px) {
	.find_box_inner p {margin-bottom: 8px;}
    .find_pw_btn { font-size: 15px;}
    .find_box_inner h3 {font-size: 16px;}
}