footer {width: 100%; background-color: #fafafa; position: relative; padding: 20px 0 25px; word-break: keep-all;}
.footer_inner {Width: 1200px; margin: 0 auto;}
.footer_corp {padding-bottom: 10px;}
.footer_corp a {color: #444; font-size: 14px;}
.footer_corp a em {font-weight:500; }
.footer_corp a:hover {color: #767676; transition: all 0.3s;}
.footer_corp a:nth-child(1)::after,
.footer_corp a:nth-child(2)::after,
.footer_info span::after {display: inline-block; width: 1px; height: 12px; margin: 0 7px 0 12px; background-color: #cbcbcb; content: '';}
.footer_info span:last-child::after{display: none;}
.footer_info {color: #999; font-size: 12px; line-height: 2.4; font-weight: 300;  letter-spacing: 0px;}
.footer_info a, .footer_info img {margin-left: 5px;}
.footer_info br {display: none;}
 
#top_scroll { position: fixed; display: block; background-color: #fff; width: 50px;height: 50px; right: 40px; bottom:30px; text-align: center; border-radius: 50%;  border: 1px solid #dbdbdb; z-index: 10; font-size: 14px;} 

#top_scroll img {width: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

#top_scroll:hover{
    background-color: #dbdbdb;
}


/* 1200px */
@media screen and (max-width: 1200px) {
    .footer_inner {width: 100%; padding: 0 5%;}
}

/* 768px */
@media screen and (max-width: 768px) {
    #top_scroll {
        right: 10px;
        bottom: 100px;
    }
    .footer_inner {text-align: center;}
    .footer_corp {padding-bottom: 15px;}
    .footer_info span::after {display: none;}
    .footer_info br {display: block;}
    #top_scroll {width: 40px; height: 40px; line-height: 40px; font-size: 13px; font-weight: 300;}
}


/* 414px */
@media screen and (max-width: 414px) {
    #top_scroll {
        right: 10px;
        bottom: 40px;
    }
    .footer_inner {text-align: center; }
}

/* 375px */
@media screen and (max-width: 375px) {
    #top_scroll {
        right: 12px;
        bottom: 40px;
    }
    .footer_inner { margin-top: 100px; }
}

/* 320px */
@media screen and (max-width: 320px) {
    #top_scroll {
        right: 10px;
        bottom: 40px;
    }
    .footer_inner { margin-top: 100px; }
}



