footer {width: 100%; background-color: #fafafa; position: relative; padding: 20px 0 25px; word-break: keep-all;}
.footer_inner {Width: 1200px; margin: 0 auto;}
.footer_corp {padding-bottom: 10px;}
.footer_corp a {color: #222; font-size: 14px;}
.footer_corp a em {font-weight:500; }
.footer_corp a:hover {color: #767676; transition: all 0.3s;}
.footer_corp a:nth-child(1)::after,
.footer_corp a:nth-child(2)::after,
.footer_info span::after {display: inline-block; width: 1px; height: 12px; margin: 0 7px 0 12px; background-color: #cbcbcb; content: '';}
.footer_info span:last-child::after{display: none;}
.footer_info {color: #999; font-size: 12px; line-height: 2.4; font-weight: 300;  letter-spacing: 0px;}
.footer_info a, .footer_info img {margin-left: 5px;}
.footer_info br {display: none;}
 
.top {background-color: red; position: fixed;}


/* 1200px */
@media screen and (max-width: 1200px) {
    .footer_inner {width: 100%; padding: 0 5%;}
}

/* 768px */
@media screen and (max-width: 768px) {
    .footer_inner {text-align: center;}
    .footer_corp {padding-bottom: 15px;}
    .footer_info span::after {display: none;}
    .footer_info br {display: block;}
}


/* 414px */
@media screen and (max-width: 414px) {
    .footer_inner {text-align: center; }
}

/* 320px */
@media screen and (max-width: 320px) {
    .footer_inner { margin-top: 100px; }
}



