@charset="UFT-8";


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.main*/
section.main {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.main_bg {background: url(../img/login/login_main_bg.jpg);
background-position: center;
background-size: cover; width: 100%; height: 300px; animation: bg; animation-delay: 0s; animation-duration: 1.5s;}

@keyframes bg {
    0% {transform: scale(1.05);
    100% {transform: scale(1);}
    }
}

.tnb {position: absolute; width: 1200px; bottom: 0; left: 50%; transform: translatex(-50%); }
.tnb ul li {float: left; width: 50%; text-align: center; height: 60px; background: rgba(255,255,255,0.9); line-height: 60px; font-size: 1.2rem; color: #444; transition: all 0.2s;}



/*section.main 완료*/
/*section.sub_wrap 시작*/


section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
    overflow: hidden;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap .bar {
    border-bottom: 2px solid #ad863c; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 5%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 2.8rem;
    margin-top: -1%;
    font-weight: normal;
}



/*join_box*/
.join_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #eee; padding: 5% 20%; overflow: hidden; }

.join_box .join_process {text-align: center; color: #888;}
.join_box .join_process span {color: #ad863c; font-weight: bold;}
.join_box h2 {text-align: center; font-size: 24px; margin-bottom: 6%; font-weight: normal;}
.join_box h3 {font-size: 16px; font-weight: normal; color: #777; margin-bottom: 2%;}

.join_box form { width: 100%; margin: 0 auto;}
.join_box input {width: 100%; height: 50px; padding: 2%; margin: 0.5%; border: 1px solid #eee; margin: 0;}

.join_box form ul li {margin-bottom: 1%;}
.join_box form ul li:nth-child(1)/*,
.join_box form ul li:nth-child(6)*/ {width: 70%; margin-right: 1%; float: left; }

.join_box form ul li:nth-child(1) input,
.join_box form ul li:nth-child(6) input{padding: 3%;}
.join_box form ul li button {height: 50px; width: 29%; border: 1px solid #aaa; background: none; cursor: pointer; transition: all 0.3s; color: #555; }

.join_box form ul li button:hover {background: #f4f4f4; /*border: 1px solid #eee;*/}

/*선호도조사 폼*/
.survey_box {height: auto; margin: 4% 0; padding: 4% 0; background: #f4f4f4;/* border-top: 1px dashed #aaa;*/ border-top: 1px dashed #aaa; border-bottom: 1px dashed #aaa;}
.survey_box h3 {margin-bottom: 4%; color: #555; font-size: 20px; font-weight: bold; text-align: center;}

.survey_box h4 {font-weight: normal;  margin-bottom: 2%; text-align: center; color: #555; font-size: 16px;}

/*선호도조사 - 요일*/
.day {width: 100%; height: auto; overflow: hidden;}
.day ul {width: 45%; margin: 0 auto;}
.day ul li {float: left; width: 18%; margin-right: 2%; text-align: center; background: #f8f8f8; color: #777; }
.day ul li:last-child{margin-right: 0;}
.day label {position: relative; cursor: pointer;}
.day label input {display: none;}
.day label span {position: relative;
    display:inline-block;
    width: 100%;
    padding: 18%;
    background: transparent;
    border: 1px solid #ddd;
    font-weight: normal;
    font-size: 16px;
    border-radius: 5px;
}
.day label input:checked ~ span {background: #fff; border: 2px solid #ad863c;}


/*선호도조사 - 시간대*/
.time h4 {margin-top: 5%;}
.time {width: 100%; height: auto; position: relative; padding-bottom: 12%;}
.time ul {width: 80%; margin: 0 auto;}
.time ul li {float: left;}

.time ul li:nth-child(1) {width: 40%;}
.time ul li:nth-child(2) img {width:25%;}
.time ul li:nth-child(2){width: 20%; line-height: 40px; text-align: center;}
.time ul li:nth-child(3) {width: 40%;}
.time_select {
  position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
    text-align: justify;
    width: 100%;
}

.time_select01 select, .time_select02 select {display: none;}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #555 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #555 transparent;
  top: 14px;
}

.select-items div,.select-selected {
  color: #444;
  padding: 6px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}
.select-selected {background-color: #fff;}


.select-items {
  position: absolute;
  background-color: #f8f8f8;
    border: 1px solid #ddd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {display: none;}

.select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}





/*하단 버튼*/
.join_btn {width:100%; margin: 0 auto; text-align: center; margin-left: 50%; transform: translateX(-35%); height: 50px; line-height: 50px; }
.join_btn ul li {float: left; margin-right: 2%;}
.join_btn ul li:nth-child(2) {margin-right: 0;}
.back {border: 1px solid #ddd; width: 230px;}
.next {background: #ad863c; color: #fff;  width: 230px;}




.address_form input {margin-bottom: 1%;}


#postcode {width: 70%; margin-right: 1%; float: left;}
.btn-primary {width: 28%; height: 50px; cursor: pointer; float:left; background: #fff; border: 1px solid rgba(173, 134, 60,0.7); color: #333;}

/*section.sub_wrap 완료*/


/*gnb 자바스크립트*/
header.on {
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.9));
    height: 80px;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 1200px;}

    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .inner_sub_wrap {width: 95%; margin: 0 auto;}
    .tnb {width: 1200px; margin-top: -5%;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .box {padding-top: 7%;}
    
    .join_btn {transform: translateX(-42%);}
    
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    
    .join_box {padding: 5%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 95%;}
    .tnb {width: 768px;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    /*section.sub_wrap h3 {display: none;}*/
    
    .box {padding-top: 9.5%;}
    
    .join_btn {transform: translateX(-38%);}
    
    .join_box .join_process {font-size: 14px;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    
    .box {padding-top: 20%;}
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 414px;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h6 {padding-top: 6%;}
    section.sub_wrap h1 {font-size: 28px; margin-bottom: 2%;}
    section.sub_wrap .bar {display: none;}
     section.sub_wrap h2 {font-size: 18px;  line-height: 1.5; text-align: center; color: #555; margin-bottom: 10%;} 
    section.sub_wrap p {font-size: 14px; text-align: center; margin-bottom: 3%;}
    
    .join_box .join_process {font-size: 12px;}
    
    .join_box form ul li button, 
    .btn-primary {font-size: 13px; color: #555;}
    
    /*section.sub_wrap*/
    .search_box_inner {margin: 0 auto; padding: 10% 5%;}
    
    .join_btn {width: 100%; margin-top: 6%; transform: translateX(-50%); height: 40px; line-height: 40px;}
    .join_btn ul li {width: 48%;}
    
    .join_box {overflow: auto;}
    .day ul {width: 80%;}
    .time ul {width: 100%;}
    .time {font-size: 14px;}
    
    .survey_box {background: #fff; border: none; padding: 0; margin: 10% 0 13%;}
    .survey_box h3 {font-size: 16px;}

    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*320px*/
@media screen and (max-width: 320px) {
    
    /*section.sub_wrap*/
    section.sub_wrap h6 {padding-top: 10%;font-size: 14px;}
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap p {margin-bottom: 5%;}
    .survey_box h3 {font-size: 15px;}
    .join_agreement strong {font-size: 14px;}
    .check_all_btn {padding: 4% 8;}
    
    .time h4 {margin-top: 7%;}
    
    .join_btn {margin-top: 30%;}
    .join_box {padding-bottom: 10%;}
}
