@charset "UTF-8";

/*join_box*/
.join_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #eee; padding: 30px 24%;}

/*회원가입과정*/
.join_box .join_process {text-align: center; color: #999999; font-weight: 300; font-size: 16px; margin-bottom: 5px;}
.join_box .join_process span {color: #C3A164; font-weight: 400;}

.join_box h2 {text-align: center; font-size: 24px; margin-bottom: 30px; font-weight: 500;}

.join_box form { width: 100%; margin: 0 auto;}


/*인증번호받기*/
#phone_check {margin-top: 5px;}
#phone_check_box {
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
}
#phone_check_box {display: none;}

/*우편번호찾기*/
.address_form input {margin-bottom: 5px;}
#postcode {width: 70%; margin-right: 1%; float: left;;} 
.btn-add {width: 29%; height: 50px; line-height: 50px; cursor: pointer; float:left; background: #fff; border: 1px solid #999; font-weight: 400;  font-size: 16px; color: #222; border-radius: 4px;}

/*------------------------*/

/*선호도조사 폼*/
.survey_box {height: auto;  padding-top:40px; text-align: center;}
.survey_box h3 { color: #222; font-size: 20px; font-weight:600; text-align: center;} 
.survey_box p {color: #999; font-size: 15px; text-align: center; margin-bottom: 30px;}
.survey_box h4 {margin-bottom: 12px; font-weight:500;}

/*선호도조사 - 요일*/
.day {width: 100%; height: auto; overflow: hidden;}
.day ul {width: 50%; margin: 0 auto; display: flex;}
.day ul li {float: left; flex: 1; margin-right: 8px; text-align: center; background: transparent; color: #999; }
.day ul li:last-child{margin-right: 0;}
.day label {position: relative; cursor: pointer;}
.day label input {display: none;}
.day label span {position: relative;
    display:inline-block;
    width: 100%;
    padding: 18%;
    background: #fff;
    border: 1px solid #dbdbdb;
    color: #999;
    font-weight: 400;
    font-size: 15px;
    border-radius: 4px;
}
.day label input:checked ~ span {background: #fff; border: 1px solid #444; font-weight: 500; color: #222;}


/*선호도조사 - 시간대*/
.time {width: 100%; height: auto; position: relative; padding-bottom: 60px; margin-top: 35px;}
.time ul {width: 100%;}
.time ul li {float: left;}

.time ul li:nth-child(1) {width: 45%;}
.time ul li:nth-child(2){width: 10%; line-height: 40px; text-align: center;}
.time ul li:nth-child(3) {width: 45%;}
.time_select {
  width: 100%;line-height: 40px; position: relative; border-radius: 4px; background-color: #fff; text-align: justify;}
.time_select01 select, .time_select02 select {display: none;}
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ccc transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ccc transparent;
  top: 10px;
}

.select-items div,.select-selected {
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  padding-left: 15px;
  color:#444;
}

.select-selected {
  background-color: #fff;
  color: #222;
 font-weight:400;
 font-size: 15px;
 border: 1px solid #dbdbdb;
 border-radius: 4px;}


.select-items {
  position: relative;
  background-color: #fafafa;
  border: 1px solid #eee;
  color: #444;
  font-size: 15px;
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {
  background-color: #f2f2f2;
}


/*------------------------*/



/*하단 버튼*/
.join_btn {width: 100%; margin: 0 auto; margin-top: 40px; overflow: hidden;}
.join_btn ul {width: 100%;}
.join_btn ul li {margin-right: 1%; text-align: center; height: 50px; line-height: 50px; width: 49%; float: left;}
.join_btn ul li a {display: block;}
.join_btn ul li:nth-child(2) {margin-right: 0;}
/*section.sub_wrap 완료*/

/*반응형*/

/*768px*/
@media screen and (max-width: 768px) {
    .join_box {padding: 30px 60px;}
}

/*414px*/
@media screen and (max-width: 414px) {
    section.sub_wrap p {font-size: 14px; text-align: center; margin-bottom: 3%;}
    .join_box .join_process {font-size: 14px;}
    .join_box {padding: 5%; margin: 0 auto;}
    .join_btn ul li {height: 45px; line-height:45px;}
    
    .day {margin-top: 30px;}
    .day ul {width: 80%;}
    .time ul {width: 100%;}
    .time ul li:nth-child(1) {width: 100%;}
    .time ul li:nth-child(2) {margin-left: 50%; transform: translateX(-50%); padding: 3px 0;}
    .time ul li:nth-child(2) img {transform: rotate(-90deg);}
    .time ul li:nth-child(3) {width: 100%;}
    
    .time {font-size: 15px;}
    .survey_box h3 {font-size: 20px; width: 100%; text-align: center; letter-spacing: -1.2px;}
    
    #phone, #postcode {width: 60%;}
    .check_btn, .btn-add {width: 39%; font-size: 15px;}
  .join_btn {position: relative; overflow: hidden; padding-top: 40px;}
}


/*320px*/
@media screen and (max-width: 320px) {
    .time h4 {margin-top: 7%;}
    .check_btn {font-size: 14px;}
  .survey_box h3 {font-size: 18px;  width: 95%;}
  .survey_box h4 {margin-bottom: 10px;}
  .day ul {width: 100%;}
  .day label span {padding: 15% 25%;}
  .time ul li:nth-child(2) { padding: 0;}
  .time h4 {margin-top: 20px;}
}