@charset="UFT-8";


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0; font-family: inherit;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background: #f8f8f8;
    overflow: hidden;
}


header {width: 1920px; height: 80px; z-index: 10000; background: #fff; box-shadow: 0 1px 10px rgb(0,0,0,0.05);}

.innerHeader {
    width: 1200px;
    height: 80px;
    position: relative;
    margin: 0 auto;
     z-index: 500;
    font-size: 15px;
}

nav.gnb {width: 35%; margin: 0 auto; float: right;}

.innerHeader ul li {
    float: left;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: normal;
    width: 25%;
}

.innerHeader ul li a {display: block;}
.innerHeader h1.logo {float: left;margin-right: 6%; margin-top: 0.28%; overflow: hidden;}
.innerHeader h1.logo img {width:70%;}
.innerHeader ul li:hover {color: #a0772b;}



/*section.sub_wrap 시작*/

section.sub_wrap {
   width: 100%;
    margin: 0 auto;
    color: #333;
    height: 100%;
    padding: 1.8% 0 3%; 
    overflow: hidden;
}


/*폰트적용*/
.inner_sub_wrap h1,
.inner_sub_wrap h2,
.inner_sub_wrap h3 {font-family: 'Noto Sans KR', sans-serif; }


.inner_sub_wrap {width: 1200px; margin: 0 auto;}

.inner_sub_wrap h1 {font-size: 35px; font-weight: bold; margin: 0; padding-bottom: 1%; border-bottom: 1px solid #eee; margin-bottom: 3%;}

.inner_sub_wrap .bar {width: 35px; height: 1px; background: #a37d33; margin: 0 auto; margin-bottom: 3.5%; margin-top: 3%;}
.inner_sub_wrap p {text-align: center;}

.join_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #ddd; padding: 8% 20%; overflow: hidden;}

.join_box form {padding-top: 4%; width: 100%; margin: 0 auto;}
.join_box input {width: 100%; height: 50px; padding: 2%; margin: 0.5%; border: 1px solid #eee; margin: 0;}

.join_box form ul li {margin-bottom: 1%;}
.join_box form ul li:nth-child(1),
.join_box form ul li:nth-child(6) {width: 70%; margin-right: 1%; float: left; }

.join_box form ul li:nth-child(1) input,
.join_box form ul li:nth-child(6) input{padding: 3%;}
.join_box form ul li button {height: 50px; width: 29%; border: 1px solid #aaa; background: none; cursor: pointer; transition: all 0.3s; color: #555; }

.join_box form ul li button:hover {background: #f4f4f4; /*border: 1px solid #eee;*/}


.join_box .join_process {text-align: center; color: #888;}
.join_box .join_process span {color: #ad863c; font-weight: bold;}
.join_box h2 {text-align: center; font-size: 26px;}
.join_box h3 {font-size: 18px;}
.join_box h3 span {color: #ad863c;}



/*하단 버튼*/
.join_btn {width: 100%; margin: 0 auto; text-align: center; margin-left: 17%;  padding: 4% 0;}
.join_btn ul li {float: left; margin-right: 1%;}
.join_btn ul li:nth-child(2) {margin-right: 0;}
.back {border: 1px solid #aaa; width: 230px; height: 50px; line-height: 50px; float: left;}
.next {background: #ad863c; color: #fff;  width: 230px; height: 50px; line-height: 50px; float: left;}




.address_form input {margin-bottom: 1%;}


#postcode {width: 70%; margin-right: 1%; float: left;}
.btn-primary {width: 28%; height: 50px; cursor: pointer; float:left; background: #fff; border: 1px solid rgba(173, 134, 60,0.7); color: #333;}





/*section.sub_wrap 완료*/




/*gnb 자바스크립트*/
header.on {
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.9));
    height: 80px;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*Header*/
    header {width: 1200px;}
    header .gnb {display: none;}
    header .innerHeader {width: 1200px;}
    header .logo {padding-top: 0.35%; margin-left: 3%;}
    header .logo img {width: 85%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 95%;}
    
    .join_btn {margin-left: 15%;}
    
  /*gnb_mo*/
    header .open {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30px;
        top: 25px;
        opacity: 1;
        z-index: 1000000000;
    }

    header .open img {width: 100%; height: auto;}

    .gnb_mo {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        right: -1100px;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        transition: all 0.3s;
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        color: #eee;
    }

    .gnb_mo.on {
        right: 0;
        transition: opacity 0.3s;
        opacity: 1;
    }

    .gnb_mo .close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 200;
        transform: rotate(360deg);
        transition: all 0.3s;
        width: 25px;
        height: 25px;
    }

    .gnb_mo .close img {width: 100%;}

    .gnb_mo.on .close {
        right: 77%;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .gnb_mo > ul {
        position: absolute;
        right: 0px;
        top: 0;
        background-color: #fff;
        color: #242424;
        width: 75%;
        height: 100%;
        transition: all 0.3s;
        padding-top: 60px;
    }

    .gnb_mo.on > ul {
        right: 0;
        transition: all 0.5s;
    }

    .gnb_mo > ul > li {
        font-size: 16px;
        line-height: 50px;
        text-indent: 20px;
        border-bottom: 1px solid #ddd;
    }

    .gnb_mo > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .gnb_mo > ul > li > a:after {
        position: absolute;
        content: '';
        width: 21px;
        height: 12px;
        background: url(img/index_img/mob_gnb_arrow.png) no-repeat center/cover;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .gnb_mo > ul > li > a.on:after {
        background: url(img/index_img/mob_gnb_arrow2.png) no-repeat center/cover;
    }

    .gnb_mo > ul > li .inner {
        display: none;
        background-color: #e6d0a6;
    }

    .gnb_mo > ul > li .inner.on {
        background-color: #fff;
        display: block;
    }

    .gnb_mo > ul > li .inner li {
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        color: #000;
    }

    .gnb_mo > ul > li .inner li:last-child {border-bottom: none;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*Header*/
    header {width: 1024px;}
    header .gnb {display: none;}
    header .innerHeader {width: 1024px;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    
    .join_btn {margin-left: 10%;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    /*Header*/
    header {width: 768px;}
    header .gnb {display: none;}
    header .innerHeader {width: 768px;}
    .join_box {padding: 5%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap h1 {font-size: 2rem;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    /*Header*/
    header {width: 414px;}
    header .gnb {display: none;}
    header .innerHeader {width: 414px;}
    header .logo img {width: 40%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    .join_box .join_process {font-size: 12px;}
    .join_box .join_process {font-size: 12px;}
    section.sub_wrap h1 {font-size: 22px; color: #666; text-align: center;}
    .join_box h2 {font-size: 24px; font-weight: bold;}
    .join_box p {font-size: 13px; color: #666; margin-bottom: 6%;}
    .join_box form ul li button, 
    .btn-primary {font-size: 13px; color: #555;}
    
    /*section.sub_wrap*/
    .search_box_inner {margin: 0 auto; padding: 10% 5%;}
    
    .join_btn ul {width: 100%; margin-left: -10%; margin-top: 6%;}
    .join_btn ul li {width: 49%;}


    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

