@charset="UTF-8";

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.sub_wrap 시작*/


section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
    overflow: hidden;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap .bar {
    border-bottom: 2px solid #ad863c; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 5%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 2.8rem;
    margin-top: -1%;
    font-weight: normal;
}


/*join_box*/
.join_box {position: relative; width: 100%; background: #fff; height: auto; border: 1px solid #eee; padding: 5%; height: auto;animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease;}

@keyframes box {
    0% {opacity: 0; transform: translateY(1%);}
    100%; {opacity: 1; transform: translateY(0%);}
}

.join_box .join_process {text-align: center; color: #888;}
.join_box .join_process span {color: #ad863c; font-weight: bold;}
.join_box h2 {text-align: center; font-size: 24px; margin-bottom: 3%; font-weight: normal;}
.join_box h3 {font-size: 18px; font-weight: normal; color: #666; margin-bottom: 2%;}
.join_box h3 span {color: #ad863c;}

.join_agreement {width: 100%; margin: 0 auto; height: 130px; overflow: scroll; background: #f8f7f1; overflow-x: hidden; margin-bottom: 4%;}

.agreement_tit ul li {float: left;}
.agreement_tit ul li:nth-child(2) {float: right;}

.join_agreement strong {font-size: 16px; color: #555;}
.join_agreement h5 {color: #555; font-size: 15px; font-weight: normal;}
.join_agreement p {color: #888; font-size: 14px;}

/*동의 라디오버튼*/
.etrans {font-size: 16px;}
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #ad863c;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #ad863c #ad863c transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #ad863c;
  text-align: center;
  border: 1px solid #ad863c;
}

.check_all_btn {text-align: center; padding: 2% 0; border: 1px solid #ddd; color: #444;}

/*하단 버튼*/
.join_btn {width: 50%; margin: 0 auto; text-align: center; margin-left: 50%; transform: translateX(-50%); padding: 4% 0;  height: 50px; line-height: 50px;}
.join_btn ul li {float: left; margin-right: 2%;}
.join_btn ul li:nth-child(2) {margin-right: 0;}
.back {border: 1px solid #ddd; width: 230px;}
.next {background: #ad863c; color: #fff;  width: 230px; border: 1px solid #ad863c;}


/*section.sub_wrap 완료*/




/*gnb 자바스크립트*/
header.on {
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.9));
    height: 80px;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
   /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 1200px;}

    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .inner_sub_wrap {width: 95%; margin: 0 auto;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    

    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .box {padding-top: 7%;}
    
    /*하단 버튼*/
    .join_btn {width: 100%; margin-left: 72%; transform: translateX(-50%);}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h2 {font-weight: normal;}
    
    .box {padding-top: 9.5%;}
    
    /*하단 버튼*/
    .join_btn {margin-left: 62%; transform: translateX(-50%);}
    .join_box {padding-bottom:8%;}

    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    .box {padding-top: 20%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h6 {padding-top: 6%;}
    section.sub_wrap h1 {font-size: 28px; margin-bottom: 2%;}
    section.sub_wrap .bar {display: none;}
     section.sub_wrap h2 {font-size: 18px;  line-height: 1.5; text-align: center; color: #555;}
    
    
    .join_box h3 {font-size: 14px; color: #666; margin-bottom: 0;}
    .check_btn{color: #666;}
    .checks input[type="checkbox"] + label:before {width: 18px; height: 18px; }
    .checks.etrans input[type="checkbox"] + label {font-size: 14px;}
    
    .join_box .join_process {font-size: 14px;}
    .join_agreement h5 {font-size: 13px; color: #777;}
    .join_agreement p {font-size: 11px; color: #aaa;}
    .check_all_btn {margin-top: 5%; font-size: 14px; margin-top: 5%; color: #444;} 
    
    .join_btn {width: 100%; margin: 0; margin-top: 8%; margin-left: 50%; height: 40px; line-height: 40px;}
    .join_btn ul li {width: 49%; margin-right: 1%; }
    .join_btn ul li:last-child {margin-right: 0;}
    
    .join_box {padding-bottom: 23%;}
    .agreement_tit {margin-top: 16%;0}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*320px*/
@media screen and (max-width: 320px) {
    
    /*section.sub_wrap*/
    section.sub_wrap h6 {padding-top: 10%;font-size: 14px;}
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap p {margin-bottom: 5%;}
    .join_agreement strong {font-size: 14px;}
    .check_all_btn {padding: 4% 0;}
    
    .join_box {padding-bottom: 10%;}
}
