@charset "UTF-8";

/*section.main*/
section.main {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.main_bg { background: url(/img/sub_main_bg/sub01_main_bg.jpg) no-repeat; background-position: bottom; background-size: cover; width: 100%; height: 500px; animation: bg; animation-delay: 0s; animation-duration: 1.5s;}
@keyframes bg {
    0% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

/*section.main 완료*/
/*section.sub_wrap 시작*/

section.sub_wrap h2 br {display: none;}
section.sub_wrap h5 br {display: none;}
.sub_map {width: 100%; height: 450px;}

/*sib_contents*/
.sub_contents {width: 100%; margin: 0 auto; overflow: hidden; margin-top: 50px; padding-bottom: 10px;}
.sub_contents ul {width: 100%; width: 100%;}
.sub_contents ul li {float: left; width: 48%; margin-right: 2%;  /*; border-bottom: 1px solid #ddd; */}
.sub_contents ul li:nth-child(2) {margin-right: 0;}
.sub_contents ul li em, p {display: inline-block; padding-left: 25px;}
.sub_contents ul li em {font-size: 16px; width: 20%; font-weight: 300; width: 18%; color: #444;}
.sub_contents ul li p {font-size: 16px; font-weight: 400;}
.sub_contents ul li em i {margin-right: 15px; color: #c3a164; font-size: 22px;}

/*section.about 완료*/

/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}
.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}
/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    .sub_contents {width: 95%;}
    .sub_map {width: 95%; margin: 0 auto;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
}



/*768px*/
@media screen and (max-width: 768px) {
    .sub_contents ul li {width: 100%; padding-bottom: 15px;}
    .sub_contents ul li em {width: 30%;}

}

/*425px*/
@media screen and (max-width: 425px) {
    .sub_contents {margin-top: 40px; width: 90%;}
    .sub_contents ul li:nth-child(1) {padding-bottom: 20px;}
    .sub_contents ul li p { text-align: justify; padding: 0;}
    .sub_contents ul li em, p {padding: 0;}
	
}

/*320px*/
@media screen and (max-width: 320px) {

    /*section.sub_wrap*/
    .sub_contents ul li:nth-child(1) {padding-bottom: 20px;}
    .sub_contents ul li em {width: 100%; margin-bottom: 5px;}
    .sub_contents ul li p { text-align: justify; padding: 0;}
    .sub_contents ul li em, p {padding: 0;}
}