@charset "UTF-8";

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.sub_wrap 시작*/
section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
    overflow: hidden;
}

section.sub_wrap .bar {
    border-bottom: 2px solid #ad863c; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 5%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 2.8rem;
    margin-top: -1%;
    font-weight: normal;
    margin-bottom: 2%;
}


/*폰트적용*/
.inner_sub_wrap h1,
.inner_sub_wrap h2 {font-family: 'Noto Sans KR', sans-serif; }

.login_box {width: 100%; overflow: hidden; background: #fff; /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/ height: auto; border: 1px solid #eee; padding: 5% 22%; animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease;}

@keyframes box {
    0% {opacity: 0; transform: translateY(2%);}
    100%; {opacity: 1; transform: translateY(0%);}
}

.login_box h2 {font-size: 22px; display: block; margin: 0; font-weight: normal;}
.login_box p {color: #777;  margin-bottom: 2%;}
.login_form input {width: 100%; height: 50px; padding: 2%; border: 1px solid #eee; margin-bottom: 1%;}
.login_form input[type=password] {margin-bottom: 0%;}

input[type=submit] {width: 100%; height: 50px; background: #ad863c; color: #fff; border: none; cursor: pointer;}

.form_bottom {width: 100%;}
.form_bottom ul li { float: left; width: 50%;}
.find_btn {margin-top: 6%; float: left; padding: 3.9% 0; font-size: 15px; color: #666;}
.join_btn {margin-top: 6%; float: right; padding: 3.9% 25%; border: 1px solid #ccc; transition: all 0.3s;}
.join_btn:hover {background: #f4f4f4;}

.etrans {margin: 4% 0;}
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px; color: #666; font-size: 15px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #ad863c;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #ad863c #ad863c transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #ad863c;
  text-align: center;
  border: 1px solid #ad863c;
}

input[type="submit"] {font-size: 18px;}

/*section.sub_wrap 완료*/


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .inner_sub_wrap {width: 95%; margin: 0 auto;}
    .tnb {width: 1200px; margin-top: -5%;}
    
    
  /*gnb_mo*/
    /*header .open {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30px;
        top: 25px;
        opacity: 1;
        z-index: 1000000000;
    }

    header .open img {width: 100%; height: auto;}

    .gnb_mo {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        right: -1100px;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        transition: all 0.3s;
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        color: #eee;
    }

    .gnb_mo.on {
        right: 0;
        transition: opacity 0.3s;
        opacity: 1;
    }

    .gnb_mo .close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 200;
        transform: rotate(360deg);
        transition: all 0.3s;
        width: 25px;
        height: 25px;
    }

    .gnb_mo .close img {width: 100%;}

    .gnb_mo.on .close {
        right: 77%;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .gnb_mo > ul {
        position: absolute;
        right: 0px;
        background-color: #fff;
        color: #242424;
        width: 75%;
        height: 100%;
        transition: all 0.3s;
        padding-top: 60px;
    }

    .gnb_mo.on > ul {
        right: 0;
        transition: all 0.5s;
    }

    .gnb_mo > ul > li {
        font-size: 16px;
        line-height: 50px;
        text-indent: 20px;
        border-bottom: 1px solid #ddd;
    }
    
    .gnb_mo > ul > li:nth-child(1) {border-bottom: none;}

    .gnb_mo > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .gnb_mo > ul > li > a:after {
        position: absolute;
        content: '';
        width: 21px;
        height: 12px;
        background: url(img/index_img/mob_gnb_arrow.png) no-repeat center/cover;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .gnb_mo > ul > li > a.on:after {
        background: url(img/index_img/mob_gnb_arrow2.png) no-repeat center/cover;
    }

    .gnb_mo > ul > li .inner {
        display: none;
        background-color: #e3ddd2;
    }

    .gnb_mo > ul > li .inner.on {
        background-color: #fff;
        display: block;
    }

    .gnb_mo > ul > li .inner li {
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        color: #000;
    }

    .gnb_mo > ul > li .inner li:last-child {border-bottom: none;}*/
}


/*1024px*/
@media screen and (max-width: 1024px) {
    
    .gnb_mo_login {margin-top: 3%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .box {padding-top: 7%;}
    
    .video-slider {height:600px;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 95%;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h2 {font-weight: normal;}
    
    .box {padding-top: 9.5%;}
    
    .login_box {padding: 5% 7%;}
    .etrans {margin: 5% 0 9%;}
    .etrans label {font-size: 14px;}
    
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h6 {padding-top: 6%;}
    section.sub_wrap h1 {font-size: 28px; margin-bottom: 2%;}
    section.sub_wrap .bar {display: none;}
     section.sub_wrap h2 {font-size: 18px;  line-height: 1.5; text-align: center; color: #555;}
    section.sub_wrap p {font-size: 14px; text-align: center; margin-bottom: 3%; color: #888;}
    
     .box {padding-top: 20%;}
    
    
    .tnb {width: 414px;} 
    .tnb ul li {font-size: 15px; height: 50px; line-height: 50px;}
    
    
    .login_box {padding: 7% 5%;}
    .form_bottom ul li {float: none; width: 100%; text-align: center;}
    .join_btn {padding: 0; width: 100%; height: 45px; line-height: 45px; margin-top: 0;}
    .find_btn {float: right; margin: 5.5% 0; padding: 0; color: #666;}
    .search_btn {padding: 0; float: right; font-size: 12px; color: #888;}
    input[type="submit"] {font-size: 16px; height: 45px;}
    .etrans {margin: 5% 0; font-size: 14px;}

    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*320px*/
@media screen and (max-width: 320px) {
    
    /*section.sub_wrap*/
    section.sub_wrap h6 {padding-top: 10%;font-size: 14px;}
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap p {margin-bottom: 5%;}

    .checks.etrans input[type="checkbox"] + label {font-size: 14px;}
    .join_btn {font-size: 15px;}
    input[type="submit"] {font-size: 15px;}
}

