@charset "UTF-8";

/*전체틀*/
.modify_box {position: relative; width: 100%; background: #fff; border: 1px solid #eee; height: auto; overflow: hidden;font-size: 16px; padding:5% 24%; animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease;
}
@keyframes box {
    0% {opacity: 0; transform: translateY(2%);}
    100% {opacity: 1; transform: translateY(0%);}
}

/*과정*/
.modify_box .modify_process {text-align: center; color: #767676; font-weight: 300; font-size: 16px; margin-bottom: 5px;}
.modify_box .modify_process span {color: #c3a164; font-weight: 500;}

/*내부 폼*/
.modify_box form {width: 100%; margin: 0 auto;}


.modify_box h2 {text-align: center; font-size: 24px; margin-bottom: 10px; font-weight: 500;}
.modify_box p {font-weight: 300; margin-bottom: 25px; font-size: 16px; text-align: center;}

.pw_modify_form,
.phone_modify_form,
.add_modify_form {width: 100%; height:auto; margin-top: 4%; margin-bottom: 6%;}

.pw_modify_form ul li,
.phone_modify_form ul li,
.add_modify_form ul li{margin-bottom: 0%;}


/*하단 버튼*/
.modify_btn {width: 100%; margin: 0 auto; text-align: center;  margin-top: 40px;}
.modify_btn ul {display: flex;}
.modify_btn ul li {flex: 1; margin-right: 10px;}
.modify_btn ul li a {display: block;}

/*section.sub_wrap 완료*/


/*반응형*/

/*768px*/
@media screen and (max-width: 768px) {
    section.sub_wrap h2 {margin-bottom: 15px;}
    .modify_box {padding: 5% 20%;}
}

/*450px*/
@media screen and (max-width: 450px) {
    .modify_box {margin: 0 auto; padding: 8% 5%;}
    .modify_box p {color: #444; font-size: 15px; text-align: justify; margin-bottom: 12px;}
    .modify_btn {width: 100%;}
}

/*320px*/
@media screen and (max-width: 320px) {
    .modify_box {padding-bottom: 10%;}
}
