@charset "UTF-8";

/*전체 틀*/
.modify_box {position: relative; width: 100%; background: #fff; border: 1px solid #ddd; height: auto; overflow: hidden; font-size: 16px; padding: 5% 24%;}

/*과정*/
.modify_box .modify_process {text-align: center; color: #767676; font-weight: 300; font-size: 16px; margin-bottom: 5px;}
.modify_box .modify_process span {color: #c3a164; font-weight: 500;}

/*내부 폼*/
.modify_box form {width: 100%; margin: 0 auto; overflow: hidden;}

.modify_box h2 {text-align: center; font-size: 20px; font-weight: 500; margin-top: 15px; margin-bottom:25px;}
.modify_box h2 span {font-weight: 300;color: #999; }
.modify_box p {text-align: center; margin-bottom: 25px; color: #222; font-weight: 300;}
.modify_box h3 {font-size: 16px; margin-bottom: 1%; font-weight: normal; color: #444; margin-top: 3%;}
/*  */
 
.pw_modify_form,
.phone_modify_form,
.add_modify_form {width: 100%; height:auto; margin-top: 4%;}

/*폼 버튼영역*/
/*인증번호받기*/
.check_btn, .btn-add {width: 29%; height: 50px; line-height: 50px; float: left; cursor: pointer; text-align: center;}
.check_btn {width: 29%; height: 50px; line-height: 50px; float: left;  cursor: pointer; font-weight: 400;}
#phone_check {margin-top: 1%;}
#phone_check_box {
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: auto;
}
#phone_check_box {display: none;}

/*우편번호찾기*/
#postcode {width: 70%; float: left; margin-right: 1%;}

/*회원탈퇴버튼*/
.withdrawal_open { display: inline-block; margin-top: 70px; margin-left: 50%; transform: translateX(-50%); color: #999; font-weight: 300;}
 

/*------------------------*/

/*회원탈퇴 내부영역*/
.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%;}
.layer:target{display:flex;animation:open 0.3s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}

/*회원탈퇴 팝업 내부*/
.withdrawal_box {width: 33%; height: auto; margin: 0 auto; background:#fff;position:relative; z-index: 1000; margin: 0 auto; margin-top: 15%; overflow: hidden; border-radius: 12px; padding:30px 30px;}
.withdrawal_tit {font-size: 22px; font-weight: 500; line-height: 1.5;padding-bottom: 15px; text-align: center; }

.withdrawal_box_txt {width: 90%; margin: 0 auto; margin-top: 12px;}
.withdrawal_box_txt p {text-align: center; font-size: 16px; margin: 0 auto; margin-top:5px; margin-bottom: 20px;} 
.withdrawal_box_txt p strong {font-weight: 500; color: #222;}

.withdrawal_btn {width: 100%; margin-top: 40px; width: 100%;}
.withdrawal_btn li {float: left; width: 49%; margin-right: 1%; height: 45px; line-height: 45px; text-align: center; font-size: 16px; font-weight: 400;}
.withdrawal_btn li:nth-child(1) {background: #f4f4f4;}
.withdrawal_btn li:nth-child(2) { color: #fff; margin-right: 0;}
.withdrawal_btn li a {display: block;}


/*------------------------*/


/*하단 버튼*/
.modify_btn {width: 100%; margin: 0 auto;  font-weight: 400; margin-top: 30px; transition: all 0.3s;}
.modify_btn a {display: block; }

/*반응형*/
/*1200px*/
@media screen and (max-width: 1200px) {
    .withdrawal_box {width: 50%;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    .withdrawal_box {width: 60%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    .modify_box {padding: 5% 15%;}
    .withdrawal_box {width: 80%;}
    section.sub_wrap h2 {margin-bottom: 25px; font-size: 22px;}
}

/*450px*/
@media screen and (max-width: 450px) {
    .withdrawal_box {width: 95%;}
    .modify_box {margin: 0 auto; padding: 8% 5%;}
    .withdrawal_box_txt {width: 85%;}
    .withdrawal_box_txt p {text-align: justify;}
    .withdrawal_box_txt p br {display: none;}
    section.sub_wrap h2 {font-size: 20px;}
    
    .modify_form {border-bottom: 1px solid #eee;}
    .modify_form:nth-child(3) {border-bottom: 0; padding-bottom: 0;}
    #phone, #postcode {width: 60%;}
    .check_btn, .modify_box button {width: 39%; font-size: 15px;}
}

/*320px*/
@media screen and (max-width: 320px) {
    
    /*section.sub_wrap*/
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap p {margin-bottom: 10%;}

    .modify_btn {margin-top: 10%;}
    .modify_btn ul li {font-size: 15px;}
    .modify_box {padding-bottom: 10%;}
    .withdrawal_open {margin-top: 30%; font-size: 15px;}

    .withdrawal_box_txt {margin-top: 10px; width: 90%;}
    
    .check_btn, .modify_box button {font-size: 14px;}
    .password::placeholder {font-size: 12px;}
}
