@charset "UTF-8";

/*전체 마이페이지 틀*/
.mypage_box {position: relative; width: 100%; height: auto; overflow: hidden;}
.box_01 {width: 25%; margin-right: 1%;  background: #fff; border: 1px solid #dbdbdb; height: 650px; border-radius: 4px; position: relative; float: left; position: relative;}
.box_02 {width: 74%;  background: #fff; margin-right: 0; height: 650px; border: 1px solid #dbdbdb; border-radius: 4px; float: right;}

/*마이페이지 왼쪽*/
.mypage_left {width: 100%; height: auto; padding: 20px 30px; overflow: hidden; }
/*왼쪽 상단*/
.info_title {width: 100%; overflow: hidden; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.info_title h2 {font-size: 20px; font-weight: 50 0; display: inline-block; float: left; width: 70%;line-height: 1.5;} 
.info_title h2 span {font-size: 16px; font-weight: 300; color: #999;}
.modify_btn { color: #767676; background: #f2f2f2; display: inline-block; height: 40px; line-height: 40px; font-size: 15px; float: right; width:25%; text-align: center; border-radius: 12px; transition: all 0.3s;}
.modify_btn a {display: block;}
.modify_btn_mo {display: none; }
.info {text-align: justify; width: 100%; margin-top: 15px; margin-bottom: 50px;}
/* .info h5 {font-size: 16px; font-weight: normal; margin-bottom: 10px; font-weight: 500; color: #222;}
.info h5 span {font-size: 16px; color: #999; font-weight: 300;} */
.info p {color: #444; font-size: 15px; line-height: 1.6;}
/* 왼쪽 하단 버튼*/
.mypage_nav {overflow: hidden;}
.mypage_nav button { width: 100%; height: 45px; line-height:45px; border: none; float: left; padding: 0; margin: 0; background: #fff; font-size: 16px; cursor: pointer; text-align: justify; transition: all 0.3s; color: #999; font-weight: 400;}
.mypage_nav button span {float: right;}
.mypage_nav button.active {color: #222; font-weight: 500; padding: 0;}

/*마이페이지 오른쪽*/
.mypage_right  {padding:18px 20px;}
/* 상단 */
.tabcontent {width: 100%; display: none; overflow: hidden;z-index: 1000;}
.tabcontent h4 {font-size: 22px; font-weight:500; text-align: center;}
.tabcontent p {color: #999; margin-bottom: 12px; font-size: 14px; text-align: center; font-weight: 300;}
/* .logout {width: 85%; background: #fafafa;text-align: center; height: 45px; line-height: 45px; transition: all 0.3s; bottom: 0; margin-bottom: 10%; position: absolute; border-radius: 4px;} */
.logout {position: absolute; bottom: 20px; width: calc(100% - 60px);} 
.logout:hover { background: #ddd;}
.logout a {display: block;}

/*tab 01 - 장차예매현황*/
/*reserve_list 타이틀*/
.reserve_list_tit {overflow: auto; width: 100%; margin: 0 auto;}
.reserve_list_tit ul {width: 100%; display: flex;}
.reserve_list_tit ul li {float: left; flex:1; text-align: center; height: 45px; line-height: 45px; background: #fff; color: #222; font-weight: 400;border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-size: 15px;}
/*reserve_list - 예약바 리스트*/
#reserve_list {width: 100%; height: 490px; background: #f8f8f8; border: 1px solid #eee; overflow: scroll; overflow-x: hidden;}
/*reserve_list 예약바*/
.reserve_bar { width: 100%; font-weight: 300;padding: 0; border: 1px solid #f8f8f8;}
.reserve_bar ul li {float: left; width: 25%; text-align: center; }
#reserve_list label input {display: none;}
#reserve_list label span {
    position: relative;
    display:inline-block;
    background: transparent;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    color: #444;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
#reserve_list label span:hover {background-color: #fff; color: #222;}
#reserve_list label input:checked ~ span {/*color: #fff;*/ color: #222; font-weight: 500; background: #fff; border: 1px solid #444;}

.cancel_btn {float: right; margin-top: 1%;}
.cancel_btn a {display: inline-block; font-size: 14px;  color: #555;}

/*tab 02 - 예매 및 결제내역*/

#ui-datepicker-div{
 top:-999px; 
 border: 0;
 font-size: 14px;
}
.ui-datepicker-header{font-size: 14px;}
.ui-datepicker-calendar{
  background-color: #fff;
  border: 1px solid #eee;
}
        
/*search 박스*/
.searchBox {table-layout:fixed; border-spacing:0; border:none; width: 100%; position: relative; margin: 0 auto; overflow: hidden; height: auto; margin-bottom: 8px;}
.clearfix:after{content:"";display:block;clear:both;overflow:hidden;}
.searchDate:after{display:block;clear:both;content:'';}
.searchDate {width: 50%; position: relative; float: left;; object-position: center; overflow:hidden;}
.searchDate ul {width: 100%; display: flex;} 
.searchDate li{position:relative; flex:1; margin-right: 5px; margin-bottom: 10px; float: left; ;}
.searchDate li:last-child {margin-right: 0;}
.searchDate li .chkbox {display:block;text-align:center;}
.searchDate li .chkbox input {position:absolute; display: none;}
.searchDate li .chkbox label {display:block; height:35px; width: 100%;  line-height:35px; font-size: 15px; color:#444; text-align:center; text-decoration:none;cursor:pointer;background:#fff; border: 1px solid #dbdbdb; border-radius: 4px; float: left; position: relative;}
.searchDate li .chkbox.on label {background:#444; color: #fff; border: none;}

.demi{display:inline-block; vertical-align:middle;}
.clearfix {width: 49%; position: relative; float: right;}
.clearfix ul {width: 78%;}
.clearfix ul li {float: left;}
.clearfix ul li:nth-child(1),.clearfix ul li:nth-child(3) {width: 47%;}
.clearfix ul li:nth-child(2) {width: 6%; text-align: center; line-height: 30px;}
.clearfix input {width: 100%; border-radius: 4px; height: 35px;  background: #f4f4f4;}
.search_btn {width: 20%; float:left; height: 35px; background: #fff; border-radius: 4px; border: 1px solid #444; font-size: 14px; float: right; color: #222; font-weight: 400; cursor: pointer;}


/*두번째 테이블 타이틀 간격*/
/* .table_tit2 {border: none; border-top: 1px solid #eee; text-align: center; background: #f8f8f8; height: 50px; line-height: 50px; width: 100%;}
.table_tit2 ul {width: 100%;}
.table_tit2 ul li {float: left;}
.table_tit2 ul li:nth-child(1) {width: 16%;}
.table_tit2 ul li:nth-child(2) {width: 20%;}
.table_tit2 ul li:nth-child(3) {width: 22%;}
.table_tit2 ul li:nth-child(4) {width: 10%;}
.table_tit2 ul li:nth-child(5) {width: 16%;}
.table_tit2 ul li:nth-child(6) {width: 16%;} */



/*세번째 테이블 타이틀 간격*/
/* .table_tit3 {border: none; border-top: 1px solid #eee; text-align: center; background: #f8f8f8; height: 50px; line-height: 50px; width: 100%; }
.table_tit3 ul {width: 100%;}
.table_tit3 ul li {float: left; position: relative;}
.table_tit3 ul li:nth-child(1) {width: 17%;}
.table_tit3 ul li:nth-child(2) {width: 22%;}
.table_tit3 ul li:nth-child(3) {width: 17%;}
.table_tit3 ul li:nth-child(4) {width: 10%;}
.table_tit3 ul li:nth-child(5) {width: 17%;}
.table_tit3 ul li:nth-child(6) {width:  17%;} */
.list02,
.list03 {background: #fff; height:480px; overflow-y: scroll; border-top: 1px solid #eee; position: relative; width: 100%; background: #fafafa;}

tr.canceled td {background: #eee; border: none; color: #999; text-decoration: line-through;}
p.line02_info {float: left; margin:0;  color: #777; margin-top: 1%;}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -0.3%;
}

.table th {
    color: #222;
    background: #fff;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-weight: 400;
    font-size: 15px;
    position: sticky; top:0;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.table td {
    font-size: 15px;
    background: #fff;
    color: #444;
    font-weight: 300;
    border: 1px solid #f2f2f2;
     text-align: center;
     padding: 8px 0;
     background: #fafafa;
}
/* .table tr:hover {background: #fff;} */


.table th:first-child,
.table td:first-child {
    border-left: 0;
}

.table th:last-child,
.table td:last-child {
    border-right: 0;
}

.table tr td:first-child {
    text-align: center;
}

/*.table caption {
    caption-side: bottom;
    display: none;
}*/


/*선택예매취소 팝업버튼*/
.popup_box_mo {display: none;}
.table_mo {display: none;}

.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%;}
 .popup_box{width: 55%; background:#fff; position:relative; z-index: 1000; top:50%; left: 50%; transform: translate(-50%, -50%); border-radius: 12px; padding: 25px 30px; height: auto; box-shadow: 0 0 20px rgba(0,0,0,0.2);}
 .popup_box h2 {font-size: 22px; font-weight: 500; margin-bottom: 25px; text-align: center;}

 #qrcode {width: 80px; height: 80px; background-color: gold; float: left; position: relative;}
.qr_info {display: inline-block; left: 50%; transform: translateX(-50%); position: relative; height: auto; border-radius: 12px; margin: 10px 0 20px;}
/* .qr_info_inner {margin: 10px 0 30px; border-radius: 12px; padding: 10px 15px 8px; padding-right: 80px; box-shadow: 5px 5px 5px rgba(180,180,180,0.2); overflow: hidden; position: relative; left: 50%; transform: translateX(-50%); display: inline-block; border: 1px solid #eee; background-color: #fff;} */
.qr_info::after {content: ""; display: block; clear: both;}
.qr_txt {position: relative; font-size: 15px; color: #222; line-height: 1.6; text-align: justify; margin: 0; float: left; margin-left: 25px; font-weight: 400;height: 80px;}
.qr_txt > p {position: relative; margin-top: 0 !important;top: 50%;transform: translateY(-50%); text-align: justify;}
.table th {border-top: 1px solid #444;}

.popup_btn { width: 40%; margin: 0 auto; overflow: hidden; margin-top: 30px;}
.popup_btn li {float: left; width: 49%; margin-right: 1%;}
.popup_btn li:last-child {margin-right: 0;}
.popup_btn a {display: block;}
.layer:target{display:flex;animation:open 0.5s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}
.popup_box p {margin-top:30px; margin-bottom: 0; color:#222;}
p.cancel_info {margin:2% 0; text-align: center;}


/*section.sub_wrap 완료*/

/* 모바일영역 -------------------------------------------*/
.mypage_nav_mo {display: none;}
.reserve_bar_mo {display: none;}
.reserve_bar_mo_list {display: none;}
#reserve_list_mo {display: none; opacity: 0;}
#reserve_list_mo button.reserve_bar {display: none;}

.active, .reserve_bar_mo:hover{
    background-color: #C3A164;
    color: #fff;
      font-weight: normal;
  }
.logout_mo {display: none;}

.list03_mo,
.list02_mo {display: none;}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
  /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .inner_sub_wrap {width: 100%; padding: 0 15px; margin: 0 auto;}
    .layer .popup_box{width: 95%;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    .box_01, .box_02 {height: 650px;}
    .info h5 {font-size: 18px;}
}


/*768px*/
@media screen and (max-width: 768px) {
    /* 상단영역 */
    .box_01, .box_02 {float: none; width: 100%; overflow: hidden;}
    .mypage_box .logout {display: none;}
    .mypage_left {height: auto;}
    section.sub_wrap h2 {margin-bottom: 0; font-size: 20px;}
    .info {margin-bottom: 0; padding:10px 0 15px;}
    .info_title h2 br  {display: none;}
    .box_01 {height: auto; position: relative; width: 100%; overflow: hidden; border-bottom: none;}
    .box_02 {border-top: none; padding-top: 8px;}
    .modify_btn {display: none;}
    .modify_btn_mo {display: block;  color: #767676;display: inline-block; height: 30px; line-height: 30px; font-size: 15px; float: right; width:auto; margin-right: 10px;}
    .mypage_nav {display: none;}
    .mypage_nav_mo { display: block; width: 100%; overflow: hidden;}
    .mypage_nav_mo .tablinks {width: 33.3%; float: left; height: 55px; color: #444;}
    .mypage_nav_mo p { margin: 0 auto; text-align: center; font-size: 16px; color: #767676;}
    .mypage_nav_mo button {border: 1px solid #eee; border-bottom:1px solid #444; background: #f4f4f4; }
    .mypage_nav_mo button.active {border: 1px solid #444; border-bottom: none; background: #fff; color:#222;}
    .mypage_nav_mo button.active p {color: #222; font-weight: 500;}

    .qr_info {width: 100%; padding: 0; padding: 0; margin-bottom: 10px; border: none; padding: 10px 0;}
    #qrcode {width: 100px; height: 100px;}
    .qr_info > p {text-align: center; margin-left: 0; word-break: keep-all; width: 90%; margin: 0 auto; float: none; clear: both; padding-bottom:0; line-height: 1.8; padding-top: 15px; color: #222; font-size: 15px; font-weight: 400;}
    #qrcode {left:50%; transform: translateX(-50%);} 

    .popup_box{display: none;}
    .layer {width: 100%;}
    .popup_box_mo {display: block; width: 70%; background: #fff; padding: 22px 15px; position: absolute; z-index: 100000; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 12px;}
    .popup_box_mo h2 {font-size: 22px; font-weight: 500; padding-bottom: 18px; text-align: center;}
    .table_mo {display: block;}
    .table_mo {width:100%; overflow: hidden; margin-bottom: 2%; overflow: hidden; border: 1px solid #dbdbdb;}

/* 예매상세내역 */
    .detail_table {
        width: 100%;
        border: none;
        margin: 0; padding: 0;
    }
    .detail_table td, .detail_table th {
        padding: 10px;
        border-bottom: 1px solid #eee;
        vertical-align: middle;
        font-size: 15px;
    }
    .detail_table th {
        width: 130px;
        background: #fafafa;
        text-align: left;
        font-weight: 400;
    }
    .detail_table td span {color: #999;}
    

    .popup_btn_mo {margin-top: 25px;}
    .popup_btn_mo a {display: block; height: 45px; line-height: 45px;}
    .popup_btn_mo ul {width: 60%; margin:0 auto; display: flex;}
    .popup_btn_mo ul li {float: left; flex: 1; margin-right: 5px;}
    .popup_btn_mo ul li:nth-child(2) {margin-right: 0;}


    #reserve_list {width: 100%; height: 280px;}
    .reserve_list_tit ul li {float: left; width: 25%;}
    .reserve_bar {width: 100%;}
    .reserve_bar ul li {float: left; width: 25%;}
    .list02, .list03 {height: 240px; overflow-x: hidden;}
    .mypage_box .box_02 {float: none; width: 100%; height: auto;}
    .mypage_right {width: 100%; margin-top: 1%;}
    .reserve_bar ul li {float: left;}
    

    .logout_mo {display: block; width: 100%; height: 45px; line-height: 45px; background: #eee; overflow: hidden; color: #999; text-align: center; margin-top: 60px;}
    .logout_mo a {display: block;}
}

/*414px*/
@media screen and (max-width: 414px) {
    .info_title h2 br  {display: block;}
    .mypage_nav_mo p {font-size:15px;}
    .tabcontent h4 {font-size: 20px;}
    .info_title {padding-bottom: 15px;}
    .info {padding-top: 0;}
    .info p {font-size: 15px;}
    .modify_btn_mo {width:30%; float: right;}


    .mypage_right {padding: 15px;}

    #reserve_list {background: #f8f8f8;}
    .reserve_list_tit {display: none;}
    .reserve_bar {display: none;}
    .reserve_bar_list {display: none;}
    .reserve_bar_mo_list {display: block; width: 100%;}
    .reserve_bar_mo {display: block; border-bottom: 1px solid #eee; }
    #reserve_list label span {padding:5px;}
    
    .reserve_bar_mo ul {width: 100%; display: flex;}
    .reserve_bar_mo ul li {float: left; text-align: center; font-size: 12px; font-weight: 300; color: #767676; line-height: 1.4;}
    /* .reserve_bar_mo ul li:nth-child(4) {flex: 1;} */
    .reserve_bar_mo ul li h6 { font-size: 14px; margin: 0; color: #444; font-weight: 00;}
    .reserve_bar_mo ul li i {float: right; display: table-cell; vertical-align: middle; padding:12px 0; padding-right: 8px;}
    .reserve_bar_mo ul li:nth-child(1) {width: 27%;}
    .reserve_bar_mo ul li:nth-child(2) {width: 37%;}
    .reserve_bar_mo ul li:nth-child(3) {width: 26%;}
    .reserve_bar_mo ul li:last-child {width: 10%; padding-right: 5px; vertical-align: middle; color: #797979;}
 
    
    
    p.cancel_info {font-size: 14px; line-height: 1.4; width: 90%; margin: 0 auto;  padding: 4% 0 8%;}
    
    .popup_open {font-size: 14px; height: 40px; line-height: 40px;}
    .logout_mo {font-size: 14px; height: 40px; line-height: 40px; margin-top: 8%;}
    
    .popup_btn_mo {width: 100%;}
    .popup_close1, .popup_close2 {width: 100%; float: left;}
    .popup_close1 {margin-right: 1%;}
    
    .popup_box{display: none;}
    .layer {width: 414px;}
    .popup_box_mo {display: block; width: 95%; background: #fff; height: auto; margin: 0 auto; padding: 0; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; padding: 3% 2%; font-size: 14px; overflow: hidden; border-radius: 4px;}
    .popup_box_mo h2 {text-align: center; margin-bottom: 3.5%; font-size: 18px;}
    .popup_box_mo p {font-size: 13px;}
    .qr_info {width: 100%; padding: 0; padding: 0; margin-bottom: 10px; border: none; padding: 10px 0;}
    .qr_info > p {text-align: center; margin-left: 0; word-break: keep-all; width: 90%; margin: 0 auto; float: none; clear: both; padding-bottom:0; line-height: 1.8;}
    #qrcode {left:50%; transform: translateX(-50%);} 
    .table_tit2, .table_tit3 {display: none;}
    
    .list02 {display: none;}
    .list02_mo {display: block; width: 100%; height: 260px; font-size: 13px;; overflow-x: hidden;}
    .popup_open2 {width: 100%;}
    .popup_open2 ul li {float: left; text-align: justify;}
    .popup_open2 ul li:nth-child(1) {width: 37%; color: #222; font-weight: 500;}
    .popup_open2 ul li:nth-child(2) {width: 33%; color: #999; font-weight: 400;}
    .popup_open2 ul li:nth-child(3) {width: 30%; color: #767676;}
    .popup_open2 i {float: right; padding: 17px 0;}
    .list02_mo_list {padding: 0 5%; height: 50px; line-height: 50px;  border: 1px solid #eee; background-color: #fafafa;}
    
    .list03 {display: none;}
    .list03_mo {display: block; width: 100%; height: 260px; font-size: 13px; overflow-x: hidden;}
    .popup_open3 ul li {float: left; text-align: justify;}
    .popup_open3 ul li:nth-child(1) {width: 37%; color: #222; font-weight: 500;}
    .popup_open3 ul li:nth-child(2) {width: 33%; color: #999; font-weight: 400;}
    .popup_open3 ul li:nth-child(3) {width: 30%; color: #767676;}
    .popup_open3 i {float: right; padding: 17px 0;}
    .list03_mo_list {padding: 0 5%; height: 50px; line-height: 50px;  border: 1px solid #eee; background: #fafafa;}
    

    /* dd br {display: block;}
    .popup_btn_mo {width: 100%; margin: 0 auto; margin-top: 5%;}
    .popup_btn_mo ul li {float: left; width: 49%; margin-right: 1%;}
    .popup_box_mo {padding: 3% 2% 5%;}
     */
    .mypage_nav button span {margin-left: 60%;}
    /* .tabcontent h4 {font-size: 18px; padding-top: 4%;} */
    
    
   .table th, .table td {font-size: 10px; padding: 5px;}
   .popup_box_mo {padding: 15px 10px; border-radius: 12px;}
   .popup_box_mo h2 {padding-bottom: 15px;}
   .popup_btn_mo ul {width:100%;}
   
    
    /*날짜조회영역*/
    .searchDate {width: 100%;}
    .clearfix{width: 100%;} 
    .clearfix ul {width: 100%; margin: 5px 0;}
    .search_btn {width: 100%; margin: 10px 0; height: 40px; border: 1px solid #999;} 

}


/*320px*/
@media screen and (max-width: 320px) {
    
    .mypage_right {padding: 10px;}
    .modify_btn_mo {float: left;}
    .popup_open3 ul li:nth-child(1),
    .popup_open2 ul li:nth-child(1) {width: 49%;}
    .popup_open3 ul li:nth-child(2),
    .popup_open2 ul li:nth-child(2) {width: 48%;}
    .popup_open3 ul li:nth-child(3),
    .popup_open2 ul li:nth-child(3) {width: 3%;}
    

    .popup_box_mo {overflow: scroll; height: 100%;}
    .popup_box_mo2 .table_mo {height: 300px;}
    
    .mypage_nav_mo p {padding: 5%; font-size: 15px; word-break: break-all;width: 80%;}
    .mypage_nav_mo .tablinks { padding: 5px; height: auto;}
    
    .layer {width: 320px;}
    
    
    /*search 박스*/

    .searchDate ul {
        flex:none;
        width: 100%;
      }
      .searchDate ul li {margin-right: 0; width: 33.33%;}
            
    .searchDate{margin-left: 0%; margin-top: 3%;}
    .searchDate li .chkbox label {display:block; width: 52px; margin-right: 2px;}
    .searchDate li .chkbox label:nth-child(5) {margin-right: 0;}
    .clearfix {margin-top: 2%; text-align: center; }
    .inpType {width: 125px; font-size: 16px; }
    .search_btn {width: 100%; margin-top: 3%;}

    .reserve_bar_mo ul li:nth-child(3) {width: 28%;}
    .reserve_bar_mo ul li:last-child {display: none;}

    .qr_info > p br {display: none;}
    .qr_info > p {padding-top: 20px;}
}


