@charset "UTF-8";

body {background: #fafafa;}

/*전체 마이페이지 틀*/
.mypage_box {position: relative; width: 100%; height: auto; overflow: hidden; animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease;}
.box_01 {width: 25%; margin-right: 1%;  background: #fff; border: 1px solid #dbdbdb; height: 650px; border-radius: 4px; position: relative; float: left; position: relative;}
.box_02 {width: 74%;  background: #fff; margin-right: 0; height: 650px; border: 1px solid #dbdbdb; border-radius: 4px; float: right;}

/*마이페이지 왼쪽*/
.mypage_left {width: 100%; height: auto; padding: 20px 30px; overflow: hidden; }
/*왼쪽 상단*/
.info_title {width: 100%; overflow: hidden;}
.info_title h2 {font-size: 20px; font-weight: 500; display: inline-block; float: left; width: 70%;line-height: 1.5;} 
.info_title h2 span {font-size: 16px; font-weight: 300; color: #999;}
.modify_btn { color: #767676; background: #f2f2f2; display: inline-block; height: 40px; line-height: 40px; font-size: 15px; float: right; width:25%; text-align: center; border-radius: 12px; transition: all 0.3s;}
.modify_btn a {display: block;}
.modify_btn_mo {display: none; }

.info {text-align: justify; width: 100%; margin-top: 20px; padding: 20px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.info dl {width: 100%; }
.info dt {width: 30px; float: left;}
.info dd {width: calc(100% - 30px); padding-top: 3px; font-size: 15px;}

/* 왼쪽 하단 버튼*/
.mypage_nav {overflow: hidden; margin-top: 15px;}
.mypage_nav button { width: 100%; height: 45px; line-height:45px; border: none; float: left; padding: 0; margin: 0; background: #fff; font-size: 16px; cursor: pointer; text-align: justify; transition: all 0.3s; color: #999; font-weight: 400;}
.mypage_nav button span {float: right;}
.mypage_nav button.active {color: #222; font-weight: 500; padding: 0;}

/*마이페이지 오른쪽*/
.mypage_right  {padding:18px 20px;}
/* 상단 */
.tabcontent {width: 100%; display: none;z-index: 1000;}
.tabcontent h4 {font-size: 22px; font-weight:500; text-align: center;}
.tabcontent p {color: #999; margin-bottom: 12px; font-size: 14px; text-align: center; font-weight: 300;}
/* .logout {width: 85%; background: #f8f8f8\;text-align: center; height: 45px; line-height: 45px; transition: all 0.3s; bottom: 0; margin-bottom: 10%; position: absolute; border-radius: 4px;} */
.logout {position: absolute; bottom: 20px; width: calc(100% - 60px); border: 1px solid #dbdbdb; color: #444;} 
.logout:hover { transition: all 0.5s;}
.logout a {display: block;}

/*tab 01 - 장차예매현황*/
/*reserve_list 타이틀*/
.reserve_list_tit {overflow: auto; width: 100%; margin: 0 auto;}
.reserve_list_tit ul {width: 100%; display: flex;}
.reserve_list_tit ul li {float: left; flex:1; text-align: center; height: 45px; line-height: 45px; background: #fff; color: #222; font-weight: 400;border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-size: 15px;}
/*reserve_list - 예약바 리스트*/
#reserve_list {width: 100%; height: 490px; background: #f8f8f8; border: 1px solid #eee; overflow: scroll; overflow-x: hidden;}
/*reserve_list 예약바*/
.reserve_bar { width: 100%; padding: 0; border: 1px solid #f8f8f8;}
.reserve_bar ul li {float: left; width: 25%; text-align: center; }
#reserve_list label input {display: none;}
#reserve_list label span {
    position: relative;
    display:inline-block;
    background: transparent;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #505050;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
#reserve_list label span:hover {background-color: #fff; color: #191919;}
#reserve_list label input:checked ~ span {/*color: #fff;*/ color: #191919; font-weight: 500; background: #fff; border: 1px solid #444;}

.cancel_btn a {display: inline-block; font-size: 14px;  color: #191919;}

/*tab 02 - 예매 및 결제내역*/

#ui-datepicker-div{
 top:-999px; 
 border: 0;
 font-size: 14px;
}
.ui-datepicker-header{font-size: 14px;}
.ui-datepicker-calendar{
  background-color: #fff;
  border: 1px solid #eee;
}
        
/*search 박스*/
.searchBox {table-layout:fixed; border-spacing:0; border:none; width: 100%; position: relative; margin: 0 auto; overflow: hidden; height: auto; margin-bottom: 8px;}
.clearfix:after{content:"";display:block;clear:both;overflow:hidden;}
.searchDate:after{display:block;clear:both;content:'';}
.searchDate {width: 50%; position: relative; float: left;; object-position: center; overflow:hidden;}
.searchDate ul {width: 100%; display: flex;} 
.searchDate li{position:relative; flex:1; margin-right: 5px; margin-bottom: 10px; float: left; ;}
.searchDate li:last-child {margin-right: 0;}
.searchDate li .chkbox {display:block;text-align:center;}
.searchDate li .chkbox input {position:absolute; display: none;}
.searchDate li .chkbox label {display:block; height:35px; width: 100%;  line-height:35px; font-size: 15px; color:#444; text-align:center; text-decoration:none;cursor:pointer;background:#fff; border: 1px solid #dbdbdb; border-radius: 4px; float: left; position: relative;}
.searchDate li .chkbox.on label {background:#444; color: #fff; border: none;}

.demi{display:inline-block; vertical-align:middle;}
.clearfix {width: 49%; position: relative; float: right;}
.clearfix ul {width: 78%;}
.clearfix ul li {float: left;}
.clearfix ul li:nth-child(1),.clearfix ul li:nth-child(3) {width: 47%;}
.clearfix ul li:nth-child(2) {width: 6%; text-align: center; line-height: 30px;}
.clearfix input {width: 100%; border-radius: 4px; height: 35px;  background: #f4f4f4;}
.search_btn {width: 20%; float:left; height: 35px; background: #fff; border-radius: 4px; border: 1px solid #444; font-size: 14px; float: right; color: #222; font-weight: 400; cursor: pointer;}


/*두번째 테이블 타이틀 간격*/
/* .table_tit2 {border: none; border-top: 1px solid #eee; text-align: center; background: #f8f8f8; height: 50px; line-height: 50px; width: 100%;}
.table_tit2 ul {width: 100%;}
.table_tit2 ul li {float: left;}
.table_tit2 ul li:nth-child(1) {width: 16%;}
.table_tit2 ul li:nth-child(2) {width: 20%;}
.table_tit2 ul li:nth-child(3) {width: 22%;}
.table_tit2 ul li:nth-child(4) {width: 10%;}
.table_tit2 ul li:nth-child(5) {width: 16%;}
.table_tit2 ul li:nth-child(6) {width: 16%;} */


/*세번째 테이블 타이틀 간격*/
/* .table_tit3 {border: none; border-top: 1px solid #eee; text-align: center; background: #f8f8f8; height: 50px; line-height: 50px; width: 100%; }
.table_tit3 ul {width: 100%;}
.table_tit3 ul li {float: left; position: relative;}
.table_tit3 ul li:nth-child(1) {width: 17%;}
.table_tit3 ul li:nth-child(2) {width: 22%;}
.table_tit3 ul li:nth-child(3) {width: 17%;}
.table_tit3 ul li:nth-child(4) {width: 10%;}
.table_tit3 ul li:nth-child(5) {width: 17%;}
.table_tit3 ul li:nth-child(6) {width:  17%;} */
.list02,
.list03 {background: #fff; height:480px; overflow-y: scroll; border-top: 1px solid #eee; position: relative; width: 100%; background: #f8f8f8;}

tr.canceled td {background: #eee; border: none; color: #999; text-decoration: line-through;}
p.line02_info {float: left; margin:0;  color: #777; margin-top: 1%;}





table {border-collapse: collapse;}
th, td {padding: 0;}


.table {
    width: 100%;
    border-spacing: 0;
    border-style: none;
    margin-top: -0.3%;
}

.table th {
    color: #222;
    background: #fff;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-weight: 400;
    font-size: 15px;
    position: sticky; top:0;
    border-bottom: 1px solid #dbdbdb;
}

.table td {
    font-size: 15px;
    background: #fff;
    color: #444;
    font-weight: 300;
    border-bottom: 1px solid #f2f2f2;
     text-align: center;
     padding: 8px 0;
     background: #f8f8f8;
    
}

.table th:first-child,
.table td:first-child {
    border-left: 0;
}

.table th:last-child,
.table td:last-child {
    border-right: 0;
}

.table tr td:first-child {
    text-align: center;
}

/*.table caption {
    caption-side: bottom;
    display: none;
}*/

/* 장차예매현황 -승차권 팝업 */
.popup_box_mo {display: none;}
.table_mo {display: none;}

.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%; z-index: 100000000;}

 .popup_box{width:28%; background:#fff; position:relative; z-index: 1000; top:53%; left: 50%; transform: translate(-50%, -50%); border-radius: 12px; height: auto; box-shadow: 0 0 20px rgba(0,0,0,0.3); padding: 20px 30px 25px; overflow: hidden;}

.ticket_modal h3,#qrcode_full_modal h3 {font-size: 24px; text-align: center; margin-bottom: 18px;}
.time_info {width: 100%;; background-color: #faf7f3; border-radius: 12px; padding: 20px 0; overflow: hidden; display: flex;}

.time_info > div {flex: 1;}
.time_info > div:nth-child(1) {border-right: 1px solid #e7e3dd;}
.time_info_date {width: 100%; text-align: center;}
.time_info_date dd:nth-child(1)::after {content: '~'; margin-left: 5px; margin-right: -10px;}
.time_info_time {width: 100%; margin: 0 auto;}
.time_info_time ul li {float: left;}
.time_info_time ul li:nth-child(1), .time_info_time ul li:nth-child(3) {width: 45%; text-align: center;}
.time_info_time ul li:nth-child(2) {width: 10%; text-align: center; padding-top: 10px; }
.time_info_time ul li dt {font-size: 15px;}
.time_info_time ul li dd {font-size: 18px; font-weight: 500;color: #271d0a; }

.payment_info {width: 100%; font-size: 15px; display: table; margin: 20px 0;}
.payment_info th, .payment_info td {padding: 2px 5px;}
.payment_info th {width: 30%; text-align: left; float: left; font-weight: normal; color: #505050;}
.payment_info td {width: 70%; text-align: right; float: right; color: #191919;}

.qrcode_list {width: 100%; overflow: scroll; overflow-x: hidden; height: 240px; border-top: 1px solid #dbdbdb;}
.qrcode_list ul li {width:100%; border-bottom: 1px solid #eee; position: relative; overflow: hidden;}
/* .qrcode_list ul li:nth-child(1) {border-top: 1px solid #eee;} */
.qrcode {width: 50px; height: 50px; background-color: black;float: right; margin-right: 16px; z-index: 1000000;}
.checks {line-height: 50px;  padding: 12px 0;}
.qrcode_list span {margin-left: 10px; font-weight: 600;}


#qrcode_full_modal {display: none;}
.qrcode-full {width: 150px; height: 150px; background:#000; margin-left: 50%; transform: translateX(-50%); padding:10px; margin-top: 30px; margin-bottom: 20px;}
#qrcode_full_modal > p {font-size: 16px; text-align: center; color: #505050;padding-bottom: 10px;}
#qrcode_full_modal > p > span {margin-left: 8px; font-weight: 600; color:#191919;}

.ticket_modal p {text-align: left !important; margin-top: 15px; font-size: 14px;}
.ticket_modal p a {margin-left: 5px;}



















/* .cancel_btn_list {width: 183px;  margin: 0 auto; overflow: hidden; margin-top: 20px;}
.cancel_btn_list ul li {float: left; position: relative;} */
.select_cancel { padding: 0 16px; display: block; width: auto; height: 40px; line-height: 40px; padding: 0 16px; border: 1px solid #dbdbdb; font-size: 15px; border-radius: 4px;}


.all_cancel {margin-right: 8px;}

a.close_btn  {display: block; width:100%; border-radius: 4px; height: 48px; line-height: 48px; text-align: center; margin-top: 20px; border: 1px solid #999; overflow: hidden;} 

.check_all_btn {padding: 0; width: 30%;float: left; height: 48px; line-height:40px;}
.select_cancel {float: right;}

.detail_table {
    width: 100%;
    border: none;
    margin: 0; padding: 0;
    border-top: 1px solid #191919;
    background-color: #fff;
}
.detail_table td, .detail_table th {
    padding:12px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    font-size: 15px;
}
.detail_table th {
    width: 100px;
    text-align: left;
    font-weight: 400;
    color: #767676;
}
.detail_table td {text-align: right;}
.detail_table td span {color: #999;}

.popup_btn { width: 70%; margin: 0 auto; overflow: hidden; margin-top:40px;}
.popup_btn li {float: left; width: 49%; margin-right: 1%;}
.popup_btn li:last-child {margin-right: 0;}
.popup_btn a {display: block;}
.layer:target{display:flex;animation:open 0.5s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}
/* .popup_box p {font-size: 15px; margin-top:20px; margin-bottom: 0; columns: #767676; text-align: center; font-size: 200;} */
.popup_box p a {color: #999; font-weight: 500;}
p.cancel_info {margin:2% 0; text-align: center;}



/*section.sub_wrap 완료*/

/* 모바일영역 -------------------------------------------*/
.mypage_nav_mo {display: none;}
.reserve_bar_mo {display: none;}
.reserve_bar_mo_list {display: none;}
#reserve_list_mo {display: none; opacity: 0;}
#reserve_list_mo button.reserve_bar {display: none;}

.active, .reserve_bar_mo:hover{
    background-color: #C3A164;
    color: #fff;
      font-weight: normal;
  }
.logout_mo {display: none;}

.list03_mo,
.list02_mo {display: none;}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
  /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    /* .inner_su1b_wrap {width: 100%;  margin: 0 auto;} */
    .layer .popup_box{width: 45%;}
    .swiper-slide {width: auto;}
    .inner_sub_wrap {width: 98%; margin: 0 auto;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    .box_01, .box_02 {height: 650px;}
    .info h5 {font-size: 18px;}
    .info dt {display: none;}
    .info dd {width: 100%;}
    .mypage_left {padding: 20px 16px;}

    .layer .popup_box{width: 50%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    section.sub_wrap {width: 95%;}
    /* 상단영역 */
    .box_01, .box_02 {float: none; width: 100%; overflow: hidden;}
    .mypage_box .logout {display: none;}
    .mypage_left {height: auto; padding: 20px;}
    section.sub_wrap h2 {margin-bottom: 0; font-size: 20px;}
    .info {border-bottom: none;}
    .info dl {padding: 2px 0;}
    .info dl dt {display: block;}
    .info_title h2 br  {display: none;}
    .box_01 {height: auto; position: relative; width: 100%; overflow: hidden; border-bottom: none;}
    .box_02 {border-top: none; padding-top: 8px;}
    .modify_btn {display: none;}
    .modify_btn_mo {display: block;  color: #999;display: inline-block; height: 30px; line-height: 30px; font-size: 15px; float: right; width:auto; margin-right: 10px;}
    .mypage_nav {display: none;}
    .mypage_nav_mo { display: block; width: 100%; overflow: hidden;}
    .mypage_nav_mo .tablinks {width: 33.3%; float: left; height: 55px; color: #444;}
    .mypage_nav_mo p { margin: 0 auto; text-align: center; font-size: 16px; color: #767676;}
    .mypage_nav_mo button {border: 1px solid #eee; border-bottom:1px solid #444; background: #f4f4f4; }
    .mypage_nav_mo button.active {border: 1px solid #444; border-bottom: none; background: #fff; color:#222;}
    .mypage_nav_mo button.active p {color: #222; font-weight: 500;}
    /* .popup_box{display: none;} */
    .layer .popup_box{width: 60%;}
    .layer {width: 100%;}
    .popup_box_mo {display: block; width: 60%; background: #fff; padding: 20px 15px; position: absolute; z-index: 100000; top: 53%; left: 50%; transform: translate(-50%, -50%); border-radius: 12px; overflow: scroll;}
    .popup_box_mo h3 {text-align: center; margin-bottom: 20px; font-size: 22px; padding-top: 8px;}
    .popup_box_mo p {margin-top: 20px; text-align: center; font-size: 15px;}
    .popup_box_mo p a {color: #999; margin-left: 5px; font-weight: 500;}
    .table_mo {display: block;}
    .table_mo {width:100%; overflow: hidden; margin-bottom: 2%; overflow: hidden;}
    
    .popup_close {margin-top: 25px;}
    
    .popup_btn {margin-top: 40px; width: 70%;}
    .popup_btn_mo a {display: block; height: 45px; line-height: 45px;}
    .qr_wrap {margin-bottom: 20px;}

    #reserve_list {width: 100%; height: 280px;}
    .reserve_list_tit ul li {float: left; width: 25%;}
    .reserve_bar {width: 100%;}
    .reserve_bar ul li {float: left; width: 25%;}
    .list02, .list03 {height: 240px; overflow-x: hidden;}
    .mypage_box .box_02 {float: none; width: 100%; height: auto;}
    .mypage_right {width: 100%; margin-top: 1%;}
    .reserve_bar ul li {float: left;}
    

    .logout_mo {display: block; width:25%; margin: 0 auto; margin-bottom: 20px;  overflow: hidden; text-align: center; margin-top: 70px; height: 40px; line-height: 40px;}
    .logout_mo a {display: block;}
}

/*650px*/
/* @media screen and (max-width: 650px) {
    .layer .popup_box{width: 80%; height:95%; }
    .time_info > div { width: 80%; margin: 0 auto;}
    .time_info > div:nth-child(1) {border-right: none; border-bottom: 1px solid #eee;}
    .time_info {flex-direction: column; padding: 15px 0;}
    .time_info_date {padding-bottom: 15px;}
    .time_info_time {padding-top: 15px;}
} */


/*450px*/
@media screen and (max-width: 450px) {
    .info_title h2 br  {display: block;}
    .info_title h2 {width: 50%;}
    .modify_btn_mo {width: 50%; float:none; right:0;}

    .mypage_nav_mo p {font-size:15px;}
    .tabcontent h4 {font-size: 20px;}
    .info p {font-size: 15px;}
    .modify_btn_mo {width:42%; float: right; text-align: right;}


    .mypage_right {padding: 15px;}

    #reserve_list {background: #f8f8f8;}
    .reserve_list_tit {display: none;}
    .reserve_bar {display: none;}
    .reserve_bar_list {display: none;}
    .reserve_bar_mo_list {display: block; width: 100%;}
    .reserve_bar_mo {display: block; border-bottom: 1px solid #eee; }
    #reserve_list label span {padding:5px;}
    
    .reserve_bar_mo ul {width: 100%; display: flex;}
    .reserve_bar_mo ul li {float: left; text-align: center; font-size: 12px; font-weight: 300; color: #767676; line-height: 1.4;}
    /* .reserve_bar_mo ul li:nth-child(4) {flex: 1;} */
    .reserve_bar_mo ul li h6 { font-size: 14px; margin: 0; color: #444; font-weight: 00;}
    .reserve_bar_mo ul li i {float: right; display: table-cell; vertical-align: middle; padding:12px 0; padding-right: 8px;}
    .reserve_bar_mo ul li:nth-child(1) {width: 27%;}
    .reserve_bar_mo ul li:nth-child(2) {width: 37%;}
    .reserve_bar_mo ul li:nth-child(3) {width: 26%;}
    .reserve_bar_mo ul li:last-child {width: 10%; padding-right: 5px; vertical-align: middle; color: #797979;}
 
    
    
    p.cancel_info {font-size: 14px; line-height: 1.4; width: 90%; margin: 0 auto;  padding: 4% 0 8%;}
    
    .popup_open {font-size: 14px; height: 40px; line-height: 40px;}
    .logout_mo {font-size: 14px; height: 40px; line-height: 40px; margin-top: 8%;}
    
    .popup_btn_mo {width: 100%;}
    .popup_close1, .popup_close2 {width: 100%; float: left;}
    .popup_close1 {margin-right: 1%;}
    
    .layer {width: 100%;}
    .layer .popup_box {width: 100%; height: 100%; overflow: scroll; overflow-x: hidden; left: 0; top: 0; transform: translate(0%,0%); border-radius: 0;}
    .qrcode_list {height: auto;overflow: hidden;}
    .popup_box_mo {display: block; width: 95%; background: #fff; height: 1000px; overflow: scroll; margin: 0 auto; top: 0; left:0; transform: none; position: absolute; font-size: 14px;border-radius: 4px;}

    .ticket_modal {padding: 23px 15px 15px;}
    a.close_btn {margin-top: 30px; }
    .popup_box_mo p {font-size: 13px;}
    .qr_info {margin-top: 0;}
    .table_tit2, .table_tit3 {display: none;}
    
    .list02, .list03 {display: none;}
    .list02_mo, .list03_mo {display: block; width: 100%; height: 260px; font-size: 13px; overflow-x: hidden;}
    .popup_open2 {width: 100%;}
    .popup_open2 ul li, .popup_open3 ul li {float: left; text-align: justify;}
    .popup_open2 ul li:nth-child(1), .popup_open3 ul li:nth-child(1) {width: 37%; font-weight: 500;}
    .popup_open2 ul li:nth-child(2), .popup_open3 ul li:nth-child(2) {width: calc(63% - 8px); color: #505050; font-weight: 400;}
    .popup_open2 ul li:nth-child(3) .popup_open3 ul li:nth-child(3) {width:8px;}
    .list02_mo_list,.list03_mo_list  {padding: 0 5%; height: 50px; line-height: 50px;  border: 1px solid #eee; background-color: #f8f8f8;}
    .popup_btn {margin-top: 30px; width: 90%;}
    .mypage_nav button span {margin-left: 60%;}
    .popup_box_mo {width: 100%; height: 100%; padding: 15px; border-radius: 0;}
    
   .table th, .table td {font-size: 10px; padding: 5px;}
   .popup_btn_mo ul {width:100%;}
   
    
    /*날짜조회영역*/
    .searchDate {width: 100%;}
    .clearfix{width: 100%;} 
    .clearfix ul {width: 100%; margin: 5px 0;}
    .search_btn {width: 100%; margin: 10px 0; height: 40px; border: 1px solid #999;} 

}

/*375px*/
@media screen and (max-width: 375px) {
    .popup_box_mo2 .table_mo {height: 300px;}
    .popup_open2 ul li:nth-child(1), .popup_open3 ul li:nth-child(1) {width: 42%;}
    .popup_open2 ul li:nth-child(2), .popup_open3 ul li:nth-child(2) {width: calc(58% - 8px);}
}

/*320px*/
@media screen and (max-width: 320px) {
    .ui-datepicker{ font-size: 12px; width: 60px; }
    .ui-datepicker select.ui-datepicker-month{ width:10%; font-size: 3px; }
    .ui-datepicker select.ui-datepicker-year{ width:30%; font-size: 100px; }
    #ui-datepicker-div{
        left: -19px !important;
    }

    #reserve_list label span {height: 60px; line-height: 60px; padding: 13px 3px;}
    .reserve_bar_mo ul li:nth-child(1) {width: 28%;}
    .reserve_bar_mo ul li:nth-child(2)  {width: 40%;}
    .reserve_bar_mo ul li:nth-child(3) {width: 32%;}
    .reserve_bar_mo ul li:last-child {display: none;}

    .mypage_right {padding: 10px;}
    .modify_btn_mo {float: left;}

    .popup_open2 ul li:nth-child(1), .popup_open3 ul li:nth-child(1) {width: 48%;}
    .popup_open2 ul li:nth-child(2), .popup_open3 ul li:nth-child(2) {width: calc(52% - 8px);}

    .popup_box_mo {overflow: scroll; height: 100%; width: 100%;}
    .popup_box_mo2 .table_mo {height: 300px;}
    .popup_box_mo p br {display: none;}
    .swiper-slide .swiper-slide-active {width: 100%;}
    
    .mypage_nav_mo p {padding: 5%; font-size: 15px; word-break: break-all;width: 80%;}
    .mypage_nav_mo .tablinks { padding: 5px; height: auto;}
    .popup_btn {width: 100%;}
    
    /* 승차권 */
    .time_info > div { width: 80%; margin: 0 auto;}
    .time_info > div:nth-child(1) {border-right: none; border-bottom: 1px solid #eee;}
    .time_info {flex-direction: column; padding: 15px 0;}
    .time_info_date {padding-bottom: 15px;}
    .time_info_time {padding-top: 15px;}
    .ticket_modal p {text-align: center !important;}
    .cancel_btn_list {margin-top:25px;}

    /*search 박스*/
    .searchDate ul {
        flex:none;
        width: 100%;
      }
      .searchDate ul li {margin-right: 0; width: 33.33%;}
            
    .searchDate{margin-left: 0%; margin-top: 3%;}
    .searchDate li .chkbox label {display:block; width: 52px; margin-right: 2px;}
    .searchDate li .chkbox label:nth-child(5) {margin-right: 0;}
    .clearfix {margin-top: 2%; text-align: center; }
    .inpType {width: 125px; font-size: 16px; }
    .search_btn {width: 100%; margin-top: 3%;}

    .reserve_bar_mo ul li:nth-child(3) {width: 28%;}

    .qr_info > p br {display: none;}
}

/*280px*/
@media screen and (max-width: 280px) {
    .popup_box_mo {width: 280px;}
    .swiper-slide, .swiper-slide-active {width: 100%;}
}

