@charset="UTF-8";


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; font-weight: normal;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
strong {font-weight: bold;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

header {width: 100%; height: 80px; position: fixed; z-index: 10000; background: #fff; box-shadow: 0 1px 10px rgb(0,0,0,0.05);}

.innerHeader {
    width: 100%;
    height: 80px;
    position: relative;
    margin: 0 auto;
     z-index: 500;
    font-size: 18px;
}

/*로고*/
.innerHeader h1.logo {float: left; margin-left: 3%; line-height: 70px; overflow: hidden;}


/*nav_gnb*/
nav.gnb {width: 45%;/* float: left; */margin: 0 auto;} 

nav.gnb ul li {
    float: left;
    margin: 0 auto;
    width: 33.3%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: normal;
}

nav.gnb ul li a {display: block;}


.innerHeader ul li:hover {color: #a0772b;}

.innerHeader ul ul {display: none;   border: 1px solid #000;}
.innerHeader ul ul li {float: none; width: 100%; height: 50px; line-height: 50px; position: relative;  color: #242424; background: #fff; font-size: 16px;}
.innerHeader ul li ul li a {display: block;}

.innerHeader ul li:hover > ul {display: block;}
.innerHeader ul li ul li:hover { color: #333; background: #e3ddd2;}

/*gnb2*/
nav.gnb2 {width: 16%; float: right; margin-right: 5%; line-height: 80px; font-size: 16px; color: #777; }
nav.gnb2 ul li {width: 33.3%; float: left; text-align: center; }
nav.gnb2 a {display: block;}


.tooltip {
  position: relative;
  display: inline-block; 
   /* color: #333;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
    height: 60px;
    line-height: 60px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
    font-size: 16px;
    font-weight: normal;
  z-index: 1;
  top: 100%;
  left: 0%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*header 완료*/
/*section.sub_wrap 시작*/


section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
    overflow: hidden;
}


section.sub_wrap .bar {
    border-bottom: 2px solid #ad863c; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 5%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 2.8rem;
    margin-top: -1%;
    font-weight: normal;
    margin-bottom: 2%;
}

/*폰트적용*/
.inner_sub_wrap h1,
.inner_sub_wrap h2 {font-family: 'Noto Sans KR', sans-serif; }

.inner_sub_wrap {width: 1200px; margin: 0 auto;}



@keyframes box {
    0% {opacity: 0; transform: translateY(2%);}
    100%; {opacity: 1; transform: translateY(0%);}
}

/*reserve_box*/
.reservation_box { width: 100%; background: #fff; border: 1px solid #ddd; height: auto; overflow: hidden;  animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease; padding: 3%;
}


/*오른쪽영역*/
.reserve_right h4 {margin-left: 3%; font-size: 19px; font-weight: bold; margin-top: 2%; display: inline-block;}
.reserve_right h5 {font-size: 20px; margin-left: 3%; display: inline-block;}
.reserve_right ul li {background: transparent; margin-left: 3%;}

/*오른쪽영역 내부*/
.tabcontent {
  display: none;
    height: 620px;
  border-top: none;
}
.tabcontent h3 {font-family: 'Noto Sans KR', sans-serif; color: #000; font-weight: bold; font-size: 30px;}
.tabcontent p {color: #555; padding-bottom: 2.5%; border-bottom: 1px solid #ddd; font-size: 18px;}
.tabcontent dl {margin-top: 2%;}
.tabcontent dt {float: left; width: 18%; padding: 15px 0; font-weight: bold; color: #222;}
.tabcontent dd {float: left; width: 82%; padding: 15px 0;}
.tabcontent dd span {font-size: 15px; color: #555;}

.tabcontent h3 br {display: none;}
.tabcontent p br {display: none;}
.tabcontent dt br {display: none;}


/*새로고침버튼*/
.reload_btn_top {display: none;}
.reload_btn {background: #fff; border-radius: 5px; cursor: pointer; border: none; width: 100%; margin-top: 3%;}
.reload_btn img { padding: 1.5%; border: 1px solid #ddd; float: left; border-radius: 5px; margin-right: 1%;}
.reload_btn p {line-height: 38px;}

/*오른쪽 좌석선택표*/
.seat-map {float: left;}
.select_seat {float: right; width: 48%; padding-left: 4%;}
.select_seat h4 {width: 100%; font-size: 20px; padding: 0; margin: 0; margin-bottom: 5%; padding: 1%; border-bottom: 1px solid #eee;}
.select_seat h4 span {font-size: 16px; color: #777;}


/*좌석선택 텍스트*/
.seat_table {width: 100%; height: auto; overflow: hidden;}
.seat_table dt {width: 100%; float: left; padding: 1% 0; font-size: 18px; font-weight: normal; color: #666;}
.seat_table dd {width: 100%; float: left ; padding: 1% 0; color: #000;  background: #f4f4f4; margin-bottom: 4%;}

.seat_table p { border-bottom: none; font-size: 15px; color: #777; display: inline-block; margin-left: 3%; float: left; line-height: 36px;}


/*하단 예매버튼*/
/*.payment_open {margin: 0 auto; width: 230px; height: 50px; line-height: 50px; background: #eee; display: block; text-align: center; transition: all 0.3s; overflow: hidden;margin-top: 2%; bottom: 3%; position: absolute; right: 2.5%;}*/
.payment_open:hover {background: #ddd;}


.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%;}
.layer:target{display:flex;animation:open 0.3s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}

.payment_box{ width: 25%;  height: auto; margin: 0 auto;background:#fff;position:relative; z-index: 1000; margin-top: 3%;}

/*결제버튼 팝업 내부*/
/*팝업 타이틀*/
.payment_tit { background: #f8f8f8; border-bottom: 2px solid #ad863c; height: 60px; line-height: 60px; margin: 0 auto;text-align: center; color: #222; font-weight: normal; font-size: 22px;}

/*팝업 요약*/
.info_table {width: 100%; overflow: hidden;/* border-bottom: 1px solid #eee;*/ padding: 0 6%; margin-top: 2%;}
.info_table dl {width: 100%; padding: 2.5% 0; overflow: hidden; border-bottom: 1px solid #f4f4f4;}
.info_table dl:last-child {border-bottom: 1px solid #eee;}
.info_table dt {width: 35%; float: left; color: #666;}
.info_table dd{width: 65%; float: right; color: #333;  text-align: right;}
.info_time dd .region {color: #aaa;}

/*팝업 금액*/
.price {width: 100%; overflow: hidden; padding: 0 6%; padding-top: 3%;}
.price dl {width: 100%; color: #777; opacity: 0.8}
.price dt {width: 50%; float: left;}
.price dd {width: 50%; float: right; text-align: right;} 
dl.price_sale {color: #c17e00;}
/*dl.price_sale dt, dl.price_sale dd {font-weight: bold;}*/
.total_dl {padding-top: 4%; overflow: hidden;}
.total_dl dt {color: #000; line-height: 43px; font-size: 18px;}
.total_dl dd {color: #000; font-weight: bold;font-size: 24px; }


.notice {padding: 4% 6%; background: #eee; margin-top: 4%;}
.notice h5 {font-size: 18px; font-weight: bold; padding-bottom: 1%; border-bottom: 1px solid #ddd; color: #555;}
.notice p {padding-top: 3%; font-size: 15px;}

/*팝업하단버튼*/
.reservation_btn_mo {display: none;}


.payment_btn {width: 100%; height: 50px; margin-top: 10%; border: 0; background: #ad863c; color: #fff; font-size: 16px;}
.payment_btn li {float: left; width: 49%; margin-right: 1%;}
.payment_btn li:last-child {margin-right: 0;} 
.payment_close {width: 100%; display: block; height: 50px; line-height: 50px; text-align: center;}
.payment_close1 {background: #eee; color: #666; transition: all 0.2s;}
.payment_close1:hover {background: #ddd;}
.payment_close2{bottom:20px;display:block;background:#ad863c;color:#fff;text-align:center; float: left; width: 100%;}

/*section.sub_wrap 완료*/


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {

    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 100%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 100%;}
    
    .reservation_box {width: 95%; margin: 0 auto;}
    
    .payment_box {width: 40%; margin-top: 8%;}
    
    
    .select_seat {width: 46%; padding-left: 2%;}

}


/*1024px*/
@media screen and (max-width: 1024px) {

    .payment_box {width: 47%; margin-top: 8%;}

   
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap {padding-top: -10%;}
     .box {padding-top: 7%; padding-bottom: 5%;}
    
    .reserve_right {display: none;}
    .reserve_left {height: auto;}
    .reservation_box {width: 95%; margin: 0 auto;}
    .reservation_box > ul > li {float: none; width: 100%;}
    
    .location left_list ul li {width: 40%; float: left;}
    .location left_list ul li:nth-child(2) {width: 20%;}
    .location_select {width: 300px;}
    .reservation_box h4 {font-size: 22px; font-weight: bold; }
    .seat_table dt {font-size: 18px;}
    .seat_table dd {font-size: 20px;}
    
    .reservation_btn_mo {display: block; width: 60%; margin: 0 auto; margin-top: 4%; position: relative; overflow: hidden; padding-bottom: 4%;}
    .reservation_btn_mo ul li {float: left; width: 49%; margin-right: 1%; text-align: center; height: 50px; line-height: 50px;}
    .reservation_btn_mo ul li:nth-child(2) {margin-right: 0;}
    .reservation_btn_mo ul li a {display: block;}
    .back {border: 1px solid #ddd;}
    .payment_open {background: #ad863c; color: #fff; }
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {

    .box {padding-top: 9.5%;}
    
    .reservation_btn_mo {width: 60%; margin-top: 4%;}

    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    .tnb {width: 768px; margin-top:-7.6%;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h2 {margin-bottom: 6%;}

    .select_bus_list {height: 340px;}
    
    
    .box {padding-bottom: 4%;}
    .location_select {width: 250px;}

    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {

    .box {padding-top: 20%;}
    
    .select_seat {float: left; width: 100%; margin-top: 5%;}
    .reload_btn {margin-top: 2%;}
    /*.payment_open {width: 100%; margin: 0 auto; position: relative; overflow: hidden; margin-top: 8%;}*/
    .reservation_btn_mo {width: 95%; margin-top: 4%;}
    
    .payment_box {width: 92%; margin-top: 20%; height: 600px;}
    .payment_box_inner {height: 550px; overflow: scroll;}

    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap .inner_sub_wrap {width: 414px;}
    section.sub_wrap h1 {font-size: 2rem;}
    section.sub_wrap .bar {margin-top: 6%; margin-bottom: 8%;}
    section.sub_wrap h2 {font-size: 1.6rem; padding-bottom: 7%; line-height: 1.5;}
    section.sub_wrap h2 br {display: block;}
    section.sub_wrap h5{font-size: 1.2rem; margin-bottom: -1%;}


    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*320px*/
@media screen and (max-width: 320px) {

    /*section.sub_wrap*/
    section.sub_wrap h6 {padding-top: 10%;font-size: 14px;}
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap h4 {font-size: 18px;}
    .seat_table dt {font-size: 16px;}
    .seat_table dd {font-size: 18px;}
    section.sub_wrap p {margin-bottom: 5%;}

    .box {width: 320px;}
    .location {width: 100%;}
    .location ul li {width: 100%; text-align: center;}
    .location ul li:nth-child(2) {margin-left: 50%; transform: translateX(-50%);}
    .location_select {width: 100%;}
    .select_bus_list_tit {font-size: 15px;}
    .select_bus span {font-size: 14.5px;}
    .select_bus_btn p {display: none;}
    
    .reservation_btn_mo ul li {height: 40px; line-height: 40px; font-size: 15px;}
}
