@charset "UTF-8";

/*reserve_box*/
.reservation_box { width: 100%; background: #fff; border: 1px solid #ddd; height: auto; overflow: hidden;  animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease; padding: 25px;
}
/*오른쪽영역*/

.reservation_box h4 {font-size: 18px; font-weight: 500;}
.reservation_box h5 {font-size: 20px; margin-left: 3%; display: inline-block;}
.reservation_box ul li {background: transparent; margin-left: 3%;}
.bus_info {font-size: 20px; padding-bottom: 25px; border-bottom: 1px solid #eee; font-weight: 400; text-align: center; margin-bottom: 25px; color: #444;}
.bus_info_box {font-size: 15px; margin-right: 10px; color: #b99550; padding: 0px 5px; border: 1px solid #c3a164; border-radius: 4px; display: inline-block;}
.bus_info_txt {display: inline-block;}
.bus_info_txt br {display: none;}


/*오른쪽영역 내부*/
.tabcontent {
  display: none;
    height: 620px;
  border-top: none;
}
.tabcontent h3 {font-family: 'Noto Sans KR', sans-serif; color: #000; font-weight: bold; font-size: 30px;}
.tabcontent p {color: #555; padding-bottom: 2.5%; border-bottom: 1px solid #ddd; font-size: 18px;}
.tabcontent dl {margin-top: 2%;}
.tabcontent dt {float: left; width: 18%; padding: 15px 0; font-weight: bold; color: #222;}
.tabcontent dd {float: left; width: 82%; padding: 15px 0;}
.tabcontent dd span {font-size: 15px; color: #555;}
.tabcontent h3 br {display: none;}
.tabcontent p br {display: none;}
.tabcontent dt br {display: none;}

/*새로고침버튼*/
.reload_btn_top {display: none;}
.reload_btn {background: #fff;  cursor: pointer; border: none; width: 100%; margin-top: 20px;}
.reload_btn img {padding: 5px; border: 1px solid #dbdbdb; float: left; border-radius: 50px;}
.reload_btn p { border-bottom: none; font-size: 14px; color: #999; display: inline-block; margin-left: 8px; float: left; line-height: 33px;}
/*오른쪽 좌석선택표*/
.seat-map {float: left;}
.select_seat {float: right; width: 48%; padding-left: 4%;}
.reserve_right h4 {font-size: 18px; margin-bottom: 5px; font-weight: 500; padding-top: 15px;}
.select_seat h4 span {color: #999; font-weight: 300; font-size: 16px;}

/*좌석선택 텍스트*/
.seat_table {width: 100%; height: auto; overflow: hidden; position: relative;;}
.seat_table dt {width: 100%; float: left; padding: 0;  margin-bottom: 3px; font-size: 15px; font-weight: 400; color: #444;}
.seat_table dd {width: 100%; float: left; padding: 5px 0px; color: #000;  background: #f4f4f4; margin-bottom: 10px;}

.seat_table p { border-bottom: none; font-size: 15px; color: #777; display: inline-block; margin-left: 3%; float: left; line-height: 36px;}

/*하단 예매버튼*/
.payment_open:hover {background: #ddd;}

.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%;}
.layer:target{display:flex;animation:open 0.3s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}
.payment_box{ width: 25%;  height: auto; margin: 0 auto;background:#fff;position:relative; z-index: 1000; top: 10%; padding-bottom: 20px; border-radius: 12px;}

/*결제버튼 팝업 내부*/
/*팝업 타이틀*/
.payment_tit {margin: 0 auto; text-align: center; color: #222; font-weight: 400; font-size: 24px; padding-top: 18px;}
/*팝업 요약*/
.info_table {width: 100%; overflow: hidden;/* border-bottom: 1px solid #eee;*/ margin-top: 22px; padding: 0 30px; font-size: 15px;}
.info_table dl {width: 100%; padding: 10px 0; overflow: hidden; border-bottom: 1px solid #eee;}
.info_table dl:last-child {border-bottom: 1px solid #444; padding-bottom: 15px;}
.info_table dt {width: 35%; float: left; color: #767676; font-size: 300;}
.info_table dd{width: 65%; float: right; color: #222;  text-align: right;}
/*팝업 금액*/
.price {width: 100%; overflow: hidden; padding: 18px 30px 0;}
.price dl {width: 100%;}
.price dt {width: 50%; float: left;}
.price dd {width: 50%; float: right; text-align: right;} 
dl.reserve_price {color: #999 !important; }
dl.price_sale {color: #c17e00;}
.total_dl {padding-top: 20px; overflow: hidden; letter-spacing: -0.5px;}
.total_dl dt {color: #000; line-height: 43px; font-size: 18px;}
.total_dl dd {color: #000; font-weight: bold;font-size: 26px;}
.total_dl dd span {font-weight: 300; font-size: 18px;}
.notice {padding: 20px 30px; background: #f4f4f4; margin-top: 15px;}
.notice h5 {font-size: 18px; font-weight: 500; color: #444;}
.notice p {padding-top: 5px; font-size: 15px; color: #767676; font-weight: 300; letter-spacing: -0.25px; line-height: 1.5;}
.notice p::before {content: '·'; margin-right: 8px; margin-left: -8px;}
/*팝업하단버튼*/
.reservation_btn_mo {display: none;}
.payment_btn {width: 100%; height: 50px; margin-top: 10%; border: 0; color: #fff; font-size: 16px; padding: 0 30px;}
.payment_btn li {float: left; width: 49%; margin-right: 1%; }
.payment_btn li:last-child {margin-right: 0;} 
.payment_close {width: 100%; display: block; height: 50px; line-height: 50px; text-align: center;}
.payment_close1:hover {background: #fafafa;}
.payment_close2{bottom:20px;display:block;background:#c3a164; color:#fff;text-align:center; font-weight: 400; float: left; width: 100%; border-radius: 4px;}
/*section.sub_wrap 완료*/

/*반응형*/
/*1200px*/
@media screen and (max-width: 1200px) {
    section.sub_wrap .inner_sub_wrap {width: 100%;}
    .reservation_box {width: 75%; margin: 0 auto;}
    .payment_box {width: 40%;}
    .select_seat {width: 46%; padding-left: 2%;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    .payment_box {width: auto;}
    .reserve_right {display: none;}
    .reservation_box {width: 90%; margin: 0 auto;}
    .reservation_box > ul > li {float: none; width: 100%;}
    .reservation_box h4 {font-size: 22px; margin-bottom: 15px;}
    .seat_table dt {width: 100%; float: left; padding: 0;  margin-bottom: 5px; font-size: 15px; font-weight: normal; color: #222;}
    .seat_table dd {width: 100%; float: left; padding: 5px 0px; color: #000;  background: #f4f4f4; margin-bottom: 10px;}
    .reservation_btn_mo {display: block; width: 60%; margin: 0 auto; margin-top: 4%; position: relative; overflow: hidden; padding-bottom: 4%; }
    .reservation_btn_mo ul li {float: left; width: 49%; margin-right: 1%; text-align: center; height: 50px; line-height: 50px; }
    .reservation_btn_mo ul li:nth-child(2) {margin-right: 0;}
    .reservation_btn_mo ul li a {display: block; border-radius: 4px;}
    .back {border: 1px solid #ddd;}
    .payment_open {background: #C3A164; color: #fff; }
    .payment_box {width: 40%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    .reservation_box {width: 93%; margin: 0 auto;}
    .reservation_btn_mo {width: 60%; margin-top: 4%;}
    .select_bus_list {height: 340px;}
    .reservation_box h4 {font-size: 16px; margin-bottom: 2;}
    .payment_box {width: 60%; }
    .location_select {width: 250px;}
    .bus_info {font-size: 18px;}
}


/*414px*/
@media screen and (max-width: 414px) {
    .select_seat {float: left; width: 100%; margin-top: 5%;}
    .reload_btn {margin-top: 2%;}
    .reservation_btn_mo {width: 93%; margin-top: 4%;}
    .layer {background: #fff; opacity: 1;}
    .payment_box {width: 100%; height: 100%; top:0;} 
    .payment_tit {margin-bottom: 20px; padding-top: 0px;}
    .payment_box_inner {height: 100%; overflow: scroll;}
    .payment_btn {margin-top: 15px;}
    .reservation_btn_mo {margin-top: 10px;}
    .reservation_box {padding: 15px;}
    .bus_info {padding-bottom: 15px;}
    .bus_info_box {margin-right: 0;}
    .bus_info_txt br {display: block;}
    .bus_info_txt {display: block; margin-top: 10px; font-size: 18px;}
    .reservation_box {padding: 20px 10px;}
}


/*375px*/
@media screen and (max-width: 375px) {
  .reservation_box {width: 100%; margin: 0 auto; margin-right: 5%; }
  .payment_box {width: 100%;;}
  .payment_box_inner {height: 100%; overflow: scroll;}
}

/*320px*/
@media screen and (max-width: 320px) {
    .seat_table dt, .seat_table dd {font-size: 15px;}
    section.sub_wrap p {margin-bottom: 5%;}
    .box {width: 100%;}
    .location {width: 100%;}
    .location ul li {width: 100%; text-align: center;}
    .location ul li:nth-child(2) {margin-left: 50%; transform: translateX(-50%);}
    .location_select {width: 100%;}
    .select_bus_list_tit {font-size: 15px;}
    .select_bus span {font-size: 14.5px;}
    .select_bus_btn p {display: none;}
    .notice h5 {margin-bottom: 10px;}
    .notice p {padding: 0; margin-bottom: 0;}
    .payment_btn {padding: 0; width: 93%; margin: 0 auto; margin-top: 10px;}
    .reservation_btn_mo ul li, .payment_close1, .payment_close2 {height: 45px; line-height: 45px; font-size: 16px;}
}