@charset="UFT-8";


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; font-weight: normal;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
strong {font-weight: bold;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.sub_wrap 시작*/
section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
    overflow: hidden;
}


section.sub_wrap .bar {
    border-bottom: 2px solid #ad863c; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

.box {position: relative; padding-top: 5%; overflow: hidden;}

section.sub_wrap h6 {text-align: center; color: #a0772b;  padding-top: 5%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center; 
    font-size: 2.8rem;
    margin-top: -1%;
    font-weight: normal;
    margin-bottom: 2%;
}

/*폰트적용*/
.inner_sub_wrap h1,
.inner_sub_wrap h2 {font-family: 'Noto Sans KR', sans-serif; }

.inner_sub_wrap {width: 1200px; margin: 0 auto;}



@keyframes box {
    0% {opacity: 0; transform: translateY(2%);}
    100%; {opacity: 1; transform: translateY(0%);}
}


.location_select01 {
  position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
}

.location_select02 {
  position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
}


.location_select01 select,
.location_select02 select {display: none;}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #555 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #555 transparent;
  top: 14px;
}

.select-items div,.select-selected {
  color: #444;
  padding: 8px 16px;
  border: 1px solid transparent;
  /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
  cursor: pointer;
  user-select: none;
}
.select-selected {
  background-color: #f8f8f8;
}

.select-items {
  position: absolute;
  background-color: #f8f8f8;
    border: 1px solid #ddd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {display: none;}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*reserve_box*/
.reservation_box { width: 100%; /*background: #fff; border: 1px solid #ddd;*/ height: auto; overflow: hidden;  animation-name: box; animation-delay: 0; animation-duration: 0.7s; animation-timing-function: ease;
}

.reservation_box ul li {width: 49.5%; float: left; margin-right: 1%;  background: #fff;}
.reservation_box ul li:nth-child(2) {margin-right: 0;}


/*왼쪽영역*/
.reserve_left {width: 100%; background: #fff; border: 1px solid #ddd; padding: 5% 6%; height: 650px;}
.reserve_left ul li { width: 100%; }
.reserve_left h4 {font-size: 18px; margin-bottom: 3%; color: #444; font-weight: bold; padding-bottom: 1%; border-bottom: 1px solid #eee;}
/*.left_list {padding-bottom: 5%; border-bottom: 1px solid #eee;}*/
.left_list:nth-child(2) { padding-top: 4%; border-bottom: none;}


/*왼쪽상단 - 지역*/
.location { height: auto; /*overflow: hidden;*/}
.location ul li {width: 34%; margin-right: 1%; padding: 0 2%; float: left;}
.location ul li:nth-child(2) {width: 30%; text-align: center; line-height: 46px;}
.location ul li:nth-child(2) img {width: 20%;}
.location ul li label {font-size: 16px;}
.location_select { border-radius: 5px; font-size: 16px; margin-left: 5%; width: 200px;}


/*왼쪽하단 - 버스선택*/
.select_bus {width: 100%; overflow: hidden;}
.select_bus_list {width: 100%; height: 400px; overflow: scroll; overflow-x: hidden;background: #f4f4f4;}
.select_bus p {font-size: 14px; color: #ad863c; margin-top: 2%;}

.select_bus label input {display: none;}
.select_bus label span {
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.select_bus {width: 100%;}
.select_bus_list {border: 1px solid #eee; background: #f8f8f8;}
.select_bus_list_tit {width: 100%; font-size: 16px;  height: 50px; line-height: 50px; background: #fff; color: #444;}
.select_bus_list_tit ul li {float: left; text-align: center;  margin-bottom: 0%;   border-bottom: 1px solid #eee;}
.select_bus_list_tit ul li:nth-child(1) {width: 35%;}
.select_bus_list_tit ul li:nth-child(2) {width: 35%;}
.select_bus_list_tit ul li:nth-child(3) {width: 30%;}
.select_bus_list_tit ul li{margin-right: 0;}

.select_bus span {height: 50px; line-height: 50px; text-align: center; float: left;}
.select_bus .select_bus_time {margin: 0; width: 35%;}
.select_bus .select_bus_name {margin: 0; width: 35%;}
.select_bus .select_bus_seat {margin: 0; width: 30%;}


/*select_bus_list 스크롤 css*/
.select_bus_list::-webkit-scrollbar {width: 10px; height: 20px} 
.select_bus_list::-webkit-scrollbar-track {background-color: #ddd;}
.select_bus_list::-webkit-scrollbar-button {display: none;}
.select_bus_list::-webkit-scrollbar-thumb {border-radius: 5px; background-color: #ad863c;}

/*버스선택버튼 active*/
.tab {
  overflow: hidden;
  background-color: #f8f8f8;
    width: 100%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
    color: #777;
  font-size: 15px;
  border: 1px solid #eee;
    width: 100%;
}

.tab button.active {
  background-color: #fff;
    border: 1px solid #ad863c; 
    border-radius: 5px;
    color: #ad863c;
}



/*오른쪽영역*/
.reserve_right { width: 100%; background: #fff; border: 1px solid #ddd; height: 650px; font-size: 15px; padding: 3%;}
.reserve_right h4 {margin-left: 3%; font-size: 19px; font-weight: bold; margin-top: 2%; display: inline-block;}
.reserve_right h5 {font-size: 20px; margin-left: 3%; display: inline-block;}
.reserve_right ul li {background: transparent; margin-left: 3%;}

/*오른쪽영역 내부*/
.tabcontent {
  display: none;
    height: 620px;
  border-top: none;
}
.tabcontent h3 {font-family: 'Noto Sans KR', sans-serif; color: #000; font-weight: bold; font-size: 30px;}
.tabcontent p {color: #555; padding-bottom: 2.5%; border-bottom: 1px solid #ddd; font-size: 18px;}
.tabcontent dl {margin-top: 2%;}
.tabcontent dt {float: left; width: 18%; padding: 15px 0; font-weight: bold; color: #222;}
.tabcontent dd {float: left; width: 82%; padding: 15px 0;}
.tabcontent dd span {font-size: 15px; color: #555;}

.tabcontent h3 br {display: none;}
.tabcontent p br {display: none;}
.tabcontent dt br {display: none;}

/*오른쪽 좌석선택표*/
.seat-map {float: left;}
.select_seat {float: right; width: 48%; padding-left: 4%;}
.select_seat h4 {width: 100%; font-size: 20px; padding: 0; margin: 0; margin-bottom: 5%; padding: 1%; border-bottom: 1px solid #eee;}
.select_seat h4 span {font-size: 16px; color: #777;}

/*좌석선택 텍스트*/
.seat_table {width: 100%; height: auto; overflow: hidden;}
.seat_table dt {width: 100%; float: left; padding: 1% 0; font-size: 18px; font-weight: normal; color: #666;}
.seat_table dd {width: 100%; float: left ; padding: 1% 0; color: #000;  background: #f4f4f4; margin-bottom: 4%;}

/*새로고침버튼*/
.reload_btn {background: #fff;  margin-top: 8%; border-radius: 5px; cursor: pointer; border: none; width: 100%;}
.reload_btn img { padding: 2%; border: 1px solid #ddd; float: left; border-radius: 5px;}

.seat_table p { border-bottom: none; font-size: 15px; color: #777; display: inline-block; margin-left: 3%; float: left; line-height: 36px;}


/*하단 예매버튼*/
.payment_open {margin: 0 auto; width: 230px; height: 50px; line-height: 50px; background: #eee; display: block; text-align: center; transition: all 0.3s; overflow: hidden;margin-top: 2%; bottom: 3%; position: absolute; right: 2.5%;}
.payment_open:hover {background: #ddd;}


.layer{display:none;justify-content:center;align-items:center;background:rgba(0,0,0, 0.5);position:fixed;left:0;right:0;top:0;bottom:0; width: 100%;}
.layer:target{display:flex;animation:open 0.3s;}
@keyframes open {from {opacity:0;} to {opacity:1;}}

.payment_box{ width: 25%;  height: auto; margin: 0 auto;background:#fff;position:relative; z-index: 1000; margin-top: 3%;}

/*결제버튼 팝업 내부*/
/*팝업 타이틀*/
.payment_tit { background: #f8f8f8; border-bottom: 2px solid #ad863c; height: 60px; line-height: 60px; margin: 0 auto;text-align: center; color: #222; font-weight: normal; font-size: 22px;}

/*팝업 요약*/
.info_table {width: 100%; overflow: hidden;/* border-bottom: 1px solid #eee;*/ padding: 0 6%; margin-top: 2%;}
.info_table dl {width: 100%; padding: 2.5% 0; overflow: hidden; border-bottom: 1px solid #f4f4f4;}
.info_table dl:last-child {border-bottom: 1px solid #eee;}
.info_table dt {width: 35%; float: left; color: #666;}
.info_table dd{width: 65%; float: right; color: #333;  text-align: right;}
.info_time dd span {color: #aaa;}

/*팝업 금액*/
.price {width: 100%; overflow: hidden; padding: 0 6%; padding-top: 3%;}
.price dl {width: 100%; color: #777; opacity: 0.8}
.price dt {width: 50%; float: left;}
.price dd {width: 50%; float: right; text-align: right;} 
dl.price_sale {color: #c17e00;}
/*dl.price_sale dt, dl.price_sale dd {font-weight: bold;}*/
.total_dl {padding-top: 4%; overflow: hidden;}
.total_dl dt {color: #000; line-height: 43px; font-size: 18px;}
.total_dl dd {color: #000; font-weight: bold;font-size: 24px; }


.notice {padding: 4% 6%; background: #eee; margin-top: 4%;}
.notice h5 {font-size: 18px; font-weight: bold; padding-bottom: 1%; border-bottom: 1px solid #ddd; color: #555;}
.notice p {padding-top: 3%; font-size: 15px;}

/*팝업하단버튼*/
.reservation_btn_mo {display: none;}


.payment_btn {width: 100%; height: 50px; margin-top: 10%; border: 0; background: #ad863c; color: #fff; font-size: 16px;}
.payment_btn li {float: left; width: 49%; margin-right: 1%;}
.payment_btn li:last-child {margin-right: 0;} 
.payment_close {width: 100%; display: block; height: 50px; line-height: 50px; text-align: center;}
.payment_close1 {background: #eee; color: #666; transition: all 0.2s;}
.payment_close1:hover {background: #ddd;}
.payment_close2{bottom:20px;display:block;background:#ad863c;color:#fff;text-align:center; float: left; width: 100%;}

/*section.sub_wrap 완료*/



/*gnb 자바스크립트*/
header.on {
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.9));
    height: 80px;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 1200px;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 1200px;} 
    
    .reservation_box {width: 95%; margin: 0 auto;}
    .payment_open {right: 5%; bottom: 3.2%; width: 200px;}
    
    .payment_box {width: 40%; margin-top: 8%;}
    
    
    .select_seat {width: 46%; padding-left: 2%;}
    
    
    
    
  }


/*1024px  - 왼쪽영역만 노출*/
@media screen and (max-width: 1024px) {
    
    .payment_box {width: 47%; margin-top: 8%;}

   
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 1024px;}
    section.sub_wrap {padding-top: -10%;}
     .box {padding-top: 7%; padding-bottom: 5%;}
    
    .reserve_right {display: none;}
    .reserve_left {height: auto;}
    .reservation_box {width: 95%; margin: 0 auto;}
    .reservation_box > ul > li {float: none; width: 100%;}
    
    .location left_list ul li {width: 40%; float: left;}
    .location left_list ul li:nth-child(2) {width: 20%;}
    .location_select {width: 300px;}
    .reserve_left h4 {font-size: 22px;}
    
    .payment_open {display: none;}
    .reservation_btn_mo {display: block; width: 60%; margin: 0 auto; margin-top: 3%;}
    .reservation_btn_mo ul li {float: left; width: 49%; margin-right: 1%; text-align: center; height: 50px; line-height: 50px;}
    .reservation_btn_mo ul li:nth-child(2) {margin-right: 0;}
    .reservation_btn_mo ul li a {display: block;}
    .back {border: 1px solid #ddd;}
    .next {background: #ad863c; color: #fff; }
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    .box {padding-top: 9.5%;}
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 768px;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 768px;}
    .tnb {width: 768px; margin-top:-7.6%;}
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h2 {margin-bottom: 6%;}

    .select_bus_list {height: 340px;}
    
    
    .box {padding-bottom: 4%;}
    .location_select {width: 250px;}
    .reserve_left h4 {font-size: 20px;}

    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    .box {padding-top: 20%;}
    
    .location_select {width: 140px; float: left; font-size: 14px; margin-left: 0; overflow: visible;}
    .location ul li {float: left; width: 40%; position: relative; }
    .location ul li:nth-child(2) {width: 40px;margin-left: 3%;}
    .location ul li:nth-child(2) img {width: 80%;}
    
    .reserve_left h4 {font-size: 18px;}
    .select_bus_list {height: 300px;}
    .select_bus h4 {margin-top: 3%;}
    .reserve_left {height: auto;}
    /*.reservation_btn {width: 95%; margin: 0 auto; margin-top: 3%;}
    .reservation_btn ul li {float: left; width: 49%; margin-right: 1%; text-align: center; height: 50px; line-height: 50px;}
    .reservation_btn ul li:nth-child(2) {margin-right: 0;}
    .reservation_btn ul li a {display: block;}
    .back {border: 1px solid #ddd;}
    .next {background: #ad863c; color: #fff; }*/
    .reservation_btn_mo {width: 95%; margin-top: 5%;}
    
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 414px;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap .inner_sub_wrap {width: 414px;}
    section.sub_wrap h1 {font-size: 2rem;}
    section.sub_wrap .bar {margin-top: 6%; margin-bottom: 8%;}
    section.sub_wrap h2 {font-size: 1.6rem; padding-bottom: 7%; line-height: 1.5;}
    section.sub_wrap h2 br {display: block;}
    section.sub_wrap h5{font-size: 1.2rem; margin-bottom: -1%;}
    
    
    .tnb {width: 414px; margin-top: -14.6%;} 
    .tnb ul li {font-size: 15px;}
    .sub_bg {margin: 0 auto;}
    
    .sub_info {margin-top: 5%;}
    .sub_info em {font-size: 1.05rem;}
    .sub_info h3 {font-size: 1.2rem; width: 70%; margin: 0 auto; margin-top: 3%;}
    
    .sub_info p {width: 95%; margin: 0 auto; margin-top: 7%;}
    .sub_info em {font-size: 1.05rem; }
    
    .sub_info p {width: 90%; margin: 0 auto; text-align: justify; margin-top: 7%;}
    .sub_info p br{display: none;}
    .sub_info ul {width: 95%;}
    
    .info_btn {margin: 10% 0;}


    /*footer*/
    footer {width: 100%; margin: 0 auto; }
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*320px*/
@media screen and (max-width: 320px) {

    /*section.sub_wrap*/
    section.sub_wrap h6 {padding-top: 10%;font-size: 14px;}
    section.sub_wrap h1 {font-size: 24px; margin-bottom: 3%;}
    section.sub_wrap p {margin-bottom: 5%;}

    .box {width: 320px;}
    .location {width: 100%;}
    .location ul li {width: 100%; text-align: center;}
    .location ul li:nth-child(2) {margin-left: 50%; transform: translateX(-50%);}
    .location_select {width: 100%;}
    .select_bus_list_tit {font-size: 15px;}
    .select_bus span {font-size: 14.5px;}
    .select_bus_btn p {display: none;}
    
    .reservation_btn_mo ul li {height: 40px; line-height: 40px; font-size: 15px;}
}
