@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body,html{
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 페이지 3분할 */
.container{
    display: flex;
    height: 100%;
}
#box-left {
    flex-basis: 14%;
    background-color: #f2f2f2;
}
#box-center {
    flex-basis: 72%;
    text-align: center;
    background-color: #7c818f;
}
#box-right {
    flex-basis: 14%;
    /* text-align: right; */
    box-shadow: -10px 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #340a27;
    height: 100%;
}
/* 센트럴돔 문자 */
.central {
    width: 124px;
    height: 43px;
    font-size: 35px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: normal;
    text-align: center;
    margin-left: 25%;
    color: #d9d9d9;
}
.dome {
    width: 161px;
    height: 60px;
    font-size: 52px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    margin-left: 22%;
    margin-top: 6%;
    text-align: center;
    color: #f4f4f4;
}
/* 좌측 상단 층표시 */
.floorFont {
    width: 90px;
    height: 96px;
    font-size: 80px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    margin-left: 33%;
    margin-bottom: 20%;
    color: #a91179;
}
/* 카테고리 css */
.categoryBtn {
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 12%;
}
.selected{
    background-color: #340a27;
}
.categoryFont{         
    width: 210px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-top: 5%;
}
.cateTest{
    width: 220px;
    height: 50px;
    opacity: 0.1;
    border-radius: 12px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-color: #000000;
  }
.categoryName{
    margin-left: 7%;
    line-height: 2.7;
}
/* 카테고리 리스트 */
.categoryList{
    margin-top: 30%;
    overflow: hidden;
}
.categoryList li ul{
    list-style:none;
    float: left;
    margin-left: 20px;
    line-height: 12px;
}
.categoryList2{
    list-style:none;
    float: left;
    margin-top: 15%;
    margin-left: -1%;
    line-height: 12px;
    overflow: hidden;
    width: 100%;
    display: none;
}

/* 층별 아이콘 */
.floorBtn{
    list-style: none;
    margin-top: 20%;
}
.floorBtn ul li{
    list-style: none;

}
.floorIcon{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #f4f4f4;
    position: relative;
    margin-top: 10%;
    margin-left: 7%;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 3;
    color: #999999;
}
.floorSelcet{
    background-color: #a91179;
    color: #ffffff;    
}
.floorBack{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    filter: blur(2px);
}
/* 카테고리 이전 다음 버튼 */
.categoryNav{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.categoryPrev{
    background-image: url(/img/left_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 48% 47%;
    list-style:none;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    font-size: xxx-large;
    line-height: 1;
    text-align: center;
    margin-left: 11%;
    margin-top: 10%;
    color: #aaaaaa;
}
.categoryNext{
    background-image: url(/img/right_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 48% 47%;
    list-style:none;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    font-size: xxx-large;
    line-height: 1;
    text-align: center;
    margin-left: 66%;
    margin-top: -14.2%;
    color: #aaaaaa;
}
.categoryState{
    margin-left: 41%;
    margin-top: -14%;
}
.clickPrevBtn{
    background-image: url(/img/left_arrow_active_icon.png);
    background-repeat: no-repeat;
    background-position: 48% 47%;
}
.clickNextBtn{
    background-image: url(/img/right_arrow_active_icon.png);
    background-repeat: no-repeat;
    background-position: 48% 47%;
}
/* 좌측 하단 광고 */
.leftAd{
    width: 14%;
    position: fixed;
    bottom: 0;
}
.leftAd img{
    width: 100%;
}
/* 우측 메뉴 */
.rightNav li{
    width: 100%; 
    margin-left: 0;
    margin-top: -2%;
}
.rightNav{
    list-style:none;
    position: relative;
    margin-top: 15%;
}
.menuIcon{
    width: 40px;
    height: 40px;
}
.rightNavBox{
    width: 25px;
    height: 30px;
    padding: 5px 10px;
    left: 20%;
    position: absolute;
    text-align: center;
    margin-top: -27%;
}
.rightNavName{
    font-size: 25px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    margin-top: -24%;
    left: 45%;
}
/* 우측 언어 메뉴 */
.languageList{
    margin-top: 5%;
}
.languageList li{
    list-style: none;
    display: inline-block;
    margin-top: 4%;
}
.language {
    width: 94px;
    height: 20px;
    font-size: larger;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #ac729a;
    margin-left: 35%;

}
.languageSelect{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    opacity: 0.5;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    font-size: xx-large;
    text-align: center;
    line-height: 1.5;
    margin-left: 195%;
    color: black;
}
.choose{
    background-color: #a91179;
    color: white;
    opacity: 1;
}
/* 날씨상태 */
.whetherList li{
    display: inline-block;
    list-style: none;
    margin-left: 3%;
    margin-top: 6%;
}
.whether{
    width: 40px;
    height: 40px;
    margin-left: 90px;
    background-color: #eeeeee;
}
.temperature {
    width: 28px;
    height: 45px;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #a91179;
}
/* 날짜 및 시간 */
.dayCount {
    width: 76px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-top: 1%;
    margin-left: 35%;
    color: #dcdcdc;
}
.timeCount{
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-left: 30%;
    display: inline;
    color: #f2f2f2;
}
/* 미세먼지 농도 */
.dustCount {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    display: inline;
    text-align: left;
    color: #dcdcdc;
    margin-left: 28%;
}
/* 우측 하단 광고 */
.rightAd{
    position: fixed;
    bottom: 0;
}
    .rightAd img{
    width: 100%;
}
/* 카테고리 박스 아이콘 */
#categoryIcon1 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #a91179;
}
#categoryIcon2 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #ffb96d;
}
#categoryIcon3 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #ffb7cf;
}
#categoryIcon4 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #f6ed86;
}
#categoryIcon5 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #c440f3;
}
#categoryIcon6 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #de4343;
}
#categoryIcon7 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #c69c12;
}
#categoryIcon8 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #3786e1;
}
#categoryIcon9 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #98ef5c;
}
#categoryIcon10 {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 9%;
    margin-left: 8%;
    background-color: #4e43a1;
}
#categoryIcon11 {
    width: 210px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    background-color: #a91179;
    margin-top: 12px;
    margin-left: 15%;
}
/* 지도 네비 */
.mapNav{     
    width: 80px;
    height: 220px;
    border-radius: 50px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #8c929a;
    background-color: rgba( 140, 146, 154, 0.3);
}
.mapNav ul li{
    float: left;
    margin-top: 22%;
    margin-left: 19%;
}
.mapNav li{
    list-style: none;
}
.plusBtn{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    line-height: 4.4;
    position: relative;
}
.resetBtn{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    line-height: 4.3;
    font-weight: bold;
    background-color: white;
    position: relative;
}
.minusBtn{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    line-height: 4.5;
    background-color: white;
    position: relative;
}
.mapScroll{
    margin-top: 10%;
    margin-left: 25%;
    width: 10px;
    height: 400px;
    position: relative;
    /* overflow:hidden; */
    text-align: center;
    background-color: #a91179;
}
.mapScrollBtn{
    /* transition: transform .35s; */
    cursor:pointer;
    position: relative;
    touch-action: manipulation;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: red;
}
/* 중앙 하단 레이어 */
.center-footer{
    width: 100%;
    height: 8%;
    bottom: 0;
    opacity: 0.7;
    position: fixed;
    background-color: rgba( 112, 117, 123, 0.7);
}
.center-footer-list li{
    list-style:none;
    float: left;
    margin-left: 8%;
    margin-top: 1%;
}
.center-footer-box{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 1%;
    margin-left: 8%;
    background-color: #dbdbdb;
    
}
.center-footer-name{
    width: 100px;
    font-size: 18px;
    font-weight: 300;
    margin-top: -85%;
    margin-left: 140%;
    text-align: left;
    color: #ffffff;
}
.center-footer-box img{
    margin-top: 10%;
}

/* 모달 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
.searchTop{
    width: 90%;
    height: 60px;
    background-color: #a91179;
    color: white;
    font-size: xx-large;
    margin-top: -3.7%;
    text-align: left;
    line-height: 1.7;    
}
.searchTopName{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-left: 3%;
    color: #ffffff;
  }
.searchClose{
    background-image: url("/img/find_title_cancel_icon.png");
    background-position: 80% 50%;
    background-repeat: no-repeat;
    width: 166px;
    height: 60px;
    background-color: #222222;
    color: white;
    font-size: 20px;
    margin-top: -3.6%;
    margin-left: 90%;
    text-align: center;
    line-height: 1.7;
}
.searchCloseName{
    width: 37px;
    height: 29px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    margin-right: 30%;
    color: #eeeeee;
}
.searchTotal{
    width: 100%;
    height: 38px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.96px;
    text-align: center;
    color: #a91179;
}
/* Modal Content/Box */
.modal-content {
    background-color: #eeeeee;
    margin-left: 9%;
    margin-top: 5%;
    border: 1px solid #888;
    width: 81%;
    height: 85%;
}
.searchList{
    width: 100%;
    margin-top: 50px;
}
.searchList li{
    list-style: none;
}
.searchList2{
    display: none;
    margin-top: 50px;
    width: 100%;
}
.searchList2 li{
    list-style: none;
}

.searchCategory {
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.searchSelect{
    width: 220px;
    height: 50px;
    border-radius: 12px;
    border: solid 1.5px #a91179;
    background-image: linear-gradient(278deg, #ffffff 98%, #f2f2f2 8%);
    font-weight: bold;
    color: #a91179;
}
  
.searchCategoryFont{         
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: center;
    margin-top: 15px;
}
.categoryChange{
    display: none;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    border-radius: 12px;
    border: solid 1.5px #767676;
    background-color: #333333;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    margin-top: 50px;
    text-align: center;
    color: #eeeeee;
  }
.searchNav{
    list-style:none;
    margin-left: 0.5%;
    margin-top: 5%;
}
.searchNav li{
    list-style:none;
    margin-top: 1%;
    margin: 1.3%;
    display: inline-block;
}
.searchNavPrev{
    background-image: url("/img/left_arrow_icon.png");
    background-repeat: no-repeat;
    background-position: 48% 47%;
    list-style:none;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    line-height: 1;
    text-align: center;
    margin-top: 28px;
    color: #aaaaaa;
}
.searchNavNext{
    background-image: url('/img/right_arrow_icon.png');
    background-repeat: no-repeat;
    background-position: 48% 47%;
    list-style:none;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    line-height: 1;
    text-align: center;
    margin-left: 79%;
    margin-top: -18%;
    color: #aaaaaa;
}
.searchState{
    margin-left: 41%;
    margin-top: -40px;
}
.searchInfo{
    color: #444444;
    margin-top: 35%;
    width: 100%;
    text-align: center;
}
.searchPrevClick{
    background-image: url('/img/left_arrow_active_icon.png');
    background-repeat: no-repeat;
    background-position: 48% 47%;
}

.searchNextClick{
    background-image: url('/img/right_arrow_active_icon.png');
    background-repeat: no-repeat;
    background-position: 48% 47%;
}
.searchBox{
    background-image: url('/img/find_bar_icon.png');
    background-position: 95% 45%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: solid 2px #a91179;
    background-color: #ffffff;
    text-align: center;
}
.searchBox::placeholder{
    width: 327px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    letter-spacing: normal;
    color: #999999;
    padding-left: 30px;
    /* margin-left: 15%; */
  }
.searchContent{
    height: 100%;
    width: 100%;
    margin: 0;
}
.searchLeft{
    width: 15%;
    height: 100%;
    padding: 25px;
    margin: 0;
    float: left;
}
.searchRight{
    width: 30%;
    float: right;
    height: 100%;
}
.searchRight img{
    width: 100%;
    height: 100%;
}
.searchCheck{
    display: none;
}
.searchCenter{
    width: 48%;
    height: 100%;
    float: left;
    padding: 25px;
}

.searchResult{
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 750px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 25px;
    overflow: hidden scroll;
}
.searchResult::-webkit-scrollbar{width: 10px;}
.searchResult::-webkit-scrollbar-track{background-color: #cccccc;}
.searchResult::-webkit-scrollbar-thumb{border-radius: 5px; background-color: #a91179; height: 10px;}

.searchResult li{
    list-style: none;
    margin-top: -8%;
    margin-left: 20%;
}
.brandList{
    padding: 5px 0%;
}
.searchLine{
    width: 686px;
    height: 0;
    margin-top: 3%;
    margin-left: 4%;
    border: solid 1px #eeeeee;
}
.searchBrand{
    height: 29px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
.searchLocation{
    width: 190px;
    height: 22px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #767676;
}
.searchEvent{
    width: 80px;
    height: 22px;
    border-radius: 12px;
    background-color: #f3aa00;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    margin-top: -2%;
    margin-left: 55%;
    color: #eeeeee;
}
.searchTime{
    width: 149px;
    height: 22px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    margin-left: 55%;
    margin-top: -2.5%;
    color: #767676;
  }
.categoryImg{
    width: 85px;
    height: 86px;
    border-radius: 43px;
    margin-left: 5%;
    background-color: #e6e6e6;
      
}
.searchAd{
    width: 94%;
    height: 102%;
    margin-left: 6%;
}




/* svg파일 */
.centerLeft{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.centralMap{
    width: 90%;
    height: 100%;
    float: left;
}
.centralMap img{
    width: 85%;
    height: 85%;
    margin-top: 3%;
    transition: transform .35s;
    cursor:pointer;
    position: relative;
    touch-action: manipulation;
}
.centralSvg{
    width: 85%;
    height: 85%;
    margin-top: 3%;
    transition: transform .50s;
    cursor:pointer;
    position: relative;
    touch-action: manipulation;
}
.centerRight{
    width: 10%;
    margin-top: 2%;
    float: right;
}


/* 테스트 줌 */
.zoom{
    /* transition: transform .35s; */
    left: 0px;
    top: 0px;
}

.oneX {
    transform:scale(1.0064102564102564);
    transition: transform .35s;
}
.twoX {
    transform:scale(2.5);
    transition: transform .35s;
}
