@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap');
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; background-repeat: no-repeat;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #222;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
body,html{
    height: 100%;
}
/* 페이지 3분할 14 / 71/ 15 -------------------------------*/
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
#box-left {
    width: 14%;
    background-color: #f2f2f2;
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
}
#box-center {
    width: 71%;
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    background-color: #7c818f;
    overflow: hidden;
}
#box-right {
    width: 15%;
    float: left;
    box-shadow: -10px 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #1E1A1D;
    height: 100%;
}

/* 왼쪽 영역  --------------------------------------------- */
/* 왼쪽 상단 층 표시 */
.floorFont {
    width: 100%;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 20px;
    color: #a91179;
    font-family: 'Roboto', sans-serif;
}

/* 카테고리 리스트 */
.categoryList{
    width: 100%;
    padding: 0 25px;
}
.categoryList li ul{
    list-style:none;
    float: left;
    margin-left: 20px;
    line-height: 12px;
}
.categoryList2{
    width: 100%;
    padding: 0 25px;
    display: none;
}

/* 카테고리 버튼 */
.categoryBtn {
    width:100%; height: 50px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); border: solid 1.5px rgba(255,255,255,0.5); background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px; cursor: pointer;
}

/* 카테고리 폰트 */
.categoryFont{         
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}
.categoryName{
    margin-left: 14px;
    line-height: 50px;
}

/* 카테고리 리스트 하단 버튼 */
.categoryNav{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    text-align: center;
    margin-top: 30px;
}

/* 카테고리 이전 다음 버튼 */
.categoryNav ul {width: 100%;}
.categoryNav ul li {float: left; width: 33.333%;}
.categoryPrev{
    background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px;
    list-style:none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); 
    border: solid 1.5px rgba(255,255,255,0.5);
    cursor: pointer;
}
.categoryNext{
    background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); 
    border: solid 1.5px rgba(255,255,255,0.5);
    background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px;
    float: right;
    cursor: pointer;
}
.categoryState {line-height: 50px;}

/* 왼쪽 하단 광고 */
.leftAd{
    width: 14%;
    position: fixed;
    bottom: 0;
}
.leftAd img{
    width: 100%;
}

/* 카테고리별 박스 아이콘 */
.categoryIconBox { width: 12px; height: 12px; float: left; margin-top: 9%;margin-left: 8%;}

#categoryIcon0 {background-color: #a91179;}
#categoryIcon1 {background-color: #92477D;}
#categoryIcon2 {background-color: #C26B8F;}
#categoryIcon3 {background-color: #DE9A9A;}
#categoryIcon4 {background-color: #EBB121;}
#categoryIcon5 {background-color: #EBD048;}
#categoryIcon6 {background-color: #746E9F;}
#categoryIcon7 {background-color: #A2D2F2;}
#categoryIcon8 {background-color: #5275B1}
#categoryIcon9 {background-color: #9BB259;}
#categoryIcon10 {background-color: #4e43a1;}




/* 가운데 영역 오른쪽 nav ----------------------------------------------- */
.centerRight{
    width: 80px;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 25px;
    float: right;
}
/* 층 nav*/
.floorBtn  {width: 100%; margin: 0 auto;}
.floorBtn ul li {margin-bottom: 14px; padding: 0 10px;}
.floorBtn ul li:nth-child(3) {margin-bottom: 0;}
.floorIcon{
    width: 60px;
    height: 60px;
    line-height: 55px;
    background-image: linear-gradient(280deg, #ffffff, #f2f2f2);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.05);
    border: solid 1.5px rgba(255,255,255,0.5);
    border-radius: 12px;
    position: relative;
    font-size: 20px;
    color: #999999;
    cursor: pointer;
}
.floorSelcet{
    background-image: linear-gradient(280deg, #A91179, #561340);
    border: solid 1.5px rgba(199,17,121,0.5);
    color: #ffffff;
    font-weight: 500;
}
.floorBack{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

/* 지도 네비 */
.mapNav{ 
    width: 80px;
    height: auto;
    padding: 20px;
    border-radius: 50px;
    margin-top: 25px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba( 255, 255, 255, 0.7);
}
.mapNav ul {width: 50px; margin-left: 50%; transform: translateX(-50%);}
.mapNav ul li{margin-top: 16px; line-height: 45px; position: relative; cursor: pointer;}
.mapNav ul li:nth-child(1) {margin-top: 0;}
.mapNav ul li div {width: 50px; height: 50px;border-radius: 50%; box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); border: solid 1.5px rgba(255,255,255,0.5); background-image: linear-gradient(280deg, #ffffff, #f2f2f2);}

/* 중앙 하단 레이어 */
.center-footer{
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.2);
    color: #fff; font-size: 18px; font-weight: 300; text-align: justify;
}
.center-footer ul {width: 100%; height: 90px; text-align: center;}
.center-footer ul li {float: left; width: 16.666%; line-height: 90px;}
.center-footer ul li img {margin-right: 14px;}


/* 오른쪽 영역 ----------------------------------------------- */
/* 오른쪽 상단 로고 */
h1.logo {
    font-size: 24px;
    color: rgb(167, 120, 153);
    font-weight: 200;
    text-align: center;
    line-height: 1.15; 
    margin: 42px 0 ;
}
h1 span {font-size: 36px; font-weight: 400;}

/* 오른쪽 nav */
.rightNav{position: relative;} 
.rightNav li{width: 100%; height: 90px;  position: relative; cursor: pointer;}
.rightNav_list {width:50%; margin: 0 auto; height: 100%;}
.rightNav_img {float:left; width:40px; height: 90px; line-height: 85px; margin-right: 16px;}
.rightNav_list h2 {float: left; color: #eee; font-size: 20px; font-weight: 400; z-index: 100;  line-height: 90px;}

/* 오른쪽 nav bg*/
.rightNav li {background-repeat: no-repeat;}
.rightNav li:nth-child(1) {background: url('/img/signage/mainNav/mainNav_bg_01.png');}
.rightNav li:nth-child(2) {background: url('/img/signage/mainNav/mainNav_bg_02.png');}
.rightNav li:nth-child(3) {background: url('/img/signage/mainNav/mainNav_bg_03.png');}
.rightNav li:nth-child(4) {background: url('/img/signage/mainNav/mainNav_bg_04.png');}

/* 오른쪽 언어 선택 */
.languageList{
    margin-top: 25px;
    text-align: center;
}
.languageList li{
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
}
.language {
color: #ccc;
font-weight: 100; text-emphasis: center;
}
.languageSelect{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 12px;
    background-color:#6A114D;
    opacity: 0.4;
    font-size: 18px;
    text-align: center;
    color: #eee;
    font-weight: 200;
}
.choose{
    background-color: #6A114D;
    color: white;
    font-weight: 300;
    opacity: 1;
}

/* 날씨, 온도 */
.weatherList {width:100%; overflow: hidden;}
.weatherList ul {width: 30%; margin: 0 auto; margin-top: 30px; height: auto;}
.weatherList li{width:50%; float: left;  text-align: center;}
.weatherList li:nth-child(2) {margin-right: 0;}
.weather{width: 40px;height: 40px;}
.weather img{
    width: 100%;
    height: 100%;
}
#temp{
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    color: #ccc;
}
/* 날짜 및 시간 */
.date {margin-top: 16px; line-height: 1.4;}
.dayCount {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    color: #eee;
    font-weight: 200;
}
.timeCount{
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #eee;
}

/* 미세먼지 농도 */
.dustList {width: 100%; text-align: center; margin-top: 10px;}
.dustCount {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.19;
    display: inline;
    width: 100%;
    color: #ccc;
}

/* 우측 하단 광고 */
.rightAd{
    position: fixed;
    bottom: 0;
}
.rightAd img{width: 100%;}









/* 검색 모달 팝업 ----------------------------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}
.modal-content {
    position: absolute;
    background-color: #eee;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    width: 80%;
    height: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 팝업 내부 상단 타이틀 */
.searchTop{
    width: 90%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background: url('/img/signage/modal/search_title_bg.png');
    color: white;
    font-weight: 400;
    text-align: left;
}
.modalSearchImg{
    width: 100%;
    height: 100%;
    position: relative;
}
.searchTopName{
    font-size: 22px;
    font-weight:500;
    line-height:60px;
    color: #Eee;
    margin-left: 25px;
  }
.searchClose{
    width: 10%;
    height: 60px;
    background-color: #222;
    float: left;
    text-align: center;
    cursor: pointer;
}
.searchCloseName{
    font-size: 20px;
    font-weight: 300;
    color: #eee;
    line-height: 60px;
}
.searchClose img {margin-left: 20px; width: 20px; margin-top: -5px;}

/* 팝업 내부 왼쪽 - 카테고리영역 ------------------------- */
.searchLeft{
    width: 18%;
    height: 100%;
    padding: 25px;
    float: left;
}
.searchTotal{
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.75px;
    text-align: center;
    color: #a91179;
    margin-bottom: 30px;
}
.searchList{
    width: 100%;
    height: auto;
}
.searchList2{
    display: none;
    width: 100%;
}
.searchList2 li{
    list-style: none;
}
/* 카테고리 리스트 속성 */
.searchCategory {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); border: solid 1.5px rgba(255,255,255,0.5); background-image: linear-gradient(280deg, #ffffff, #eee); border-radius: 12px; cursor: pointer;
}
.searchCategoryFont{         
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.selected{
    height: 50px;
    border: solid 1.5px #a91179;
    font-weight: bold;
    color: #a91179;
}
  
.categoryChange{
    display: none;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    border-radius: 12px;
    border: solid 1.5px #767676;
    background-color: #333333;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    margin-top: 50px;
    text-align: center;
    color: #eeeeee;
  }
.searchNav{
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 30px;
}
.searchNav li{
    width: 33.333%;
    float: left;
}
.searchNavPrev{
    background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px;
    list-style:none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); 
    border: solid 1.5px rgba(255,255,255,0.5);
    cursor: pointer;
}
.searchNavNext{
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05), -10px -10px 10px rgba(255,255,255,0.1); 
    border: solid 1.5px rgba(255,255,255,0.5);
    background-image: linear-gradient(279deg, #ffffff, #f2f2f2); border-radius: 12px;
    float: right;
    cursor: pointer;
}
.searchState{line-height: 50px;}
.searchInfo{
    color: #444444;
    position: absolute;
    bottom: 5%;
    width: 15%;
    text-align: center;
}
.searchPrevClick{
    background-image: url('/img/left_arrow_active_icon.png');
    background-repeat: no-repeat;
    background-position: 48% 47%;
}

.searchNextClick{
    background-image: url('/img/right_arrow_active_icon.png');
    background-repeat: no-repeat;
    background-position: 48% 47%;
}
.searchBox{
    background-image: url('/img/search_bar_icon.png');
    background-position: 95% 45%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: solid 2px #a91179;
    background-color: #ffffff;
    text-align: center;
}
.searchBox::placeholder{
    width: 327px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    letter-spacing: normal;
    color: #999999;
    padding-left: 30px;
    /* margin-left: 15%; */
  }
.searchContent{
    height: 100%;
    width: 100%;
    margin: 0;
}

.searchRight{
    width: 30%;
    float: right;
    height: 100%;
}
.searchRight img{
    width: 100%;
    height: 100%;
}
.searchRightAd{
    display: none;
    width: 30%;
    float: right;
    height: 100%;
}
.searchRightAd img{
    width: 100%;
}
.searchCheck{
    display: none;
}
.searchCenter{
    width: 52%;
    height: 100%;
    float: left;
    padding: 25px;
}

.searchResult{
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 750px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 25px;
    overflow: hidden scroll;
}
.searchResult::-webkit-scrollbar{width: 10px;}
.searchResult::-webkit-scrollbar-track{background-color: #cccccc;}
.searchResult::-webkit-scrollbar-thumb{border-radius: 5px; background-color: #a91179; height: 10px;}

.searchResult li{
    list-style: none;
    margin-top: -8%;
    margin-left: 20%;
}
.brandList{
    padding: 5px 0%;
}
.searchLine{
    width: 686px;
    height: 0;
    margin-top: 3%;
    margin-left: 4%;
    border: solid 1px #eeeeee;
}
.searchBrand{
    height: 29px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
.searchLocation{
    width: 190px;
    height: 22px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #767676;
}
.searchEvent{
    width: 80px;
    height: 22px;
    border-radius: 12px;
    background-color: #f3aa00;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    margin-top: -2%;
    margin-left: 55%;
    color: #eeeeee;
}
.searchTime{
    width: 200px;
    height: 22px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    margin-left: 55%;
    margin-top: -2.5%;
    color: #767676;
  }
.categoryImg{
    width: 85px;
    height: 86px;
    border-radius: 43px;
    margin-left: 5%;
    background-color: #e6e6e6;
}
.categoryImg img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.searchAd{
    width: 94%;
    height: 102%;
    margin-left: 6%;
}


/* svg파일 */
.centerLeft{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.centralMap{
    width: 90%;
    height: 100%;
    float: left;
}
.centralMap img{
    width: 85%;
    height: 85%;
    margin-top: 3%;
    transition: transform .35s;
    /* cursor:pointer; */
    position: relative;
    touch-action: manipulation;
}
.centralSvg{
    width: 100%;
    height: 85%;
    margin-top: 3%;
    transition: transform .50s;
    /* cursor:pointer; */
    position: relative;
    touch-action: manipulation;
}
.centralSvg1F{
    display: block;
}
.centralSvg2F{
    display: none;

}
.centralSvg3F{
    display: none;
}
.storeName text {
    fill:#fff; 
    font-size:16px; 
}

/* svg 카테고리 색상 */
.Food{
    fill:#EBD048;
}
.Living{
    fill:#746E9F;
}
.Beauty{
    fill:#DE9A9A;
}
.Convenience{
    fill:#9BB259;
}
.Restaurant{
    fill: #EBB121;
}
.FashionGoods{
    fill: #C26B8F;
}
.Kids·Pet{
    fill: #A2D2F2;
}
.Sports·Car{
    fill: #5275B1;
}
.Normal{
    fill:#EBB121;
}
.FashionClothing{
    fill: #92477D;
}


/* 모달 카테고리 클릭 후 */
.searchRightDetail{
    /* display: none; */
    width: 30%;
    float: right;
    height: 100%;
}
.searchRightDetail img{
    width: 100%;
    height: 20%;
}
.brandDetail{
    width: 100%;
    height: 546px;
    margin-bottom: 5%;
    background-color: #ffffff;
    position: relative;
}
.brandDetail ul li{
    list-style: none;
    margin-top: 2%;
}

.brandDetailInfo{
    width: 200px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--berry);
}
.detailInfo{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
}
.infoImgNav{
    background-image: url('/img/signage/mainNav/mainNav_bg_044.png');
    border-radius: 15px;

    height: 50px;
}
.brandContents{
    padding: 15px;
}
.detailInfo img{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    vertical-align: middle;
}
.detailInfo li{
    float: left;
    width: 49%;
    margin-right: 1%;
}
.detailInfo li:nth-child(2){
    margin-right: 0;
}
.brandName{
    height: 38px;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.91px;
    text-align: left;
    color: #222222;
}
.brandInfo{
    width: 410px;
    height: 81px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-top: 5%;
    color: #444444;
}
/* 테스트 줌 */
/* .zoom{
    transition: transform .35s;
    left: 0px;
    top: 0px;
}

.oneX {
    transform:scale(1.0064102564102564);
    transition: transform .35s;
}
.twoX {
    transform:scale(2.5);
    transition: transform .35s;
}

.fullOne{
    transform:scale(1.5);
    transition: transform .35s;
    left:0px;
    top:0px;
}
.fullTwo{
    transform:scale(2.5);
    transition: transform .35s;
} */

/* Advertisement CSS */
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0 auto;
    overflow-y: hidden;
}

.main_left, .main_right {position: absolute; bottom: 0;}

/* .adSlides{position: absolute; bottom: 0;} */


.mySlides {
    display: none;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}

/* 브랜드 상세보기 */
.brandInfoLeft{
    display: none;
    width: 15%;
    height: 100%;
    padding: 25px;
    margin: 0;
    float: left;
}
.brandInfoLeft ul{
    margin-top: -8%;
}
.brandInfoLeft img{
    width: 100%;
    height: 100%;
    margin-top: 20%;
}
.brandInfoCenter{
    display: none;
    width: 54%;
    height: 100%;
    float: left;
    padding: 25px;
}
.brandInfoCenter img{
    width: 100%;
    height: 100%;
}
.brandInfoText{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    width: 230px;
    letter-spacing: normal;
    text-align: center;
    color: var(--berry);
}

.brandInfoDetail{
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 640px;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 25px;
}
.detailName{
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
.detailNameInfo{
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    float: right;
    color: #999999;
}
.brandInfoDetailLine{
    width: 800px;
    height: 0;
    margin-top: 3%;
    border: solid 1px #eeeeee;
}

.brandInfoIcon{
    width: 24px;
    height: 24px;
    background-color: #fcceff;
}