@charset="UFT-8";


/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
p {font-family: inherit; font-size: 16px; color: #777;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.main 시작*/


section.main {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.slideshow-container img {
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.main_slideshow-container .main_Slide01 {background: url(../img/main/main_slide01.png); width: 100%; height: 1080px; background-size: cover; background-position: center;z-index: 1;} 

.main_slideshow-container .main_Slide02 {background: url(../img/main/main_slide02.png); width: 100%; height: 1080px; background-size: cover; background-position: center; z-index: 1;} 

.main_slideshow-container .main_Slide03 {background: url(../img/main/main_slide03.png); width: 100%; height: 1080px; background-size: cover; background-position: center; z-index: 1;} 


.main_text_box {
    position: absolute;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: #f0f0f0;
}

.main_text {width: auto; left: 0; float: left;}


.main_text h2 {font-size: 1.6rem; font-weight: normal;color: #ddd; padding: 0; margin: 0; margin-bottom: -3%;}
.main_text h2 br {display: none;}
.main_text h1 {font-size: 5rem; font-weight: normal; font-family: 'PT Serif', serif; line-height: 1.5;}
.main_text h2 em {color: #fff;}
.main_text p { font-size: 1.1rem; line-height: 1.7; color: #ddd; width: 100%; overflow: hidden; position: relative;}

.mainlides {
	display: none;
}

.slideshow-container {
	width: 100%;
	position: relative;
    overflow: hidden;

}

.main_btn {width: 11%; height: auto; position: absolute; margin-top: 270px;}

.main_prev, .main_next {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 8% 18%;
    /*background: rgba(255,255,255,0.1);*/
    border: 1px solid #ccc;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
    z-index: 10;
}
 
.main_next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
 
.main_prev:hover, .main_next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	display: none;
}
.active, .dot:hover {
	background-color: #a0772b;
}
.main_ani {
	-webkit-animation-name: main_ani;
	-webkit-animation-duration: 5s;
	animation-name: main_ani;
	animation-duration: 5s;
}
@-webkit-keyframes main_ani {
  0% {opacity: 1; transform: scale(1.05);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes main_ani {
  0% {opacity: 1; transform: scale(1.05);}
  100% {opacity: 1; transform: scale(1);}
}


/*section.main 완료*/
/*section.about 시작*/


/*공통속성*/
section .bar {
    border-bottom: 2px solid #a0772b;
    width: 30px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

section h6 {text-align: center; color: #a0772b; margin-bottom: -1%; font-weight: bold; font-size: 1rem;}

section h3 {
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    font-family: 'PT Serif', serif;
    font-weight: normal;
}

section.about {
    width: 1200px;
    overflow: hidden;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 80px;
    color: #272727;
}


section.about ul li {float: left; width: 47%;}
section.about .about_img {overflow: hidden;}
section.about .about_img img {width: 100%;}
section.about .about_text {margin-left: 8%; margin-top: 3.5%;}
section.about .about_text h5 {font-size: 18px; line-height: 1.6; font-weight: normal; color: #444;}
section.about .about_text h4 {color: #222; font-weight: normal; font-size: 24px;}
section.about .about_text p {margin-top: 25px; line-height: 1.8;}
section.about .about_btn {width: 200px; height: 50px; line-height: 50px; text-align: center;border: 1px solid #ddd; display: inline-block; transition: all 0.4s; margin-top: 12.5%; color: #333;}
section.about .about_btn a {display: block;}
section.about .about_btn:hover {background: #a7813c; color: #fff; border: 1px solid #be974f;}


/*section.about 완료*/
/*section.benefit 시작*/


section.benefit {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.benefit_bg {background: url(../img/main/benefit_bg.png); width: 100%; height: 470px; background-position: center; background-size: cover; z-index: -100; position: absolute;}

.inner_benefit {
    width: 1200px;
    margin: 0 auto;
}

.benefit_tit {margin-top: 8%; float: left;}
.benefit_tit h3 {text-align: justify; margin-top: -6%;}
.benefit_tit .bar {margin-bottom: 15%; padding-top: 5%; margin-left: 0;}
.benefit_tit h6 {text-align: justify; font-family: 'Noto Sans KR', sans-serif;}

.benefit_list {width: 60%; float: right; padding: 5% 0; text-align: center; margin: 0 auto; color: #444; font-weight: normal;}

.benefit_list ul li {width: 48%; height: 500px; float: left; transition: all 0.3s; overflow: hidden;}
.benefit_list ul li {margin-right: 2%;}
.benefit_list ul li:nth-child(2) {margin-right: 0;}
.benefit_list ul li:hover { box-shadow: 0 0 20px rgba(199, 172, 121, 0.2);}

.benefit_01 {background: url(../img/main/benefit_list01.png); background-size: cover; width: 100%; height: 500px;transition: all 0.3s; overflow: hidden;}
.benefit_02 {background: url(../img/main/benefit_list02.png); background-size: cover; width: 100%; height: 500px; transition: all 0.3s; overflow: hidden;}


.benefit_list_txt h5 {font-size: 1.05rem; line-height: 1.6; font-weight: normal;}
.benefit_list_txt h4 {font-size: 1.8rem; font-weight: bold; color: #222;}
.benefit_list_txt {margin-top: 25%;}


.benefit_list ul li p {margin-top: 50%;}
.benefit_list ul li span {font-size: 20px; color: #a0772b; font-weight: bold;}

.benefit_btn {padding: 1.5% 8%;  border: 1px solid #555; display: inline-block; transition: all 0.4s; margin-top: 7%; color: #000;}

.benefit_list ul li:hover .benefit_btn {background: rgba(255,255,255,0.4); border: 1px solid rgba(255,255,255,0.4);}


/*section.benefit 완료*/
/*section.gallery 시작*/


section.gallery {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #272727;
}

section.gallery .bar {margin-bottom: 3%;}

section.gallery p {text-align: center; margin: 0;  margin-bottom: 3%;}


.gallery_slider {
  margin: 0 auto;
  max-width: 100%;
}

.gallery_slide_viewer {
  height: 550px;
  overflow: hidden;
  position: relative;
}

.gallery_slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.gallery_slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.gallery_slide:first-child {
  display: block;
}


.gallery_slide_buttons {
    width: 100%;
  left: 0;
  position: relative;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #ddd;
    font-size: 20px;
    line-height: 60px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  cursor: pointer;
    background: none;
    color: #a0772b;
}

.directional_nav {
  height: 60px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: -55px;
}

.directional_nav i {font-size: 25px;}
.directional_nav i:hover {color: #a0772b;}

.previous_btn {
  bottom: 0;
  left: 35%;
  margin: auto;
  position: absolute;
  top: 0;

}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 35%;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #777;
    padding: 0% 5%;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}


/*section.gallery 완료*/
/*section.video 시작*/

section.video {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
   padding-top: 4.5%;
    color: #272727;
    background: #f4f4f4;
}

section.video .bar {margin-top: 1.5%; margin-bottom: 2%;}
section.video h6 {margin-bottom: -0.5%;}

.video-slider {
	width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 2%;
	position: relative;
	overflow: hidden;
}
	.video_slide {
		position: absolute;
		top: 0;
		left: 100%;
		height: 675px;
		width: 100%;
		overflow: hidden;
	}
	.video_slide:first-child{left: 0;}
	.video{height: 100%; width: 100%; border:0;}

.video_btn div {
    color: #555;
    background: transparent;
    border: 1px solid #888;
    width: 5%;
    margin-top: 56.5%;
    cursor: pointer;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.video_btn div:hover {background: #a0772b; color: #fff;}

.video_btn i {padding: 20% 14%; font-size: 30px;}
	.slide-arrow{
		position: absolute;
		top: 0;
		right: 62px;
        text-align: center;
		cursor: pointer;
	}

	.slide-arrow:after{
		text-align: center;
		display: block;
		height: 10%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 3em;
	}
	.slide-arrow.right{left: auto; right: 0;}



footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #211e1c;
}


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
    /*main 이미지*/
    section.main {width: 100%; height: 900px;}
    section.main .inner_main {width: 100%;}
    section.main .main_bg img {width: 100%; height: 900px;} 

    /*main 타이틀*/
    .main_text_box {width: 80%;}
    section.main .main_text h2 {margin-bottom: -4%;}
    section.main .main_text p {margin-top: -1%;}

    /*main_btn*/
    .main_btn {width: 13%; top: 10px;}
    
    /*section.about*/
    section.about {width: 100%;}
    section.about .inner_about {width: 100%;}
    section.about .about_img {margin-left: 5%;}
    section.about .about_text {margin-top:2%;}

    /*section.benefit*/
    section.benefit .benefit_tit {margin-left: 5%;}
    section.benefit .benefit_list {margin-right: 5%;}
	.inner_benefit {width: 100%;}

    /*section.gallery*/
    section.gallery {width: 100%;}
	.gallery_slider {margin: 0 auto; max-width: 95%;}
}
    
    /*section.video*/
    /*section.video {width: 1200px;}
    .inner_video { width: 100%; margin: 0 auto;}
    .video-slider {width: 95%;}    
    .video_btn div {margin: 0 auto; margin-right: 43%; margin-top: 61%; width: 6%;}
    .video_btn i {padding: 28% 0;}
    .slide-arrow {right: 90px;}*/
    /*section.video iframe {width: 95%; margin-left: 50%; transform: translateX(-50%);}*/

/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*main 이미지*/
    section.main {width: 100%; height: 820px;}
    /*section.main .inner_main {width: 100%;}*/

    
    /*main 타이틀*/
    .main_text_box {width: 80%;}
    section.main .main_text h1 {font-size: 70px;}
    section.main .main_text h2 {margin-bottom: -4%;}
    
    /*main_btn*/
    .main_btn {width: 15%; top: -10px;}

    
    /*공통속성*/
    section h3 {font-size: 2.5rem;}
    
    /*section.about*/
    /*section.about {width: 1024px;}*/
    section.about .inner_about {width: 100%;}
    section.about .about_text {margin-top: 0%;}
    section.about .about_text p {margin-top: 6%;}
    section.about .about_btn {margin-top: 10%;}

    /*section.benefit*/
    /*section.benefit {width: 100%;}*/
    section.benefit .benefit_list {width: 60%; margin-right: 3%;}

    /*section.gallery*/
    /*section.gallery {width: 1024px; margin: 0 auto;}*/
    section.gallery {width: 100%;}
    .gallery_slide {width: 100%;}
    .gallery_slide_group, .gallery_slide_viewer {height: 470px;}
    .gallery_slide img {width: 100%;}
    
    .video-slider {height:700px;}
    
    /*section.video*/
    /*section.video {width: 1024px;}
    .inner_video {width: 1024px; margin: 0 auto;}
    .video_slide {height: 550px;}
    .video_btn div {margin: 0 auto; margin-right: 43%; margin-top: 60%; width: 7.5%;}
    .video_btn i {padding: 28% 0;}
    .slide-arrow {right: 90px;}*/

}


/*768px*/
@media screen and (max-width: 768px) {
    
    /*main 이미지*/
    section.main {width: 100%; height: 800px;}
    .slideshow-container .main_slide_bg {width: 100%; background-size: cover; height: 800px;}
    
    /*main 타이틀*/
    .main_text_box {text-align: center; float: none; clear: both; padding: 2%; border-radius: 15px;}
    .main_text {width: 100%;}
    section.main .main_text p {text-align: center; margin-top: 1%;}
    section.main .main_text h1 {font-size: 70px;}
    section.main .main_text h2 {font-size: 22px;}
    
    /*main_btn*/
    .main_btn {width: 21%; top: 20px; left: 50%;transform: translateX(-50%);}
    .main_prev, .main_next {background: rgba(0,0,0,0.5); position: relative; float: left;}
    
    /*section.about*/
    section.about {margin-top: 7%;}
    section.about .inner_about {width: 100%; margin: 0;}
    section.about ul li {float: none; width: 100%; margin: 0 auto;}
    section.about .about_text {width: 95%; margin: 0 auto; text-align: center; margin-top: 5%;}
    section.about .about_img {margin-left:0%; width: 95%; margin: 0 auto;}
    section.about .about_text p {text-align: center; margin-top: 4%;}
    section.about .bar {margin-bottom: 5%;}
    section.about .about_btn {margin-top: 6%;}
    
    /*section.benefit*/
    section.benefit {width: 100%;}
    section.benefit .benefit_tit {margin-top: 5%; float: none; margin-left: 50%; transform: translateX(-50%); text-align: center;}
	.benefit_tit h3, .benefit_tit h6 {text-align: center; margin-top: 0%;}
    section.benefit .benefit_tit .bar {margin-left: 50%; transform: translateX(-50%); margin-top: 0; margin-bottom: 8%;}
	section.benefit .benefit_list {width: 95%; margin-right: 0; margin: 0 auto; margin-right: 2%;}
    section.benefit .benefit_01,
    section.benefit .benefit_02 {background-size: cover; height: 460px;} 
	.benefit_bg {height: 700px;}

    /*section.gallery*/
    section.gallery {margin-top: 9%; margin-bottom: 0;}
    section.gallery .inner_gallery {width: 100%;}
    section.gallery .inner_gallery p {margin-bottom: 5%;}
    .gallery_slide_group, .gallery_slide_viewer {height: 350px;}
    .gallery_slide img {width: 100%;}
    
    /*section.video*/
    /*.inner_video {width: 768px; margin: 0 auto;}
    .video-slider {height: 550px;}
    .video_slide {height: 410px;}
    .video_btn div {margin: 0 auto; margin-right: 40%; margin-top: 60%; width: 10%;}
    .video_btn i {padding: 25% 25%;}
    .slide-arrow {right: 80px;}*/
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    /*main 이미지*/
    section.main {width: 100%; height: 500px;}
    section.main .inner_main {height: auto;}
    .main_slideshow-container .main_Slide01,
    .main_slideshow-container .main_Slide02,
    .main_slideshow-container .main_Slide03 {width: 100%; background-size: cover; background-position: bottom; height: 500px;}
    
    .main_text h2 {line-height: 1.6;}
    .main_text h2 br {display: block;}

    /*main 타이틀*/
    section.main .main_text h1 {font-size: 40px; margin: 0;}
    section.main .main_text h2 {font-size: 18px; margin: 0 auto;}
    section.main .main_text p {display: none;}
    section h3 {font-size: 2rem;}
    section.main .main_text02 {margin-top: 0%;}

    /*main_btn*/
    .main_btn {width: 30%; margin-top: 25%; left: 50%; transform: translateX(-50%);}
    .main_prev, .main_next {background: rgba(0,0,0,0.2); position: relative; float: left; padding: 2% 16%;}
    
    /*section.about*/
    section.about { margin: 10% 0 13%;}
    section.about .inner_about {width: 100%; margin: 0 auto;}
    section.about .bar {margin-bottom: 10%;}
    section.about .inner_about ul li {float: none; width: 95%; margin: 0 auto;}
    section.about .about_text {margin: 0 auto; text-align: center; margin-top: 8%;}
    section.about .about_text h5 {width: 65%; margin-left: 50%; transform: translateX(-50%); font-size: 17px;}
     section.about .about_text h4 {font-size: 20px;}
    section.about .about_text p br {display: none;}
    section.about .about_text p {margin-top: 5%;}
    section.about .about_btn {margin-top: 10%; height: 40px; line-height: 40px;}
    
    /*section.benefit*/
    section.benefit .inner_benefit {width: 100%;}
	.benefit_bg {height: 1055px;}
    section.benefit .benefit_tit {margin: 0 auto; margin-left: 50%; transform: translateX(-50%); margin-top: 40px;}
    section.benefit .benefit_tit p {display: none;}
    section.benefit .benefit_list {float: none; clear: both; margin: 0 auto; margin-top: 15px;}
    .benefit_list_txt {text-align: center;}

    section.benefit .benefit_list ul li {width: 100%; height: 430px; margin-bottom: 3%;}
    section.benefit .benefit_01,
    section.benefit .benefit_02 { background-size: cover; background-position: center;height: 100%;}
    
    
    /*section.gallery*/
    section.gallery { width: 100%;  margin-top: 15%;}
    section.gallery p {display: none;}
    section.gallery .bar {margin-bottom: 10%;}
    section.gallery .inner_gallery {width: 100%;}
    section.gallery .inner_gallery p {display: none}
    .gallery_slide {width: 414px;}
    .gallery_slide_group, .gallery_slide_viewer {height: 190px;}
    .previous_btn {left: 28%;}
    .next_btn {right: 28%;}
    
    /*section.video*/
    /*section.video {width: 414px; padding: 12% 0;}
    .inner_video {width: 414px; margin: 0 auto;}
    section.video .bar {margin-bottom: 5%;}
    section.video p {display: none;} 
    .video-slider {height: 280px;}
    .video_slide {height: 220px;}
    .video_btn div {margin: 0 auto; margin-right: 39%; margin-top: 60%; width: 10%;}
    .video_btn i {padding: 20% 33%; font-size: 20px;}
    .slide-arrow {right: 40px;}*/
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-top: -50%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*375px*/
@media screen and (max-width: 375px) {
    /*main 이미지*/
    section.main {width: 100%; height: auto;}
    section.main .inner_main {max-width: 375px; height: auto;}
    .main_slideshow-container .main_Slide01,
    .main_slideshow-container .main_Slide02,
    .main_slideshow-container .main_Slide03 {width: 100%; background-size: cover;  background-repeat: no-repeat; height: 400px;}
	section.main .main_text h1 {font-size: 35px;}

	/*section.about*/
	section.about .about_text p {text-align: justify;}
	section.about .about_btn {margin-top: 25px;}

    }


/*320px*/
@media screen and (max-width: 320px) {
    
    /*main 이미지*/
    section.main {width: 100%; height: auto;}
    section.main .inner_main {width: 320px; height: auto;}
    .main_slideshow-container .main_Slide01,
    .main_slideshow-container .main_Slide02,
    .main_slideshow-container .main_Slide03 {width: 100%; background-size: cover;  background-repeat: no-repeat; height: 400px;}
    
    .main_text h2 {line-height: 1.6;}
    .main_text h2 br {display: block;}


    /*main 타이틀*/
    section.main .main_text h1 {font-size: 30px; margin: 0;}
    section.main .main_text h2 {font-size: 16px; margin: 0 auto;}
    section.main .main_text p {display: none;}
    section.main .main_text02 {margin-top: 0%;}

    /*main_btn*/
    .main_btn {width: 30%; margin-top: 28%; left: 50%; transform: translateX(-50%);}
    .main_btn a {font-size: 16px;}
    .main_prev, .main_next {padding: 3% 18%;}
    
    section h3 {font-size: 24px;}
    section h6 {font-size: 14px;}

    /*section.about*/
    section.about {width: 320px; margin-top: 40px;}
    section.about .about_text {margin: 0 auto; text-align: center; margin-top: 8%;}
    section.about .about_text h5 {width: 100%; font-size: 16px;}
     section.about .about_text h4 {font-size: 18px;}
    section.about .about_text p {font-size: 15px;}
    
    /*section.benefit*/
	.benefit_bg {height: 900px;}
    section.benefit .benefit_tit {margin: 0 auto; margin-left: 50%; transform: translateX(-50%); margin-top: 40px;}
    section.benefit .benefit_tit p {display: none;}
    section.benefit .benefit_list {float: none; margin: 0 auto;}  
    .benefit_list h5 {font-size: 16px;}
    .benefit_list h4 {font-size: 22px;}
    .benefit_list_txt {text-align: center;}

    section.benefit .benefit_list ul li {width: 95%; height: 450px; margin: 0 auto; margin-bottom: 3%; margin-left: 2.5%;} 

    section.benefit .benefit_01,
    section.benefit .benefit_02 { background-size: cover; height: 450px;} 
    
    
    /*section.gallery*/
    section.gallery {width: 320px; margin-top: 15%; margin-bottom: 0;}
    section.gallery p {display: none;}
    section.gallery .bar {margin-bottom: 10%;}
    section.gallery .inner_gallery {width: 100%;}
    section.gallery .inner_gallery p {display: none}
    .gallery_slide {width: 320px;}
    .gallery_slide_group, .gallery_slide_viewer {height: 150px;}
    .previous_btn {left: 23%;}
    .next_btn {right: 23%;}
    
    /*section.video*/
    section.video {width: 320px; padding: 8% 0;}
    .inner_video {width: 320px; margin: 0 auto;}
    .video-slider {height: 280px;}
    .video_slide {height: 180px;}
    .video_btn div {margin-top: 65%;}
    .video_btn i {font-size: 17px;}
    .slide-arrow {right: 40px;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-top: -50%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}
