@charset "UTF-8";

/*section.main*/
section.main {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.main_bg { background: url(/img/sub_main_bg/sub01_main_bg.jpg) no-repeat; background-position: bottom; background-size: cover; width: 100%; height: 500px; animation: bg; animation-delay: 0s; animation-duration: 1.5s;}
@keyframes bg {
    0% {transform: scale(1.05);}
    100% {transform: scale(1);}
    
}
/*section.main 완료*/
/*section.sub_wrap 시작*/
/* .sub_bg { box-shadow: 20px 20px 20px rgba(180,180,180,0.2); } */
.sub_bg img {width: 100%;border-radius: 12px;}



/*sub_info*/
.sub_info {width: 100%; text-align: center; margin-top:50px;}
.sub_info ul { width: 50%; padding: 0; overflow: hidden; margin: 0 auto; margin-top: 40px;}
.sub_info ul li {float: left; width: 49%; overflow: hidden;  transition: all 0.3s; margin-right: 2%;height: 50px; line-height: 50px; border-radius: 4px;}
.sub_info ul li:nth-child(2) {margin-right: 0;}
.sub_info .info_btn a {display: block;}
.sub_info p {text-align: center;}



/*반응형*/
/*1200px*/
@media screen and (max-width: 1200px) {
    .sub_bg {width: 93%; margin: 0 auto;}
    section.sub_wrap {width: 95%; margin-bottom: 60px;}
}

/*768PX*/
@media screen and (max-width: 768px) {
    .sub_info {margin-top: 35px;}
    section.sub_wrap h4 {margin-bottom: 20px;}
    .sub_info ul {margin-top: 25px;}
}

/*425px*/
@media screen and (max-width: 425px) {
    section.sub_wrap h2 br {display: block;}
    .sub_info p {width: 93%; margin: 0 auto; font-size: 16px; text-align: center;}
    .sub_info {margin-top: 35px;}
    .sub_info ul {width: 93%; margin-top: 10px;}
    .sub_info h4 br {display: block;}
    /* .sub_info p br {display: none;} */
    .sub_info {width:100%;}
    .sub_info p {width: 93%; margin: 0 auto; font-size: 16px; text-align: center;}
}

/*320px*/
@media screen and (max-width: 320px) {
    section.sub_wrap h2 br {display: block;}
}