@charset="UTF-8";

/*reset*/
* {margin: 0;padding: 0; box-sizing: border-box;  font-family: 'Noto Sans KR', sans-serif; font-weight: normal;}
body {margin: 0; font-size: 16px; line-height: 1.8; color: #333; }
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;cursor: pointer; font-family: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
strong {font-weight: bold;}
p {text-align: justify; font-family: inherit; font-size: 16px;}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/*section.main*/
section.main {
    position: relative;
    width: 100%;
    height: 450px;
    z-index: -100;
    overflow: hidden;
}

.main_bg {background: url(../img/vehicle/vehicle_main_bg2.png);
    background-position: bottom;
    background-size: cover; 
    width: 100%;
    height: 500px; 
    animation: bg; 
    animation-delay: 0s;
    animation-duration: 1.5s;
}
.main_bg img {width: 100%; object-fit: cover;
    object-position: center;}

@keyframes bg {
    0% {transform: scale(1.05);
    100% {transform: scale(1);}
    }
}

/*section.main 완료*/
/*section.sub_wrap 시작*/

section.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.5%;
    color: #333;
}

.tnb {position: relative; width: 1200px; margin: 0 auto;  margin-top: -5%;}
.tnb ul li {float: left; width: 33.3%; text-align: center; height: 60px; background: rgba(255,255,255,0.9); line-height: 60px; font-size: 17px; color: #444; transition: all 0.2s;z-index: 10000;}

section.sub_wrap .bar {
    border-bottom: 2px solid #624000; 
    width: 35px; 
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

section.sub_wrap h6 {text-align: center; color: #a0772b; padding-top: 13%; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}

section.sub_wrap h1 {
    text-align: center;
    font-size: 2.8rem;
    margin-top: -1%;
}

section.sub_wrap h2 {font-size: 30px; text-align: center; margin-bottom: 5%; line-height: 1.4; font-family: 'Noto Sans KR', sans-serif;}
section.sub_wrap h2 br {display: none;}

section.sub_wrap h5 {color: #777; font-size: 20px; text-align:center;}
section.sub_wrap h2 em { margin: 0; border-bottom: 1px solid #fcf3dc; box-shadow: inset 0 -15px 0 #fcf3dc; color: #555;}

.sub_bg {box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.sub_bg img {width: 100%;}


/*sub_info*/
.sub_info {width: 100%; text-align: center; margin-top: 5%;}

.sub_info em {font-size: 18px; color: #a0772b;}
.sub_info h3 {font-size: 1.6rem; margin: 0; margin-bottom: 4%; font-family: 'Noto Sans KR', sans-serif; color: #444;}
.sub_info h3 br {display: none;}
.sub_info p {text-align: center; line-height: 1.8; margin-bottom: 3%; color: #666;}

.info_notice {background: #f2f2f2;  display: inline-block; height: auto; padding: 2% 15%; margin-bottom: 3%; color: #222;}
.info_notice p {margin-bottom: 0; color: #888;}
.info_notice p span {font-size: 1.2rem; margin: 0;}


.vehicle_location_img {width: 100%;}
.vehicle_location_img img {width: 90%;}

.vehicle_btn { text-align: center;  margin: 0 auto;  overflow: hidden;  transition: all 0.3s;  width: 50%;}
.vehicle_btn ul {width: 100%;}
.vehicle_btn ul li {float: left; width: 49%; margin-right: 1%;}
.vehicle_btn ul li:nth-child(2) {margin-right: 0;}
.vehicle_btn ul li a {display: block; text-align: center; width: 100%; padding: 4% 0; border: 1px solid #ddd; color: #a0772b; transition: all 0.3s;}
.vehicle_btn a:hover {background: #a7813c; color: #fff; border: 1px solid #be974f;}

/*section.sub_wrap 완료*/


/*모바일 메뉴*/
header .open {
    /*버거버튼 클래스*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}

.gnb_mo {
    /*모바일 네비 전체*/
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    z-index: -9999;
}


/*반응형*/

/*1200px*/
@media screen and (max-width: 1200px) {
    
   
    /*main*/
    section.main {width: 100%;}
    section.main .inner_main {width: 100%;}
    
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap .inner_sub_wrap {width: 100%;}
    section.sub_wrap h6 {padding-top: 8%;}
    .gnb2 {display: none;}
    
    .tnb {padding-bottom: 5%; width: 100%; margin-top: -5%;}
    
    .sub_bg {width: 95%; margin: 0 auto;}
    
    /*sub_contents*/
    .sub_contents {width: 95%;}
    
  /*gnb_mo*/
    header .open {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30px;
        top: 25px;
        opacity: 1;
        z-index: 1000000000;
    }

    header .open img {width: 100%; height: auto;}

    .gnb_mo {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        right: -1100px;
        top: 0;
        transition: all 0.3s;
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        color: #eee;
    }

    .gnb_mo.on {
        right: 0;
        transition: opacity 0.3s;
        opacity: 1;
    }

    .gnb_mo .close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 200;
        transform: rotate(360deg);
        transition: all 0.3s;
        width: 25px;
        height: 25px;
    }

    .gnb_mo .close img {width: 100%;}

    .gnb_mo.on .close {
        right: 77%;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .gnb_mo > ul {
        position: absolute;
        right: 0px;
        top: 0;
        background-color: #fff;
        color: #242424;
        width: 75%;
        height: 100%;
        transition: all 0.3s;
        padding-top: 60px;
    }

    .gnb_mo.on > ul {
        right: 0;
        transition: all 0.5s;
    }

    .gnb_mo > ul > li {
        font-size: 16px;
        line-height: 50px;
        text-indent: 20px;
        border-bottom: 1px solid #ddd;
    }

    .gnb_mo > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .gnb_mo > ul > li > a:after {
        position: absolute;
        content: '';
        width: 21px;
        height: 12px;
        background: url(img/index_img/mob_gnb_arrow.png) no-repeat center/cover;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .gnb_mo > ul > li > a.on:after {
        background: url(img/index_img/mob_gnb_arrow2.png) no-repeat center/cover;
    }

    .gnb_mo > ul > li .inner {
        display: none;
        background-color: #e3ddd2;
    }

    .gnb_mo > ul > li .inner.on {
        background-color: #fff;
        display: block;
    }

    .gnb_mo > ul > li .inner li {
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        color: #000;
    }

    .gnb_mo > ul > li .inner li:last-child {border-bottom: none;}
}


/*1024px*/
@media screen and (max-width: 1024px) {
    
    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    section.sub_wrap {padding-top: -10%;}
    
    
    .tnb {padding-bottom: 6%; margin-top: -5.9%;}
    
    .sub_bg {margin: 0 auto;}
    
    /*footer*/
    footer {width: 100%; margin: 0 auto; margin-bottom: 3%;}
    footer .footer_inner {width: 90%; margin: 0 auto;}
    footer .footer_txt {width: 100%; text-align: center; margin-left: 10%;}
    footer .footer_txt p {margin: 2% 0;}
    footer .footer_logo { z-index: 100; margin-right: 55%;}
}


/*768px*/
@media screen and (max-width: 768px) {
    
    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%;}
    
    section.sub_wrap h1 {font-size: 2.2rem;}
    section.sub_wrap h6 {padding-top: 10%;}
    section.sub_wrap h5 {font-size: 20px;}
    section.sub_wrap h2 {margin-bottom: 6%; font-size: 28px;}
    .tnb {margin-top:-7.6%;}
    
    .sub_bg {margin: 0 auto;}
    
    
    .sub_info {margin: 0 auto; padding-top: 6%;}
    .sub_info ul {width: 80%;}
    .sub_info h3 {font-size: 22px;}
    
    .vehicle_btn { width: 60%;}
    .vehicle_btn ul {width: 100%;}
    .vehicle_btn a {width: 100%;}
}

/*414px*/
@media screen and (max-width: 414px) {
    
    /*main*/
    section.main {width: 100%;}
    .main_bg {
        background: url(../img/vehicle/vehicle_main_bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
    }
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h1 {font-size: 2rem;}
    section.sub_wrap .bar {margin-top: 6%; margin-bottom: 8%;}
    section.sub_wrap h2 {font-size: 24px; padding-bottom: 7%; line-height: 1.5;}
    section.sub_wrap h2 br {display: block;}
    
    section.sub_wrap h2 span {font-size: 18px;}
    section.sub_wrap h6 {padding-top: 22%;}
    
    .tnb {margin-top: -12%;}
    .tnb ul li {font-size: 15px; height: 50px; line-height: 50px;}
    .sub_bg {margin: 0 auto; margin-bottom: 2%;}
    
    .sub_info em {font-size: 16px;}
    .sub_info {margin-top: 5%; width: 95%; margin: 0 auto;}
    .sub_info h3 {font-size: 18px; width: 95%; margin: 0 auto; color: #555; }
    
    .sub_info p {width: 85%; margin: 0 auto; margin-top: 10%; font-size: 15px;}
    .sub_info ul {width: 95%;}

    .vehicle_btn {width:95%; margin: 0 auto;margin-top: 8%;padding-bottom:1%; margin-left: 5%;}
    .vehicle_btn ul li {width: 49%; float: left; height: 50px; line-height: 50px;}
    .vehicle_btn ul li a {padding: 0;}
}

/*375px*/
@media screen and (max-width: 375px) {
    .tnb {margin-top: -13%;}
}

/*320px*/
@media screen and (max-width: 320px) {
    
    /*main*/
    section.main {width: 100%;}
    
    /*section.sub_wrap*/
    section.sub_wrap {width:100%; margin-bottom: 10%;}
    section.sub_wrap h1 {font-size: 24px;}
    section.sub_wrap .bar {margin-top: 6%; margin-bottom: 8%;}
    section.sub_wrap h2 {font-size: 20px;; padding-bottom: 7%; line-height: 1.5;}
    section.sub_wrap h2 br {display: block;}
    section.sub_wrap h5{font-size: 15px;}
    section.sub_wrap h6 {font-size: 14px;}
    
    
    .tnb {margin-top: -15.5%;}
    .tnb ul li {font-size: 15px;}
    
    .sub_info em {font-size: 14px;}
    .sub_info h3 {font-size: 18px; width: 90%; margin: 0 auto; margin-top: 1%;}
    
    .sub_info p {width: 95%; margin: 0 auto; margin-top: 7%; font-size: 15px;}
    .sub_info em {font-size: 1.05rem; }

    .vehicle_btn {width: 100%; margin-left: 0;}
    .vehicle_btn ul {width: 100%;}
    .vehicle_btn ul li a {font-size: 15px;}
}
