








<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><a href="/admin/index">HOME</a></div>
    <div class="list-group list-group-flush">
      <a href="/admin/business" class="list-group-item list-group-item-action bg-light">운송사목록</a>
      <a href="/admin/carType" class="list-group-item list-group-item-action bg-light">운송사 차량 정보</a>
      <a href="/admin/carTime" class="list-group-item list-group-item-action bg-light">차량 운행 정보</a>
      <a href="/admin/payment" class="list-group-item list-group-item-action bg-light">결제관리</a>
      <a href="/admin/user" class="list-group-item list-group-item-action bg-light">회원목록</a>
      <a href="/admin/preference" class="list-group-item list-group-item-action bg-light">선호도 조사</a>
      <a href="/admin/userRes" class="list-group-item list-group-item-action bg-light">회원 좌석예약 목록</a>
      <a href="/admin/storeIn" class="list-group-item list-group-item-action bg-light">입점상담 신청 목록</a>
    </div>
  </div>

