<footer>
    <div class="footer_inner">
        <div class="footer_corp">
            <a href="/service" target="_blank">서비스이용약관</a>
            <a href="privacy" target="_blank"><em>개인정보처리방침</em></a>
            <!-- <a href="" target="_blank">전화문의 031 668 0116</a> -->
            
        </div>
        <div class="footer_info">
            <!-- <div class="footer_logo"><img src="/img/common/footer_logo.png" alt=""></div> -->
            <span>(주)AZ369</span> <span>대표자 : 심현보</span> <span>사업자 등록번호 : 000-00-00000</span>경기도 평택시 비전5로 20-38 (비전동 에이치탑5, 1002호) <br>
             <span>문의전화 : 031 668 0116 (평일 09:00 ~ 18:00)</span> 이메일 : yurim0001@naver.com
             <br>©2020 AZ369.COM. ALL RIGHT RESERVED.
        </div>
    </div>


</footer>