<footer>
    <div class="footer_inner">
        <div class="footer_corp">
            <a href="/service" target="_blank">서비스이용약관</a>
            <a href="privacy" target="_blank"><em>개인정보처리방침</em></a>
            <a href="" target="_blank">환불규정</a>
            <!-- <a href="" target="_blank">전화문의 031 668 0116</a> -->
            
        </div>
        <div class="footer_info">
            <dl> <dd>
            <span style="color: #767676; font-weight: 500;">(주) AZ369</span> <span>대표자 : 심현보</span> <br>
            <span>사업자 등록번호 : 000-00-00000</span> <br>
             통신판매업신고번호 : 제 0000-가나다라-0000호 <a href="/" target="_blank"><u style="font-weight: 500">사업자정보확인<img src="/img/common/footer_arrow.png" alt=""></u></a></dd>
             <dd>
            <span>경기도 평택시 비전5로 20-38 (비전동 에이치탑5, 1002호)</span><br>
            <span>문의전화 : 031 668 0116 (평일 09:00 ~ 18:00)</span><br>
             이메일 : yurim0001@naver.com </dd>
             <dd>
             ©2020 <strong style="color: #767676; font-weight: 500;">AZ369</strong> ALL RIGHT RESERVED.</dd>
            </dl>
        </div>
    </div>


</footer>