<header>
    <!--모바일 아이콘 열기-->
    <a href="#" class="open"><img src="img/btn_berger_m.png" alt="메뉴열기"></a>

    <div class="innerHeader">
        <h1 class="logo">
            <a href="/"><img src="./img/main/logo2.png" alt="센트럴돔 로고"></a>
        </h1>
        <nav class="gnb">
            <ul>
                <li><a href="summary" class="gnb_link">사업안내</a>
                    <ul>
                        <li><a href="summary">사업개요</a></li>
                        <li><a href="ctd_info">센트럴돔 소개</a></li>
                        <li><a href="location">오시는 길</a></li>
                    </ul>
                </li>
                <li><a href="benefit" class="gnb_link">입점신청 및 혜택</a>
                    <ul>
                        <li><a href="benefit">입점 상가 혜택</a></li>
                        <li><a href="benefit_application">입점 상담 신청</a></li>
                    </ul>
                </li>
                <li><a href="vehicle" class="gnb_link">장차예매</a>
                    <ul>
                        <li><a href="vehicle">장차운행안내</a></li>
                        <li><a href="reservation">장차예매신청</a></li>
                        <li><a href="mypage">장차예매현황</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <nav class="gnb2">
           <ul>
                <% if( sessionUser ) { %>
                    <li><a href="mypage" style="font-weight:bold"><%= sessionUser.U_Name %> 님</a></li>
                    <li><a href="logout">로그아웃</a></li>
                <% } else { %>
                    <li><a href="login">로그인</a></li>
                    <li><a href="join">회원가입</a></li>
                <% } %>
                <li>
                    <div class="tooltip">전화문의
                    <span class="tooltiptext">031 - 668 - 0116</span>
                </div>
          </li>
           </ul>
        </nav>
        <!--<div class="call">
            문의 <span>031 - 668 - 0116</span>
        </div>-->
        
    </div>

    <!--모바일 메뉴-->
    <nav class="gnb_mo">
        <a href="#" class="close"><img src="img/btn_gnb_close.png" alt="메뉴닫기"></a>
        
        <ul>
           <li class="gnb_mo_login">
                <a href="login">장차예매 시 <u>로그인</u>이 필요합니다.</a>
            </li>
            <li>
                <a href="#">사업안내</a>
                <ul class="inner">
                    <li><a href="summary">사업개요</a></li>
                    <li><a href="ctd_info">센트럴돔 소개</a></li>
                    <li><a href="location">오시는 길</a></li>
                </ul>
            </li>
            <li>
                <a href="#">입점신청 및 혜택</a>
                <ul class="inner">
                    <li><a href="benefit">입점상가혜택</a></li>
                    <li><a href="benefit_application">입점상담신청</a></li>
                </ul>
            </li>
            <li>
                <a href="#">장차예매</a>
                <ul class="inner">
                    <li><a href="vehicle">장차운행안내</a></li>
                    <li><a href="reservation">장차예약신청</a></li>
                    <li><a href="mypage">장차예매현황</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<!--// header완료-->