<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDHHLZT" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<link rel="stylesheet" href="/css/header.css">
<header>
    <!--모바일 아이콘 열기-->
    <a href="#" class="open"><img src="/img/btn_berger_m.png" alt="메뉴열기"></a>

    <div class="innerHeader">
        <h1 class="logo">
            <a href="/"><img src="/img/main/logo2.png" alt="센트럴돔 로고"></a>
        </h1>
        <nav class="gnb">
            <ul>
                <li><a href="/summary" class="gnb_link">사업안내</a>
                    <ul>
                        <li><a href="/summary">사업개요</a></li>
                        <li><a href="/ctd_info">센트럴돔 소개</a></li>
                        <li><a href="/location">오시는 길</a></li>
                    </ul>
                </li>
                <li><a href="/benefit" class="gnb_link">입점신청 및 혜택</a>
                    <ul>
                        <li><a href="/benefit">입점상가혜택</a></li>
                        <li><a href="/benefit_application">입점상담신청</a></li>
                    </ul>
                </li>
                <li><a href="/vehicle" class="gnb_link">장차예매</a>
                    <ul>
                        <li><a href="/vehicle">장차운행안내</a></li>
                        <li><a href="/reservation">장차예매신청</a></li>
                        <li><a href="/mypage">장차예매현황</a></li>
                    </ul>
                </li>
                <li><a href="/video" class="gnb_link">소개영상</a>
                    <ul>
                        <li><a href="/video">소개영상</a></li>
                        
                    </ul></li>
            </ul>
        </nav>


        

        <nav class="gnb2">
            <ul>
                <% if( sessionUser ) { %>
                <li><a href="/mypage" style="font-weight:bold"><%= sessionUser.U_Name %> 님</a></li>
                <li><a href="/logout">로그아웃</a></li>
                <% } else { %>
                <li><a href="/login">로그인</a></li>
                <li><a href="/join">회원가입</a></li>
                <% } %>
                <li>
                    <div class="tooltip">전화문의
                        <span class="tooltiptext">031 - 668 - 0116</span>
                    </div>
                </li>
            </ul>
        </nav>
        <!--<div class="call">
            문의 <span>031 - 668 - 0116</span>
        </div>-->

    </div>

    <!--모바일 메뉴-->
    <nav class="gnb_mo">
        <a href="#" class="close"><img src="/img/btn_gnb_close.png" alt="메뉴닫기"></a>

        <ul>
            <li class="gnb_mo_login">
                <% if( sessionUser ){ %>
                <ul>
                    <li><a href="/mypage"><strong
                                style="font-weight: 500; font-size: 16px;"><u><%= sessionUser.U_Name %>
                                    님</u></strong></a></li>
                    <li><a href="/logout" style="color: #999;"><u>로그아웃</u></a></li>
                </ul>
                <% } else { %>
                <a href="/login">장차예매 시 <u>로그인</u>이 필요합니다.</a>
                <% } %>
            </li>
            <li>
                <a href="#">사업안내</a>
                <ul class="inner">
                    <li><a href="/summary">사업개요</a></li>
                    <li><a href="/ctd_info">센트럴돔 소개</a></li>
                    <li><a href="/location">오시는 길</a></li>
                </ul>
            </li>
            <li>
                <a href="#">입점신청 및 혜택</a>
                <ul class="inner">
                    <li><a href="/benefit">입점상가혜택</a></li>
                    <li><a href="/benefit_application">입점상담신청</a></li>
                </ul>
            </li>
            <li>
                <a href="#">장차예매</a>
                <ul class="inner">
                    <li><a href="/vehicle">장차운행안내</a></li>
                    <li><a href="/reservation">장차예매신청</a></li>
                    <li><a href="/mypage">장차예매현황</a></li>
                </ul>
            </li>
            <li>
                <a href="#">소개영상</a>
                <ul class="inner">
                    <li><a href="/video" class="gnb_link">소개영상</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<script>
    'use sctrict';

    //gnb scroll 
    //고정헤더, 사이드바 이벤트
    var scrollTop = 0;
    scrollTop = $(document).scrollTop();
    fixHeader();

    //윈도우창 조절시에 이벤트
    $(window).on('scroll resize', function () {
        scrollTop = $(document).scrollTop();
        fixHeader();

    });

    //고정헤더 함수
    function fixHeader() {
        if (scrollTop > 700) {
            $('header').addClass('on');
        } else {
            $('header').removeClass('on');
        }
    }


    //모바일 모드 gnb_mo

    setGnbMo();

    function setGnbMo() {
        $('header .open').on('click', function () {
            $('.gnb_mo').addClass('on');
        }); //햄버거버튼
        $('.gnb_mo .close').on('click', function () {
            $('.gnb_mo').removeClass('on');
            $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
            $('.gnb_mo > ul > li > a').removeClass('on')
        });


        //inner메뉴 열기

        $('.gnb_mo > ul > li > a').on('click', function () {
            $(this).next().slideToggle();
            $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
        });
    }


    //scroll 애니
    $(function () {
        var scrollAni = 0;
        //스크롤했을때 이벤트 적용
        scrollAni = $(document).scrollTop();
        ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
        //윈도우창사이즈 조절시 동일하게 이벤트 적용
        $(window).on('scroll resize', function () {
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list');
        });

        //함수선언 ani-함수명/(selector)-선택자
        function ani(selector) {
            $(selector).each(function () {

                var $selector = $(this);
                var minShow = $selector.offset().top - $(window).height();
                var maxShow = $selector.offset().top + $selector.outerHeight();

                $selector.removeClass('down on up');
                if (scrollTop < minShow) {
                    $selector.addClass('down');
                } else if (scrollTop > maxShow) {
                    $selector.addClass('up');
                } else {
                    $selector.addClass('on');
                }
            });
        }
    });
</script>
<!--// header완료-->