<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>AZ369 보세의류쇼핑몰</title>

<!--자바스크립트-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/scrolla.jquery.min.js"></script>

<!--폰트-->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

<!--폰트어썸-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158824124-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158824124-1');
  
</script>
<% if( sessionUser ){ %>
<script>
  gtag('set', {'user_id': '<%=sessionUser.U_UserName%>' });
</script>
<% } %>
