<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#1C2B36" />
<title>Admin</title>

<!-- Favicon -->
<link href="/admin/img/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="144x144">
<link href="/admin/img/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="114x114">
<link href="/admin/img/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="72x72">
<link href="/admin/img/favicon.ico" rel="apple-touch-icon" type="image/png">
<link href="/admin/img/favicon.ico" rel="icon" type="image/png">
<link href="/admin/img/favicon.ico" rel="shortcut icon">
<!-- /Favicon -->

<!-- Global stylesheets -->
<link type="text/css" rel="stylesheet" href="/admin/lib/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/admin/lib/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="/admin/lib/css/main.css">
<!-- /Global stylesheets -->