<!-- Layout settings -->
<div class="layout"></div>
<span class="is_hidden" id="jquery_vars">
	<span class="is_hidden switch-active"></span>
	<span class="is_hidden switch-inactive"></span>
	<span class="is_hidden chart-bg"></span>
	<span class="is_hidden chart-gridlines-color"></span>
	<span class="is_hidden chart-legends-text-color"></span>
	<span class="is_hidden chart-grid-text-color"></span>
	<span class="is_hidden chart-data-color-option1"></span>
	<span class="is_hidden chart-data-color-option2"></span>
	<span class="is_hidden chart-data-color-option3"></span>
	<span class="is_hidden chart-data-color-option4"></span>
	<span class="is_hidden chart-data-color-option5"></span>
	<span class="is_hidden chart-data-color-option6"></span>
	<span class="is_hidden chart-data-color-option7"></span>
	<span class="is_hidden chart-data-color-option8"></span>
</span>
<!-- /Layout settings -->

<!-- Global scripts -->
<script src="/admin/lib/js/core/jquery/jquery.js"></script>
<script src="/admin/lib/js/core/jquery/jquery.ui.js"></script>
<script src="/admin/lib/js/core/tether.min.js"></script>
<script src="/admin/lib/js/core/bootstrap/bootstrap.js"></script>
<script src="/admin/lib/js/core/bootstrap/jasny_bootstrap.min.js"></script>
<script src="/admin/lib/js/core/navigation/nav.accordion.js"></script>
<script src="/admin/lib/js/core/hammer/hammerjs.js"></script>
<script src="/admin/lib/js/core/hammer/jquery.hammer.js"></script>
<script src="/admin/lib/js/core/slimscroll/jquery.slimscroll.js"></script>
<script src="/admin/lib/js/extensions/smart-resize.js"></script>
<script src="/admin/lib/js/extensions/blockui.min.js"></script>
<script src="/admin/lib/js/forms/uniform.min.js"></script>
<script src="/admin/lib/js/forms/switchery.js"></script>
<script src="/admin/lib/js/forms/select2.min.js"></script>
<script src="/admin/lib/js/plugins/ekko-lightbox.min.js"></script>
<!-- /Global scripts -->
<script src="/admin/lib/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/admin/lib/js/pages/tables/datatable_advanced.js"></script>
<script src="/admin/lib/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
<script src="/admin/lib/js/pages/tables/datatable_extension_columns_selection.js"></script>
<script src="/admin/lib/js/pages/tables/datatable_extension_export_options.js"></script>
<!-- Core scripts -->
<script src="/admin/lib/js/core/app/layouts.js"></script>
<script src="/admin/lib/js/core/app/core.js"></script>
<!-- /Core scripts -->

<!-- 데이터테이블 js -->
<script src="/admin/js/dataTables.editor.js"></script>
<script src="/admin/js/dataTables.editor.min.js"></script>
<script src="/admin/js/editor.bootstrap.js"></script>
<script src="/admin/js/editor.bootstrap.min.js"></script>
<script src="/admin/js/editor.bootstrap4.js"></script>
<script src="/admin/js/editor.bootstrap4.min.js"></script>
<script src="/admin/js/editor.foundation.js"></script>
<script src="/admin/js/editor.foundation.min.js"></script>
<script src="/admin/js/editor.jqueryui.js"></script>
<script src="/admin/js/editor.jqueryui.min.js"></script>
<script src="/admin/js/editor.semanticui.js"></script>
<script src="/admin/js/editor.semanticui.min.js"></script>

