<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <div class="sub-title">
                관리
            </div>
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/admin/video" class="waves-effect">
                        <span>유투브관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/signage_ad" class=" waves-effect">
                        <span>광고관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/signage_brand" class=" waves-effect">
                        <span>매장관리</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>