<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#1C2B36" />
<title>SIGNAGE</title>

<!-- Global stylesheets -->
<link type="text/css" rel="stylesheet" href="/admin/lib/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/admin/lib/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="/admin/lib/css/main.css">
<link type="text/css" rel="stylesheet" href="/admin/css/common.css">
<link type="text/css" rel="stylesheet" href="/admin/css/tableCss.css">
<!-- /Global stylesheets -->

<!-- 데이터테이블 js -->
<link type="text/css" rel="stylesheet" href="/admin/css/dataTableCss.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.bootstrap.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.bootstrap4.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.bootstrap4.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.dataTables.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.foundation.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.foundation.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.jqueryui.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.jqueryui.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.semanticui.css">
<link type="text/css" rel="stylesheet" href="/admin/css/editor.semanticui.min.css">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/bubble.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/datatable.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/datetime.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/envelope.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/fields.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/inline.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/lightbox.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/main.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/mixins.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/processing.scss">
<link type="text/css" rel="stylesheet" href="/admin/css/scss/upload.scss">