<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <div class="sub-title">
                관리
            </div>
            <!-- 차량관리 -->
            <ul class="metismenu list-unstyled side-vehicle" id="side-menu">
                <li>
                    <a href="/admin/az369_business" class="waves-effect">
                        <span>운송사 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/az369_vehicle_type" class="waves-effect">
                        <span>차량유형 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/az369_vehicle" class="waves-effect">
                        <span>배차 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/az369_reservation" class=" waves-effect">
                        <span>예약 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/az369_info" class=" waves-effect">
                        <span>공지사항 관리</span>
                    </a>
                </li>
            </ul>
            <!-- 결제관리 -->
            <ul class="metismenu list-unstyled side-payment" id="side-menu">
                <li>
                    <a href="/admin/az369_payment" class="waves-effect">
                        <span>장차결제 관리</span>
                    </a>
                </li>
            </ul>

            <!-- 사이니지 관리 -->
            <ul class="metismenu list-unstyled side-signage" id="side-menu">
                <li>
                    <a href="/admin/az369_video" class="waves-effect">
                        <span>유튜브 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/signage_ad" class=" waves-effect">
                        <span>광고 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/signage_brand" class=" waves-effect">
                        <span>매장 관리</span>
                    </a>
                </li>
            </ul>

            <!-- 회원관리 -->
            <ul class="metismenu list-unstyled side-user" id="side-menu">
                <li>
                    <a href="/admin/az369_user" class="waves-effect">
                        <span>장차 회원관리</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>