<header id="page-topbar">
	<div class="navbar-header">
		<div class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href="/" class="logo">
					<span class="logo-lg">
						<img src="/img/admin/logo.png" alt="" height="18" />
					</span>
				</a>
			</div>
		</div>
		<div class="d-flex gnb_header">
			<div style="height: 55px;">
				<ul id="gnb_menu" class="list-unstyled">
					<li id='nav_vehicle' class="gnb_link" onclick="location.href='/admin/az369_vehicle'" >차량</li>
					<li id='nav_user' class="gnb_link" onclick="location.href='/admin/az369_user'" >회원</li>
					<li id='nav_payment' class="gnb_link" onclick="location.href='/admin/az369_payment'" >결제</li>
					<li id='nav_signage' class="gnb_link" onclick="location.href='/admin/signage_ad'" >광고관리</li>
				</ul>
			</div>
		<!-- </div>
		<div class="d-flex"> -->
			<div class="dropdown d-inline-block">
				<a class="btn waves-effect" id="page-header-user-dropdown"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="rounded header-profile-user" src="http://via.placeholder.com/44x44"
						alt="Header Avatar" />
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<!-- item-->
					<a class="dropdown-item" href="#">
						Profile</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item text-danger" href="#">
						Logout</a>
				</div>
			</div>
		</div>
	</div>
</header>