		<!-- Searchbar -->
		<div class="top-search-bar">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="search-input-addon">
							<span class="addon-icon"><i class="icon-search4"></i></span>
							<input type="text" class="form-control top-search-input" placeholder="Enter your keyword...">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Searchbar -->

		<!-- Branding -->
		<div class="navbar-left float-left">
			<div class="clearfix">
					<a href="/admin/index"><img src='/img/main/logo2.png' style="margin-top: 5px;"></a>	
			</div>
		</div>
		<!-- /Branding -->

		<!-- /Search & Languages -->

		<!-- Navbar icons -->
		<div class="navbar float-right navbar-toggleable-sm">
			<div class="clearfix">
				<ul class="float-right top-icons">
					<li><a href="#" class="btn-top-search hidden-sm-up"><i class="icon-search4"></i></a></li>

					<!-- Quick apps dropdown -->

					<!-- /Quick apps dropdown -->

					<!-- Rightbar -->
					<!-- /Rightbar -->

					<!-- User dropdown -->
					<li class="dropdown user-dropdown">
						<a href="#" class="btn-user dropdown-toggle hidden-xs-down" data-toggle="dropdown"><img src="http://via.placeholder.com/80x80" class="rounded-circle user" alt=""/></a>
						<a class="user-name hidden-xs-down" data-toggle="dropdown">AZ369<small>Administrator</small></a>
						<a href="#" class="dropdown-toggle hidden-sm-up" data-toggle="dropdown"><i class="icon-more"></i></a>
						<div class="dropdown-menu animated fadeIn no-p">
							<div class="user-icon text-center p-t-15">
							    <img src="http://via.placeholder.com/120x120" class="rounded-circle" alt=""/>
							    <h5 class="text-center p-b-15">Administrator</h5>
							</div>

							<div class="text-center p-10"><a href="/logout" class="btn btn-block"><i class="icon-exit3 i-16 position-left"></i> Logout</a></div>
							<div class="text-center p-10"><a href="/" class="btn btn-block"><i class="icon-exit3 i-16 position-left"></i> AZ369</a></div>
						</div>
					</li>
					<!-- /User dropdown -->

				</ul>
			</div>
		</div>
		<!-- /Navbar icons -->
